<div *ngIf="shouldShow()" class="allfootcont" (click)="goPage('help/home')" routerLink="help" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['hidden']">
    <div class="footcont">
        <div class="container vcenter">
            <div class="basicrow text-center">
                <img class="chaticon" width="100%" src="assets/images/chaticon.png" alt="">
            </div>

            <div class="basicrow f-white f-small text-center">
                Ayuda
            </div>
        </div>
    </div>
</div>
