<div class="menubar">
    <div class="header container rel">
        <div class="mc-logo mcenter" (click)="goHome()">
            <span class="autocont vcenter">
                <span class="tabcell">
                    <img width="100%" src="assets/images/miclaro-logo.png" alt="">
                </span>
            </span>
        </div>

        <div class="item pull-left" (click)='goBack()'>
            <img class="dispicon" src="assets/images/back.svg" alt="">
        </div>
    </div>
</div>

