<div class="popupbg new-popup">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-m">
            Crear cuenta
            <ion-icon name="close" class="icon-close" (click)="closeEmit()"></ion-icon>
        </div>

        <div class="basicrow m-top f-black roboto-r f-reg" *ngIf="accountValidating">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <img src="assets/images/reg-a-icon.png" class="img-account" alt="Create account">
                <div class="f-bmed">
                    Crea tu cuenta <app-claro-tv></app-claro-tv>
                </div>
            </div>

            <div class="basicrow f-mgray f-little m-top-u-iii">
                Ingresa tu correo electrónico.
                <br>
                Lo usarás para iniciar sesión en todos tus dispositivos.
            </div>

            <div class="basicrow m-top">
                <label class="label-r roboto-b">
                    User ID
                </label>

                <input class="inp-f m-top-u-i" type="email" placeholder="Correo electronico" [(ngModel)]="email">

                <div class="basicrow m-top">
                    <ion-button class="" expand="full" (click)="validate()">
                        Validar
                    </ion-button>

                    <ion-button class="m-top-u" color="medium" expand="full" (click)="closeEmit()">
                        Regresar
                    </ion-button>
                </div>
            </div>
        </div>

        <div class="basicrow m-top-i" *ngIf="!accountValidating">
            <div class="basicrow" *ngIf="!accountValidated">
                <div class="f-reg ion-padding-bottom bord-b">
                    <span class="roboto-b refbgmdl">La validación no fue procesada con éxito.</span>
                    <br><br>
                    Por favor ingresa nuevamente tu correo electrónico
                </div>
                <div class="basicrow m-top">
                    <ion-button class="" expand="full" (click)="retry()">
                        Ok
                    </ion-button>
                </div>
            </div>

            <div class="basicrow" *ngIf="accountValidated">
                <div class="f-med f-red text-center ion-padding-bottom bord-b">
                    <div class="f-lsemi-i">
                        Validación realizada con <span class="roboto-b">éxito</span>
                    </div>
                </div>
                <div class="basicrow m-top">
                    <ion-button class="" expand="full" (click)="saveEmit()">
                        Continuar
                    </ion-button>
                </div>
            </div>
        </div>



    </div>

</div>
