.new-popup {
    border-radius: 9px;
}


.icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
}

.img-account {
    width: 52px;
}
.carousel-footer--button {
    margin-bottom: 0;
    margin-top: 16px;
}
