<!-- Header Bar -->
<div class="menubar">

    <div class="header container rel">

        <div class="mc-logo mcenter" (click)="goHomePage()">
            <span class="autocont vcenter">
                <span class="tabcell">
                    <img alt="" width="100%" src="assets/images/miclaro-logo.png">
                </span>
            </span>
        </div>



        <!--<div class="item pull-left" (click)="goBack()">-->
            <!--<img alt="" class="dispicon" src="assets/images/back.svg">-->
        <!--</div>-->

        <div *ngIf="!backButtonHidden()" class="item pull-left" (click)="goBack()">
            <img alt="" class="dispicon" src="assets/images/back.svg">
        </div>

        <div *ngIf="router.isActive('/home/dashboard', false)" class="item pull-left" (click)="notifications()">
            <div *ngIf="countNotifications > 0" class="autocont ntif f-reg roboto-m">
                <div class="notifc">
                    {{countNotifications}}
                </div>
            </div>
            <img alt="" class="dispicon" src="assets/images/user.svg">
        </div>

        <div *ngIf="close && !router.isActive('/home/no-associated', false) && !menuHidden()" class="item pull-right" (click)="openNav()">
            <img alt="" class="dispicon" src="assets/images/bars.svg">
        </div>

        <div *ngIf="!close" class="item pull-right" (click)="closeNav()">
            <img alt="" class="dispicon" src="assets/images/times.svg">
        </div>

    </div>
</div>
<!-- Header Bar -->


<!-- Header Home -->
<div class="basicrow m-top-ii m-bott-i f-black f-lsemi roboto-l visible-sm visible-xs" [ngClass]="router.isActive('/home/dashboard', false) ? '':'hidden'">
    <div class="container">
        Hola {{name}}
    </div>
</div>

<div class="basicrow" *ngIf="!tabHidden()">
    <div class="acctypescont text-center">
        <div class="acctype" (click)=typeOfClient(1) [ngClass]="typeBan.postpaid ? 'acctype on':'acctype'">
            <div class="autocont full vcenter">
                <div class="tabcell" >
                    <img alt="" width="100%" src="assets/images/postpaid-icon.png"> Pospago
                </div>
            </div>
        </div>

        <div class="acctype" (click)=typeOfClient(2) [ngClass]="typeBan.prepaid ? 'acctype on':'acctype'">
            <div class="autocont full vcenter" >
                <div class="tabcell">
                    <img alt="" width="100%" src="assets/images/prepaid-icon.png"> Prepago
                </div>
            </div>
        </div>

        <div class="acctype" (click)=typeOfClient(3) [ngClass]="typeBan.telephony ? 'acctype on':'acctype'">
            <div class="autocont full vcenter" >
                <div class="tabcell">
                    <img alt="" width="100%" src="assets/images/fixedphone-icon.png"> Servicios Fijos
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Home -->
