<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">
                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon last" src="assets/images/reg-c-icon.png">
                                Escoja su contrase&ntilde;a de acceso
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top f-reg f-black roboto-r text-justify">
                        La contrase&ntilde;a de acceso es la clave con la que podr&aacute; acceder a manejar su cuenta de servicios en Claro
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <input type="password" [(ngModel)]="password" placeholder="Contrase&ntilde;a" class="inp-f" maxlength="15">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <input type="password" [(ngModel)]="passwordRepeat" placeholder="Confirmar Contrase&ntilde;a" class="inp-f" maxlength="15" (keyup.enter)="nextStep()">
                        </div>
                    </div>

                    <div class="basicrow f-black m-top roboto-r">
                        <div class="basicrow f-lmini roboto-b">
                            Requerimientos de contrase&ntilde;a:
                        </div>

                        <div class="basicrow">
                            <ul class="redb">
                                <li [ngClass]="{'done': (password.length >= 8 && password.length <= 16)}">
                                    Debe tener entre 8 y 15 caracteres
                                </li>

                                <li [ngClass]="{'done': lowercaseValidator(password)}">
                                    Al menos una letra min&uacute;scula
                                </li>

                                <li [ngClass]="{'done': uppercaseValidator(password)}">
                                    Al menos una letra may&uacute;scula
                                </li>

                                <li [ngClass]="{'done': twoNumberValidator(password)}">
                                    Al menos 2 n&uacute;meros
                                </li>

                                <li [ngClass]="{'done': specialCharacterValidator(password)}">
                                    No est&aacute; permitido ning&uacute;n car&aacute;cter especial o no alfanum&eacute;rico
                                </li>

                                <li [ngClass]="{'done': password === passwordRepeat && password.length > 0}">
                                    Las contrase&ntilde;as deben coincidir
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div (click)="nextStep()" [className]="
                        (password.length >= 8 && password.length <= 16)
                         && lowercaseValidator(password)
                         && uppercaseValidator(password)
                         && twoNumberValidator(password)
                         && specialCharacterValidator(password)
                         && (password === passwordRepeat && password.length > 0)
                         ? 'btns vcenter red rippleR' : 'btns vcenter gray'">
                            <div class="tabcell">
                                Continuar
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow text-center m-top-i">
                        <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
