<div class="allcont logsize">

    <app-header-help></app-header-help>


    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle">
                    <span><img src="assets/images/chatnow-icon.png" style="height: 50px; width: 50px; margin: 10px" alt=""></span>
                    &nbsp;Soporte en Linea
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott-i">
        <div class="container">
            <div class="basicrow m-top-i">
                <div class="basicrow f-med f-black">
                    <strong>Bienvenido a nuestro Chat en Linea</strong>
                </div>

                <div class="basicrow f-med roboto-l f-black m-top">
                    Por favor complete la siguiente información para servirle mejor.
                </div>

                <div class="basicrow text-center">
                    <div class="basicrow">
                        <div class="text-left roboto-b">
                            <div class="basicrow">
                                <div class="basicrow m-top-i">
                                    <label><input [(ngModel)]="selectedChatCategory" value="2" type="radio" name="radio">&nbsp;&nbsp;Servicio al Cliente Móvil</label>
                                </div>

                                <div class="basicrow m-top-u">
                                    <label><input [(ngModel)]="selectedChatCategory" value="3" type="radio" name="radio">&nbsp;&nbsp;Servicio al Cliente Fijo</label>
                                </div>

                                <div class="basicrow m-top-u">
                                    <label><input [(ngModel)]="selectedChatCategory" value="11" type="radio" name="radio">&nbsp;&nbsp;Asistencia Mi Claro</label>
                                </div>

                                <div class="basicrow m-top-u">
                                    <label><input [(ngModel)]="selectedChatCategory" value="5" type="radio" name="radio">&nbsp;&nbsp;Servicio al viajero - Roaming</label>
                                </div>

                                <div class="basicrow m-top-u">
                                    <label><input [(ngModel)]="selectedChatCategory" value="15" type="radio" name="radio">&nbsp;&nbsp;Claro Empresas PR</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <label class="label-f">
                        <strong>&#42; Nombre y Apellido</strong>
                    </label>

                    <input type="text"
                           [(ngModel)]="name"
                           [ngClass]="isLogged ? 'off':''"
                           placeholder="Nombre y apellido"
                           class="inp-f">
                </div>

                <div class="basicrow m-top">
                    <label class="label-f">
                        <strong>&#42; Email</strong>
                    </label>

                    <input type="email"
                           [(ngModel)]="email"
                           placeholder="Correo Electronico"
                           class="inp-f">
                </div>

                <div class="basicrow m-top">
                    <label class="label-f">
                        <strong>Pregunta</strong>
                    </label>

                    <textarea
                            [(ngModel)]="question"
                            class="t-areadef"
                            placeholder="(Opcional)"
                            maxlength="500">
                </textarea>

                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow m-top-i text-center">

                    <div class="btns def-iv red centr vcenter rippleR" (click)='send()'>
                      <span class="tabcell">
                          Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
