ion-badge {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

i {
    font-size: 16px !important;
    &.color-medium {
        font-size: 14px !important;
        color: #777777;
    }
}

.row-step, .substep {
    padding: 0 1rem;
    .col-sm-1 {
        padding: 0;
    }
    .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        padding: 0 4px;
    }
}
.substep {
    span {
        color: #626262;
    }

}

.m-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    span {
        line-height: 1.2;
    }
    .icon-sub-step {
        width: 24px;
        height: 24px;
    }
}

.padding-vertical {
    padding: 8px 0;
}
.padding-horizontal-4 {
    padding: 0 4px;
}

.title-buy {
    padding: 2rem 0 1.5rem;
    margin-bottom: 1rem;
}

.limit-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.line-h-2 {
    line-height: 1.2;
}
