<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>


    <app-popup-additional-services
        *ngIf="popupController.popupAdditionalServices"
        [currentCart]="cart"
        [plan]="plan"
        [addOns]="additionalServices"
        [totalServices]="addons ? addons.selected.length : 0"
        (withoutSva)="withoutServices($event)"
        (save)="addServices($event)"
        (close)="closePopupAddServices()">
    </app-popup-additional-services>

    <app-popup-device-streaming
        *ngIf="popupController.popupDeviceStreaming"
        [currentCart]="cart"
        [type]="popupController.popupType"
        [data]="popupController.popupData"
        [dataPrevious]="deviceStreaming"
        (save)="saveDeviceStreaming($event)"
        (close)="closePopupDeviceStreaming()">
    </app-popup-device-streaming>

    <app-popup-create-account
        *ngIf="popupController.popupCreateAccount"
        [email]="account?.email"
        (create)="createAccount($event)"
        (close)="closePopupCreateAccount()">
    </app-popup-create-account>

    <app-popup-payment-shipping
        *ngIf="popupController.popupPaymentShipping"
        [type]="popupController.popupType"
        [dataPrevious]="popupController.popupType === 1 ? paymentCard : addressShipping"
        (save)="savePaymentShipping($event)"
        (close)="closePopupPaymentShipping()">
    </app-popup-payment-shipping>


    <div class="basicrow">
        <div class="basicrow">
            <div class="container">
                <div class="fulltitle m-top-i f-btitle">
                    <span style="top: 0; left: 0"><img src="assets/images/iptv/icon_IPTV2.png" style="height: 36px;display: block;margin-top: 3px;"></span>
                    <p class="clarotv">Claro<b class="tvmas">tv+</b></p>
                </div>
            </div>
        </div>

        <div class="basicrow roboto-r f-med f-black m-bott ion-padding-bottom">
            <div class="container">

                <div class="basicr-line-i">
                    <div class="nroacc">
                        <label class="label-r sidenmbr vcenter">
                          <span class="tabcell">
                            N&uacute;mero de Cuenta
                          </span>
                        </label>
                        <app-account-select></app-account-select>
                    </div>
                </div>

                <div class="basicrow f-med title-buy">
                    Proceso de Compra
                </div>

                <div class="basicrow f-lmini roboto-b m-flex row-step m-bott-ii">
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 text-left"></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-left">
                        <p class="ion-padding-start">RENTA MENSUAL</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-left">
                        <p>TOTAL A PAGAR HOY</p>
                    </div>
                </div>
                <div *ngFor="let step of steps; let i = index">
                    <div class="basicrow">

                        <div data-toggle="collapse" class="digs-box add-acc">

                            <div class="basicrow f-little roboto-l m-flex row-step">
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ion-no-padding">
                                    <ion-badge [color]="step.complete ? 'secondary' : 'medium'">
                                        {{step.number + 1}}
                                    </ion-badge>
                                </div>
                                <ng-container>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left line-h-2"
                                         *ngIf="step.number === STEP.PLAN || step.number === STEP.ADD_ONS || step.number === STEP.STREAMING">
                                        {{step.name}} {{step.number === STEP.PLAN ? plan.productName : ''}}
                                        <span>
                                            <br>
                                            <small *ngIf="step.number === STEP.PLAN && plan.offer">{{plan.offer.chvOfferDetails}}</small>
                                            <small *ngIf="step.number === STEP.STREAMING && deviceStreaming && deviceStreaming.totalDevices">
                                                {{deviceStreaming.totalDevices}} Dispositivo{{deviceStreaming.totalDevices > 1 ? 's' : ''}}
                                            </small>
                                            <small *ngIf="step.number === STEP.STREAMING && deviceStreaming && deviceStreaming.contractSelected">
                                                | {{deviceStreaming.withContract ? deviceStreaming.contractSelected.contract : 'Sin contrato'}}
                                            </small>
                                        </span>
                                        <span *ngIf="step.number === STEP.ADD_ONS && addons && addons.selected && addons.selected.length"
                                              class="limit-lines">
                                            <small *ngFor="let sva of addons.selected; let i = index">
                                                {{sva.planName}}
                                                {{i + 1 < addons.selected.length ? ' | ' : ''}}
                                            </small>
                                        </span>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 text-left"
                                         *ngIf="step.number !== STEP.PLAN && step.number !== STEP.ADD_ONS && step.number !== STEP.STREAMING">
                                        {{step.name}}
                                        <span>
                                            <br>
                                            <small *ngIf="step.number === STEP.ACCOUNT && account">{{account.email}}</small>
                                            <small *ngIf="step.number === STEP.PAYMENT && paymentCard">{{paymentCard.numberCard}}</small>
                                            <small *ngIf="step.number === STEP.SHIPPING && addressShipping">
                                                {{addressShipping.address1}},{{addressShipping.city}} {{addressShipping.zip}}
                                            </small>
                                        </span>
                                    </div>
                                </ng-container>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
                                     *ngIf="step.number === STEP.PLAN || step.number === STEP.ADD_ONS || step.number === STEP.STREAMING">
                                    <span *ngIf="step.number === STEP.PLAN">{{plan.salePrice | currency}}</span>
                                    <span *ngIf="step.number === STEP.ADD_ONS && addons && addons.payByMonth > 0">
                                        {{addons.payByMonth | currency}}
                                    </span>
                                    <span *ngIf="step.number === STEP.STREAMING && deviceStreaming && deviceStreaming.payByMonth > 0">
                                        {{deviceStreaming.payByMonth | currency}}
                                    </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
                                     *ngIf="step.number === STEP.PLAN || step.number === STEP.ADD_ONS || step.number === STEP.STREAMING">
                                    <span *ngIf="step.number === STEP.STREAMING && deviceStreaming && deviceStreaming.wayToPay == 2 && deviceStreaming.payToday >= 0">
                                            {{deviceStreaming.payToday === 0 ? '' : deviceStreaming.payToday | currency}}
                                    </span>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                     *ngIf="steps[i].complete || steps[i - 1].complete" (click)="changeStep(step)">
                                    <i class="fa fa-pencil" [ngClass]="{'f-blue': steps[i].complete}" *ngIf="!step.steps"></i>
                                    <div *ngIf="step.steps">
                                        <i class="fa fa-chevron-down color-medium" *ngIf="step !== currentStep"></i>
                                        <i class="fa fa-chevron-up color-medium" *ngIf="step === currentStep"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="step3" *ngFor="let subStep of step.steps" class="basicrow collapse"
                             [ngClass] ="step.number === STEP.STREAMING  && (step === currentStep) ? 'in': ''">

                            <div data-toggle="collapse" class="digs-box add-acc substep" (click)="changeSubStep(step, subStep)">
                                <div class="basicrow f-little roboto-l m-flex">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                         [ngSwitch]="subStep.number">
                                        <ion-img src="assets/images/iptv/icon_contrato.png" class="icon-sub-step"
                                                 *ngSwitchCase="1"></ion-img>
                                        <ion-img src="assets/images/iptv/icon_streaming.png" class="icon-sub-step"
                                                 *ngSwitchCase="2"></ion-img>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left" [ngSwitch]="subStep.number">
                                        <span *ngSwitchCase="1">
                                            Tipo de Contrato
                                            <span *ngIf="deviceStreaming && deviceStreaming.contractSelected">
                                                <br>
                                                <small>{{deviceStreaming.withContract ? deviceStreaming.contractSelected.contract : 'Sin contrato'}}</small>
                                            </span>
                                        </span>
                                        <span *ngSwitchCase="2">
                                            <span *ngIf="!deviceStreaming || !deviceStreaming?.totalDevices">Tu dispositivo</span>
                                            <span *ngIf="deviceStreaming && deviceStreaming.totalDevices">
                                                {{deviceStreaming.totalDevices}} Dispositivo{{deviceStreaming.totalDevices > 1 ? 's' : ''}}
                                            </span>
                                            <span *ngIf="deviceStreaming && deviceStreaming.totalDevices">
                                                <br>
                                                <small *ngIf="deviceStreaming.payByMonth">Pago en {{deviceStreaming.deadlineSelected}} meses</small>
                                                <small *ngIf="!deviceStreaming.payByMonth">Pago regular</small>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <span *ngIf="subStep.number === 2 && (deviceStreaming && deviceStreaming.payByMonth > 0)">
                                            {{deviceStreaming.payByMonth | currency}}
                                        </span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                                        <span *ngIf="subStep.number === 2 && (deviceStreaming && deviceStreaming.wayToPay == 2 && deviceStreaming.payToday >= 0)">
                                            {{deviceStreaming.payToday === 0 ? 'Gratis' : deviceStreaming.payToday | currency}}
                                        </span>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container" *ngIf="cart">
                <div class="basicrow bord-b f-bold padding-vertical ion-margin-bottom row-step">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">SUBTOTAL</div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-horizontal-4 text-right f-reg">{{cart.subTotalPerMonth | currency}}</div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-horizontal-4 text-right f-reg">{{cart.subTotalPrice | currency}}</div>
                </div>
                <div class="basicrow f-little bord-b ion-margin-bottom row-step">
                    <ng-container *ngFor="let tax of cart?.taxes">
                        <div class="basicrow padding-vertical" *ngIf="tax.taxCode">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-uppercase">{{tax.taxDesc}}</div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-reg">{{tax.taxAmt | currency}}</div>
                        </div>
                    </ng-container>
                    <div class="basicrow padding-vertical">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">TOTAL CARGOS ESTATALES Y FEDERALES</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-reg f-red">{{cart.totalTax | currency}}</div>
                    </div>
                    <div class="basicrow padding-vertical bg-gray">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">COSTO DE ENVÍO</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-reg">{{0.00 | currency}}</div>
                    </div>
                    <div class="basicrow padding-vertical">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">DESCUENTO POR CÓDIGO PROMOCIONAL</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-reg f-green">{{cart.promoCodeDiscountAmount | currency}}</div>
                    </div>

                    <div class="basicrow padding-vertical" *ngFor="let extraInv of cart?.charges">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-uppercase">{{extraInv.charge}}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-reg">{{extraInv.price | currency}}</div>
                    </div>
                </div>

                <div class="basicrow">
                    <div class="basicrow padding-vertical f-bold text-capitalize">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">RENTA MENSUAL</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-red">{{cart.totalPerMonth | currency}}</div>
                    </div>
                    <div class="basicrow padding-vertical f-bold text-capitalize">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">TOTAL A PAGAR HOY</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 f-bold text-right f-red">{{cart.totalPrice | currency}}</div>
                    </div>
                </div>

                <div class="basicrow">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-top-ii">
                            <div class="btns red vcenter" (click)="validateProcessOrder()">
                                <span class="tabcell">
                                    Procesar orden
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-top-ii">
                            <div class="btns gray vcenter" (click)="goPage('module/iptv')">
                                <span class="tabcell">
                                    Regresar
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



