<div class="allcont logsize">
    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">
                <div class="shortcont">
                    <div class="basicrow m-top text-center">
                        <img width="100%" class="difloglogo extra-margin" src="assets/images/miclaro-logov2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

