.mfa-step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
    margin-top: 1rem;
    height: 100vh;
    padding-top: unset;
    max-width: 650px;
}

.code-container-fix {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: -7px;
}

.right-fix {
    margin-right: -13px;
}
