<div class="mfa-step-container">
  <div class="row justify-content-center mt-5 heigt-fix">
    <div class="col-lg-5" *ngIf="isEmail || isSms">
      <div class="row">
        <div class="col-lg text-center">
          <div class="mt-4 font-title">Introduce código de acceso</div>
        </div>
      </div>
      <div class="row">
        <div class=".col-lg text-center">
          <div class="mt-4" style="font-size: 16px" *ngIf="isEmail">
            Por favor, introduce el código que hemos enviado a <br />
            <span class="bold">{{ prepareEmail() }}</span>
          </div>
          <div class="mt-4" style="font-size: 16px" *ngIf="isSms">
            Por favor, introduce el código que hemos enviado al <br />
            <span class="bold"> {{ preparePhone(phoneNumberSelected) }}</span>
          </div>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-10 text-center code-container-fix">
          <div class="row">
            <div class="col mt3">
              <input
                type="tel"
                class="form-control code-input"
                [ngClass]="{
                  'code-input': actualStep === 1,
                  'code-danger': actualStep > 1
                }"
                placeholder="-"
                maxlength=""
                [(ngModel)]="part1"
                name="part1"
                maxlength="1"
                (keyup)="changeInput($event, '', txt1, txt2)"
                (keypress)="changeInput($event, '', txt1, txt2)"
                #txt1
              />
            </div>
            <div class="col mt3">
              <input
                type="tel"
                class="form-control code-input"
                [ngClass]="{
                  'code-input': actualStep === 1,
                  'code-danger': actualStep > 1
                }"
                placeholder="-"
                maxlength="1"
                [(ngModel)]="part2"
                name="part2"
                #txt2
                (keyup)="changeInput($event, txt1, txt2, txt3)"
                (keypress)="changeInput($event, txt1, txt2, txt3)"
              />
            </div>
            <div class="col mt3">
              <input
                type="tel"
                class="form-control code-input"
                [ngClass]="{
                  'code-input': actualStep === 1,
                  'code-danger': actualStep > 1
                }"
                placeholder="-"
                maxlength="1"
                [(ngModel)]="part3"
                name="part3"
                #txt3
                (keyup)="changeInput($event, txt2, txt3, txt4)"
                (keypress)="changeInput($event, txt2, txt3, txt4)"
              />
            </div>
            <div class="col mt3">
              <input
                type="tel"
                class="form-control code-input"
                [ngClass]="{
                  'code-input': actualStep === 1,
                  'code-danger': actualStep > 1
                }"
                placeholder="-"
                maxlength="1"
                [(ngModel)]="part4"
                name="part4"
                #txt4
                (keyup)="changeInput($event, txt3, txt4, txt5)"
                (keypress)="changeInput($event, txt3, txt4, txt5)"
              />
            </div>
            <div class="col mt3">
              <input
                type="tel"
                class="form-control code-input"
                [ngClass]="{
                  'code-input': actualStep === 1,
                  'code-danger': actualStep > 1
                }"
                placeholder="-"
                maxlength="1"
                [(ngModel)]="part5"
                name="part5"
                #txt5
                (keyup)="changeInput($event, txt4, txt5, txt6)"
                (keypress)="changeInput($event, txt4, txt5, txt6)"
              />
            </div>
            <div class="col mt3">
              <input
                type="tel"
                class="form-control code-input"
                [ngClass]="{
                  'code-input': actualStep === 1,
                  'code-danger': actualStep > 1
                }"
                placeholder="-"
                maxlength="1"
                [(ngModel)]="part6"
                name="part6"
                #txt6
                (keyup)="changeInput($event, txt5, txt6, '')"
                (keypress)="changeInput($event, txt5, txt6, '')"
              />
            </div>
          </div>
        </div>
        <div class="col-10 mt-3" *ngIf="errorCode">
          <div class="row">
            <div class="col-lg">
              <div class="text-danger">
                <span
                  ><img src="../assets/images/mfa/icon_error.png" alt=""
                /></span>
                Código ingresado incorrecto
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-lg-8 mt-5 text-center device-info"
          *ngIf="rememberOptionSelected === 0"
        >
          <span>
            <img src="../assets/images/mfa/icon_done.png" alt=""
          /></span>
          Dispositivo a recordar
          <span *ngIf="isSms" class="bold">
            {{ phoneOptionData.device.notificationDevice }}
          </span>
          <span *ngIf="isEmail" class="bold">
            {{ emailOptionData.device.notificationDevice }}
          </span>
        </div>
      </div>

      <div class="row mb-5 mt-5 ps-3 ps-lg-2">
        <div class="col-lg text-center">
          <div class="bold mb-3">
            ¿No has recibido el código de verificación?
          </div>

          <div class="link-blue" (click)="processMFAOption()">
            Reenviar código
          </div>
          o
          <div class="link-blue" (click)="stepBefore()">
            Selecionar otro método
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5 mb-6">
        <div class="col-lg text-center">
          <div class="btn btn-red" (click)="verifyCode()">
            Verificar código
          </div>
          <div class="btn btn-gray mt-3" (click)="exit()">Cancelar</div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 mt-5" *ngIf="isPush">
      <!-- Este es el template donde se autoriza el uso de las push para ingresars -->
      <div class="card">
        <div class="header-decorator"></div>
        <div class="row mt-4">
          <div class="col-lg font-big-title text-center code-container-fix right-fix ">
            Recibir notificación a mi móvil
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg text-center bold normal-text code-container-fix right-fix ">
            Verifica tu identidad
          </div>
        </div>

        <div class="gray-divider mt-4"></div>

        <div class="row mt-5 justify-content-center">
          <div class="col-8 text-center normal-text code-container-fix right-fix ">
            Para proteger tu cuenta, querenos asegurarnos de que realmente
            seas tú la persona que intenta acceder
          </div>
        </div>

        <div class="row mt-5 justify-content-center align-items-center">
          <div class="col-8 code-container-fix right-fix ">
            <div class="row">
              <div class="col-2">
                <img
                  src="../../../assets/images/mfa/icon_push_phone.png"
                  alt=""
                  class="phone-fix"
                />
              </div>
              <div class="col-10">
                <div class="bold normal-text" *ngIf="pushDeviceInfo">
                  Revisa tu dispositivo
                  <span class="blue-theme-color">{{pushDeviceInfo}}</span>
                </div>

                <div class="bold normal-text" *ngIf="!pushDeviceInfo">
                  Revisa tu último dispositivo registrado
                </div>

                <div class="mt-3">
                  Claro envió una notificacion a tu dispositivo. <br />
                  Presiona <strong>Sí</strong> en la notificación para
                  verificar que eres tú
                </div>

                <div class="device-info mt-3"    *ngIf="rememberOptionSelected === 0">
                  <span>
                    <img src="../assets/images/mfa/icon_done.png" alt=""
                  /></span>
                  Dispositivo a recordar
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="gray-divider mt-4"></div>

        <div class="row justify-content-center mt-5 mb-6 code-container-fix right-fix ">
          <div class="col-lg-5 col-md-5 col-10 text-center code-container-fix right-fix ">
            <div class="btn btn-red" (click)="processMFAOption()">
              Reenviar
            </div>
          </div>
        </div>

        <div class="row mb-5 mt-5 ps-3 ps-lg-2">
          <div class="col-lg text-center code-container-fix right-fix ">
            <div class="link-blue" (click)="stepBefore()">
              Selecionar otro método
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
