<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                <span>
                                    &#191;Olvidaste tu contrase&ntilde;a&#63;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ok">
                        <div class="basicrow m-top-i">
                            <div class="basicrow">
                                <input type="text"
                                    id="username"
                                    name="username"
                                    [(ngModel)]="username"
                                    placeholder="Correo o N&uacute;mero de Tel&eacute;fono"
                                    class="inp-f"
                                    autocapitalize="off">
                            </div>
                        </div>

                        <div class="basicrow m-top-i">

                            <form #captchaProtectedForm="ngForm" class="captcha">
                                <re-captcha
                                    #captchaRef="reCaptcha"
                                    [(ngModel)]="formModel.captcha"
                                    name="captcha"
                                    required
                                    [siteKey]="siteKey"
                                    #captchaControl="ngModel"
                                ></re-captcha>
                              </form>

                        </div>


                        <div class="basicrow m-top-i">
                            <div [className]="(formModel && formModel.captcha) ? 'btns vcenter red rippleR' : 'btns vcenter gray'" (click)="nextStep()">
                                <div class="tabcell">
                                    Continuar
                                </div>
                            </div>
                        </div>

                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>
            </div>
        </div>
    </div>

</div>

