<div class="action-container desc">
    Realiza tu pago utilizando tu proveedor de servicio de pagos de confianza
  </div>

  <app-card-image-list></app-card-image-list>

  <div class="line-decorator"></div>

  <div>

    <div class="action-container">
      <ion-button color="primary" [disabled]="flashPaymentService.controller.paymentInProcess" *ngIf="flashPaymentService.controller.isPlaceToPay"
                  (click)="flashPaymentService.buildAuthorizationRequest()">
        Pagar &nbsp;{{ flashPaymentService.controller.operationAmount | currency }}
      </ion-button>
    </div>
  </div>
