<div class="basicrow">
    <div class="menubar">
        <div class="container">
            <div class="basicrow text-center">
                <div class="mc-logo center">
                    <span class="autocont vcenter">
                        <span class="tabcell">
                            <img width="100%" src="assets/images/miclaro-logo.png" alt="">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
