<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-24"></span> Confirmaci&oacute;n de Cambio de Plan
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="autowcont allpads">
                <div class="container">
                    <div class="basicrow mbott-i">

                        <div class="basicrow text-center">
                            <div class="rdtitles">
                                Cambio de plan en proceso
                            </div>
                        </div>
                    </div>

                    <div class="basicrow">
                        <div class="basicrow f-bigmed roboto-b">
                            Recarga de saldo
                        </div>
                        <div class="basicrow m-top-i lessm bg-gray">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="autowcont dashapp m-top">

                                            <div class="basicrow msidespad m-top-u-i">
                                                <div class="balancesptr-ii fullon text-center">
                                                <span class="roboto-b">
                                                    Numero de Telefono
                                                </span>
                                                    <br/>
                                                    <span class="f-lsemi roboto-b">
                                                    {{subscriber.subscriberNumberField}}
                                                </span>
                                                </div>
                                            </div>

                                            <div class="basicrow m-bott-ii ion-padding-horizontal">
                                                <div class="logline full"></div>
                                            </div>

                                            <div class="basicrow msidespad m-top-u-ii">
                                                <div class="balancesptr-ii fullon text-center">
                                                <span class="roboto-b">
                                                    Balance en Prepago Disponible
                                                </span>
                                                    <br/>
                                                    <span class="f-red f-lsemi roboto-b">
                                                    {{ this.getCurrentAmount() | currency }}
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="basicrow m-top-u-i text-justify">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">
                            <span class="f-mini f-red lin">* El plan seleccionado tiene un costo mayor a su balance disponible,
                            por favor realice el pago de {{calculateAmountToPay() | currency}}.</span>
                            </div>
                        </div>

                        <div class="basicrow text-center m-top-ii">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="f-bold">Monto segun plan seleccionado</span>
                            </div>
                            <div class="mnts-rcrg"
                                 [ngClass]="{'on': selectAmount}">
                                <div class="checkrcrg">
                                    <input disabled type="radio" name="radioR" id="radioG-amount" class="css-radio"
                                           [checked]="selectAmount">
                                    <label for="radioG-amount" class="css-label3 radGroup1"></label>
                                </div>
                                {{calculateAmountToPay() | currency}}
                            </div>
                        </div>

                        <div class="basicrow m-top-i">

                            <div class="dtail-tab" style="border-top: none">
                                <div class="dtail-i vcenter" style="padding-left: 0">
                                    <div class="tabcell">
                                        MONTO DE RECARGA
                                    </div>
                                </div>

                                <div class="dtail-ii vcenter">
                                    <div class="tabcell">
                                        &#36;{{amounts.price}}
                                    </div>
                                </div>
                            </div>

                            <div class="dtail-tab" style="border-top: none">
                                <div class="dtail-i vcenter" style="padding-left: 0">
                                    <div class="tabcell">
                                        IVU
                                    </div>
                                </div>

                                <div class="dtail-ii vcenter">
                                    <div class="tabcell">
                                        &#36;{{amounts.ivu}}
                                    </div>
                                </div>
                            </div>

                            <div class="dtail-tab" style="border-top: none">
                                <div class="dtail-i vcenter" style="padding-left: 0">
                                    <div class="tabcell">
                                        CANTIDAD A PAGAR
                                    </div>
                                </div>

                                <div class="dtail-ii vcenter">
                                    <div class="tabcell" style="color: #ef3829;">
                                        &#36;{{amounts.totalPrice}}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="basicrow text-center m-top">
                        <div (click)="recharge()" class="btns def-i red centr vcenter">
                            <span class="tabcell">
                                Continuar
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

