<div class="allcont logsize" style="overflow-y: auto; overflow-x: hidden">

    <div class="popupbg popup-error-email" *ngIf="popupController.popupErrorEmail">

        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                Ocurrio un error
            </div>

            <div class="basicrow">
                <div class="basicrow f-reg f-black roboto-r m-top">
                    Estimado cliente los siguientes contactos no recibieron su invitaci&oacute;n:
                </div>

                <div class="basicrow m-top-u" id="mails-failed" *ngFor="let email of emailsFailure">
                    <div class="mailnamed">
                        {{email}}
                    </div>
                </div>
            </div>

            <div class="basicrow f-reg f-black roboto-r m-top-i">
                Por estas posibles razones:
            </div>

            <div class="basicrow">
                <ul class="redb-i">
                    <li>La cuenta de correo electr&oacute;nico es invalida.</li>

                    <li>El buz&oacute;n esta lleno y el mensaje fue rechazado.</li>

                    <li>La cuenta de correo electr&oacute;nico esta inactiva.</li>
                </ul>
            </div>

            <div class="basicrow text-center m-top-i">
                <div
                    id="close-errors"
                    class="red rippleR btns savech centr vcenter"
                    (click)="closePopupErrors()"
                >
							<span class="tabcell">
								Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
							</span>
                </div>
            </div>
        </div>
    </div>

    <app-popup-refer-terms
        *ngIf="popupController.popupTerm"
        (close)="closeTerms()">
    </app-popup-refer-terms>

    <div class="popupbg popup-success" *ngIf="popupController.popupSuccess">
        <div class="popupcont">
            <div class="basicrow text-center">
                <div class="rdtitles">
                    Invitaciones enviadas <span class="roboto-b">exitosamente</span>
                </div>
            </div>

            <div class="basicrow f-reg f-black roboto-r m-top-i">
                Gracias por participar en el Programa de Referidos de Claro. Su invitaci&oacute;n fue enviada a sus
                contactos.
            </div>

            <div class="basicrow text-center m-top-i">
                <div
                    id="ok-success"
                    class="red btns savech centr vcenter rippleR"
                    (click)="okSuccess()"
                >
							<span class="tabcell">
								Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
							</span>
                </div>
            </div>
        </div>
    </div>

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-bott">
        <div class="refbgmdl">
            <div class="basicrow f-refdef">
                Refiere y Gana <img width="100%" src="assets/images/refgiftimg.png">
            </div>

            <div class="basicrow m-top-i">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-3">
                        <div class="basicrow rel">
                            <input
                                class="inp-f"
                                type="email"
                                id="email"
                                style="margin-right: auto; margin-left: auto;"
                                [(ngModel)]="emailW"
                                (change)="addEmail()"
                                placeholder="Ingrese Correos Electrónicos. Ejemplo: n/a@gmail.com; n/a@yahoo.com; n/a@hotmail.com">
                        </div>
                        <div class="basicrow rel" *ngIf="!(tags.length > 0)" style="height: 10px;">
                            <input class="inp-f" type="text" value="" data-role="tagsinput" id="tags"
                                   style="background: transparent; border: none;" disabled>
                        </div>
                        <div class="basicrow rel m-top-u" *ngIf="tags.length > 0">
                            <div id="tags" *ngFor="let email of tags" style="float: left !important;">
                                <button
                                    class="btn btn-primary btn-sm fix"
                                >
                                    {{email}}
                                    <span (click)="deleteEmail(email)" style="font: bold">
											&nbsp; x
										</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow m-top">
                <div class="btns centr red refbtn vcenter rippleR" (click)="next()">
                    <div class="tabcell">
                        Invitar a tus amigos
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="basicrow f-black f-big roboto-r text-center m-top-i">
                Otras maneras de compartir
            </div>

            <div class="basicrow m-top text-center">
                <div id="share-mail" class="refsocials mailng" (click)="shareViaEmail()">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>

                <div id="share-face" class="refsocials fcbook" (click)="shareViaFacebook()">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>

                <div id="share-twitter" class="refsocials twtt" (click)="shareViaTwitter()">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>

                <div id="share-wp" class="refsocials whtsapp" (click)="shareViaWhatsApp()" *ngIf="wpAvaliable">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </div>
            </div>

            <div class="basicrow m-top text-center">
                <div class="container">
                    <div class="reflinkdef">
									<span id="share-link" [ngClass]="share? '': 'off'">
										{{shareLink}}
									</span>

                        <img
                            id="copy"
                            width="100%"
                            src="assets/images/reflink-copy.png"
                            (click)="copy()"
                        >
                    </div>
                </div>
            </div>

            <div class="basicrow roboto-r text-center m-top">
                <input
                    id="checkbox-terms"
                    type="checkbox"
                    [(ngModel)]="check"
                    style="cursor: pointer;"
                    (change)="showTerms()"
                > &nbsp;
                <a
                    id="link-terms"
                    class="linkdefs reftermlink"
                    (click)="invertCheckbox()"
                >T&eacute;rminos y condiciones de la promoci&oacute;n
                    <!--<i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
                </a>
            </div>
        </div>

        <div class="basicrow bg-gray-i m-top-i ">
            <div class="basicrow">
                <div class="basicrow f-btitle f-black text-center">
                    Descuento por Referidos
                </div>

                <div class="basicrow">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
                                    <div class="basicrow f-black roboto-b text-center">
														<span id="sumAvialable" class="f-lsemi f-blue">
															{{sumAvialable}}
														</span><br/><br/>

                                        <span id="title-available" class="f-bmed">
														Descuentos Disponibles
													</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
                                    <div class="basicrow f-black roboto-b text-center">
														<span id="totalReferer" class="f-lsemi f-red">
															{{totalReferer}}
														</span><br/><br/>

                                        <span class="f-bmed">
														Amigos Referidos
													</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
                                    <div class="basicrow f-black roboto-b text-center">
														<span id="totalRedeem" class="f-lsemi f-red">
															{{totalRedeem}}
														</span><br/><br/>

                                        <span class="f-bmed">
														Amigos Redimidos
													</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow ">
            <div class="container">
                <div class="basicrow">
                    <div class="row refdef">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">

                            <div id="btn-faq" class="basicrow text-center" (click)="questions()">
                                <img style="font-size: 4em;cursor: pointer;width: auto;height: 90px;"
                                     src="assets/images/ico_preguntasFrecuentes.png">
                                Preguntas frecuentes
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow margin-footer"></div>

</div>





