.off{
    display: none;
}
#tags{
    float: left !important;
    border: none;
    width: auto;
}

#tags span.tag{
    cursor: pointer;
    /*display: block;*/
    float: left;
    color: white;
    background: #5bc0de;
    padding: 5px 30px 5px 10px;
    margin: 4px !important;
    font-weight: 700;
    font-size: 12px;
    border-radius: .25em;
}

#tags span.tag:hover{
    opacity:0.7;
}

#tags span.tag:after{
    position: absolute;
    content: "×";
    /*border: 1px solid;*/
    border-radius: 10px;
    padding: 0 4px;
    margin: 0 0 10px 7px;
    font-size: 12px;
}

.fix{
    background-image: none !important;
    float: left;
    margin: 4px !important;
    width: auto;
}