<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-01"></span> Historial de Pagos
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                                N&uacute;mero de Cuenta
                        </span>
                    </label>

                    <app-account-select></app-account-select>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott n-mtop">
        <div class="container">
            <div class="basicrow m-top allpads bordsdef f-reg roboto-r f-black text-justify">
                Recuerda que tu pago puede tardar entre 24-48 horas en verse reflejado en Mi Claro.​
                Esta lista solo contiene pagos efectuados en los ultimos 13 meses.​
            </div>

            <div class="basicrow">
                    <div class="basicrow">
                        <div class="autorow pull-left m-right f-reg m-top-u-iii">
                            <select class="sel-f sidesel" id="select-year"
                                    name="selectedYear"
                                    [(ngModel)]="selectedYear"
                                    (ngModelChange)="paymentHistory(selectedYear)">
                                <option [value]="year" *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="basicrow" *ngIf="!loading">
                        <div class="basicrow m-top-i">
                            <div class="autorow pull-left f-tabletitle f-black roboto-r m-right">
                                Factura Actual
                            </div>
                        </div>

                        <!-- [INIT TABLA] -->
                        <div class="basicrow m-top">
                            <div class="boxtbl">
                                <div class="tab-tbar evless">
                                    <div class="frwds frths rline vcenter">
                                        <div class="tabcell">
                                            Fecha de Facturaci&oacute;n
                                        </div>
                                    </div>

                                    <div class="frwds frths rline vcenter">
                                        <div class="tabcell">
                                            M&eacute;todo
                                        </div>
                                    </div>

                                    <div class="frwds frths rline vcenter">
                                        <div class="tabcell">
                                            Status
                                        </div>
                                    </div>

                                    <div class="frwds frths vcenter">
                                        <div class="tabcell">
                                            Cantidad
                                        </div>
                                    </div>
                                </div>

                                <div *ngFor="let payment of payments">
                                    <div class="tab-cbar evless" [ngClass]="payment.isPair? 'bg-gray' : ''">
                                        <div class="frwds frths rline vcenter">
                                            <div class="tabcell">
                                                {{payment.Fecha}}
                                            </div>
                                        </div>

                                        <div class="frwds frths rline vcenter">
                                            <div class="tabcell">
                                                {{payment.Metodo}}
                                            </div>
                                        </div>

                                        <div class="frwds frths rline vcenter">
                                            <div class="tabcell">
                                                {{payment.Status }}
                                            </div>
                                        </div>

                                        <div class="frwds frths vcenter">
                                            <div class="tabcell">
                                                <span class="roboto-b">
                                                    {{ payment.Cantidad }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="tab-cbar evless basicrow allpads topbord-i" *ngIf="payments.length == 0">
                                        <div class="autorow pull-left factdef roboto-r f-med">
                                            Sin Resultados para la fecha seleccionada.
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- [END TABLA] -->
                    </div>

            </div>

        </div>

    </div>

</div>