<div class="line-decorator"></div>
<div class="form-group">
    <label class="flash-label">Nombre y Apellido</label>
    <input
        [(ngModel)]="flashPaymentService.controller.name"
        type="text"
        class="form-control"
        name="name"
    />
</div>
<div class="form-group">
    <label for="cardNumberString" class="flash-label">N&uacute;mero de Tarjeta:</label>
    <div class="card-number-with-image">
        <input [(ngModel)]="flashPaymentService.controller.cardNumberString" appOnlyNumber type="text"
               inputmode="numeric"
               class="form-control" name="cardNumberString" id="cardNumberString" maxlength="18" autocomplete="off"
               (change)="flashPaymentService.isValidCreditCardNumber(flashPaymentService.controller.cardNumberString)"/>

        <img class="card-img-small input-image-fix" src="assets/images/card-a.png" alt=""
             *ngIf="flashPaymentService.controller.cardType === 'VISA'"/>
        <img class="card-img-small input-image-fix" src="assets/images/card-b.png" alt=""
             *ngIf="flashPaymentService.controller.cardType === 'MASTER CARD'"/>
        <img class="card-img-small input-image-fix" src="assets/images/card-d.png" alt=""
             *ngIf="flashPaymentService.controller.cardType === 'AMERICAN EXPRESS'"/>
        <img class="card-img-small input-image-fix" src="assets/images/card-c.png" alt=""
             *ngIf="flashPaymentService.controller.cardType === 'ATH'"/>
    </div>


    <span class="card-error"
          *ngIf="!flashPaymentService.controller.isValidCard && !!flashPaymentService.controller.cardNumberString">
        Tarjeta Inválida
    </span>
    <span class="card-error" *ngIf="flashPaymentService.controller.isTheCardNumberEmpty">
        Este campo es obligatorio
    </span>
</div>

<div class="">
    <div class="">
        <div class="form-group">
            <label class="flash-label">Fecha de Expiraci&oacute;n:</label>
            <div class="date-fix">
                <!-- <div class="date-slash">&nbsp; - &nbsp;</div> -->
                <select class="form-control pb1" [(ngModel)]="flashPaymentService.controller.expirationMonth"
                        name="expirationMonth" (change)="flashPaymentService.changeExpirationMonth()">
                    <option [value]="''" disabled selected>mes</option>
                    <option [value]="item" *ngFor="let item of flashPaymentService.controller.months">
                        {{ item }}
                    </option>
                </select>

                <select class="form-control"
                        [(ngModel)]="flashPaymentService.controller.expirationYear" name="expirationYear"
                        (change)="flashPaymentService.changeExpirationMonth()">
                    <option [value]="''" disabled selected>Año</option>
                    <option [value]="item" *ngFor="let item of flashPaymentService.controller.years">
                        {{ item }}
                    </option>
                </select>
            </div>
            <span class="card-error" *ngIf="flashPaymentService.controller.cardIsExpired">
                Tarjeta vencida, verifique información
              </span>
        </div>
    </div>
    <div class="form-group" *ngIf="flashPaymentService.controller.paymentMethod != 'A'">
        <label class="flash-label">CCV:</label>
        <input [(ngModel)]="flashPaymentService.controller.cvv" (change)="flashPaymentService.ccvChanged()"
               type="password" class="form-control" name="ccv" autocomplete="off" pattern="[0-9]*" inputmode="numeric"
               appOnlyNumber [maxlength]="flashPaymentService.controller.paymentMethod === 'X' ? '4' : '3'"/>

        <span class="card-error" *ngIf="flashPaymentService.controller.isTheCcvEmpty">
            Este campo es obligatorio
        </span>
        <span class="card-error" *ngIf="flashPaymentService.controller.isTheCcvError">
            CVV inv&aacute;lido, Intente nuevamente
        </span>
    </div>
</div>

<div class="form-group">
    <label class="flash-label adress">
        Direcci&oacute;n associada a mi tarjeta

        <div class="form-check">
            <input [(ngModel)]="flashPaymentService.controller.useSavedInformation"
                   class="form-check-input" type="checkbox" [value]="flashPaymentService.controller.useSavedInformation"
                   id="useSavedInformation" name="useSavedInformation" (click)="flashPaymentService.autoFill()"/>
            <label class="form-check-label d-twlv" for="useSavedInformation">
                Utilizar direci&oacute;n asociada a
                <img class="check-image" src="assets/images/miclaro-logov2.png" alt=""/>
            </label>
        </div>
    </label>

</div>

<div class="row">
    <div class="col-sm col-md-6">
        <div class="form-group">
            <label class="flash-label">C&oacute;digo postal:</label>
            <input [(ngModel)]="flashPaymentService.controller.PostalCode" type="text" class="form-control"
                   inputmode="numeric"
                   id="PostalCode" name="PostalCode" (change)="flashPaymentService.zipCodeChanged()" appOnlyNumber/>
            <span class="card-error" *ngIf="!flashPaymentService.controller.isValidZip">
                Zip code inválido
            </span>
            <span class="card-error" *ngIf="flashPaymentService.controller.isEmptyZipCode">
                Este campo es obligatorio
            </span>
        </div>
    </div>
</div>

<div class="form-check" *ngIf="flashPaymentService.controller.paymentMethod != 'A'">
    <input class="form-check-input" type="checkbox" id="canActivateTokenizationProcess"
           [(ngModel)]="flashPaymentService.controller.canActivateTokenizationProcess"
           [value]="flashPaymentService.controller.canActivateTokenizationProcess"
           name="canActivateTokenizationProcess"/>
    <label class="form-check-label add-text" for="canActivateTokenizationProcess">
        Guardar tarjeta para futuros pagos
    </label>
</div>

<div class="line-decorator"></div>
<div class="action-container">
    <ion-button color="primary" (click)="flashPaymentService.stepUpdate(1)">
        Pagar {{ flashPaymentService.controller.operationAmount | currency }}
    </ion-button>
</div>
