<ion-content class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-05"></span> Cambio de Plan
                </div>

                <div class="nroacc" *ngIf="!isPrepaid">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>
                    <app-account-select></app-account-select>
                </div>

            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">

        <div class="container padding-bottom-footer">

            <div class="autowcont notopbrd">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                                <span class="roboto-l">
                                    {{typeOfTelephony(subscriber.productTypeField)}}
                                </span>
                                <span class="roboto-m">
                                    {{formatSubscriber(subscriber.subscriberNumberField)}}
                                </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">

                        <div class="basicrow tabtopb f-black roboto-r f-reg">

                            <div class="basicr-line f-big">
                                <span *ngIf="subscriber.planInfoField.sOCDescriptionField != null">
                                    Plan Actual
                                </span>
                                <span *ngIf="subscriber.planInfoField.sOCDescriptionField == null">
                                    No posee plan
                                </span>
                            </div>

                            <div class="basicrow m-top-i">
                                <div class="row">
                                    <div *ngIf="subscriber.planInfoField.sOCDescriptionField != null"
                                         class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="userinfo full nomtops">
                                            <div class="basicrow m-bott">
                                                <div class="basicrow f-bmed roboto-b m-bott">
                                                    Detalle del Plan
                                                </div>

                                                <div class="redstat">
                                                    <div class="autorow roboto-b pull-left">
                                                        Plan Actual
                                                    </div>

                                                    <div class="autorow roboto-r pull-right">
                                                        {{getPlanName(subscriber)}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="basicrow m-top-ii">
                                                <div class="basicrow f-reg roboto-b">
                                                    Descripci&oacute;n del Plan:
                                                </div>

                                                <div *ngFor="let item of getPlanDescriptionList(subscriber)"
                                                     class="redstat rblack m-top-ii">
                                                    <div class="basicrow roboto-r">
                                                        {{item.trim()}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="basicrow m-top text-center">
                                            <div class="servs-monthly planchg">
                                                <div class="basicrow">
                                                    <span class="roboto-b">
                                                        Renta Mensual
                                                    </span>
                                                    <br/>
                                                    <span class="f-red f-semi roboto-m">
                                                        &#36;{{getPlanAmount(subscriber)}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="basicr-line f-big m-top-i" *ngIf="plansSuggested.length > 0">
                                Planes Sugeridos
                            </div>

                            <div class="basicrow f-big m-top-i text-danger" *ngIf="plansSuggested.length == 0">
                                <h3> {{errorMessage}}</h3>
                            </div>
                        </div>

                        <!-- [INIT CAROUSEL PLANES EN MOBILE] -->
                        <div class="basicrow carousel slide" *ngIf="plansSuggested.length > 0">

                            <ion-slides #slides class="carousel-inner" [options]="slideOpts" (ionSlideDidChange)="slideDidChange($event)">

                                <ion-slide class="item" *ngFor="let plan of plansSuggested">

                                    <div class="plansondisps">
                                        <div class="row">
                                            <div class="item-carousel">
                                                <div class="basicrow">
                                                    <div class="plandisptitle vcenter">
                                                        <div class="tabcell">
                                                            &#36;{{plan.price}}
                                                        </div>
                                                    </div>

                                                    <div class="plandispcont">
                                                        <div class="basicrow roboto-b">
                                                            Descripci&oacute;n del Plan:
                                                        </div>

                                                        <div class="basicrow m-top-u-i">
                                                            <div *ngFor="let desc of plan.descriptionList"
                                                                 class="redstat rblack m-top-u">
                                                                {{desc}}
                                                            </div>
                                                        </div>

                                                        <div class="basicrow m-top-ii">
                                                            <div class="logline full"></div>
                                                        </div>

                                                        <div class="basicrow text-center m-top">
                                                            <div class="servs-plans">
<!--                                                                <div class="basicrow">-->
<!--                                                                    <div class="btns red rippleR vcenter" (click)="changePlan(subscriber, plan)">-->
<!--                                                                        <span class="tabcell">-->
<!--                                                                            Escoger-->
<!--                                                                        </span>-->
<!--                                                                    </div>-->

                                                                    <ion-button color="primary" expand="default" class="btns red vcenter"
                                                                                (click)="changePlan(subscriber, plan)">
                                                                        Escoger
                                                                    </ion-button>
<!--                                                                </div>-->
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </ion-slide>

                            </ion-slides>

                            <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
                            <a class="left carousel-control" (click)="prev(subscribers.indexOf(subscriber))">
                                <span class="glyphicon glyphicon-chevron-left">
                                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="right carousel-control" (click)="next(subscribers.indexOf(subscriber))">
                                <span class="glyphicon glyphicon-chevron-right">
                                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <!-- [END CAROUSEL PLANES EN MOBILE] -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</ion-content>
