<div class="action-container">
    Realiza el pago con tu cuenta de Cheques, Ahorro y Business.
  </div>
  <div class="line-decorator"></div>
  <div class="action-container">
    <div class="action-container">
      <ion-button color="primary" [disabled]="flashPaymentService.controller.paymentInProcess" (click)="flashPaymentService.achPayment()">
        Pagar &nbsp;{{ flashPaymentService.controller.operationAmount | currency }}
      </ion-button>
    </div>
  </div>
