<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-14"></span> Mi Perfil
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>
                    <app-account-select></app-account-select>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott-i">
        <div class="container">
            <div class="basicrow m-top-i m-bott">
                <div class="difftabs">
                    <ion-slides pager="false" scrollbar="false" [options]="slideOpts">
                        <ion-slide>
                            <div class="difft-def fvdef" [ngClass]="tabIndex == 1 ? 'on' : ''" (click)="tabIndex = 1">
                                Informaci&oacute;n Personal
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="difft-def fvdef" [ngClass]="tabIndex == 2 ? 'on' : ''" (click)="tabIndex = 2">
                                Actualiza Tu Correo
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="difft-def fvdef" [ngClass]="tabIndex == 3 ? 'on' : ''" (click)="tabIndex = 3">
                                Usuario y Contrase&ntilde;a
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="difft-def fvdef" [ngClass]="tabIndex == 4 ? 'on' : ''" (click)="tabIndex = 4">
                                Direcci&oacute;n Postal
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="difft-def fvdef" [ngClass]="tabIndex == 5 ? 'on' : ''" (click)="tabIndex = 5">
                                Preguntas de Seguridad
                            </div>
                        </ion-slide>
                        <ion-slide *ngIf="isPlatformIos">
                            <div class="difft-def fvdef" [ngClass]="tabIndex == 6 ? 'on' : ''" (click)="tabIndex = 6">
                                Desactivar Usuario
                            </div>
                        </ion-slide>
                    </ion-slides>

                </div>
            </div>

            <div *ngIf="tabIndex == 1" class="basicrow f-black roboto-r f-reg m-top-ii text-center">
                <div class="shortcont">
                    <div class="basicrow">
                        <div class="basicrow">
                            <label class="label-f">
                                &#42; Nombre y Apellido
                            </label>

                            <input class="inp-f off" [(ngModel)]="fullName">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; N&uacute;mero de Celular
                            </label>

                            <input type="number" class="inp-f" [(ngModel)]="phone">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Tel&eacute;fono del Hogar
                            </label>

                            <input type="number" class="inp-f" [(ngModel)]="phoneFixed">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <div class="btns rippleR def-iv red centr vcenter" (click)="savePersonalData()">
                            <div class="tabcell">
                                Guardar Cambios
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tabIndex == 2" class="basicrow f-black roboto-r f-reg m-top-ii text-center">
                <div class="shortcont">
                    <div class="basicrow bg-gray-u-i allpads bordsdef m-top-ii roboto-b text-justify">
                        Mant&eacute;n actualizado tu correo electr&oacute;nico por el cual podr&aacute;s recibir tu factura de manera electr&oacute;nica.
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <label class="label-f">
                                &#42; Correo Electr&oacute;nico Actual
                            </label>

                            <input class="inp-f off" [(ngModel)]="email">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Nuevo Correo Electr&oacute;nico
                            </label>

                            <input type="email" placeholder="Ingresa el nuevo correo" class="inp-f" [(ngModel)]="newEmail">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Confirmar Correo Electr&oacute;nico
                            </label>

                            <input type="email" placeholder="Confirma el nuevo correo" class="inp-f" [(ngModel)]="newEmailRepeat">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <div class="btns rippleR def-iv red centr vcenter" (click)="saveEmail()">
                            <div class="tabcell">
                                Guardar Cambios
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tabIndex == 3" class="basicrow f-black roboto-r f-reg m-top-ii text-center">
                <div class="shortcont">

                    <div>
                        <div class="basicrow bg-gray-u-i allpads bordsdef roboto-b text-justify">
                            <b>Actualización de Acceso</b>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top text-justify">
                            Para crear un nuevo usuario, debe ingresar un correo electrónico
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="basicrow">
                                <label class="label-f">
                                    &#42; Usuario Actual
                                </label>

                                <input class="inp-f off" [(ngModel)]="username">
                            </div>

                            <div class="basicrow m-top-i">
                                <label class="label-f">
                                    &#42; Crear Nuevo Usuario
                                </label>

                                <input type="email" placeholder="Escribe un correo electrónico" class="inp-f" [(ngModel)]="newUsername">
                            </div>
                        </div>

                        <div class="basicrow m-top-i text-center" (click)="saveUsername()">
                            <div class="btns def-iv red centr vcenter rippleR">
                                <div class="tabcell">
                                    Guardar Cambios
                                </div>
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>
                    </div>

                    <div class="basicrow bg-gray-u-i allpads bordsdef m-top-ii roboto-b text-justify">
                        El cambio de contrase&ntilde;a s&oacute;lo es efectivo si llena los tres campos provistos: anterior, nuevo y confirmaci&oacute;n, y presiona Guardar Cambios. Si no desea cambiar los dem&aacute;s campos de la p&aacute;gina, d&eacute;jelos en blanco pues la forma los ignorar&aacute;.
                    </div>

                    <div class="basicrow m-top text-justify">
                        La contrase&ntilde;a debe tener entre 8 y 10 caracteres, incluyendo un m&iacute;nimo de 2 n&uacute;meros, diferenciando entre may&uacute;sculas y min&uacute;sculas.
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <label class="label-f">
                                &#42; Contrase&ntilde;a Actual
                            </label>

                            <input type="password" class="inp-f" placeholder="Escribe tu contrase&ntilde;a actual" [(ngModel)]="oldPassword">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Nueva Contrase&ntilde;a
                            </label>

                            <input  type="password"  placeholder="Escribe una nueva contrase&ntilde;a" class="inp-f" [(ngModel)]="newPassword">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Confirmar Nueva Contrase&ntilde;a
                            </label>

                            <input type="password"  placeholder="Confirma la nueva contrase&ntilde;a" class="inp-f" [(ngModel)]="passwordRepeat">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <div class="btns def-iv red centr vcenter rippleR" (click)="savePassword()">
                            <div class="tabcell">
                                Guardar Cambios
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tabIndex == 4" class="basicrow f-black roboto-r f-reg m-top-ii text-center">
                <div class="shortcont">
                    <div class="basicrow">
                        <div class="basicrow">
                            <label class="label-f">
                                &#42; Direcci&oacute;n 1
                            </label>

                            <input class="inp-f" [(ngModel)]="address1">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                Direcci&oacute;n 2
                            </label>

                            <input class="inp-f">
                        </div>

                        <div class="basicrow">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                    <label class="label-f">
                                        &#42; Ciudad
                                    </label>

                                    <input class="inp-f" [(ngModel)]="city">
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                    <label class="label-f">
                                        &#42; Estado
                                    </label>

                                    <input class="inp-f off" [(ngModel)]="state">
                                </div>
                            </div>
                        </div>

                        <div class="basicrow">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                    <label class="label-f">
                                        &#42; Pais
                                    </label>

                                    <input class="inp-f off" [(ngModel)]="county">
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                    <label class="label-f">
                                        C&oacute;digo Postal
                                    </label>

                                    <input class="inp-f" [(ngModel)]="zipCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <div class="btns def-iv red centr vcenter rippleR" (click)="saveAddress()">
                            <div class="tabcell">
                                Guardar Cambios
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tabIndex == 5" class="basicrow f-black roboto-r f-reg m-top-ii text-center">
                <div class="shortcont">
                    <div class="basicrow">

                        <div class="basicrow text-justify">
                            Por favor selecciona dos preguntas de seguridad. Esto nos ayudar&aacute; a verificar tu identidad en caso de que olvides tu contrase&ntilde;a.
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Primera Pregunta de Seguridad
                            </label>

                            <select class="sel-f" [(ngModel)]="question1">
                                <option *ngFor="let q of questions" [ngValue]="q">{{q.question}}</option>
                            </select>
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Respuesta Secreta
                            </label>

                            <input class="inp-f" [(ngModel)]="answer1">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Segunda Pregunta de Seguridad
                            </label>

                            <select class="sel-f" [(ngModel)]="question2">
                                <option *ngFor="let q of questions" [ngValue]="q">{{q.question}}</option>
                            </select>
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Respuesta Secreta
                            </label>

                            <input class="inp-f" [(ngModel)]="answer2">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <div class="btns def-iv red centr vcenter rippleR" (click)="saveQuestions()">
                            <div class="tabcell">
                                Guardar Cambios
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isPlatformIos && tabIndex == 6" class="basicrow f-black roboto-r f-reg m-top-ii text-center">
                <div class="shortcont">
                    <div class="basicrow">

                        <div class="basicrow f-mini-bigger f-black ion-margin-bottom">
                            <strong>Desactivar Usuario</strong>
                        </div>

                        <div class="basicrow text-justify">
                            {{messageDeactivation}}
                        </div>

                        <div class="basicrow m-top">
                            <div class="basicrow text-justify">
                                <input [(ngModel)]="terms" type="checkbox">&nbsp;&nbsp;
                                <span (click)="terms = !terms; $event.stopPropagation();">He leído y acepto los</span>
                                <a style="margin-left: 2px" class="linkdefs" (click)="showTerms()">
                                    T&eacute;rminos y Condiciones
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <ion-button (click)="validateCanDeactivateUser()" [disabled]="!terms" class="button-deactivate"
                                    [color]="terms ? 'primary' : 'medium'" expand="full">
                            Desactivar Usuario&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </ion-button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<app-popup-deactivate-ios-terms
    *ngIf="popupController?.popupTerms" (close)="closeTerms()"
    [terms]="termsDeactivation">
</app-popup-deactivate-ios-terms>
