<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>


    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-01"></span> Resumen de Factura
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>

                    <app-account-select></app-account-select>

                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="basicrow roboto-r f-big f-black">
                Factura Actual
            </div>

            <div class="basicrow bordsdef f-reg f-black roboto-r m-top">
                <div class="basicrow allpads">
                    <div class="basicrow">
                        <div class="autorow pull-left factdef roboto-b">
                            Fecha de Facturaci&oacute;n
                        </div>

                        <div class="autorow pull-right factdef roboto-b">
                            {{billDate}}
                        </div>
                    </div>

                    <div class="basicrow m-top-ii">
                        <div class="autorow pull-left factdef roboto-b">
                            Fecha de Vencimiento
                        </div>

                        <div class="autorow pull-right factdef roboto-b">
                            {{billDueDate}}

                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top">
                        <div class="autorow pull-left factdef roboto-b">
                            Balance Pendiente
                        </div>

                        <div class="autorow pull-right factdef roboto-b f-red">
                            {{billBalance}}
                        </div>
                    </div>
                </div>

                <div class="basicrow">
                    <div class="basicrow allpads topbord-i">
                        <div class="autorow pull-left factdef roboto-r">
                            Ciclo de Facturaci&oacute;n
                        </div>

                        <div class="autorow pull-right factdef roboto-b">
                            {{accountInfo.cycleDateField}}
                        </div>
                    </div>

                    <div class="basicrow graybg-i allpads">
                        <div class="autorow pull-left factdef roboto-r">
                            Fecha de Corte
                        </div>

                        <div class="autorow pull-right factdef roboto-b">
                            {{accountInfo.cycleEndDateField}}
                        </div>
                    </div>

                    <div class="basicrow allpads">
                        <div class="autorow pull-left factdef roboto-r">
                            &Uacute;ltimo Pago
                        </div>

                        <div class="autorow pull-right factdef roboto-b">
                            {{lastPaymentAmount}}
                        </div>
                    </div>
                </div>

                <div class="basicrow graybg-i allpads topbord-i">
                    <div class="autorow m-top-u pull-left factdef roboto-b f-big">
                        Monto a Pagar
                    </div>
                    <div class="autorow pull-right factdef f-red roboto-m f-semi">
                        <input id="due-amount" [(ngModel)]="amountPayable" [value]="amountPayable" class="inp-f refdefnt qt">
                    </div>

                </div>
            </div>

            <div class="basicrow m-top-ii">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-ii">
                        <div class="btns red vcenter" (click)="billPayment()">
                            <span class="tabcell">
                                Paga tu Factura Aqu&iacute;
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow m-top-u-i" *ngIf="!isGuest">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-top-ii">
                        <div  class="btns blue vcenter" (click)="going(0)">
                            <span class="tabcell">
                                D&eacute;bito Directo
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-top-ii" (click)="going(1)">
                        <div  class="btns blue vcenter">
                            <span class="tabcell">
                                Descarga tu Factura
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-top-ii">
                        <div  class="btns blue vcenter" (click)="going(2)">
                            <span class="tabcell">
                                Hist&oacute;rico de Pagos
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
