.difloglogo {
    width: 180px;
    height: auto;
}

.image-phone {
    width: 54px;
}

.list-accessibility {
    width: 100%;
    padding-top: 10px;
    padding-left: 4px;
    list-style-type: none;
    font-weight: 300;
    .list-item {
        margin-top: 10px;
        img {
            margin-right: 12px;
            width: 18px;
        }
    }
}
