<ion-content>
    <div class="container m-top">
        <div class="basicrow">
            <div class="m-top f-bigmed f-bold text-center">
                Bienvenido a
            </div>
        </div>
        <div class="shortcont">
            <div class="basicrow text-center mbott">
                <img class="difloglogo" src="assets/images/miclaro-logov2.png" alt="">
            </div>
            <div class="basicrow text-center ion-margin-vertical">
                <img class="image-phone" src="assets/images/icon_movilclaro.png" alt="">
            </div>
            <div class="basicrow f-reg m-top-u-ii text-center">
                Hemos actualizado nuestras <br>
                <b>Condiciones de Servicio</b> <br>
                para ofrecerte una mejor experiencia.
            </div>
        </div>

        <div class="basicr-line f-mini-i m-top-i">
            El acceso a esta información nos permitirá hacer registro de tus datos para un servicio personalizado:
            <ul class="list-accessibility">
                <li class="list-item"><img src="assets/images/icon_Check.png"> Número de teléfono</li>
                <li class="list-item"><img src="assets/images/icon_Check.png"> Tu ubicación</li>
                <li class="list-item"><img src="assets/images/icon_Check.png"> Correo Electrónico</li>
                <li class="list-item"><img src="assets/images/icon_Check.png"> Datos bancarios</li>
            </ul>
        </div>

        <div class="basicrow m-top-i m-bott-ii">
            <ion-button class="text-capitalize" color="primary" expand="full" (click)="continue()" >
                Permitir Acceso
            </ion-button>

            <ion-button class="m-top-u-ii text-capitalize" color="gray" expand="full" (click)="exitApp()">
                En otro momento
            </ion-button>
        </div>

    </div>
</ion-content>
