.channels-container {
    height: 400px;
    overflow-y: scroll;
    float: left;
    margin: 2rem 0 1rem;
    .channels-list {
        display: flex;
        flex-wrap: wrap;
        .channel-preview {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14%;
            margin-bottom: 8px;
            margin-right: .2%;
            ion-img {
                width: 42px;
                height: 42px;
            }
        }
    }
}
