<div class="channels-container">
    <div class="basicrow">
        <div class="channels-list">
            <div class="channel-preview" *ngFor="let channel of channels">
                <ion-img [src]="channel.url"></ion-img>
            </div>
        </div>
    </div>
</div>
