<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                Registro
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="basicrow">
                        <input type="number"
                               placeholder="N&uacute;mero de Tel&eacute;fono"
                               class="inp-f"
                               autocapitalize="off"
                               [(ngModel)]="number"
                               (keyup.enter)="nextStep()">
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="btns red vcenter rippleR" (click)="nextStep()">
                        <div class="tabcell">
                            Continuar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>

            </div>
        </div>
    </div>

</div>
