ion-slides {
    margin: 1rem 0;
}

.border-bottom {
    padding: 1rem 0 2rem;
    margin: 0 2rem;
    border-bottom: 1px solid #cacaca;
}

.container-image {
    top: 0;
    left: 0;
}

.image-select-plan {
    height: 36px;
    display: block;
    margin-top: 3px;
}

