
<div class="allcont logsize m-bott" style="overflow-y: auto; overflow-x: hidden">

    <app-header></app-header>

    <app-menu></app-menu>


    <div class="basicrow">
        <div class="basicrow">
            <div class="container">
                <div class="basicr-line-i">
                    <div class="fulltitle m-top-i f-btitle">
                        <span class="container-image"><img src="assets/images/iptv/icon_IPTV2.png" class="image-select-plan"></span>
                        Selección de Plan Clarotv+
                    </div>
                    <div class="nroacc f-bigmed">
                        <span>Escoge tu Plan <app-claro-tv></app-claro-tv></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow m-bott-iii roboto-r f-med f-black carousel">

            <app-iptv-plans [hasToken]="true" (selectPlan)="selectPlan($event)"></app-iptv-plans>

        </div>


    </div>

</div>


