<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-01"></span> Descarga tu Factura
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
              <span class="tabcell">
                N&uacute;mero de Cuenta
              </span>
                    </label>
                    <app-account-select></app-account-select>
                </div>
            </div>
        </div>
    </div>
    <div class="basicrow mbott n-mtop">
        <div class="container">
            <div class="basicrow">
                <div class="autorow pull-left m-right f-reg m-top-u-iii">
                    <select class="sel-f sidesel" id="select-year"
                            name="selectedYear"
                            [(ngModel)]="selectedYear"
                            (ngModelChange)="getInvoiceHistory(selectedYear)">
                        <option [value]="year" *ngFor="let year of years">{{year}}</option>
                    </select>

                </div>
            </div>
            <br>
            <div class="basicrow">
                <div class="basicrow m-top-i">
                    <div class="autorow pull-left f-tabletitle f-black roboto-r m-right">
                        Factura
                    </div>
                </div>

                <div class="basicrow m-top" *ngIf="!loading">
                    <div class="boxtbl">
                        <div class="tab-tbar evless">
                            <div class="frwds dscgaf-i rline vcenter">
                                <div class="tabcell">
                                    Fecha de Facturaci&oacute;n
                                </div>
                            </div>

                            <div class="frwds dscgaf-i rline vcenter">
                                <div class="tabcell">
                                    Vencimiento
                                </div>
                            </div>

                            <div class="frwds dscgaf-i rline vcenter">
                                <div class="tabcell">
                                    Cantidad
                                </div>
                            </div>

                            <div class="frwds dscgaf-ii vcenter">
                                <div class="tabcell">
                                    Ver
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let invoice of invoices">
                            <div class="tab-cbar evless" [ngClass]="invoice.isPair? 'bg-gray' : ''">
                                <div class="frwds dscgaf-i rline vcenter">
                                    <div class="tabcell">
                                        {{invoice.BillDate}}
                                    </div>
                                </div>

                                <div class="frwds dscgaf-i rline vcenter">
                                    <div class="tabcell">
                                        {{invoice.DueDate}}
                                    </div>
                                </div>

                                <div class="frwds dscgaf-i rline vcenter">
                                    <div class="tabcell">
                                        {{invoice.AmountDue}}
                                    </div>
                                </div>

                                <div class="frwds dscgaf-ii vcenter">
                                    <div class="tabcell">
                                        <div class="actbtn">
                                            <a title="icono" (click)="open(invoice)">
                                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tab-cbar evless basicrow allpads topbord-i" *ngIf="invoices.length == 0">
                                <div class="autorow pull-left factdef roboto-r f-med">
                                    Sin Resultados para la fecha seleccionada.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top allpads bordsdef f-reg roboto-r f-black text-justify">
                    <span class="roboto-b">Servicio al Cliente</span><br/><br/>
                    Escríbenos por nuestro chat para recibir asesoría inmediata o comunícate vía telefónica al <a href="tel:7877750000">787-775-0000</a> ó marcando <a href="tel:*611">&#42;611</a> desde tu teléfono celular.
                </div>

                <div class="basicrow m-top-i bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
                    <span class="roboto-b">Hist&oacute;rico de facturas</span><br/><br/>
                    El histórico de facturas te permite ver hasta tus ultimas trece (13) facturas. Para revisarlas solo necesitas ir a la columna Ver y oprimir el botón. Recuerda que solo se desplegaran quinientas (500) páginas de la factura, cuando aplique.  ​
                    Si deseas revisar la factura completa, debes comunicarte con  <a class="linkdefs" (click)="goPage('help/chat')">Servicio al Cliente.</a>
                </div>
            </div>
        </div>
    </div>

</div>




