<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>
    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle">
                    <span class="icon-dash-13"></span> Soporte Técnico Netflix
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow bg-gray m-top-i">
        <div class="container">
            <div class="basicrow m-top-i mbott">
                <div class="basicrow f-title f-black">
                    Centro de Ayuda Netflix
                </div>

                <div class="basicrow f-reg roboto-r f-black m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="basicrow f-bmed roboto-b">
                                Navegación dentro del sitio de Netflix
                            </div>

                            <div class="basicrow m-top-i">
                                <span class="roboto-m">Solución de mensajes de error en la navegación de Netflix, creación o cambios de perfiles, entre otros.</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 h-mtop-i">
                            <div class="basicrow f-bmed roboto-b">
                                Consultas relacionadas a su cuenta
                            </div>

                            <div class="basicrow m-top-i">
                                <span class="roboto-m">Recuperación de contraseña, actualización de dirección de correo electrónico, cambios de plan, preguntas sobre su balance de promociones, entre otros.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                            <div class="btns blue vcenter rippleB" id="netflix-support" (click)="netflixSupport()">
										<span class="tabcell">
											Ir a Soporte de Netflix&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow m-top-i">
                <div class="basicrow f-title f-black">
                    Centro de Ayuda Claro
                </div>

                <div class="basicrow f-reg roboto-r f-black m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="basicrow f-bmed roboto-b">
                                Asistencia con la cuenta Claro
                            </div>

                            <div class="basicrow m-top-i">
                                <span class="roboto-m">Solución de problemas y preguntas sobre la cuenta de Claro y los dispositivos o servicios provistos por Claro.</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 h-mtop-i">
                            <div class="basicrow f-bmed roboto-b">
                                Preguntas sobre la Factura
                            </div>

                            <div class="basicrow m-top-i">
                                <span class="roboto-m">Preguntas sobre cómo el cargo de Netflix se presentará en la factura.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                            <div class="btns blue vcenter rippleB" id="netflix-contact" (click)="support()">
										<span class="tabcell">
											Contactanos&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="basicrow bg-gray m-top-i">
        <div class="container">
            <div class="basicrow m-top-i mbott">
                <div class="basicrow f-title f-black">
                    En Conjunto
                </div>

                <div class="basicrow f-reg roboto-r f-black m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="basicrow f-bmed roboto-b">
                                Conectividad
                            </div>

                            <div class="basicrow m-top-i">
										<span class="roboto-m">Asuntos y/o problemas de conectividad a cualquier fuente de Internet puede causar que la
aplicación de Netflix no se descargue ni funcione correctamente. Si el usuario no tiene
conectividad a Internet, debe comunicarse con su proveedor de Internet. Si el usuario tiene
conectividad a Internet, entonces el usuario debe confirmar que el dispositivo que está
utilizando tenga todas las actualizaciones al día.

Una vez el usuario confirme que tiene conectividad a Internet y que su dispositivo tiene las
actualizaciones al día, debe comunicarse al Help Center de Netflix para recibir la información de
los pasos de asistencia técnica a seguir. El usuario también podrá comunicarse con Servicio al
cliente de Claro para que sus representantes reporten el problema a Netflix.</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 h-mtop-i">
                            <div class="basicrow f-bmed roboto-b">
                                Recuperación de las credenciales de Netflix
                            </div>

                            <div class="basicrow m-top-i">
										<span class="roboto-m">Los usuarios que tengan dificultad identificando los detalles de sus credenciales de Netflix, no
podrán acceder a su servicio de Netflix sin asistencia adicional. 
Si el usuario ha olvidado su correo electrónico, debe pulsar la alternativa para recuperar el
mismo presentada en esta pantalla. Si el usuario ha olvidado su contraseña, debe pulsar la
alternativa para recuperar la misma presentada en esta pantalla o visitar directamente la
página web de Netflix y solicitar ayuda al iniciar su sesión.
Los representantes de servicio de Netflix y Claro están debidamente preparados para orientar y
asistir a los usuarios en la recuperación de sus credenciales de Netflix.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

