<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow" >
        <div class="container">
            <div class="basicrow mbott text-center m-top-ii">

                <div class="shortcont">

                    <div class="updt-textcont roboto-r f-black">
                        <img alt="" class="advrt-icn" src="assets/images/icono_advertencia.png" width="100%">

                        <div class="basicrow f-big roboto-b">Actualiza tu Usuario y Contrase&ntilde;a</div>

                        <div class="basicrow m-top-ii">Estamos aplicando cambios que nos ayudar&aacute;n a unificar nuestros portales y mejorar tu experiencia de acceso.</div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i">
                        Ahora podr&aacute;s ingresar al portal Mi Claro o a la aplicaci&oacute;n m&oacute;vil Mi Claro PR con un correo electr&oacute;nico o n&uacute;mero de tel&eacute;fono.
                    </div>

                    <div class="basicrow m-top-i">
                        <label class="label-f">
                            &#42; Usuario Actual
                        </label>

                        <input class="inp-f off" [(ngModel)]="oldUsername">
                    </div>

                    <div class="basicrow m-top-i">
                        <label class="label-f">
                            &#42; Nuevo Usuario
                        </label>

                        <div class="basicrow rel">
                            <div class="ortxtcnt text-center f-reg roboto-r f-black">&oacute;</div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input class="inp-f updt-inp" type="email" placeholder="usuario@claropr.com" [(ngModel)]="newUsername">
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input class="inp-f updt-inp" type="number" placeholder="N&uacute;mero de Tel&eacute;fono" disabled [(ngModel)]="number">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow f-big m-top">
                        Actualiza tu Contrase&ntilde;a
                    </div>

                    <div class="basicrow bg-gray-u-i allpads bordsdef m-top-ii roboto-b text-justify">
                        El cambio de contrase&ntilde;a s&oacute;lo es efectivo si llenas los tres campos previstos: anterior, nuevo y confirmaci&oacute;n, y presionas Guardar Cambios.
                    </div>

                    <div class="basicrow m-top text-justify">
                        La contrase&ntilde;a debe tener entre 8 y 10 caracteres, incluyendo un m&iacute;nimo de 2 n&uacute;meros, diferenciando entre may&uacute;sculas y min&uacute;sculas.
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <label class="label-f">
                                &#42; Contrase&ntilde;a Actual
                            </label>

                            <input [(ngModel)]="oldPassword" class="inp-f" type="password" placeholder="Escribe tu contrase&ntilde;a actual">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Nueva Contrase&ntilde;a
                            </label>

                            <input [(ngModel)]="newPassword" type="password" placeholder="Escribe una nueva contrase&ntilde;a" class="inp-f">
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                &#42; Confirmar Nueva Contrase&ntilde;a
                            </label>

                            <input [(ngModel)]="repeatPassword" type="password" placeholder="Confirma la nueva contrase&ntilde;a" class="inp-f">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>


                    <div class="basicrow m-top-i">
                        <div class="btns red vcenter rippleR" (click)="save()">
                            <div class="tabcell">
                                Continuar
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


