<div class="mobile">
<!--    <div class="cards-boxes-container">-->
    <ion-slides #slides [options]="{slidesPerView: 1}" [pager]="true" (ionSlideDidChange)="changePaymentMethod()">
        <ion-slide *ngIf="flashPaymentService.controller.isCardVisible">
            <div class="card-box-container" [ngClass]="{ 'box-active': flashPaymentService.controller.isCard }">
                  <span>
                    <img src="assets/images/icon_tarjeta_1.png" alt="" *ngIf="!flashPaymentService.controller.isCard"/>
                    <img src="assets/images/icon_tarjeta_2.png" alt="" *ngIf="flashPaymentService.controller.isCard"/>
                  </span>
                <div class="card-title">Tarjeta</div>
            </div>
        </ion-slide>

        <ion-slide *ngIf="flashPaymentService.controller.isPlaceToPayVisible">
            <div class="card-box-container" [ngClass]="{ 'box-active': flashPaymentService.controller.isPlaceToPay }">
                  <span>
                    <img class="img-fix" src="assets/images/icon_wallet_2.png" alt=""
                         *ngIf="!flashPaymentService.controller.isPlaceToPay"/>
                    <img class="img-fix" src="assets/images/icon_wallet_1.png" alt=""
                         *ngIf="flashPaymentService.controller.isPlaceToPay"/>
                  </span>
                <div class="card-title">Wallet</div>
            </div>
        </ion-slide>

        <ion-slide *ngIf="flashPaymentService.controller.isACHVisible">
            <div class="card-box-container" [ngClass]="{ 'box-active': flashPaymentService.controller.isACH }">
                  <span>
                    <img src="assets/images/icon_ACH_1.png" alt="" *ngIf="!flashPaymentService.controller.isACH"/>
                    <img src="assets/images/icon_ACH_2.png" alt="" *ngIf="flashPaymentService.controller.isACH"/>
                  </span>
                <div class="card-title">ACH</div>
            </div>
        </ion-slide>
    </ion-slides>
</div>
