<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span><img src="assets/images/map-icon.png" style="height: 50px; width: 50px; margin: 10px" alt=""></span>
                    &nbsp;Localidades
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="autowcont allpads m-top-ii">
                <div class="basicrow f-reg f-black roboto-r">
                    <div class="basicrow f-big">
                        <!--<%= store.name %>-->
                        {{store.name}}
                    </div>


                    <!--<% if(store.schedule!=null && store.schedule != '' ) { %>-->
                    <div
                            class="dts-rcrg m-top-ii text-center"
                            *ngIf="store.schedule!=null && store.schedule != ''"
                    >
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                Horario:<br/>
                                <!--<%= store.schedule %>-->
                                {{store.schedule}}
                                <!--<% if(store.distance != 0 && store.longitude != 0 && store.latitude != 0) { %>-->
                                <div
                                        *ngIf="store.distance != 0 && store.longitude != 0 && store.latitude != 0"
                                        class="tab-arrow less-r m-w"
                                >
                                    <div class="basicrow f-red roboto-b f-mini">
                    <span class="pull-right">
                     {{store.distance}} mil</span>
                                    </div>
                                </div>
                                <!--<% } %>-->
                            </div>
                        </div>
                    </div>
                    <!--<% } %>-->

                    <!--<% if (store.address != null && store.address != '' ) { %>-->
                    <div class="basicrow m-top-i">
                        <div class="autobar f-reg text-justify f-bold f-black diffr">
                            <div class="container">
                                <!--<%= store.address %><br/>
                                <%= store.town %>-->
                                {{store.address}} <br>
                                {{store.town}}
                            </div>
                        </div>
                    </div>

                    <div class="basicrow">
                        <div class="logline full"></div>
                    </div>
                    <!--<% } %>-->

                    <div class="basicrow m-top-i">
                        <!-- [INIT MAP] -->
                        <div class="autobar diffr nopads">
                            <div class="map-container" id="store-map" style="height: 200px"></div>
                        </div>
                        <!-- [END MAP] -->
                    </div>

                    <!--<% if(store.latitude!='' && store.longitude!=''){ %>-->
                    <div class="basicrow m-top-i m-bott-ii">
                        <div class="lineb store-route" (click)=showStoreRoute()>
                            <div class="sectbar">
                                <div class="container rel">
                                    <img class="sectarrow" width="100%" src="assets/images/arrow-iii.png" alt="">

                                    <div class="sect-a vcenter">
                                        <div class="tabcell">
                                            <img class="sect-icon address" width="100%" src="assets/images/address-icon.png" alt="">
                                        </div>
                                    </div>

                                    <div class="sect-b f-lmed f-bold f-black vcenter">
                                        <div class="tabcell">
                                            Direcci&oacute;n
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<% } %>-->
                </div>
            </div>
        </div>
    </div>

</div>
