<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-05"></span> Resumen de cambio de Plan
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">

        <!--     ERROR -->
        <div class="container" *ngIf="orderId === 'error'">
            <div class="basicrow mbott-i">

                <div class="basicrow text-center">
                    <div class="rdtitles">
                        Aviso
                    </div>
                </div>

                <div *ngIf="orderMessage === 'conRecarga'">
                    <div class="basicrow roboto-r f-black f-reg text-center m-top-i">
                        Estimado Cliente al momento estamos presentando problemas para activacion de su nuevo plan.
                    </div>
                    <div class="basicrow roboto-r f-black f-mini-i text-center m-top">
                        <span class="f-bold">El balance de su recarga y los cargos asociados se encuentran en proceso de devolucion.</span>
                        <br>
                        Por favor verifique en las proximas horas.
                    </div>
                </div>

                <div *ngIf="orderMessage === 'sinRecarga'">
                    <div class="basicrow roboto-r f-black f-reg text-center m-top-i">
                        Actualmente el sistema está presentando problemas de comunicación, por favor contacte a soporte operacional
                        o intente nuevamente en los próximos minutos.
                    </div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <div (click)="goHomePage()" class="btns def-v red centr vcenter">
                        <span class="tabcell">
                            OK
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <!--     SUCCESS -->
        <div class="container" *ngIf="orderId !== 'error'">
            <div class="basicrow mbott-i">

                <div class="basicrow text-center">
                    <div class="rdtitles">
                        El cambio fue <span class="roboto-b">exitoso</span>
                    </div>
                </div>

                <div *ngIf="orderMessage != undefined && orderMessage.length > 0"
                     class="basicrow roboto-r f-black f-reg text-center m-top">
                    {{orderMessage}}
                </div>

            </div>

            <div class="autowcont notopbrd">
                <div class="digs-box defnohov vcenter">
                    <div class="tabcell">
                        <div class="autorow pull-left">
					        <span class="roboto-l">
                                {{typeOfTelephony(subscriber.productTypeField)}}
                            </span>
                            <span class="roboto-m">
                                {{formatSubscriber(subscriber.subscriberNumberField)}}
                            </span>
                        </div>
                    </div>
                </div>


                <div class="basicrow tabtopb f-black roboto-r f-reg">
                    <div class="basicrow">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">
                                <div class="userinfo full nomtops">
                                    <div class="basicrow m-bott">
                                        <div class="basicrow f-bmed roboto-b m-bott">
                                            Resumen de Cambio
                                        </div>

                                        <div class="redstat" *ngIf="orderId != undefined && orderId.length > 0">
                                            <div class="autorow roboto-r pull-left">
                                                N&uacute;mero de Orden
                                            </div>

                                            <div class="autorow roboto-b pull-right">
                                                {{orderId}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii">
                                            <div class="basicrow">
                                                Nuevo Plan
                                            </div>

                                            <div class="basicrow roboto-b m-top-u-i">
                                                {{selectedPlan.name}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="basicrow text-center m-top-ii">
                                        <div class="basicrow">
                                            <span class="roboto-b">
                                                Precio
                                            </span>
                                            <br>
                                            <span class="f-red f-semi roboto-m">
                                                &#36;{{selectedPlan.price}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow text-center m-top">
                        <div (click)="goHomePage()" class="btns def-i gray centr vcenter">
                            <span class="tabcell">
                                Cerrar
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>






