<app-popup-iptv-terms
    *ngIf="popupController.popupTermsIptv"
    (close)="closePopupIptv()">
</app-popup-iptv-terms>

<ion-slides #slides class="carousel-inner" [pager]="true" [options]="{loop: true}" (ionSlideDidChange)="slideChanged($event)">

    <ion-slide class="item-slide-iptv" *ngFor="let plan of plans; let index = index" (click)="planSelected = plan">

        <div class="carousel-preview-container" [class.selected]="planSelected === plan || indexPlanShowing === index">
            <div class="carousel-header" *ngIf="plan.offer">
                <p>
                    <ion-icon src="assets/images/iptv/tag_white.svg" class="center-icon-offer"></ion-icon>
                    <a (click)="viewTermsOffer(plan)" class="f-white">{{plan.offer.chvOfferDetails}}</a>
                </p>
                <ion-img src="assets/images/iptv/tag_oferta.png" alt=""></ion-img>
            </div>
            <div class="carousel-preview">
                <div class="carousel-preview--title">
                    <h4>{{plan.productName}}</h4>
                </div>
                <div class="carousel-preview--description">
                    <div class="description-header border-bottom">
                        <ion-img src="assets/images/iptv/icon_planesIPTV.png"></ion-img>
                        <div class="description-header--price">
                            <p>
                                Precio Mensual
                                <span class="price">{{plan.salePrice | currency}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="description-details">
                        <p class="description-details--text border-bottom"
                           [innerHTML]="plan.shortDescription">
                        </p>
                        <div class="description-details--name border-bottom">
                            <p class="details--type">Plan de <app-claro-tv></app-claro-tv></p>
                            <p class="details--name">{{plan.productName}}</p>
                        </div>
                        <div class="description-details--channels">
                            <p class="details--type">Canales</p>
                            <p class="details--name"></p>
                        </div>
                    </div>
                    <div class="description-channels border-bottom">
                        <div class="channels-featured-list">
                            <div class="channel-preview" *ngFor="let img of plan.channelsFeatured">
                                <ion-img [src]="img.url"></ion-img>
                            </div>
                        </div>
                        <div class="view-more-channels">
                            <a class="linkdefs" (click)="viewChannels(plan); $event.stopPropagation()">
                                Ver Guía de Canales&nbsp;&nbsp;
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-footer">
<!--                <div class="carousel-footer&#45;&#45;terms">-->
<!--                    <p>-->
<!--                        Terminos y condiciones-->
<!--                        <span class="f-bold">-->
<!--                            <app-claro-tv></app-claro-tv>-->
<!--                        </span>-->
<!--                    </p>-->
<!--                    <span>-->
<!--                        <input type="checkbox" [(ngModel)]="termsConditions" [disabled]="!typeBan.telephony">-->
<!--                        <a class="linkdefs" (click)="viewTermsIptv(); $event.stopPropagation()">-->
<!--                            Acepto terminos y condiciones-->
<!--                            <app-claro-tv></app-claro-tv>-->
<!--                        </a>-->
<!--                    </span>-->
<!--                </div>-->
                <ion-button class="carousel-footer--button" fill="outline" expand="full"
                            (click)="selectPlanEmit(plan)">
                    Seleccionar Plan
                </ion-button>
            </div>
        </div>

    </ion-slide>

</ion-slides>
