<ion-content #content class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">

                <div *ngIf="!dsl" class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-25"></span> Mis Equipos y Servicios
                </div>

                <div *ngIf="dsl" class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-25"></span> Mis Servicios
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>

                    <app-account-select></app-account-select>

                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">

        <div class="container padding-bottom-footer">

            <div *ngIf="!dsl" class="basicrow mbott">
                <div class="difftabs">
                    <div id="details-plan" class="difft-def half" (click)="tab = 1" [ngClass]="tab ==1 ? 'on':''">
                        Detalle de Tu Plan
                    </div>

                    <div id="details-device" class="difft-def half" (click)="tab = 2" [ngClass]="tab == 2 ? 'on':''">
                        Consulta tu equipo
                    </div>
                </div>
            </div>

            <div class="autowcont notopbrd" *ngIf="tab == 1">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                                    <span class="roboto-l">
                                        {{typeOfTelephony(subscriber.productTypeField)}}
                                    </span>
                                <span class="roboto-m">
                                        {{formatSubscriber(subscriber.subscriberNumberField)}}
                                    </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">

                        <div class="basicrow tabtopb f-black roboto-r f-reg">

                            <div class="basicr-line f-big">
                                <span *ngIf="subscriber.planInfoField.sOCDescriptionField != null">
                                    Plan Actual
                                </span>
                                <span *ngIf="subscriber.planInfoField.sOCDescriptionField == null">
                                    No posee plan
                                </span>
                            </div>

                            <div class="basicrow m-top-i">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="userinfo full nomtops">
                                            <div class="basicrow m-bott">

                                                <div class="basicrow f-bmed roboto-b m-bott">
                                                    Detalle del Plan
                                                </div>

                                                <div class="redstat">
                                                    <div class="autorow roboto-r pull-left">
                                                        {{getPlanName(subscriber)}}
                                                    </div>

                                                    <div class="autorow roboto-b pull-right">
                                                        &#36;{{getPlanAmount(subscriber)}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="basicrow m-top-ii">
                                                <div class="basicrow f-reg roboto-b">
                                                    Descripci&oacute;n del Plan:
                                                </div>

                                                <div *ngFor="let item of getPlanDescriptionList(subscriber)"
                                                     class="redstat rblack m-top-ii">
                                                    <div class="basicrow roboto-r">
                                                        {{item.trim()}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                        <div *ngIf="subscriber.equipmentInfoField.itemDescriptionField
                                        && subscriber.equipmentInfoField.installmentsField" class="basicrow">
                                            <div class="userinfo full">
                                                <div class="basicrow">
                                                    <div class="basicrow f-bmed roboto-b m-bott">
                                                        Equipo a Plazos
                                                    </div>

                                                    <div class="redstat">
                                                        <div class="autorow roboto-r pull-left equipment-name">
                                                            {{ subscriber.equipmentInfoField.itemDescriptionField }}
                                                        </div>

                                                        <div class="autorow roboto-b pull-right equipment-quota">
                                                            &#36;{{ subscriber.equipmentInfoField.installmentValueField }}
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Pagos restantes de Equipo
                                                        </div>

                                                        <div class="autorow roboto-b pull-right equipment-remaining">
                                                            {{ subscriber.equipmentInfoField.installmentsField }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="basicrow m-top" style="display: none">
                                                    <div class="btns red rippleR def-i vcenter rippleR">
                                                        <span class="tabcell">
                                                            Pagar Equipo
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="subscriber.servSVAInfoField.servSVAsField.length > 0"
                                             class="basicrow m-top-i lessm-i">
                                            <div class="userinfo full">
                                                <div class="basicrow additional-services-content">

                                                    <div class="basicrow f-bmed roboto-b m-bott-ii">
                                                        Servicios Adicionales
                                                    </div>

                                                    <div *ngFor="let service of subscriber.servSVAInfoField.servSVAsField" class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            {{service.sOCDescField}}
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            &#36;{{formatAmount(service.socRateField)}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="basicrow m-top-i">
                                <div class="logline full"></div>

                                <div class="basicrow m-top text-center">

                                    <div class="servs-monthly">
                                        <div class="basicrow">
                                            <span class="roboto-b">
                                                Renta Mensual
                                            </span>
                                            <br/>
                                            <span class="f-red f-semi roboto-m">
                                                &#36;{{getTotalRent(subscriber)}}
                                            </span>
                                        </div>


                                        <div class="basicrow m-top-ii" *ngIf="!isGuest">
                                            <div class="btns red vcenter rippleR" (click)="changePlan(subscriber)">
                                                <span class="tabcell">
                                                    Cambiar de Plan
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="autowcont notopbrd" *ngIf="tab == 2">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                            <span class="roboto-l">
                                {{typeOfTelephony(subscriber.productTypeField)}}
                            </span>
                                <span class="roboto-m">
                                {{formatSubscriber(subscriber.subscriberNumberField)}}
                            </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">
                        <div class="basicrow tabtopb f-black roboto-r f-reg">
                            <div class="basicr-line f-big">
                                Caracter&iacute;sticas de Tu Equipo
                            </div>

                            <div class="basicrow m-top-i">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 text-center">
                                                <img width="100%" class="ph-equip" [src]="getDeviceImage(subscriber)" alt="">
                                            </div>

                                            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 h-mtop-ii">
                                                <div class="basicrow f-big">
                                                    {{subscriber.equipmentInfoField.itemDescriptionField}}
                                                </div>

                                                <div class="updt-textcont roboto-r f-black m-top-ii" *ngIf="subscriber.SIG.onSig">
                                                        <img class="advrt-icn" src="assets/images/sig2.png" width="100%">

                                                        <div class="basicrow f-big roboto-b">Estatus de Garantía</div>

                                                        <div class="basicrow m-top-ii"> {{subscriber.SIG.sigMessage}}</div>
                                                        <div class="basicrow m-top-ii"> {{subscriber.SIG.sigReclamationDate}}</div>
                                                </div>

                                                <div class="basicrow m-top">
                                                    <div class="userinfo nomtops full">
                                                        <div class="basicrow">
                                                            <div class="basicrow f-bmed roboto-b">
                                                                Caracter&iacute;sticas
                                                            </div>

                                                            <div class="redstat m-top-ii">
                                                                <div class="autorow roboto-r pull-left">
                                                                    IMEI
                                                                </div>

                                                                <div class="autorow roboto-b pull-right">
                                                                    {{getImei(subscriber)}}
                                                                </div>
                                                            </div>

                                                            <div class="redstat m-top-ii" *ngIf="showBrand(subscriber)">
                                                                <div class="autorow roboto-r pull-left">
                                                                    Marca
                                                                </div>

                                                                <div class="autorow roboto-b pull-right">
                                                                    {{getBrand(subscriber)}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="basicrow m-top"
                                                     *ngIf="subscriber.equipmentInfoField.itemDescriptionField && subscriber.equipmentInfoField.installmentsField">
                                                    <div class="userinfo nomtops full">
                                                        <div class="basicrow">
                                                            <div class="redstat">
                                                                <div class="autorow roboto-r pull-left">
                                                                    Monto Cuota
                                                                </div>

                                                                <div class="autorow roboto-b pull-right">
                                                                    &#36;{{ subscriber.equipmentInfoField.installmentValueField }}
                                                                </div>
                                                            </div>

                                                            <div class="redstat m-top-ii" *ngIf="showBrand(subscriber)">
                                                                <div class="autorow roboto-r pull-left">
                                                                    Cuotas Restantes
                                                                </div>

                                                                <div class="autorow roboto-b pull-right">
                                                                    {{ subscriber.equipmentInfoField.installmentsField }}
                                                                </div>
                                                            </div>

                                                            <div class="redstat m-top-ii" *ngIf="showBrand(subscriber)">
                                                                <div class="autorow roboto-r pull-left">
                                                                    Total
                                                                </div>

                                                                <div class="autorow roboto-b pull-right">
                                                                    &#36;{{ getTotalAmountQuotes(subscriber) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="basicrow m-top">
                                                        <div class="basicrow roboto-b">
                                                            Deseo:
                                                        </div>
                                                    </div>

                                                    <div class="basicrow">
                                                        <div class="autorow pull-left full-c-i">
                                                            <div class="autorow pull-left m-top m-right">
                                                                <label (click)="onPayTotal(subscriber);">
                                                                    <input type="radio" name="howToPay" [checked]="payTotal">
                                                                    &nbsp;Pagar deuda total
                                                                </label>
                                                            </div>

                                                            <div class="autorow pull-left m-top">
                                                                <label (click)="onPayQuote(subscriber);">
                                                                    <input type="radio" name="howToPay"  [checked]="payQuote">
                                                                    &nbsp;Pagar una cantidad cuotas
                                                                </label>
                                                            </div>

                                                            <div class="autorow pull-right full-c-i m-top-ii" *ngIf="payQuote">
                                                                <div class="quota-bxs">
                                                                    <div class="quot-i text-center roboto-b f-white vcenter">
                                                                        <div class="tabcell">
                                                                            {{ quotes }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="quot-ii text-center roboto-b f-gray-i vcenter" (click)="decreaseQuotes(subscriber)">
                                                                        <div class="tabcell">
                                                                            -
                                                                        </div>
                                                                    </div>

                                                                    <div class="quot-ii text-center roboto-b f-gray-i vcenter" (click)="increaseQuotes(subscriber)">
                                                                        <div class="tabcell">
                                                                            +
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="basicrow m-top-i" *ngIf="amountToPay != null">
                                                    <div class="logline full"></div>

                                                    <div class="basicrow m-top text-center">
                                                        <div class="servs-monthly">
                                                            <div class="basicrow">
                                                                <span class="roboto-b">
                                                                    Total a Pagar
                                                                </span>
                                                                <br/>
                                                                <span class="f-red f-semi roboto-m">
                                                                    &#36;{{ amountToPay }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="basicrow m-top-i m-bott-ii">

                                                        <ion-button
                                                            color="primary"
                                                            expand="full"
                                                            [disabled]="!isAvailableToPay()"
                                                            (click)="pay()">
                                                            Continuar
                                                        </ion-button>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</ion-content>







