.ph-equip {
    overflow: hidden;
}
.sig{
    background-color: rgb(245, 209, 165) !important;
}
.sigImg{
    float: left; 
    width: 45px; 
    margin-top: 27.5px!important; 
    margin-bottom: 27.5px !important; 
    margin-right: 18px; 
    margin-left: 3px;
}
.sigText{
    float: left;
    width: 185px;
}
hr{
    color: gray;
    border: 2px;
}
