.mfa-step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
    justify-content: flex-start;
    //margin-top: 1rem;
    height: 100VH;
    max-width: 650px;
}

.mfa-step-title{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 1rem;
    padding-top: 2.5rem;
}

.mfa-step-description{
    padding-bottom: 1rem;
}

.box-info {
    border: solid 2px #bebebe;
    border-radius: 16px;
    padding: 1rem 1.2rem;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    color: black;
    background-color: white;
}

.box-info-active {
    border: solid 2px #45a7bc;
    border-radius: 16px;
    padding: 1rem 1.2rem;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    margin-top: 1rem;
}

.box {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
   
.info-mark-active {
    background-color: #2097ae;
    height: 100%;
    position: absolute;
    width: 11px;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: -1px;
}
   



.info-mark {
    background-color: #bebebe;
    height: 100%;
    position: absolute;
    width: 11px;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: -1px;
}

.img-container {
    margin-right: 15px;
}
    
