<div class="mfa-step-container">
    <div class="mfa-step-title font-title">Verifica tu identidad</div>

    <div class="mfa-step-description">
        Necesitamos verificar tu identidad mediante el envío de un código de
        acceso de un solo uso. Por favor, selecciona el método para recibir el
        código de verificación
    </div>

    <div class="row" *ngIf="userData.length > 0">
        <div class="col-lg mt-3">
          <div
            class="mt-3"
            [ngClass]="{
              'box-info': !isEmail,
              'box-info-active': isEmail
            }"
            (click)="selectOption(0)"
            *ngIf="emailOptionData"
          >
            <div
              [ngClass]="{
                'info-mark': !isEmail,
                'info-mark-active': isEmail
              }"
            ></div>
            <div class="box">
              <div class="img-container">
                <img src="../assets/images/mfa/icon_email.png" alt="" />
              </div>
              <div class="desc-container">
                Recibir código a mi correo electrónico <br />
                <div class="bold">{{ prepareEmail() }}</div>
              </div>
            </div>
          </div>
          <div
            class="mt-3"
            [ngClass]="{
              'box-info': !isSms,
              'box-info-active': isSms
            }"
            (click)="selectOption(1)"
            *ngIf="phoneOptionData"
          >
            <div
              [ngClass]="{
                'info-mark': !isSms,
                'info-mark-active': isSms
              }"
            ></div>
            <div class="box">
              <div class="img-container">
                <img src="../assets/images/mfa/icon_sms.png" alt="" />
              </div>
              <div class="desc-container">
                Recibir un SMS con el código a mi número de teléfono <br />
                <div class="bold">
                  {{ preparePhone(phoneNumberSelected) }}
                </div>
              </div>
            </div>
          </div>
          <div
            class="mt-3"
            [ngClass]="{
              'box-info': !isPush,
              'box-info-active': isPush
            }"
            (click)="selectOption(2)"
            *ngIf="pushOptionData"
          >
            <div
              [ngClass]="{
                'info-mark': !isPush,
                'info-mark-active': isPush
              }"
            ></div>
            <div class="box">
              <div class="img-container">
                <img src="../assets/images/mfa/icon_push.png" alt="" />
              </div>
              <div class="desc-container">
                Recibir notificación al último móvil registrado
                <br />
                {{ pushOptionData.device.notificationDevice }}
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-lg mt-5">
          <div class="bold">
            ¿Te gustaría recordar este dispositivo?
            <span>
              <img
              (click)="showTooltipInfo()"
                src="../assets/images/mfa/icon_tooltip.png"
                alt=""
            /></span>
          </div>
        </div>
      </div>

      <div class="row mb-5 ps-3 ps-lg-2">
        <div class="col-lg">
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="radio"
              id="radio1"
              name="grupo1"
              [value]="rememberOptions[0]"
              [(ngModel)]="rememberOptionSelected"
              (click)="remenberDevice()"
            />
            <label class="form-check-label" for="radio1">
              <span class="bold"> Sí, recordar este dispositivo</span>
              <br />
              <span> Confiar en este dispositivo cuando inicie sesión </span>
            </label>
          </div>
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="radio"
              id="radio2"
              name="grupo1"
              [value]="rememberOptions[1]"
              [(ngModel)]="rememberOptionSelected"
              (click)="remenberDevice()"
            />
            <label class="form-check-label" for="radio2">
              <span class="bold">No, no recordar este dispositivo</span>
              <br />
              <span>
                Pedirme que verifique mi identidad cada vez que inicie sesión
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5 mb-6 last-item-fix ">
        <div class="col-lg text-center">
          <div class="btn btn-red" (click)="processMFAOption()">
            Enviar código
          </div>
          <div class="btn btn-gray mt-3" (click)="exit()">Cancelar</div>
        </div>
      </div>

</div>
