.action-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.line-decorator {
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    margin: 1rem auto;
}

.image-confirmation {
    font-size: 4rem;
}

.tex-confirmation-title {
    color: #0ea650;
    font-size: 2rem;
    font-weight: bold;
}

.tex-confirmation-text {
    font-weight: lighter
}

.confirmation-table-container {
    padding-bottom: 1rem;
    padding-top: 1rem
}

.confiramtion-content {
    background-color: #f2f2f2;;
    padding: 1rem;;
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
    grid-column-gap: 1rem;;
    border-bottom-left-radius: 20px;;
    border-bottom-right-radius: 20px;;
}

.confirmation-header {
    background-color: #0ea650;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.confirmation-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    min-height: 64px;
    padding-bottom: 1.5rem
}

.box-title {
    font-weight: bold
}

.last-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.send-container {
    color: #69bcd2;
    display: flex;
    justify-content: center;
}

.action-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.error {
    color: #9b3d35
}

.action-btn {
    background-color: #ef3829;
    padding: 0.7rem 3rem;
}

.img-step1 {
    width: 50px
}

.icon-fix {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.warning-fix {
    color: #ff5300
}

.error-fix {
    color: #ef3829
}

.fix-mat-icon {
    font-size: 32px;
}

.susc-link {
    color: #69bcd2
}

.card-img-result {
    width: 55px
}

@media only screen and (max-width: 768px) {
    .action-container {
        width: 100%
    }
    .action-btn {
        width: 100%
    }
    .confirmation-header {
        flex-direction: column
    }
    .confiramtion-content {
        grid-template-columns: unset
    }
    .last-box {
        align-items: unset
    }
    .send-container {
        flex-direction: column;
        align-items: center
    }

}
