<div class="allcont logsize" style="overflow-y: auto">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="popupbg" *ngIf ="terms">
        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                T&eacute;rminos y Condiciones
            </div>

            <div class="basicrow m-top">
                <div class="termgbg">
                    <div class="termr-t">
                        • Al aceptar la compra del regalo, se le facturará al momento el precio del paquete adquirido según se indica y podrá verlo en su próxima factura; independientemente de que el receptor acepte o no acepte su regalo. No se aceptarán reclamaciones por regalos no aceptados.
                        • El número de teléfono de la persona que recibirá el regalo deberá ser un número de telefonía móvil pospagado de Claro Puerto Rico exclusivamente.
                        • No aplica a teléfonos fijos de Claro, clientes con servicio prepago de Claro, clientes de Claro con planes de servicio sin datos o celulares de otras compañías de teléfonos u otros países.
                        • El recipiente del regalo recibirá un mensaje de texto y una notificación en su cuenta de MiClaro y tendrá 30 días a partir de la fecha en que usted compra el regalo.
                        • Luego de transcurridos los 30 días, el link del mensaje de texto estará inválido y no podrá accederlo; tampoco podrá ver la notificación en su cuenta MiClaro.
                        • Una vez el recipiente lo haya aceptado, el regalo estará activo en su cuenta 30 días calendario. Culmina una vez lo consuma totalmente o se cumpla el termino de 30 días, lo que ocurra primero.
                        • El regalo de data podrá ser utilizado luego de que el cliente que recibe consuma su paquete de datos principal.
                        • Si el cliente ha bloqueado voluntariamente el servicio de datos, el regalo será rechazado.
                    </div>
                </div>
            </div>

            <div class="basicrow text-center m-top-i lessm">
                <div id="close-terms" (click)="closeTerms()" class="btns def-i red centr vcenter rippleR">
                <span class="tabcell">
                    Cerrar
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-23"></span> Regala 1 GB a un Pospago
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow m-top mbott-i">
        <div class="container">
            <div class="autowcont allpads">
                <div class="basicrow">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="basicrow hidden-xs">
                                <img alt="" width="100%" src="assets/images/regala1gbban.png">
                            </div>

                            <div class="regban-def visible-xs m-bott">
                                <img alt="" width="100%" src="assets/images/regala1gbbanv2.png">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="basicrow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <label class="label-f">N&uacute;mero de mi Amigo/a</label>

                                        <div class="basicrow rel">
                                            <img alt=""
                                                 [popper]="'El número a ingresar debe ser un número de telefonía móvil de Claro Puerto Rico, Postpago.'"
                                                 [popperTrigger]="'click'"
                                                 [popperTimeoutAfterShow]="3000"
                                                 class="q-t-pay"
                                                 src="assets/images/tooltip1.png">

                                            <ion-input
                                                name = "number"
                                                [(ngModel)]="subscriberTo"
                                                type="tel"
                                                maxlength="10"
                                                placeholder='Ingrese el Numero'
                                                class="inp-f qt"
                                                (change)="validateInput(1)">
                                            </ion-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="basicrow m-top">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label class="label-f">Mensaje</label>
                                        <ion-textarea
                                                name="text"
                                                [(ngModel)]="text"
                                                placeholder="Mensaje de m&aacute;ximo 200 caracteres"
                                                class="inp-f ta-reg"
                                                maxlength="200"
                                                rows="5"
                                                (change)="validateInput(2)">
                                        </ion-textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="basicrow m-top">
                                <input id="checkbox-terms" [(ngModel)]="accept" value="1" type="checkbox">
                                <label for="checkbox-terms">&nbsp;Acepto los&nbsp;</label>
                                <a class="linkdefs link-terms" (click)="showTerms()" >T&eacute;rminos y Condiciones</a>
                            </div>

                            <div class="basicrow m-top">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <div class="basicrow rel">
                                            <div class="reg-txt">
                                                1GB
                                            </div>

                                            <input value="&#36;9.99" class="inp-f payup-i">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow m-top text-center">
                    <ion-button color="primary" expand="full" (click)="validateData()">
                        Regalar
                    </ion-button>

                    <ion-button class="m-top-u-ii" color="medium" expand="full" (click)="return()">
                        Cancelar
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</div>



