.new-popup {
    border-radius: 9px;
}


.icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
}
.carousel-footer{
    margin: 1rem 2rem 0;
    &--button {
        margin: 2rem 0;
    }
    &--terms {
        margin-bottom: 2rem;
    }
}
