<app-popup-iptv-terms-on-popup
    *ngIf="popupController.popupTerms"
    [template]="popupController.popupTemplate"
    (close)="closePopupTerms()">
</app-popup-iptv-terms-on-popup>

<div class="popupbg new-popup">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-m">
            Servicios Adicionales
            <ion-icon name="close" *ngIf="previousData" class="icon-close" (click)="closeEmit()"></ion-icon>
        </div>

        <div class="basicrow roboto-r f-med f-black carousel">

            <app-additional-service [addOns]="addOns" [planSelected]="plan"
                                    (select)="addService($event)" (unselect)="removeService($event)">
            </app-additional-service>

            <div class="carousel-footer">
                <div class="carousel-footer--terms" *ngIf="totalServices > 0">
                    <p>Términos y condiciones</p>
                    <span>
                        <input type="checkbox" [(ngModel)]="terms">
                        <a (click)="openTerms()" class="linkdefs">Acepto términos y condiciones</a>
                    </span>
                </div>
                <ion-button class="carousel-footer--button" fill="solid" expand="full"
                            *ngIf="totalServices > 0" (click)="validateAddOns()">
                    Guardar
                </ion-button>
                <ion-button class="carousel-footer--button m-0" fill="outline" expand="full" (click)="withoutServices()">
                    No, gracias. Deseo continuar
                </ion-button>
            </div>

        </div>

    </div>

</div>
