<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span style="top: 0; left: 0"><img src="assets/images/iptv/icon_IPTV2.png" style="height: 36px;display: block;margin-top: 3px;"></span>
                    Clarotv+
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="autowcont allpads">
                <div class="basicrow f-reg f-black roboto-r">
                    <div class="basicrow f-big">
                        Confirmaci&oacute;n de Orden
                    </div>

                    <div class="basicrow m-top-i text-center">
                        <div class="shortcont">
                            <div class="green-confrm">
                                <i class="fa fa-check-circle checkconfrm" aria-hidden="true"></i>

                                <span class="roboto-b">&#161;Tu orden fue procesada con éxito&#33;</span><br/>
                                <span class="f-reg">
                                    Recibirás un correo electrónico con los pasos para el setup del servicio TV+ en todos tus dispositivos
                                </span>
                            </div>

                            <div class="basicrow m-top">
                                <div class="logline full"></div>
                            </div>

                            <div class="basicrow text-center m-top-i">
                                Guarda o Imprime la siguiente informaci&oacute;n como evidencia de la transacci&oacute;n:
                            </div>

                            <div class="basicrow m-bott-ii m-top" *ngIf="orderProcessed">
                                <div class="userinfo full nomtops">
                                    <div class="basicrow">

                                        <div class="basicrow text-center m-top-u-i">
                                            <span class="roboto-b">
                                                Monto
                                            </span>
                                            <br/>
                                            <span class="f-big roboto-b f-red">
                                                {{orderProcessed.cartInfo.totalPrice | currency}}
                                            </span>
                                        </div>

                                        <div class="basicrow m-top">
                                            <div class="logline full"></div>
                                        </div>

                                        <div class="basicrow m-top">
                                            <div class="roboto-b">
                                                Resumen de órden
                                            </div>
                                        </div>

                                        <div class="redstat m-top">
                                            <div class="autorow roboto-r pull-left">
                                                N&uacute;mero de órden
                                            </div>

                                            <div class="autorow roboto-b pull-right">
                                                {{orderProcessed.order}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii">
                                            <div class="autorow roboto-r pull-left">
                                                N&uacute;mero de autorización
                                            </div>

                                            <div class="autorow roboto-b pull-right">
                                                {{orderProcessed.paymentInfo?.autorization}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii">
                                            <div class="autorow roboto-r pull-left">
                                                N&uacute;mero de tarjeta
                                            </div>

                                            <div class="autorow roboto-b pull-right">
                                                {{orderProcessed.paymentInfo?.cartNum}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii">
                                            <div class="autorow roboto-r pull-left">
                                                Fecha y Hora
                                            </div>

                                            <div class="autorow roboto-b pull-right">
                                                {{orderProcessed.createdDate}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii">
                                            <div class="autorow roboto-r pull-left">
                                                Direción de envío
                                            </div>

                                            <div class="autorow roboto-b pull-right">
                                                {{orderProcessed.address}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="basicrow m-top">
                                        <div class="logline full"></div>
                                    </div>

                                    <div class="basicrow">
                                        <div class="m-top">
                                            <div class="roboto-b">
                                                Plan Mensual
                                            </div>
                                        </div>

                                        <div class="redstat m-top">
                                            <div class="roboto-r pull-left">
                                                Plan <app-claro-tv></app-claro-tv>: {{orderProcessed.cartInfo?.products[0].productName}}
                                            </div>

                                            <div class="roboto-b f-red pull-right">
                                                {{orderProcessed.cartInfo?.products[0].decTotalPerMonth | currency}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii" *ngIf="addons">
                                            <div class="roboto-r pull-left">
                                                Servicios adicionales
                                                <br>
                                                <span *ngIf="addons && addons.selected && addons.selected.length">
                                                    <b *ngFor="let sva of addons.selected; let i = index">
                                                        {{sva.planName}}
                                                        <br>
                                                    </b>
                                                </span>
                                            </div>

                                            <div class="roboto-b pull-right">
                                                {{addons.payByMonth | currency}}
                                            </div>
                                        </div>

                                        <div class="redstat m-top" *ngIf="deviceStreaming">
                                            <div class="roboto-r pull-left">
                                                Dispositivo Streaming
                                                <br>
                                                <b>{{deviceStreaming.withContract ? deviceStreaming.contractSelected.contract : 'Sin contrato'}}</b>
                                                <br>
                                                <b>Cantidad de dispositivos: {{deviceStreaming.totalDevices}}</b>
                                            </div>

                                            <div class="roboto-b pull-right">
                                                <span *ngIf="deviceStreaming.payToday > 0">
                                                    <span *ngIf="deviceStreaming.wayToPay === 1">Pago en {{deviceStreaming.deadlineSelected}} meses</span>
                                                    {{deviceStreaming.payToday | currency}}
                                                </span>
                                                <span *ngIf="deviceStreaming.payToday === 0">
                                                    Gratis
                                                </span>
                                            </div>
                                        </div>

                                        <div class="redstat m-top-ii">
                                            <div class="roboto-b pull-left">
                                                Pago Mensual
                                            </div>

                                            <div class="roboto-b pull-right f-red">
                                                {{orderProcessed.cartInfo.subTotalPerMonth | currency}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="basicrow text-center m-top-i">
                                <ion-button color="secondary" expand="full" (click)="goHomePage()">
                                    Cerrar
                                </ion-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

