<div class="allcont logsize" style="overflow-y: auto">
    <app-header-help></app-header-help>

    <app-popup-general-terms
            *ngIf='open'
            (close)="closeTerms()">
    </app-popup-general-terms>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span><img alt="" src="assets/images/help-icon.png" style="height: 50px; width: 50px; margin: 10px"></span>
                    &nbsp;Ayuda
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow f-black roboto-r f-reg m-top-i m-bott-ii">
                <div class="basicrow f-mildt roboto-m">
                    Sección de Ayuda
                </div>

                <div class="basicrow m-top" (click)="goPage('/help/faq')">
                    <div class="preg-f">
                        Preguntas Frecuentes

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow m-top" (click)="openChat()">
                    <div class="preg-f">
                        Soporte en L&iacute;nea por Chat

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow m-top" (click)="goPage('/help/contact-us')">
                    <div class="preg-f">
                        Cont&aacute;ctanos

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow m-top" (click)="goPage('/help/failure-report')">
                    <div class="preg-f">
                        Reportar Fallas<br/>
                        <span class="f-small f-gray">Informar sobre un problema.</span>

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow m-top" (click)="goPage('/help/improvement')">
                    <div class="preg-f">
                        Sugerencias<br/>
                        <span class="f-small f-gray">Tu opini&oacute;n es valiosa para nosotros.</span>

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow m-top" (click)="goPage('/help/about')">
                    <div class="preg-f">
                        Acerca de

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow m-top" (click)="goPage('/help/locations')">
                    <div class="preg-f">
                        Localidades

                        <img alt="" class="sectarrow" width="100%" src="assets/images/arrow-iii.png">
                    </div>
                </div>

                <div class="basicrow text-center" style="margin-top: 50px">
                    <a id="link-terms" class="linkdefs" (click)="openTerms()" >T&eacute;rminos y Condiciones</a><br/>
                </div>

            </div>
        </div>
    </div>
</div>


