<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top mbott">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-27"></span> Suscripci&oacute;n a Netflix
                </div>
            </div>

            <div class="basicrow mbott m-top-i">

                <div class="basicrow">

                    <div class="basicrow f-reg f-black roboto-r text-justify">
                        <span class="roboto-b">Gracias por subscribirse a Netflix, para completar su solicitud debe ingresar el código de seguridad enviado a su correo electrónico o celular</span>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow rel">
                            <input type="tel"
                                   maxlength="6"
                                   inputmode="numeric"
                                   pattern="^[0-9]*$"
                                   placeholder="Código de seguridad"
                                   class="inp-f disc"
                                   [(ngModel)]="code">
                        </div>
                    </div>

                    <div class="basicrow f-reg f-black roboto-r text-justify m-top">
                        Recuerda completar todos los pasos de suscripción a Netflix antes de salir de la página, de lo contrario la suscripción no será exitosa y no podrás disfrutar del servicio.
                        <br>
                        Serás redirigido al portal de netflix donde debes completar la suscripción de <span class="roboto-b">Servicios Netflix.</span>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow text-center m-top">
                        <input id="checkbox-terms" [(ngModel)]="accept" value="1" type="checkbox">
                        <label for="checkbox-terms"> &nbsp; Acepto los &nbsp; </label>
                        <a class="linkdefs link-terms" (click)="terms()">T&eacute;rminos y Condiciones</a>
                    </div>

                    <div class="basicrow text-center m-top">
                        <div class="btns def-i red pull-right vcenter rippleR" (click)="continue()">
                            <span class="tabcell">
                                Continuar
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




