<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                &#191;Olvidaste tu contrase&ntilde;a&#63;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
                    Escoja d&oacute;nde deseas recibir la contrase&ntilde;a temporal.
                </div>

                <div class="basicrow f-reg f-black roboto-r">
                    <div class="row">

                        <div *ngIf="!isTelephony" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div [ngClass]="{'on': bySubscriber}" class="optchoice roboto-r text-left" (click)="byEmail = false; bySubscriber = true; $event.stopPropagation()">
                                <div class="checkdef">
                                    <input type="checkbox" class="css-radio" [(ngModel)]="bySubscriber"/><label class="css-label3 radGroup1"></label>
                                </div>

                                <div class="basicrow opttext">
                                    N&uacute;mero Registrado<br/>
                                    <span class="roboto-b">{{subscriberHidden}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div [ngClass]="{'on': byEmail}" class="optchoice roboto-r text-left" (click)="byEmail = true; bySubscriber = false; $event.stopPropagation()">
                                <div class="checkdef">
                                    <input type="checkbox" class="css-radio" [(ngModel)]="byEmail"/><label class="css-label3 radGroup1"></label>
                                </div>

                                <div class="basicrow opttext">
                                    Email Registrado<br/>
                                    <span class="roboto-b">{{emailHidden}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div (click)="nextStep()" [className]="byEmail || bySubscriber ? 'btns vcenter red rippleR' : 'btns vcenter gray'">
                        <div class="tabcell">
                            Recuperar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>
            </div>
        </div>
    </div>

</div>

