<ion-content class="allcont logsize" #content>

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-18"></span> Mi Consumo
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i padding-bottom-footer">

        <div class="container">

            <div class="autowcont notopbrd">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                                <span class="roboto-l">
                                    {{typeOfTelephony(subscriber.productTypeField)}}
                                </span>
                                <span class="roboto-m">
                                    {{formatSubscriber(subscriber.subscriberNumberField)}}
                                </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">

                        <div class="basicrow tabtopb f-black roboto-r f-reg">
                            <div class="basicrow m-bott-ii">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-top-ii">
                                        <div class="boxtbl">
                                            <div class="basicrow m-sides">
                                                <div class="b-title noline">
                                                    <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                                        <div class="tabcell">
                                                            Consumo
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-tbar h-def-ii">
                                                <div class="frwds rline trds vcenter">
                                                    <div class="tabcell">
                                                        Minutos
                                                    </div>
                                                </div>

                                                <div class="frwds rline-i trds vcenter">
                                                    <div class="tabcell">
                                                        SMS / MMS
                                                    </div>
                                                </div>

                                                <div class="frwds trds hidden-xs">
                                                    <div class="autocont full vcenter">
                                                        <div class="tabcell">
                                                            Datos
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="basicrow">
                                                <div class="tab-cbar h-def-ii topgbrd">
                                                    <div class="frwds trds rline vcenter">
                                                        <div class="tabcell">
                                                            <span class="roboto-b">Minutos Usados</span><br/>
                                                            <span class="f-red f-big line-h-i roboto-b minutes">
                                                                {{getMinutes(subscriber)}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="frwds trds rline-i vcenter">
                                                        <div class="tabcell">
                                                            <span class="roboto-b">SMS / MMS Usados</span><br/>
                                                            <span class="f-red f-big line-h-i roboto-b sms">
                                                                {{getSMS(subscriber)}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="tab-tbar visible-xs">
                                                        <div class="autocont full text-center vcenter">
                                                            <div class="tabcell">
                                                                Datos
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="frwds trds fulltrd vcenter">
                                                        <div class="tabcell">
                                                            <span class="roboto-b">Consumo Total</span><br/>

                                                            <span class="basicrow m-top-ii">
                                                                <span class="barlinedef">
                                                                    <span class="compfill" [style.width]="getPercentage(subscriber) + '%'"></span>
                                                                </span>

                                                                <span class="basicrow f-mini f-black roboto-r text-right">
                                                                    {{getData(subscriber)}}
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</ion-content>

