.flash-label {
    font-weight: lighter
}

.flash-form-container-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.aux-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-boxes-container {
    display: grid;
    grid-column-gap: 1rem;
    width: auto;
    grid-template-columns: unset;
    margin-bottom: unset
}

.width-fix {
    width: 100% !important
}

.card-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid 1px #e4e4e4;
    border-radius: 30px;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 200px;
    margin-bottom: 1rem
}

.box-active {
    color: #45a7bc;
    -webkit-box-shadow: 2px 6px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 14px -7px rgba(0, 0, 0, 0.75);
}

.action-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%
}

.line-decorator {
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    margin: 1rem auto;
}

.gay-btn {
    background-color: #aeaeae;
    border: solid #aeaeae 2px;
}

.date-fix {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: unset;
}

.card-error {
    padding-top: 1rem;
    color: red;
}

.img-fix {
    height: 60px;
    padding-bottom: 0.5rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.card-img-small {
    margin-right: 1rem;
    width: 32px;
}

.card-number-with-image {
    display: flex;
    align-items: center
}

.input-image-fix {
    margin-left: -44px;
    height: 25px
}

.card-active {
    border: solid 5px #f2f2f2;
    color: #45a7bc;
    -webkit-box-shadow: 2px 6px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 14px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.desc {
    font-weight: lighter
}

.text-container {
    padding-bottom: 1rem
}

.add-text {
    padding-left: 0.5rem;
    color: #45a7bc
}

.new-container {
    border: solid 1px #d3d4d3;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-top: 2rem;
}

.adress {
    display: flex;
    justify-content: space-between
}

.check-image {
    padding-bottom: 0.3rem;
    height: 18px;
}

.form-title {
    display: flex;
    justify-content: space-between
}

.light-text {
    padding-bottom: 1rem;
    font-weight: 300
}

.big {
    font-size: 1.2rem
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center
}

.credit-card-container {
    border: solid 3px #e9e9e9;
    border-radius: 18px;
    margin-bottom: 1rem;
    padding: 2.5rem 1.5rem 2.5rem 2.5rem;
    -webkit-box-shadow: 3px 2px 24px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 24px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 24px -9px rgba(0, 0, 0, 0.75);
}
.active {
    border: solid 3px #2097ae;
    color: white;
    background: rgba(32, 150, 174, 1);
    background: -moz-linear-gradient(left, rgba(32, 150, 174, 1) 0%, rgba(168, 207, 219, 1) 56%, rgba(159, 230, 242, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(32, 150, 174, 1) 0%, rgba(168, 207, 219, 1) 56%, rgba(159, 230, 242, 1) 100%);
    background: -o-linear-gradient(left, rgba(32, 150, 174, 1) 0%, rgba(168, 207, 219, 1) 56%, rgba(159, 230, 242, 1) 100%);
    background: -ms-linear-gradient(left, rgba(32, 150, 174, 1) 0%, rgba(168, 207, 219, 1) 56%, rgba(159, 230, 242, 1) 100%);
    background: linear-gradient(to right, rgba(32, 150, 174, 1) 0%, rgba(168, 207, 219, 1) 56%, rgba(159, 230, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2096ae', endColorstr='#9fe6f2', GradientType=1);
}

.ccv-input {
    border: solid 1px gray;
    border-radius: 4px;
    padding-left: 0.5rem;
}

.credit-card-title {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
}

.litle-title {
    font-size: 1rem
}

.card-number {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.credit-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.user-card {
    width: 100px;
}
.slides_content {
    margin-bottom: 3rem;
}

.none {
    display: none
}

.mobile {
    display: block;
}

.list-toggle {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    color: #2097ae;
}

.icon-toggle-container {
    color: white;
    background: #2097ae;
    border-radius: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-card-header {
    width: 100%;
    display: grid;
    grid-template-columns: 15fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.action-btn {
    width: 100%
}

.pb1 {
    margin-bottom: 2rem
}

ion-slides {
    padding: 1rem 0 3rem;
}
