<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>


    <div class="basicrow">
        <div class="basicrow">
            <div class="container">
                <div class="fulltitle m-top-i f-btitle">
                    <span class="icon-dash-01"></span> Términos y Condiciones TV+
                </div>
            </div>
        </div>

        <div class="basicrow roboto-r f-med f-black m-top-i m-bott">
            <div class="container">

            </div>
        </div>

        <div class="basicrow roboto-r f-reg f-black m-top m-bott">
            <div class="container">
                <div class="basicrow">
                    <div data-toggle="collapse" data-target="#preg1" class="preg-f" (click)='showingMenu(0)'>
                        1. Descipción del Servicio
                        <i  aria-hidden="true" [ngClass]="contentShow[0] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg1" [ngClass]=" contentShow[0]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            1.1 <app-claro-tv></app-claro-tv> II es un servicio “Streaming” que permite al Cliente ver contenido de Televisión
                            desde distintos dispositivos dependiendo las “ofertas” o “paquetes” a los que se suscriba el
                            Cliente ofrecidos por Claro Puerto Rico en la siguiente dirección, los cuales tienen de sus
                            propios precios términos y condiciones ofertas con una duración determinada solo podrán ser
                            sustituidos por una oferta o paquete menor en el momento de la renovación en adelante
                            Términos y Condiciones de la Oferta.
                            <br><br>
                            1.2 Los Términos y Condiciones de la Oferta; la Política de Privacidad de Claro Puerto P.R.
                            incorporados por referencia a estos Términos y Condiciones <app-claro-tv></app-claro-tv> II constituyen el
                            Acuerdo entre usted (en adelante el “Cliente”) y Puerto Rico Telephone Company Inc.
                            (“Claro P.R”) para el uso y disfrute de <app-claro-tv></app-claro-tv> II, en adelante el “Servicio”. La
                            suscripción al Servicio sólo requiere de hardware, software y conectividad al Internet,
                            así como la compatibilidad y funcionamiento de los dispositivos que el Cliente utilice para
                            disfrutar del Servicio según descritos en los Términos y Condiciones de la Oferta a la que
                            se suscriba el Cliente.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg2" class="preg-f" (click)='showingMenu(1)'>
                        2. Aceptación de Términos y Condiciones

                        <i  aria-hidden="true" [ngClass]="contentShow[1] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg2" [ngClass]=" contentShow[1]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            2.1 Toda persona que interese suscribirse al Servicio afirma conocer, aceptar y acuerda
                            cumplir con los Términos y Condiciones expuestos por Claro Puerto Rico en este documento.
                            Claro Puerto Rico se reserva la facultad de modificar de tiempo en tiempo estos Términos y
                            Condiciones. El uso continuo del Servicio luego de la fecha de modificación constituirá la
                            aceptación de los Términos y Condiciones revisados.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg3" class="preg-f" (click)='showingMenu(2)'>
                        3. Requisitos para Suscripción

                        <i  aria-hidden="true" [ngClass]="contentShow[2] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg3" [ngClass]=" contentShow[2]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            3.1 Sólo podrán registrarse como Clientes del Servicio personas mayores de edad que
                            acrediten ser clientes de Claro Puerto Rico. Los menores de 21 años que no hayan sido
                            emancipados accederán a SERVICIO a través de una cuenta de Cliente creada con la
                            autorización de su padre o tutor.  Los menores de trece (13) años de edad no podrán
                            suscribirse como Clientes de este servicio.
                            <br><br>
                            3.2 Registro de Cuenta/Suscripción: El Cliente deberá registrar su nombre de usuario y
                            contraseña en la aplicación para poder crear su cuenta de Cliente, conforme se describe a
                            continuación:
                            <br>
                            a)	El Cliente ingresa su número de teléfono fijo o móvil o correo electrónico al momento de
                            completar la suscripción al Servicio, ya sea visitando una localidad de Claro, comunicándose
                            al 787 775 0000 o por medio  de la aplicación Mi Claro o Tienda en Línea.
                            <br>
                            b)	Una vez completada la suscripción, el Cliente recibirá un correo electrónico con la
                            información necesaria para descargar la aplicación y los Términos y Condiciones del Servicio.
                            <br>
                            c)	Descargada la aplicación, el Cliente ingresará su correo electrónico y creará su propia
                            contraseña de acuerdo a los requerimientos establecidos por Claro P.R.
                            <br><br>
                            3.3 Equipo: Para suscribirse al Servicio el Cliente deberá arrendar o comprar a Claro P.R.
                            el equipo de aprovisionamiento de servicio que consiste de un dispositivo marca SEI Robotics
                            modelo SEI #810CPR y un control remoto distribuido en ciertos comercios operados por
                            Claro P.R., de aquí en adelante como el “Equipo”. El Cliente acepta - comprar al menos un
                            Equipo como parte de la adquisición del Servicio. La factura de Servicio incluirá una
                            partida correspondiente a la renta del Equipo. Para operar el Equipo se requiere energía
                            eléctrica y conectividad al internet con velocidades de 5 megas o más por cada Equipo que
                            adquiera el Cliente. Las utilidades de energía eléctrica deberán ser provistas por el
                            Cliente. El servicio de conectividad al internet podrá ser adquirido con Claro P.R. o con
                            cualquiera otro proveedor de servicio de internet de banda ancha. Cada Equipo adquirido
                            en adición al equipo inicial conllevará un cargo mensual adicional y podrá recibir la
                            misma programación que el Equipo inicial.

                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg4" class="preg-f" (click)='showingMenu(3)'>
                        4. Mensualidades y Cargos

                        <i  aria-hidden="true" [ngClass]="contentShow[3] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg4" [ngClass]=" contentShow[3]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            4.1 Acuerdo de Pago: El Cliente acuerda pagar todos las mensualidades y cargos asociados al
                            uso y disfrute del Servicio incluyendo cargos recurrentes y no recurrentes, impuestos,
                            recargos y cualquier otra cantidad aplicable a los Servicio, incluyendo el costo de los
                            dispositivos asociados, su instalación, mantenimiento y cualquier otro cargo asociado al
                            uso del Servicios.
                            <br><br>
                            4.2 Recargos por pagos tardíos, cheques devueltos y otros recargos: Si Claro PR no recibe la
                            cantidad completa adeudada en la fecha de vencimiento del pago, se le podrá aplicar un cargo
                            por mora de 1.5% mensual, o aquel dispuesto por ley, el que sea mayor.  Claro PR podrá
                            enviar cualquier cantidad no pagada a una agencia de cobro para la acción de cobro
                            correspondiente de conformidad con la ley. El Cliente acuerda rembolsar a Claro PR todos sus
                            gastos, incluyendo honorarios razonables de abogados y otros gastos legales asociados, si
                            fuere necesario incoar acción legal para cobrar las cantidades adeudadas. El Cliente pagará
                            el cargo establecido por ley por cualquier cheque u otro método de pago utilizado para el
                            pago del Servicio (incluyendo cargos revertidos de tarjetas de crédito) cuyo monto no sea
                            pagado por cualquier razón por una institución financiera o entidad emisora de tarjetas de
                            crédito.
                            <br><br>
                            4.3 Cambios a Mensualidades y Cargos: Automáticamente al vencerse el término de suscripción
                            del Servicio, <app-claro-tv></app-claro-tv> comenzará a facturarle al Cliente el cargo mensual aplicable a dicho
                            Servicio.  Si el Cliente adquirió los Servicios como parte de una oferta conjunta con uno o
                            más productos y ha recibido un descuento por ello, su descuento podrá cesar y se le podrá
                            facturar el cargo mensual vigente por el Servicio si cambia o desconecta uno o más de los
                            servicios incluidos en la oferta de Servicio aceptada por el Cliente.  En cualquier momento
                            y de tiempo en tiempo, previa notificación de conformidad con lo dispuesto en este acuerdo,
                            con un mínimo de 30 días de anticipación o cualquier otra requerida por las leyes o
                            reglamentos aplicables, Claro R.R podrá cambiar sus paquetes, ofertas, cargos o mensualidades
                            o el método para determinar cualquier cargo o mensualidad o establecer nuevos cargos o
                            mensualidades. Además, el Cliente podrá pedir algunos cambios en la programación que recibe
                            para añadir o cancelar algunos canales.  Estos cambios pueden estar sujetos a ciertos cargos
                            adicionales y a otros términos o condiciones tales como un término de tiempo mínimo.
                            <br><br>
                            4.4 Impuestos:  El Cliente pagará los impuestos, cuotas o cargos aplicables al Servicio que
                            sean impuestos por cualquier entidad gubernamental con autoridad para ello.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg5" class="preg-f" (click)='showingMenu(4)'>
                        5. Facturación y Pagos

                        <i  aria-hidden="true" [ngClass]="contentShow[4] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg5" [ngClass]=" contentShow[4]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            5.1 Ciclos de Pago y Cancelación: Cuando Claro P.R. provea conexión al internet, facturará
                            el Servicio a partir de la fecha de su instalación en la localidad designada por el Cliente.
                            En aquellos casos dónde el Cliente se acoja solamente al servicio de “Streaming”, Claro P.R.
                            comenzará a facturar desde el momento en que el Cliente complete la suscripción de
                            conformidad con la sección 3.2.
                            <br><br>
                            5.2 Los cargos recurrentes se facturarán con un mes de anticipación. La facturación estará
                            basada en ciclos de 30 días.  Los cargos no recurrentes y los cargos basados en uso,
                            normalmente se facturarán en el ciclo de facturación siguiente a la fecha de la transacción.
                            La primera factura de Servicios incluirá cargos prorrateados correspondientes al primer mes
                            parcial de Servicio y el cargo regular correspondiente al siguiente mes de renta de Servicio.
                            Al terminar, o al cancelarse el Servicio, se le facturará al Cliente el número prorrateado
                            de días del último mes durante el cual el Cliente recibió los servicios y, de ser aplicable,
                            se acreditará a su cuenta cualquier balance de pagos de Servicios facturados con anticipación.
                            Cualquier cambio del Servicio suscrito por el Cliente, dentro de los 30 días siguientes de la
                            fecha de comienzo podrá conllevar cargos adicionales. El Cliente podrá cancelar el Servicio
                            siguiendo la política de cancelación vigente de Claro P.R. al momento de la cancelación y
                            previo al pago de la(s) penalidad(es) correspondiente(s), si alguna, así como la devolución
                            de los dispositivos provistos para recibir el Servicio. La entrega de dispositivos propiedad
                            de Claro P.R. deberá ser realizada en el lugar designado por Claro para ello.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg6" class="preg-f" (click)='showingMenu(5)'>
                        6. Derecho para Reclamar Cargos

                        <i  aria-hidden="true" [ngClass]="contentShow[5] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg6" [ngClass]=" contentShow[5]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            6.1 Por disposición de la Ley 213 del 12 de septiembre de 1996 y la Ley 33 del 27 de junio
                            de 1985, el Cliente tiene hasta veinte (20) días a partir del envío de la factura, para
                            pagar u objetar los cargos contenidos en la misma. Para objetar y solicitar una
                            investigación, comuníquese al (787) 775-0000 (individuos), 787-792-6262 (corporativo) o por
                            escrito al PO BOX 70367 San Juan PR 00936-8367. También puede visitar nuestra página e
                            lectrónica www.claropr.com. De no haberse efectuado el pago ni objetado dentro del plazo de
                            20 días, la compañía podrá suspender, desconectar y dar de baja el/los servicios. La
                            objeción de un cargo no releva al Cliente del pago de los cargos no objetados.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg7" class="preg-f" (click)='showingMenu(6)'>
                        7. Seguridad

                        <i  aria-hidden="true" [ngClass]="contentShow[6] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg7" [ngClass]=" contentShow[6]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            7.1 La información que el Cliente ingrese a la aplicación para acceder al Servicio, estará
                            protegida por la contraseña que establezca al momento de registrar su cuenta. La
                            confidencialidad de la contraseña de acceso a su cuenta es de entera responsabilidad del
                            Cliente, quien, deberá mantener seguro el acceso a su teléfono móvil, su computadora y/o
                            cualquier dispositivo que utilice para disfrutar del Servicio, mediante el uso de
                            herramientas disponibles, tales como antivirus, entre otras, actualizadas, con el propósito
                            de contribuir en la prevención de riesgos electrónicos del lado del Cliente, desde que estas
                            herramientas de protección no interfieran en la utilización del Servicio.
                            <br><br>
                            7.2 El Cliente asume la plena responsabilidad frente a Claro Puerto Rico por todas las
                            transacciones realizadas y que sean validadas a través de su cuenta, las cuales presuponen
                            su consentimiento y autorización, incluyendo, pero sin limitarse a transacciones realizadas
                            mediante accesos no autorizados a su cuenta.
                            <br><br>
                            7.3 El Cliente, se obliga a notificar por escrito o por el medio más expedito a Claro Puerto
                            Rico cualquiera de las siguientes situaciones: (i) Pérdida o robo de su clave o contraseña
                            (ii) Uso no autorizado de su clave o contraseña; (iii) Uso no autorizado del Servicio de
                            algún tipo de información contenida en la aplicación; (iv) Alguna falla, error o hecho
                            inusual al recibir algún mensaje relacionado con una transacción iniciada por el Cliente
                            relacionada con el Servicio  o que haya sido recibida y/o ejecutada a través del mismo.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg8" class="preg-f" (click)='showingMenu(7)'>
                        8. Uso de Información

                        <i  aria-hidden="true" [ngClass]="contentShow[7] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg8" [ngClass]=" contentShow[7]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            8.1 El Cliente acepta y reconoce que Claro Puerto Rico podrá recopilar información sobre las
                            actividades en línea del Cliente por medio de “cookies” o cualquiera otro tipo de tecnología
                            disponible para esos fines. El Cliente autoriza de manera libre, voluntaria y expresa a
                            Claro Puerto Rico el tratamiento de sus datos relacionados con su comportamiento o hábitos
                            de consumo, tales como, pero no limitado a marca y modelo de los dispositivos utilizados
                            para acceder al Servicio, su ubicación (previa autorización en la App y/o autorización en el
                            sistema operativo del terminal que utiliza para acceder a SERVICIO), tipo de conexión
                            empleada (Wi-Fi o datos móvil), aplicaciones instaladas y corriendo (previa autorización en
                            la App), datos estadísticos de uso, de forma agregada y anónima, con la finalidad de
                            enviarle publicaciones publicitarias digitales o cualquiera otro uso permitido por Ley. Por
                            consiguiente, el Cliente reconoce que la Política de Privacidad de Claro Puerto Rico se
                            incorpora por referencia a estos Términos y Condiciones, la cual podrá acceder a través de
                            la siguiente dirección.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg9" class="preg-f" (click)='showingMenu(8)'>
                        9. Incumplimiento con los Términos y Condiciones

                        <i  aria-hidden="true" [ngClass]="contentShow[8] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg9" [ngClass]=" contentShow[8]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            9.1 Claro Puerto Rico se reserva el derecho de reclamar todo remedio disponible en Ley o
                            equidad incluyendo, pero sin limitarse a, la cancelación del Servicio, en caso de que el
                            Cliente incumpla con estos Términos y Condiciones o la Ley aplicable al uso del Servicio.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg10" class="preg-f" (click)='showingMenu(9)'>
                        10. Disponibilidad y Calidad de Contenido

                        <i  aria-hidden="true" [ngClass]="contentShow[9] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg10" [ngClass]=" contentShow[9]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            10.1 La calidad de la imagen de contenido del Servicio puede variar por distintos factores
                            fuera del control de Claro P.R. como la localización del Cliente la velocidad de su conexión
                            a internet, el ancho de banda disponible en su ubicación del Cliente y las funcionalidades y
                            capacidad que puedan tener los dispositivos utilizados por el Cliente para acceder al
                            Servicio. - La velocidad mínima de conexión para la calidad del Servicio por Equipo es de
                            5.0 Mb/s.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg11" class="preg-f" (click)='showingMenu(10)'>
                        11.	Ausencia de Garantías

                        <i  aria-hidden="true" [ngClass]="contentShow[10] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg11" [ngClass]=" contentShow[10]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            11.1 La capacidad de uso, disfrute y calidad del servicio dependerá del “hardware”, “software”, la
                            conectividad del cliente al internet, el ancho de banda, su proveedor de internet, así como la
                            compatibilidad y funcionamiento de los dispositivos utilizados por el cliente para disfrutar del servicio.
                            Por lo tanto, el cliente acepta, manifiesta y reconoce que el servicio se proporciona 'as is' y 'según esté
                            disponible', sin garantía de ningún tipo, ya sea expresa o implícita, incluyendo, pero sin limitarse a falta
                            de interrupciones, errores, alteraciones o demoras al utilizar el servicio, dificultad para utilizar el
                            servicio por falta de conectividad, fallas o errores de conexión o la calidad del servicio de internet al
                            que esté suscrito el cliente, ni por errores interrupciones o fallas por el uso de los dispositivos,
                            aplicaciones, tampoco existen garantías de derechos de propiedad, no violación o garantías implícitas de
                            comerciabilidad o adecuadas para un fin específico. Ninguna recomendación ofrecida por claro puerto rico,
                            sus compañías afiliadas o sus empleados respectivamente creará ningún tipo de garantía. Ni claro puerto rico
                            ni sus compañías, afiliadas garantizan que este servicio no será interrumpido o que pueda carecer de errores,
                            ni que cualquier contenido, software u otro material al que se acceda desde este servicio no contendrá ningún
                            virus u otro elemento perjudicial. Esta exclusión de garantías constituye una parte esencial de la
                            declaración de privacidad.
                            <br><br>
                            11.2 el cliente acepta y reconoce que claro p.r no ofrece garantía alguna sobre la calidad de su experiencia
                            al momento de observar el servicio en la pantalla de cualquiera de los dispositivos que tenga disponible el
                            cliente ni el tiempo- que le tome para ver dicho contenido pues dicha experticia está condicionada por la
                            oferta que el cliente haya seleccionado, su ubicación al momento de accesar el servicio- y la disponibilidad
                            de ancho de banda y velocidad a la que tenga acceso el cliente según su ubicación.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg12" class="preg-f" (click)='showingMenu(11)'>
                        12.	Limitación de responsabilidad

                        <i  aria-hidden="true" [ngClass]="contentShow[11] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg12" [ngClass]=" contentShow[11]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            12.1 El Cliente acepta, reconoce y manifiesta ser exclusivamente responsable por el uso del
                            Servicios. Por lo cual, el Cliente declara que mantendrá indemne y libre de toda
                            responsabilidad a Claro Puerto Rico, sus contratistas, afiliadas, y cada uno de los
                            proveedores de medios, proveedores de dispositivos, socios comerciales, proveedores de
                            servicios, licenciadores, contratistas, subcontratistas, distribuidores autorizados,
                            subdistribuidores autorizados, minoristas autorizados, directores, miembros, gerentes,
                            funcionarios, agentes, empleados y otros Usuarios de todas esas empresas, en el presente y
                            en el futuro, y a cada uno de sus respectivos cesionarios, herederos, sucesores y
                            representantes legales por los daños que llegare a sufrir el hardware y el software, o
                            cualquier aparato electrónico a través del cual el Cliente acceda a Mi Claro Puerto Rico.
                            En ningún caso Claro Puerto Rico es responsable por daños ni por las pérdidas o gastos que
                            pudiesen surgir por el uso y disfrute que haga del mismo, o por la incapacidad para hacer
                            uso del mismo por parte de cualquier persona, o por cualquier falla en la ejecución, error,
                            omisión, interrupción, defecto, demora en la transmisión de la información o en la
                            información transmitida o en la conexión, o por la existencia de un virus en los
                            dispositivos utilizados para el acceso del Servicio o por fallas del mismo, o por la
                            suspensión o cancelación de la suscripción al mismo.
                            <br><br>
                            12.2 Bajo ninguna circunstancia claro puerto rio será responsable por daños y perjuicios especiales, fortuitos,
                            resultante o punitivos, incluyendo honorarios de abogados, ni por daños y perjuicios que deriven de la périda de
                            uso, datos, beneficios o ganancias, ya sean contractuales,extracontractuales, por negligencia o ganancias, ya
                            sean contractuales, extracontractuales, por negligencia de claro puerto rico o por cualquier acción torticera,
                            que surjan o que estén relacionadas con el uso y/o contenido provisto por medio del servicio.
                            <br><br>
                            12.3 Claro Puerto Rico no será responsable ante el Cliente por ninguna falla, interrupción,
                            y/o calidad en el rendimiento del Servicio por causa directa o indirectamente ocasionada por
                            Caso fortuito o Eventos de Fuerza Mayor tal como pero sin limitarte a: huelgas; paros; actos
                            terroristas; motines; actos de guerra; rebeliones; inundación; terremoto; cualquier falla o
                            interrupción del servicio eléctrico; internet u cualquier otro medio de acceso al Servicio;
                            falla de servidores; acciones; Leyes decretos; ordenes o reglamentos gubernamentales y;
                            cualquiera causa fuera del control de Claro Puerto Rico que imposibilite el
                            aprovisionamiento del Servicio.
                            <br><br>
                            12.4  El Cliente acuerda indemnizar y mantener a Claro Puerto Rico indemne por toda pérdida,
                            costo, daño, gasto y reclamos derivados de sus reclamos o reclamos de terceros por causa de:
                            (i) su incumplimiento con estos Términos y Condiciones; (ii) el uso del Servicio; (iii) la
                            instalación, mantenimiento, remoción o asistencia técnica o cualquiera otro beneficio
                            ofrecido por Claro Puerto Rico en conjunción con la suscripción al Servicio, aun cuando
                            dichos daños fueran el resultado de la negligencia o negligencia crasa de Claro Puerto Rico
                            sus empleados, socios o colaboradores; (iv) cualquier violación de la Ley aplicable o
                            derechos de terceros por parte del Cliente; (v) todo reclamo relacionado con el uso de la
                            información provista por el cliente al suscribirse al servicio (vi) el uso de la información
                            obtenida por Claro Puerto Rico o terceros al disfrutar el Servicio.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg13" class="preg-f" (click)='showingMenu(12)'>
                        13.	Ley de Derechos de Autor del Milenio Digital

                        <i  aria-hidden="true" [ngClass]="contentShow[12] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg13" [ngClass]=" contentShow[12]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            13.1 En virtud del Capítulo II de la Ley de Derechos de Autor del Milenio Digital (Digital
                            Millennium Copyright Acta o “DCMA”), todas las reclamaciones de infracción de derechos de
                            autor por material que se crea está contenido en el sistema o la red de Claro, deben
                            enviarse prontamente mediante comunicación escrita al Asesor Jurídico de Claro Puerto Rico,
                            agente designado de Claro Puerto Rico conforme la DCMA a la siguiente direcciones de correo
                            electrónico fsilva@claropr.com o a la siguiente dirección postal: P.O. Box 70367, San Juan,
                            PR 00936-8367.
                            <br><br>
                            13.2 Todas las reclamaciones deben incluir la siguiente información:
                            <br><br>
                            (a)	Una firma física o electrónica de una persona autorizada a actuar en nombre del
                            propietario de un derecho exclusivo que se alegue está siendo infringido;
                            <br>
                            (b)	Identificación del trabajo u obra protegida por derechos de autor que se reclama haber
                            sido infringido, o si múltiples trabajos protegidos por derechos de autor en un solo sitio
                            de Internet están cubiertos por una sola notificación, una lista representativa de dichos
                            trabajos en ese sitio Web;
                            <br>
                            (c)	Identificación del material que se reclama haber sido infringido o ser objeto de una
                            actividad de infracción y que debe eliminarse o cuyo acceso debe desactivarse, e información
                            razonablemente suficiente para permitir que el proveedor de servicio localice dicho material;
                            <br>
                            (d)	Información razonablemente suficiente para permitir que el proveedor de servicio se
                            ponga en contacto con la Parte Reclamante, tal como una dirección, un número de teléfono y,
                            si existe, una dirección de correo electrónico en la que se pueda contactar a la Parte
                            Reclamante;
                            <br>
                            (e)	Una declaración de que la Parte Reclamante tiene la creencia de buena fe de que el uso
                            del material en la manera denunciada no está autorizado por el propietario de los derechos
                            de autor, su agente o la ley, y
                            <br>
                            (f)	Una declaración indicando que la información de la notificación es correcta y, bajo pena
                            de perjurio que la Parte Reclamante está autorizada a actuar en nombre del propietario de un
                            derecho exclusivo que se alega está siendo infringido.
                            <br>

                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg14" class="preg-f" (click)='showingMenu(13)'>
                        14.	Manejo y Mantenimiento y Devolución del Equipo:

                        <i  aria-hidden="true" [ngClass]="contentShow[13] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg14" [ngClass]=" contentShow[13]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            14.1 Manejo del Equipo: Claro P.R. se reserva el derecho exclusivo de administrar el Equipo
                            durante el periodo de vigencia del Servicio. Claro P.R., retiene los derechos exclusivos de
                            la data generada por el Equipo.  El Cliente no hará cambios, interferirá con el equipo ni
                            bloqueará el acceso al mismo, a la data que éste genera, o su configuración ni de otra forma
                            alterará el Equipo.
                            <br><br>
                            14.2 Danos ocasionado por el Cliente: Si el Cliente daña el Equipo, intencionalmente o por
                            negligencia, según lo determine Claro P.R, a su sola discreción, el Cliente será responsable
                            de pagar su reparación o reemplazo. Cualquier interferencia con el Equipo, incluyendo, por
                            ejemplo, abrir y tratar de modificar el Equipo o intentar conectarlo con otro equipo se
                            considerará daño intencional o por razón de negligencia. El Cliente que solamente utilizará
                            el Equipo para el uso provisto.
                            <br><br>
                            14.3 Mantenimiento de Equipo: - Claro Puerto Rico no proveerá ni será responsable por el
                            mantenimiento del Equipo, incluyendo cualquier unidad promocional que <app-claro-tv></app-claro-tv> le haya
                            provisto.
                            <br><br>
                            14.4 Al terminar la prestación de los Servicios, por cualquier razón, el Cliente deberá
                            devolver en cualquiera de los Centros de Atención al Cliente designados a través de la Isla
                            o en cualquiera de los lugares que de tiempo en tiempo sean establecidos por Claro P.R para
                            tales propósitos, todo el Equipo, en buenas condiciones, dentro de un período de 21 días
                            calendarios. Si no devuelve el Equipo dentro de este período o si lo devuelve dañado, se le
                            facturará al Cliente, el valor del Equipo establecido por Claro P.R.  Claro P.R podrá
                            retener cualquier pago adelantando o depósito o porción no anteriormente devuelta si Usted
                            no devuelve el equipo en este período.  Si EL Cliente devuelve el Equipo luego del período
                            establecido, no se devolverán depósitos o adelantos no se acreditarán cargos facturados
                            por Equipo.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg15" class="preg-f" (click)='showingMenu(14)'>
                        15. Garantía General

                        <i  aria-hidden="true" [ngClass]="contentShow[14] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg15" [ngClass]=" contentShow[14]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            15.1 Puerto Rico Telephone Company, Inc. h/n/c Claro Puerto Rico ofrece una garantía
                            limitada de 12 meses  a partir de la fecha de compra de Equipo en una tienda de Claro Puerto
                            Rico o en un establecimiento autorizado por Claro Puerto Rico para la venta de equipos
                            nuevos fuera de garantía del fabricante, por fallas o defectos de funcionamiento o mecánicos,
                            o de mano de obra.  Esta garantía excluye daños o defectos provocados por el titular del
                            equipo o un tercero no autorizado por Claro Puerto Rico que sean producto de abuso,
                            software instalados por el Cliente, desastres naturales, negligencia o uso no adecuado del
                            equipo. Los equipos vendidos por Claro Puerto Rico están garantizados contra defectos tanto
                            en material como en mano de obra durante el periodo limitado de garantía especificado, según
                            cada equipo.
                            <br><br>
                            15.2 Condiciones de Garantía
                            <br><br>
                            15.2.1 El Cliente, cuyo nombre aparece en la factura debe presentar prueba de la compra.
                            <br>
                            15.2.2 La garantía debe ser reclamada dentro de su periodo de vigencia en un establecimiento
                            de Claro Puerto Rico.
                            <br>
                            15.3.3 Claro Puerto Rico acepta reparar durante el periodo de garantía aquellos equipos que
                            representen daños durante su uso normal, de acuerdo con el propósito para el cual el equipo
                            fue diseñado.
                            <br>
                            15.2.4 La garantía no es transferible, sólo será honrada al comprador original.
                            <br>
                            15.2.5 Los gastos de instalación, mantenimiento y explicación de operación no están
                            cubiertos por ninguna garantía, por lo tanto, son entera responsabilidad del comprador.
                            <br>
                            15.2.6 La reparación o el reemplazo del producto, podrá efectuarse en piezas de repuesto
                            reacondicionadas cuyo funcionamiento es equivalente a piezas originales, garantizando un
                            producto que reúna en cualquier caso las condiciones óptimas necesarias para su uso y
                            funcionamiento correcto.
                            <br>
                            15.2.7 La reparación no extiende el período de garantía.
                            <br>
                            15.2.8 La garantía no aplica a cargadores ni accesorios entregados con el equipo al momento
                            de la venta.
                            <br><br>

                            15.3 Situaciones que anulan la garantía limitada ofrecida por Claro Puerto Rico
                            <br><br>
                            15.3.1	El Cliente no presenta original o copia legible de la factura.
                            <br>
                            15.3.2	El período de garantía ha expirado.
                            <br>
                            15.3.3	Equipos que presenten el número de serie alterado o removido.
                            <br>
                            15.3.4	Equipos que presenten modificaciones no autorizadas en las especificaciones.
                            <br>
                            15.3.5	Equipos que presenten daños causados por operaciones o usos inadecuados, incorrectos
                            y/o diferentes a los especificados en el manual del usuario o causados por fuentes externas,
                            golpes, pintura, daños cosméticos en general, rayado, fisura, evidencias de residuos de
                            humedad, sudor o comida dentro de la unidad.
                            <br>
                            15.3.6	Equipos que presenten daños causados por reparación efectuada por centros de
                            servicio o personal no autorizado por el manufacturero o por Claro Puerto Rico.
                            <br>
                            15.3.7	Equipos que presentan daños causados por embarques o transporte.
                            <br>
                            15.3.8	Equipos que presentan daños causados por pérdida o accidente tales como fuego,
                            fluctuaciones de voltaje, frecuencias, vandalismo, agua, arena, insectos o similares.
                            <br>
                            15.3.9	Equipos que presentan daños causados por condiciones de la naturaleza tales como
                            terremotos, inundaciones, tormentas eléctricas, etc.
                            <br>
                            15.3.10	Equipos alterados o modificados tanto en “hardware” como en “software”.
                            <br>
                            15.3.11 Equipos que presentan daños por maltrato, accidente, uso distinto al indicado o uso
                            en condiciones ambientales deficientes.
                            <br>
                            15.3.11Daños causados por la utilización de baterías, cargadores o accesorios genéricos no
                            reconocidas por la Marca del Producto o por Claro Puerto Rico.
                            <br><br>
                            <b>
                                Para información actualizada de la red de servicios, por favor diríjase a
                                <a href="www.claropr.com">www.claropr.com </a>o llame a nuestro Departamento de Servicio
                                al Cliente.
                            </b>
                            <br><br>
                            15.4 Control Remoto
                            <br>
                            Se ha abusado de un control remoto cada vez que el control remoto exhibe cualquiera de las
                            siguientes propiedades:
                            <br><br>
                            15.4.1	Hendeduras, abolladuras o grietas en cualquier lugar de las carcasas delanteras o
                            traseras.
                            <br>
                            15.4.2	Falta o parcialmente falta clave o llaves.
                            <br>
                            15.4.3	Falta la cubierta de la lente IR.
                            <br>
                            15.4.4	Faltan uno o más tornillos de carcasa.
                            <br>
                            15.4.5	Uno o más tornillos de carcasa que han sido manipulados.
                            <br>
                            15.4.6	Marcas de dientes humanos o de perros, en cualquier lugar del plástico, llaves de
                            goma, cubierta de lente IR o puerta de cubierta de batería.
                            <br>
                            15.4.7	Sustancia pegajosa extraña, en cualquier lugar de la unidad de control remoto
                            (excepto para la sustancia adhesiva restante en el plástico de la "exfoliación" de una
                            etiqueta o calcomanía).
                            <br>
                            15.4.8	Cualquier sustancia extraña en la unidad de control remoto (es decir, cabello
                            humano o candado, partículas de alimentos, derrames de refrescos, etc.)
                            <br>
                            15.4.9	Corrosión presente dentro del compartimiento de la batería.
                            <br><br>
                            15.5 Las siguientes se consideran propiedades no abusivas:
                            <br><br>
                            15.5.1 Desgaste normal de la unidad de control remoto (arañazos menores o marcas en
                            cualquier lugar de la cubierta de la lente de plástico o IR).
                            <br>
                            15.5.2	Etiquetas de referencia o calcomanías colocadas en cualquier lugar de la unidad de
                            control remoto por el Cliente de Cable o el usuario final.
                            <br>
                            15.5.3	Adhesivo (sustancia pegajosa) en cualquier lugar del plástico, resultante de "pelar"
                            una etiqueta o calcomanía por el cliente del cable o el usuario final. El área de adhesivo
                            en el plástico generalmente poseerá un borde bien definido, con posiblemente parte de la
                            etiqueta todavía existente en el área adhesiva.  Desvanecimiento del texto con grabado de
                            seda en el teclado, carcasa frontal con posiblemente parte de la etiqueta todavía existente
                            en el área adhesiva.
                            <br>
                            15.5.4	Desvanecimiento del texto con seda en el teclado, carcasa frontal.
                            <br>
                            15.5.5	El Cliente podrá cambiar el control remoto sin costo hasta máximo de dos ocasiones.
                            De la tercera en adelante tendrá un costo de $6.00 por unidad.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg16" class="preg-f" (click)='showingMenu(15)'>
                        16. Modificaciones

                        <i  aria-hidden="true" [ngClass]="contentShow[15] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg16" [ngClass]=" contentShow[15]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            16.1 Términos y Condiciones:  Estos Términos y Condiciones podrán ser enmendados por Claro
                            P.R, a su sola discreción, de tiempo en tiempo.  El Cliente puede revisar la versión más
                            reciente de estos Términos y Condiciones al visitar a la siguiente dirección:
                            <a href="www.claropr.com">www.claropr.com</a>. Si Claro Puerto Rico enmendara o realizará
                            algún cambio a estos Términos y Condiciones y tal enmienda tuviera un impacto material en
                            los Servicios, el Cliente será notificado por escrito de tal cambio. Esta notificación podrá
                            hacerse mediante correo regular, correo electrónico a la dirección provista por el Cliente,
                            por mensaje en la factura o mediante “bill insert”. Su uso continuado de los Servicios,
                            posterior a dicha notificación constituirá su aceptación de tales enmiendas o cambios.
                            <br><br>
                            16.2 Ofertas y Paquetes de Servicio: Claro P.R. se reserva el derecho, sin limitación, de
                            efectuar, en cualquier momento, cambios, reorganizaciones o cancelaciones de las ofertas o
                            “paquetes”, incluyendo cambios en precios y en el contenido de la programación. Claro P.R.
                            notificará, estos cambios con antelación por medio de avisos incluidos en su factura, por
                            Internet u otras formas disponibles, según sea requerido por ley o reglamentación. El Cliente
                            acepta, reconoce y manifiesta que Claro P.R., no tiene la obligación de remplazar o
                            sustituir la programación, servicios y/o funcionalidades, que hayan sido cambiados o
                            eliminados. Del mismo, el Cliente acepta, reconoce y manifiesta que Claro P.R., no está
                            obligada a darle un rembolso o créditos por cambios en contenido de programación, ofertas o
                            paquetes aun cuando el Cliente haya comprado o rentado algún dispositivo para recibir el
                            Servicio.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg17" class="preg-f" (click)='showingMenu(16)'>
                        17. Suspensión, Cancelación o Terminación del Servicio

                        <i  aria-hidden="true" [ngClass]="contentShow[16] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg17" [ngClass]=" contentShow[16]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            17.1 Claro P.R. podrá suspender o cancelar el Servicio, conforme a la ley y la reglamentación
                            vigente, si el pago correspondiente venciera sin ser satisfecho por el  Cliente o por el uso
                            no permitido del Servicio por parte del Cliente.
                            <br><br>
                            17.2 Durante el periodo de tiempo en que sus Servicios estén suspendidos el Cliente no
                            recibirá balances automáticos de crédito (si alguno procede) y se le continuarán facturando
                            sus servicios mensuales.  Además, cualquier oferta promocional podrá ser descontinuada y
                            revocada a discreción de Claro P.R.  Aplicará el cargo de reactivación que esté vigente a
                            la fecha de transacción.
                            <br><br>
                            17.3 Claro P.R. podrá suspender o cancelar inmediatamente todos o una parte de sus Servicios,
                            sin notificación previa, por conducta que:
                            <br><br>
                            (a)  Estime es ilegal, fraudulenta, hostigadora, abusiva, intimidante o con la intención de
                            intimidar,
                            <br>
                            (b) constituya una violación de ley, reglamentación o tarifa (incluyendo, sin limitarse a,
                            derechos de autor o leyes de propiedad intelectual); o
                            <br>
                            (c) constituya una violación de estos Términos y Condiciones o cualesquiera prácticas o
                            políticas aplicables (incluyendo la Política de Uso Aceptable); disponiéndose, además, que
                            Claro P.R podrá referir tales casos a las autoridades sin notificarle al Cliente. La
                            suspensión o cancelación de los Servicios también constituye una cancelación o suspensión
                            (según aplique) de las licencias de uso de los correspondientes programas (“software”).
                            <br><br>
                            17.4 En caso de que el Cliente, no esté de acuerdo con los cambios notificados por Claro P.R
                            según descritos en la sección 13 de este documento, el Cliente podrá cancelar el Servicio,
                            dentro de 30 días de la fecha de efectividad de la modificación, enmienda o cambio
                            implementado por Claro P.R. Se interpretará que LOS cambios, modificaciones o enmiendas a
                            los Términos y Condiciones de la Oferta y/o Servicio fueron aceptados el Cliente si éste
                            continúa recibiendo los Servicios sin haberlos cancelado dentro del plazo de 30 días de la
                            fecha de la fecha de efectividad de los cambios. Luego de culminado el término de 30 días
                            para ejercer la terminación temprana del Servicio, el Cliente no podrá cancelar el Servicio
                            hasta la fecha de terminación aceptada por el Cliente al momento de suscribir el Servicio.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg18" class="preg-f" (click)='showingMenu(17)'>
                        18.	Marcas, Derechos de Autor y Propiedad Intelectual

                        <i  aria-hidden="true" [ngClass]="contentShow[17] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg18" [ngClass]=" contentShow[17]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            18.1 Claro Puerto Rico es una marca de América Móvil y las demás marcas de fábrica,
                            logotipos y marcas de servicio (denominadas colectivamente "Marcas ") utilizados al proveer
                            este Servicio por Claro Puerto Rico o a sus respectivos propietarios. Nada de lo contenido
                            en este Servicio podrá interpretarse como una concesión, ya sea por implicación, exclusión
                            o de otro modo, de una licencia o derecho de utilizar la marca Claro Puerto Rico o cualquier
                            otra Marca mostrada como parte del Servicio el permiso de uso provisto por escrito de Claro
                            Puerto Rico o de los respectivos propietarios de la programación/contenido y los
                            dispositivos provistos como parte del Servicio.
                            <br><br>
                            18.2 Excepto según se dispone en estos Términos y Condiciones, Claro Puerto Rico ni concede
                            ni otorga derecho, título, interés o licencia sobre derecho de autor, marcas, patente o
                            cualquier propiedad intelectual sobre el provisto por medio del Servicio y/o el mismo
                            Servicio a los Clientes de SERVICIO. Todos los derechos de autor, derechos sobre marcas,
                            patentes, o cualquier otro derecho de propiedad intelectual conocidos en la actualidad o
                            reconocidos posteriormente relacionado a este Servicio le pertenecen a Claro Puerto Rico.
                            <br><br>
                            18.3 Todo cliente releva de responsabilidad y se compromete a indemnizar a claro puerto rico, sus afiliadas,
                            directores, oficiales, empleados agentes o representantes por y contra todo daño, pérdida, multa o penalidad,
                            incluyendo honorarios de abogado que surjan o estén relacionados con el contenido del material que el cliente
                            someta, envíe o transmita a través de este sitio o su acceso al sitio , la violación de estos términos y
                            condiciones o la violación de los derechos de tercero, incluyendo, pero sin limitarse a cualquier violación de
                            derechos de autor, derechos sobre marcas o de cualquier otro derecho de propiedad intelectual cometida por el
                            cliente. Claro puerto rico se reserva el derecho de asumir el control de cualquier asunto por el cual usted le
                            deba indemnizar, en cuyo caso usted se compromete a cooperar con claro puerto rico según se le requiera.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg19" class="preg-f" (click)='showingMenu(18)'>
                        19.	Ley Aplicable

                        <i  aria-hidden="true" [ngClass]="contentShow[18] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg19" [ngClass]=" contentShow[18]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            19.1 Exceptuando las leyes aplicables del Gobierno Federal de los Estados Unidos, las
                            disposiciones anteriores se regirán por y se interpretarán de acuerdo con las leyes
                            primarias de Puerto Rico, sin tener en cuenta los principios de conflicto de derecho de
                            este.
                            <br><br>
                            19.2 El Cliente se somete voluntariamente a la jurisdicción y competencia de los tribunales
                            federales y estatales del Estado Libre Asociado de Puerto Rico y renuncia a cualquier
                            defensa de falta de jurisdicción o competencia. El Cliente se compromete a que, de tener
                            alguna reclamación en contra de Claro que surja por el uso de este sitio o a base de estos
                            Términos y Condiciones, la misma deberá ser presentada en los tribunales estatales o
                            federales de Puerto Rico.
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg19" class="preg-f" (click)='showingMenu(19)'>
                        20.	Títulos

                        <i  aria-hidden="true" [ngClass]="contentShow[19] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg20" [ngClass]=" contentShow[19]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            20.1 Los títulos utilizados en las secciones de estos Términos y Condiciones tienen el único
                            propósito de facilitar su uso al hacer referencia a ellos y no forman parte del contrato ni
                            afectarán en modo alguna la interpretación de estos.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg19" class="preg-f" (click)='showingMenu(20)'>
                        21.	Separabilidad.

                        <i  aria-hidden="true" [ngClass]="contentShow[20] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg21" [ngClass]=" contentShow[20]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            21.1 Si alguno de estos Términos y Condiciones fuera declarado nulo o invalido por un
                            tribunal o agencia administrativa con jurisdicción y competencia para ello, tal declaración
                            no afectará el resto de los Términos y Condiciones, los cuales se mantendrán firmes y
                            obligatorias tanto para Claro Puerto Rico como para el cliente suscrito al Servicio.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg19" class="preg-f" (click)='showingMenu(21)'>
                        22.	Acuerdo total.

                        <i  aria-hidden="true" [ngClass]="contentShow[21] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg22" [ngClass]=" contentShow[21]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            22.1 Estos Términos y Condiciones y los que se incorporen por referencia a los mismos,
                            constituyen el acuerdo total y completo entre Claro Puerto Rico y el Cliente por el uso del
                            Servicio. Estos Términos y Condiciones reemplazan y/o revocan cualquier Términos y
                            Condiciones con fecha precedente y cualquier otro acuerdo de Servicio de Programación de
                            Televisión otorgado por el Cliente con anterioridad a la suscripción de este Servicio.
                        </div>
                    </div>
                </div>
                <div class="basicrow m-top">
                    <div data-toggle="collapse" data-target="#preg19" class="preg-f" (click)='showingMenu(22)'>
                        23.	Legal y Regulatorio

                        <i  aria-hidden="true" [ngClass]="contentShow[22] ? 'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg23" [ngClass]=" contentShow[22]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify text-terms">
                            23.1 Para cualquier consulta referente a conceptos Legales y Regulatorios ingrese a
                            <a href="https://www.Claropr.com/personas/legal-regulatorio/">
                                https://www.Claropr.com/personas/legal-regulatorio/
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="basicrow roboto-r f-med f-black m-top-i bg-gray">
            <div class="container m-top-i m-bott">
                <div class="row m-top-i m-bott">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                        <img width="100%" class="n-supp-icon" src="assets/images/netflixicon4.png" alt="">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
                        <div class="basicrow">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="basicrow f-big roboto-l">
                                        Cont&aacute;ctanos
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                    <div class="basicrow f-bmed roboto-b">
                                        Horario de Servicio al Cliente
                                    </div>

                                    <div class="basicrow f-med line-def-i m-top-ii">
                                        Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
                                        S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
                                        D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                    <div class="basicrow h-mtop f-bmed roboto-b">
                                        Tel&eacute;fonos de Contacto
                                    </div>

                                    <div class="basicrow f-med line-def-i m-top-ii">
                                        Servicio al Cliente: <a href="tel:7877750000">787-775-0000</a><br/>
                                        &oacute; Marcando <a href="tel:*611">&#42;611</a> desde tu tel&eacute;fono celular.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



