<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-29"></span> Transacciones
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">

            <div class="autowcont notopbrd list-subscriber">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                                <span class="roboto-l">
                                    {{typeOfTelephony(subscriber.productTypeField)}}
                                </span>
                                <span class="roboto-m">
                                    {{formatSubscriber(subscriber.subscriberNumberField)}}
                                </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">
                        <div class="basicrow tabtopb f-black roboto-r f-reg">
                            <div class="basicr-line f-big">
                                Hist&oacute;rico de Transacciones
                            </div>

                            <div class="basicrow m-top-i text-center">
                                <div class="shortcont">
                                    <div class="basicrow">
                                        <div class="basicrow f-bmed roboto-b">
                                            Seleccione el Per&iacute;odo:
                                        </div>

                                        <div class="basicrow">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                                    <div class="basicrow f-med roboto-b m-bott-ii">
                                                        Mes
                                                    </div>

                                                    <select class="sel-f" [(ngModel)]="selectedMonth">
                                                        <option [value]="month" *ngFor="let month of months">{{month}} </option>
                                                    </select>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                                    <div class="basicrow f-med roboto-b m-bott-ii">
                                                        A&ntilde;o
                                                    </div>

                                                    <select class="sel-f" [(ngModel)]="selectedYear">
                                                        <option [value]="year" *ngFor="let year of years">{{year}} </option>
                                                    </select>
                                                </div>

                                                <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">-->
                                                    <!--<ion-list>-->
                                                        <!--<ion-item style="border: 1px solid #cccccc; background-color: #FFFFFF;">-->
                                                            <!--<ion-label>Mes</ion-label>-->
                                                                <!--<ion-select okText="Ok" cancelText="Dismiss" interface="popover" [(ngModel)]="selectedMonth">-->
                                                                <!--<ion-select-option [value]="month" *ngFor="let month of months">{{month}}</ion-select-option>-->
                                                            <!--</ion-select>-->
                                                        <!--</ion-item>-->
                                                    <!--</ion-list>-->
                                                <!--</div>-->

                                                <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">-->
                                                    <!--<ion-list>-->
                                                        <!--<ion-item style="border: 1px solid #cccccc; background-color: #FFFFFF;">-->
                                                            <!--<ion-label>Año</ion-label>-->
                                                            <!--<ion-select okText="Ok" cancelText="Dismiss" interface="popover" [(ngModel)]="selectedYear">-->
                                                                <!--<ion-select-option [value]="year" *ngFor="let year of years">{{year}}</ion-select-option>-->
                                                            <!--</ion-select>-->
                                                        <!--</ion-item>-->
                                                    <!--</ion-list>-->
                                                <!--</div>-->
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                                    <select class="sel-f" [(ngModel)]="selectedType">
                                                        <option [value]="type" *ngFor="let type of types">{{type}} </option>
                                                    </select>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                                    <select class="sel-f" [(ngModel)]="selectedStatus">
                                                        <option [value]="state" *ngFor="let state of status">{{state}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="basicrow m-top-i">
                                            <ion-button (click)="search()"
                                                        color="primary"
                                                        expand="full">
                                                Continuar
                                            </ion-button>

                                            <ion-button class="m-top-u-ii" color="gray" expand="full" (click)="goHomePage()">
                                                Cancelar
                                            </ion-button>
                                        </div>
                                    </div>

                                    <div *ngIf="transactions.length > 0 || errorMessage.length > 0">
                                        <div class="basicrow m-top-i">
                                            <div class="logline full"></div>
                                        </div>

                                        <div class="basicrow m-top-i">

                                            <div class="basicrow f-bmed roboto-b">
                                                Transacciones Recientes
                                            </div>

                                            <div class="basicrow f-bigmed m-top-i text-danger" *ngIf="errorMessage.length > 0">
                                                {{errorMessage}}
                                            </div>

                                            <div class="basicrow m-top" *ngFor="let transaction of transactions">
                                                <div class="userinfo full nomtops">
                                                    <div class="basicrow f-black roboto-b f-bmed">
                                                        Transacci&oacute;n: {{transaction.transactionId}}
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            {{transaction.nameProductType}}
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            {{transaction.nameProduct}}
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Estatus
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            {{transaction.status}}
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Fecha
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            {{formatDate(transaction.date)}}
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Monto
                                                        </div>

                                                        <div class="autorow roboto-b f-red pull-right">
                                                            &#36;{{formatAmount(transaction.amount)}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div #scrollableItem>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

