.mySideNav {
    height: auto; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 10000; /* Stay on top */
    top: 84px;
    right: 100%;
    overflow-x: auto; /* Disable horizontal scroll */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    overflow-y: hidden;
    border-bottom: 1px solid #dddddd;
}

.mySideNav {
    margin-top: -1px;
}

.mySideNav {
    top: 50px;
}

@media only screen and (orientation : landscape){
    .mySideNav {
        top: 49px;
        /* fixed header for ios version */
    }
}

/* iphone X and iphone Xs*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .mySideNav {
        top: 84px;
    }
}

/* iphone Xr TEST*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .mySideNav {
        top: 84px;
    }
}

/* iphone Xr */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .mySideNav {
        top: 84px;
    }
}

/* iphone Xs Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .mySideNav {
        top: 84px;
    }
}

.and{
    margin-top: -35px !important;
}

.theRed{
    color: #ef3829 !important;
}
.theWhite{
    color: hsl(0, 50%, 98%) !important;
}

.menuIsOpen{
    right: 0;
}
.menuIsClosed{
    right: 100%;
}
.m-menuin,
.m-menubar {
    height: 50px;
    width: 100%;
    border-top: 1px solid #ffffff;
    float: left;
    position: relative;
    font-size: 19.2px;
    color: #ffffff;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: #ef3829;
}

.m-menuin {
    color: #222222;
    background-color: #ffffff;
    font-size: 14px;
    border-top: 1px solid #ffffff;
    border-bottom: 2px solid #dddddd;
}

.m-menuin.lastlink {
    border: 0;
}

a.m-menuin {
    color: #222222;
    text-decoration: none;
}

a.m-menubar {
    color: #ffffff;
    text-decoration: none;
}

.m-menuin,
.m-menubar {
    padding-right: 40px;
}

.m-menubar i {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    bottom: 0;
    right: 7px;
    color: #ffffff;
    margin: auto;
}

.m-menuin i {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0;
    bottom: 0;
    right: 7px;
    color: #222222;
    margin: auto;
}

.m-menubar i.fa-minus,
.m-menubar i.fa-plus {
    right: 14px;
}

.m-menuin i.fa-times-circle {
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    height: 18px;
    width: 18px;
    right: 11px;
    color: #b7202e;
}

.m-menubar.open-ins i.fa-plus,
.m-menubar i.minus {
    display: none;
}

.m-menubar.open-ins i.fa-minus {
    display: inline;
}

.m-menubar i.fa-times-circle {
    right: 13px;
}

.m-menubar.important {
    background-color: #b7202e;
}

.mclosex {
    font-size: 22px;
    line-height: 22px;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7px;
    margin: auto;
    color: #abaead;
    cursor: pointer;
}

.mc-logo.mcenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 123px;
}

.hidden {
    display: none !important;
}
