<div class="allcont logsize" style="overflow-y: auto; overflow-x: hidden">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-bott">
        <div class="basicrow">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="basicrow">
                            <div class="fulltitle m-top-i f-btitle">
                                <span class="icon-dash-21"></span> Redimir
                            </div>
                        </div>

                        <div class="basicrow f-black roboto-m f-mildt m-top">
                            Bienvenido/a,
                            <span id="accountName" class="f-red">
                   					{{accountName}}
                  				</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="basicrow rel bg-gray-iii no-ptop m-top-i">
                            <img width="100%" class="redeemcard" src="assets/images/clarocardmock.png">

                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 h-mtop-i">
                                    <div class="basicrow f-black roboto-b text-center respdef-f">
												<span class="f-reg">
													Amigos Referidos
												</span>
                                        <br/>
                                        <span id="totalReferer" class="f-lsemi f-red">
													{{totalReferer}}
												</span>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 h-mtop-i">
                                    <div class="basicrow f-black roboto-b text-center respdef-f">
												<span class="f-reg">
													Amigos Redimidos
												</span>
                                        <br/>
                                        <span id="totalRedeem" class="f-lsemi f-red">
													{{totalRedeem}}
												</span>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 h-mtop-i">
                                    <div class="basicrow f-black roboto-b text-center respdef-f">
												<span class="f-reg">
													Amigos por Redimir
												</span>
                                        <br/>
                                        <span id="totalPending" class="f-lsemi f-red">
													{{totalPending}}
												</span>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 h-mtop-i">
                                    <div class="basicrow f-black roboto-b text-center respdef-f">
												<span id="title-available" class="f-reg">
													Cr&eacute;ditos Disponibles
												</span>
                                        <br/>
                                        <span id="sumAvialable" class="f-lsemi f-blue">
													{{sumAvialable}}
												</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="basicrow">
                            <div class="row m-top-i">
                                <div class="col-xs-6">
                                    <div class="basicrow f-black roboto-b text-center respdef-f">
												<span class="basicrow f-black roboto-m f-mildt m-top">Cuenta
													<span class="f-gray ng-binding">
                            							{{account}}
                          							</span>
												</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="basicrow f-black roboto-b text-center respdef-f">
												<span class="basicrow f-black roboto-m f-mildt m-top">Suscriptor
													<span class="f-gray ng-binding">
                           					 			{{subscriber}}
                          							</span>
												</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow m-bott-i">
            <div class="container">
                <div class="basicrow m-top-i">
                    <div class="onew-title vcenter">
                        <div class="tabcell">
                            Hist&oacute;rico de beneficios obtenidos
                        </div>
                    </div>

                    <div
                        id="redeemCreditsList"
                        class="onew-table"
                        [ngClass]="redeemControl? '': 'off'"
                        *ngFor="let item of items">
                        <div class="onew-cont redeemd">
                            <div class="onew-spc-i roboto-b vcenter">
                                <div class="tabcell">
                                    <i class="fa fa-ticket"
                                       aria-hidden="true"></i> {{getDiscount(item.discountType, item.discountMember)}}
                                </div>
                            </div>

                            <div class="onew-spc-ii roboto-b vcenter">
                                <div class="tabcell">
                                    {{item.ReferAccountName}}
                                </div>
                            </div>

                            <div class="onew-spc-iii text-center vcenter">
                                <div class="tabcell">
                                    Vigente desde el {{item.validFromDate}} al {{item.validUntilDate}}
                                </div>
                            </div>

                            <div class="onew-spc-iii roboto-b text-center vcenter">
                                <div class="tabcell">
                                    Estatus: {{item.cuponStatus}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="redeemNone" class="basicrow tabtopb f-black roboto-r f-reg"
                         [ngClass]="redeemControl? 'off': ''" style="border: 1px solid #cccccc;">
                        <div class="basicrow f-mildt f-black roboto-m">
                            Actualmente no has recibido benefecios.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top text-center">
                    <div class="basicrow f-mildt f-black roboto-m">
                        Seleccione la siguiente opción para aplicar el descuento en su factura.
                    </div>

                    <div class="basicrow m-top-i">
                        <a id="pay-invoice" class="redeembox" (click)="payInvoice()">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Pagar Factura
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow margin-footer"></div>

</div>
