<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-13"></span> Reportar Falla
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-ii">
        <div class="container">
            <div class="autowcont allpads">

                <div class="row allpads f-reg roboto-r f-black">
                    <div class="basicrow text-center m-top-u">
                        Por favor, elige la categor&iacute;a mas adecuada.
                    </div>

                    <div class="basicrow text-center m-top">
                        <div class="basicrow">
                            <div class="text-left roboto-b">
                                <div *ngFor="let category of failureCategory">
                                    <div class="basicrow m-top" style="display: flex">
                                        <input type="radio"
                                               name="failure_category"
                                               (change)="radioChangeHandler($event)"
                                               value="{{category}}">
                                        <label for="radio-choice-v-2a" class="roboto-b" style="margin-left: 5px; margin-top: 3px; text-align: left" >
                                            {{category}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i text-left">
                        <div class="basicrow f-bmed roboto-b">
                            Detalla tu Comentario
                        </div>

                        <!--   <% if (!isLogged) { %> -->

                        <div class="basicrow">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                    <input id="email"
                                           name="email"
                                           type="email"
                                           [(ngModel)]="email"
                                           placeholder="Correo Electrónico"
                                           class="inp-f">
                                </div>
                            </div>
                        </div>

                        <!--  <% } %> -->

                        <div class="basicrow m-top-i">
                            <textarea
                                id="failure-comment"
                                name="failure_comment"
                                [(ngModel)]="failureComment"
                                class="t-areadef"
                                placeholder="Ingrese aqu&iacute; una breve explicaci&oacute;n de lo que desea reportar"
                                maxlength="500"></textarea>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <button class="basicrow m-top">
                        <div
                            class="btns def-i red pull-right vcenter rippleR"
                            id="send-failure"
                            (click)='send()'
                            [ngClass]="enabled ? 'btns def-i red pull-right vcenter rippleR' : 'btns def-i red pull-right vcenter rippleR ui-disabled'"
                        >
                            <span class="tabcell">
                                Enviar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
