

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

        <app-header></app-header>
  
        <app-menu></app-menu>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span><img src="assets/images/icon_claro_club_3.png" style="height: 42px; width: auto; margin: 10px"></span>
							&nbsp;Preguntas Frecuentes Claro Club
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top m-bott">
					<div class="container">
						<div class="basicrow roboto-l f-big">
							Preguntas Frecuentes sobre Facturaci&oacute;n
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f" (click)='showingMenu(0)'>
								¿Cómo funciona Claro Club?

								<i  aria-hidden="true" [ngClass]="contentShow[0] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg1" [ngClass]=" contentShow[0]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									<ul>
										<li>Para pertenecer al <b>Claro Club</b> tienes que ser cliente activo de cualquier servicio de Claro.</li>
										<li>Descargar el app de <b>BUREA</b> en tu tienda de aplicaciones Android o Apple.</li>
										<li>Los comercios que participen del programa te brindarán recompensas y ofertas a modo de dinero devuelto o CASHBACK que podrás transferir a tu cuenta de banco, cooperativa o PayPal.</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg1-2" class="preg-f" (click)='showingMenu(1)'>
								¿Cómo te beneficias de las ofertas del Claro Club?

								<i  aria-hidden="true" [ngClass]="contentShow[1] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg1-2" [ngClass]="contentShow[1]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									Sigue los siguientes pasos para que puedas disfrutar del programa y sus beneficios exclusivos:
									<ul>
										<li>Descarga el app de <b>BUREA</b> en tu iPhone o Android.</li>
										<li>Regístrate con tu información.</li>
										<li>Busca las ofertas exclusivas del <b>Claro Club</b> en el app.  Las ofertas estarán identificadas con ícono que dice “Claro Club”.</li>
										<li>Una vez visites los comercios y compres los productos en oferta, sube una foto de tu recibo de compra.</li>
										<li>En menos de 72 horas. estaremos validando tu recibo y te acreditaremos el <b>CASHBACK</b> establecido en la oferta directito a tu cuenta de BUREA.</li>
										<li>Una vez acumules $20 o más, puedes transferir el CASHBACK acumulado a una cuenta de banco, cooperativa.</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f" (click)='showingMenu(2)'>
								¿Eres de otra compañía de telefonía móvil y quieres cambiarte a Claro?

								<i  aria-hidden="true" [ngClass]="contentShow[2] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg2" [ngClass]="contentShow[2]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									Sabemos que no quieres perderte todos los beneficios del <b>Claro Club</b>… pero lo bueno es que cambiarte a Claro es ¡súper fácil! Lo único que tienes que hacer es comunicarte al
									<a href="tel:787-775-000">787-775-000</a> o escribir a
									<a href="mailto:claroqueteayudo@claropr.com">claroqueteayudo@claropr.com</a> para conocer de sus ofertas para nuevos clientes.
									<br>
									<br>
									Cuando seas cliente activo de Claro, entra a <b>BUREA</b>, valida tu número de teléfono y estarás listo para disfrutar de las ofertas exclusivas que llenarán tu bolsillo de mucho CASHBACK.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f" (click)='showingMenu(3)'>
								¿Tienes un negocio y quieres ser parte del Claro Club?

								<i  aria-hidden="true" [ngClass]="contentShow[3] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg3" [ngClass]="contentShow[3]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									<ol>
										<li type="circle">
											Únete al <b>Claro Club</b> y aprovecha las grandes ventajas de ser un comercio aliado tales como:
											<br>
											<ul>
												<li type="disc">Acceso exclusivo a 1.8 millones de clientes y empleados de Claro.</li>
												<li type="disc">Exposición en la publicidad masiva que tendrá el Club en vallas digitales, influencers, redes sociales, radio, prensa y las tiendas de Claro.</li>
												<li type="disc">Recibe nuevos clientes a tu tienda o premia la lealtad de los que te visiten frecuentemente.</li>
												<li type="disc">No necesitas instalar ningún equipo en tu negocio.</li>
												<li type="disc">Tus ofertas estarán digitalmente en un App móvil con funcionalidades avanzadas.</li>
											</ul>
										</li>
										<li type="circle">
											Si te interesa disfrutar de estos y otros beneficios, escríbenos para coordinar y que puedas aprovechar las ofertas especiales para los primeros negocios que se suscriban. Escríbenos:
											<a (click)="openExternalBrowser('https://burea.app/claroclub/')">https://burea.app/claroclub/</a>
										</li>
									</ol>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>


