<div class="allcont logsize" style="overflow-y: auto">

    <app-header-static></app-header-static>

    <app-popup-general-terms
            *ngIf='showTerms'
            (close)="showTerms = false">
    </app-popup-general-terms>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                Registro
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="basicrow rel">
                        <img alt="" [popper]="'PIN a tu correo electrónico.'"
                             [popperTrigger]="'click'"
                             [popperTimeoutAfterShow]="3000"
                             class="q-t-pay" src="assets/images/tooltip1.png">
                        <input type="tel"
                               maxlength="6"
                               inputmode="numeric"
                               pattern="^[0-9]*$"
                               placeholder="Código de confirmación"
                               class="inp-f disc"
                               [(ngModel)]="code">
                        <div class="basicrow m-top-u f-reg f-black roboto-r text-center">
                            &#191;No has recibido el c&oacute;digo de seguridad&#63; <a (click)="resend()" class="linkdefs">Reenviar</a>
                        </div>
                    </div>
                </div>

                <div *ngIf="!isPrepaid" class="basicrow m-top-i">
                    <div class="basicrow">
                        <input type="tel"
                               maxlength="4"
                               inputmode="numeric"
                               pattern="^[0-9]*$"
                               placeholder="4 &uacute;ltimos de SSN"
                               class="inp-f disc"
                               [(ngModel)]="ssn">
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="basicrow">
                        <input type="email"
                               placeholder="Correo Electr&oacute;nico"
                               class="inp-f"
                               [(ngModel)]="email">
                    </div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a class="linkdefs" (click)="showTerms = true">T&eacute;rminos y Condiciones</a><br/>
                    <div>
                        <label class="label-terms">
                            <input type="checkbox" [(ngModel)]="check">
                            &nbsp; He le&iacute;do, entiendo y acepto estos t&eacute;rminos y condiciones
                        </label>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="btns red vcenter rippleR" (click)="nextStep()">
                        <div class="tabcell">
                            Continuar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>

            </div>
        </div>
    </div>

</div>
