<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top" *ngIf="!isBusiness">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-08"></span> Paquetes Adicionales de Datos
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>

                    <app-account-select></app-account-select>
                </div>

            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">

        <div class="container">

            <div class="basicrow mbott bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify" *ngIf="!isBusiness">
                Selecciona el <span class="roboto-b">n&uacute;mero de cuenta y n&uacute;mero de suscriptor</span> a la que deseas que se le aplique la compra.
            </div>

            <div class="autowcont notopbrd">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                                <span class="roboto-l">
                                    {{typeOfTelephony(subscriber.productTypeField)}}
                                </span>
                                    <span class="roboto-m">
                                    {{formatSubscriber(subscriber.subscriberNumberField)}}
                                </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">

                        <div class="basicrow tabtopb f-black roboto-r f-reg">

                            <div class="basicrow">
                                <div class="basicrow">
                                    <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                        <div class="tabcell">
                                            Ciclo de Facturación
                                        </div>
                                    </div>

                                    <div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
                                        <div class="tabcell">
                                            {{accountInfo.cycleDateField}}
                                        </div>
                                    </div>
                                </div>

                                <div class="basicrow m-top-ii">
                                    <div class="logline full"></div>
                                </div>
                            </div>

                            <div class="basicr-line m-top-i m-bott-ii">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center">

                                        <div class="graphic-chart-r" style="height: 60vw">
                                            <div class="c100 text-center center vcenter {{getMainPacketPercentageUsage(subscriber)}}"
                                                 style="height: 55vw; width: 55vw; font-size: 55vw">
                                                <div class="slice" style="font-size: 55vw">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <div class="basicrow">
                                            <div class="userinfo full">
                                                <div class="basicrow">
                                                    <div class="basicrow f-bmed roboto-b m-bott">
                                                        Detalle del Plan
                                                    </div>

                                                    <div class="redstat">
                                                        <div class="autorow roboto-r pull-left">
                                                            Plan Base
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            {{getMainPacketName(subscriber)}}
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Has consumido
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            <span class="f-red">{{getMainPacketConsumption(subscriber)}}</span> {{getMainPacketConsumptionFrom(subscriber)}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="basicrow m-top">
                                            <div class="logline full"></div>
                                        </div>

                                        <div class="basicrow m-top-ii">

                                            <div class="twostats">
                                                <div class="statrectdef redstat"></div>

                                                <div class="autocont f-mini roboto-r f-black vcenter">
                                                    <div class="tabcell">
                                                        Consumidos ({{getMainPacketConsumption(subscriber)}})
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="getMainPacketConsumptionFrom(subscriber) !== ''" class="twostats">
                                                <div class="statrectdef graystat"></div>

                                                <div class="autocont f-mini roboto-r f-black vcenter">
                                                    <div class="tabcell">
                                                        Disponibles ({{getMainPacketRemain(subscriber)}})
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="basicr-line f-big m-top-i" *ngIf="packetsSuggested.length > 0">
                                Paquetes de Datos Adicionales
                            </div>

                            <div class="basicrow f-big m-top-i text-danger" *ngIf="packetsSuggested.length == 0">
                                <h3> {{errorMessage}}</h3>
                            </div>
                        </div>

                        <!-- [INIT CAROUSEL PACKETS MOBILE] -->
                        <div class="basicrow carousel slide" *ngIf="packetsSuggested.length > 0">

                            <ion-slides #slides class="carousel-inner" [options]="slideOpts">

                                <ion-slide class="item" *ngFor="let packet of packetsSuggested">

                                    <div class="plansondisps">
                                        <div class="row">
                                            <div class="item-carousel">
                                                <div class="basicrow">
                                                    <div class="plandisptitle">
                                                        {{packet.name}}
                                                    </div>

                                                    <div class="plandispcont">
                                                        <div class="basicrow roboto-r text-center">
                                                            Vigencia: Hasta el corte de ciclo<br/>
                                                            <span class="f-big roboto-b">
                                                                &#36;{{packet.price}}
                                                            </span>
                                                        </div>

                                                        <div class="basicrow text-center m-top">
                                                            <div class="servs-plans">
                                                                <div class="basicrow">
                                                                    <div class="btns red rippleR vcenter" (click)="buyPacket(subscriber, packet)">
                                                                        <div class="tabcell">
                                                                            Comprar
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </ion-slide>

                            </ion-slides>

                            <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
                            <a class="left carousel-control" (click)="prev(subscribers.indexOf(subscriber))">
                                <span class="glyphicon glyphicon-chevron-left">
                                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="right carousel-control" (click)="next(subscribers.indexOf(subscriber))">
                                <span class="glyphicon glyphicon-chevron-right">
                                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>

                        <div class="basicrow topbord-i">
                            <div class="basicrow m-top m-bott text-center">
                                <a class="linkdefs" (click)="showTerms()">
                                    Ver T&eacute;rminos y Condiciones
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

