<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-24"></span> Recarga de Prepago
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="autowcont allpads">
                <div class="basicrow f-reg f-black roboto-r">
                    <div class="basicrow f-big">
                        Recargar
                    </div>

                    <div class="dts-rcrg m-top-ii text-center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow">
                                    <span class="roboto-b">N&uacute;mero de T&eacute;lefono</span><br/>
                                    <span class="f-big roboto-b">{{subscriber.subscriberNumberField}}</span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow l-pline-i">
                                    <span class="roboto-b">Balance en Prepago Disponible</span><br/>
                                    <span class="f-lsemi roboto-b f-red">&#36;{{getPrepaidBalance()}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="planAmount > 0 && getOtherProduct() !== undefined">
                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="basicrow roboto-b f-bmed text-center">
                                Monto seg&uacute;n Plan Actual
                            </div>

                            <div class="basicrow text-center">
                                <div class="mnts-rcrg"
                                     (click)="selectPlanAmount($event)"
                                     [ngClass]="{'on':selectedProduct == getPlanProduct()}">
                                    <div class="checkrcrg">
                                        <input disabled type="radio" name="radioR" id="radioPlan" class="css-radio" [value]="getPlanProduct()" [checked]="selectedProduct == getPlanProduct()">
                                        <label for="radioPlan" class="css-label3 radGroup1"></label>
                                    </div>

                                    &#36;{{planAmount}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow roboto-b f-bmed text-center" *ngIf="planAmount > 0">
                            Otras Recargas Disponibles
                        </div>
                        <div class="basicrow roboto-b f-bmed text-center" *ngIf="planAmount == 0">
                            Recargas Disponibles
                        </div>

                        <div class="basicrow text-center">
                            <div class="mnts-rcrg" *ngFor="let product of getProducts()"
                                 (click)="selectProduct($event, product)"
                                 [ngClass]="{'on':selectedProduct == product}">
                                <div class="checkrcrg">
                                    <input disabled type="radio" name="radioR" id="radioG{{product.id}}" class="css-radio" [value]="product" [checked]="selectedProduct == product">
                                    <label for="radioG{{product.id}}" class="css-label3 radGroup1"></label>
                                </div>
                                {{product.productName}}
                            </div>
                        </div>

                        <div class="basicrow text-center" *ngIf="getOtherProduct() !== undefined">
                            <div class="othr-mnts-rcrg" (click)="clickAnotherAmount($event)">
                                <div class="mnts-othr vcenter">
                                    <div class="checkrcrg">
                                        <input type="radio" name="radioR" id="radioOther" class="css-radio" disabled [checked]="selectedProduct == getOtherProduct()">
                                        <label for="radioOther" class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="tabcell">
                                        Otro Monto
                                    </div>
                                </div>

                                <ion-input #otherAmount class="mnts-inpr" [(ngModel)]="anotherAmount" [disabled]="selectedProduct != getOtherProduct()"></ion-input>
                            </div>
                        </div>

                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i m-bott-ii">

                        <!--<div class="btns red def-i pull-right vcenter"-->
                                    <!--&gt;-->
                            <!--<span class="tabcell">-->
                                <!--Continuar-->
                            <!--</span>-->
                        <!--</div>-->

                        <ion-button (click)="continue()"
                                [disabled]="!canContinue()"
                                color="primary"
                                expand="full">
                            Continuar
                        </ion-button>

                        <ion-button class="m-top-u-ii" color="gray" expand="full" (click)="goHomePage()">
                            Cancelar
                        </ion-button>

                        <!--<div class="btns gray def-i pull-left vcenter"-->
                                    <!--(click)="goHomePage()">-->
                            <!--<span class="tabcell">-->
                                <!--Cancelar-->
                            <!--</span>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

