<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="allcont logsize">
        <div class="basicrow">
            <div class="basicrow">
                <div class="container">
                    <div class="fulltitle m-top-i f-btitle">
                        <span class="icon-dash-27"></span> Preguntas Frecuentes de Clarotv+
                    </div>
                </div>
            </div>

            <div class="basicrow roboto-r f-reg f-black m-top m-bott">
                <div class="container">
<!--                    <div class="basicrow roboto-l f-big">-->
<!--                        Preguntas Frecuentes sobre Facturaci&oacute;n-->
<!--                    </div>-->

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg1" class="preg-f" (click)='showingMenu(0)'>
                            ¿Qué es Clarotv+?

                            <i  aria-hidden="true" [ngClass]="contentShow[0] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg1"  [ngClass]=" contentShow[0]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Es televisión que se mueve contigo. Esta aplicación que te trae Claro te permite ver
                                contenido de TV en vivo desde tu casa o en tus dispositivos y mientras estés conectado
                                al internet fijo de Claro, desde cualquier lugar en Puerto Rico. Disfruta de: contenido
                                en vivo de tus canales favoritos, contenido On Demand transaccional de películas de
                                estrenos y contenido gratuito para el disfrute de toda la familia. En adición, Clarotv+
                                te ofrece servicios adicionales tales como: Cloud DVR para grabar en la nube y TV a tu
                                tiempo que te permite retroceder tu programación hasta 7 días. Suscríbete a nuestro
                                servicio de Clarotv+ con Internet, descarga la aplicación, configura tu usuario y contraseña
                                y comienza a disfrutar de tu plan de entretenimiento. Requiere un mínimo de 5 megas..
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg1-2" class="preg-f" (click)='showingMenu(1)'>
                            ¿En qué dispositivos puedo ver Claro tv+?

                            <i  aria-hidden="true" [ngClass]="contentShow[1] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg1-2" [ngClass]=" contentShow[1]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Clarotv+ puede ser disfrutado utilizando tu Claro tv+ Home Box, a través de dispositivos
                                con acceso a las plataformas Android, y Android TV, IOS y TVOS, Amazon Firesticks y a
                                través del webclient disponible para sistemas Windows y Mac.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg2" class="preg-f" (click)='showingMenu(2)'>
                            ¿En qué red puedo ver Claro tv+?

                            <i  aria-hidden="true" [ngClass]="contentShow[2] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg2" [ngClass]=" contentShow[2]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                En la red fija de internet de Claro PR.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg3" class="preg-f" (click)='showingMenu(3)'>
                            ¿Cuántos equipos puedo registrar en mi cuenta?

                            <i  aria-hidden="true" [ngClass]="contentShow[3] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg3" [ngClass]=" contentShow[3]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Depende del tipo de cuenta que tenga el cliente.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg4" class="preg-f" (click)='showingMenu(4)'>
                            ¿Cuantos equipos puedo utilizar simultaneamente?
                            <i  aria-hidden="true" [ngClass]="contentShow[4] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg4" [ngClass]=" contentShow[4]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                El cliente puede tener hasta 10 dispositivos por cuenta y podrá utilizar hasta 3 de
                                manera simultánea.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg5" class="preg-f" (click)='showingMenu(5)'>
                            ¿Qué dispositivos estarán disponibles en el futuro?

                            <i  aria-hidden="true" [ngClass]="contentShow[5] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg5" [ngClass]=" contentShow[5]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Estamos trabajando para también tener disponible el app de Clarotv+ en dispositivos
                                Samsung TV, LG, y Roku.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg6" class="preg-f" (click)='showingMenu(6)'>
                            ¿Qué necesito para tener Clarotv+?

                            <i  aria-hidden="true" [ngClass]="contentShow[6] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg6" [ngClass]=" contentShow[6]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Para poder disfrutar de Clarotv+ debes tener una suscripción a un plan de televisión de
                                Clarotv+ con el dispositivo streaming. Internet de Claro de 5Mbps o más. Un dispositivo
                                compatible con el app de Clarotv+ descargada y tus credenciales de Clarotv+ para
                                acceder la aplicación.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg7" class="preg-f" (click)='showingMenu(7)'>
                            ¿Cómo obtengo la aplicación de Clarotv+?

                            <i  aria-hidden="true" [ngClass]="contentShow[7] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg7" [ngClass]=" contentShow[7]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                La aplicación va a estar disponible en los Apps Store del dispositivo compatible.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg8" class="preg-f" (click)='showingMenu(8)'>
                            ¿Cómo manejo mi cuenta Clarotv+?

                            <i  aria-hidden="true" [ngClass]="contentShow[8] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg8" [ngClass]=" contentShow[8]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Cliente debe crear un usuario y contraseña, en la página web asignada a Clarotv+,
                                debe ingresar el email brindado al momento de la venta.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg9" class="preg-f" (click)='showingMenu(9)'>
                            ¿Quién es la persona autorizada para manejar mi cuenta?

                            <i  aria-hidden="true" [ngClass]="contentShow[9] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg9" [ngClass]=" contentShow[9]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Solo el dueño de la cuenta está autorizado a manejar la cuenta, a menos que autorice
                                otra persona en la cuenta con el personal de Claro. Tu eres responsable de tus
                                credenciales. En caso de que necesites asistencia adicional con el servicio de Clarotv+
                                siempre puedes contactar a Servicio y/o Apoyo Técnico al
                                <a href="tel:7877750000">787-775-0000</a>.
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg10" class="preg-f" (click)='showingMenu(10)'>
                            Equipo - SEI 810 CPR

                            <i  aria-hidden="true" [ngClass]="contentShow[10] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg10" [ngClass]=" contentShow[10]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                <img src="assets/images/iptv/faq/STB_img_01.png"/>
                                <img src="assets/images/iptv/faq/STB_img_02.png"/>
                                <img src="assets/images/iptv/faq/STB_img_03.png"/>
                                <img src="assets/images/iptv/faq/STB_img_04.png"/>
                                <img src="assets/images/iptv/faq/STB_img_05.png"/>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg11" class="preg-f" (click)='showingMenu(11)'>
                            Control Remoto - SEI 810 CPR

                            <i  aria-hidden="true" [ngClass]="contentShow[11] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg11" [ngClass]=" contentShow[11]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                <img src="assets/images/iptv/faq/CPR_Remote_Control.png"/>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top">
                        <div data-toggle="collapse" data-target="#preg12" class="preg-f" (click)='showingMenu(12)'>
                            Términos y Condiciones

                            <i  aria-hidden="true" [ngClass]="contentShow[12] ?  'fa fa-minus':'fa fa-plus'"></i>
                        </div>

                        <div id="preg12" [ngClass]=" contentShow[12]? 'in':'collapse'">
                            <div class="basicrow allpads bordsdef text-justify">
                                Oferta válida del 7 de octubre al 31 de diciembre 2021. Clarotv+ es un servicio de
                                televisión “Streaming” que permite al Cliente ver contenido de Televisión desde hasta un
                                máximo de diez (10) dispositivos distintos y hasta (3) “streams” simultáneos por cuenta.
                                El contenido de televisión dependerá de las “ofertas” o “paquetes” a los que se suscriba
                                el Cliente ofrecidos por Claro Puerto Rico. Se requiere que el cliente tenga
                                disponibilidad e internet fijo y/o móvil de Claro y un mínimo de 5 megas de velocidad.
                                Los precios regulares de los planes de entretenimiento son: Ultra Esencial $19.99 al mes,
                                Esencial $29.99 al mes, Esencial +Español $36.49 al mes, Esencial Todo Español $38.99 al
                                mes, Basic $72.99 al mes, Basic+ $99.99 al mes y Signature $110.99 al mes. Estos precios
                                aplican a: Sin contrato, 12 meses o 24 meses. Todos incluyen el primer decodificador. Si
                                el cliente desea comprar adicionales el precio es $40.00 c/u. No incluye IVU ni ningún
                                otro impuesto los cuales debe pagar al momento de la compra. En las ofertas Sin contrato
                                requiere que el cliente pague al momento de la compra: renta del 1er mes de acuerdo con
                                el plan de entretenimiento seleccionado por el cliente. En planes Sin Contrato la
                                cancelación temprana (antes de 12 meses) del servicio conlleva penalidad por el costo del
                                decodificador ($40) que el cliente recibió gratis. La penalidad será de $40, que será
                                prorrateada entre 12 meses, y la cantidad a pagar será el producto de la cantidad mensual
                                prorrateada por el número de meses que le resten de los 12 meses. Oferta con contrato de
                                12 o 24 meses requiere verificación de crédito por lo que podría requerir depósito. La
                                cancelación temprana del servicio de Televisión conlleva penalidad de $200.00 que será
                                prorrateada entre el número de meses de vigencia del contrato, y la cantidad a pagar
                                será el producto de la cantidad mensual prorrateada por el número de meses que le resten
                                al contrato. Los paquetes de Canales Premium requieren que el cliente esté suscrito a un
                                plan de entretenimiento primario. Los precios regulares de estos paquetes son HBO: $18.99
                                al mes, Cinemax: $12.50 al mes, Combo HBO / Cinemax: $29.99 al mes y Starz / Encore:
                                $11.99 al mes. Los complementos +Español y Todo Español solo aplican a los planes de
                                entretenimiento: Basic y Basic. Los precios son: +Español (Reg. $9.99) y Todo Español
                                (Reg. $14.99). Los canales adultos: Playboy TV $19.99 al mes y Reality Kings $24.99 al
                                mes requiere que el cliente esté suscrito a un plan de entretenimiento primario. El
                                servicio de Cloud DVR tiene un precio mensual de $5.00 al mes con 250GB disponibles de
                                espacio. Claro PR se reserva el derecho sin limitación, de efectuar en cualquier momento,
                                cambios. Reorganizaciones o cancelaciones de las ofertas o planes, incluyendo cambios en
                                precios y en el contenido de la programación.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="basicrow roboto-r f-med f-black m-top-i bg-gray">
                <div class="container m-top-i">
                    <div class="row m-top-i m-bott">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                            <img width="100%" class="n-supp-icon" src="assets/images/netflixicon4.png" alt="">
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
                            <div class="basicrow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="basicrow f-big roboto-l">
                                            Cont&aacute;ctanos
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                        <div class="basicrow f-bmed roboto-b">
                                            Horario de Servicio al Cliente
                                        </div>

                                        <div class="basicrow f-med line-def-i m-top-ii">
                                            Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
                                            S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
                                            D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                        <div class="basicrow h-mtop f-bmed roboto-b">
                                            Tel&eacute;fonos de Contacto
                                        </div>

                                        <div class="basicrow f-med line-def-i m-top-ii">
                                            Servicio al Cliente: <a href="tel:7877750000">787-775-0000</a><br/>
                                            &oacute; Marcando <a href="tel:*611">&#42;611</a> desde tu tel&eacute;fono celular.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




