.new-popup {
    border-radius: 9px;
}


.icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
}

.overflow-container {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.cred-opts {
    margin: 0;
    width: 33.33333333%;
    .autocont {
        height: 32px;
    }
    img {
        width: 45px;
        height: 32px;
        float: left;
        margin-left: 6px;
    }
}

.carousel-footer--button {
    margin-bottom: 0;
    margin-top: 16px;
}
