<app-popup-iptv-terms-on-popup
    *ngIf="popupController.popupReturnPolicies"
    [title]="popupController.popupTitle"
    [template]="popupController.popupTemplate"
    (close)="closePopupPolicies()">
</app-popup-iptv-terms-on-popup>

<div class="popupbg new-popup">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-m">
            <span *ngIf="type === 1">Método de pago</span>
            <span *ngIf="type === 2">Dirección de envío</span>
            <ion-icon name="close" class="icon-close" (click)="closeEmit()"></ion-icon>
        </div>


        <div class="ion-padding-horizontal ion-margin-vertical basicrow overflow-container">
            <div class="basicrow m-top f-black roboto-r f-reg" *ngIf="type === 1">
                <div class="basicrow">
                    <!--                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>-->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 cred-opts card-vs">
                        <div class="autocont vcenter">
                            <div class="tabcell">
                                <input class="radio-vs" [(ngModel)]="creditCard.typeCard" type="radio"
                                       name="card" value="VS">
                            </div>
                        </div>

                        <img alt="" width="100%" src="assets/images/credit01.png">
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 cred-opts card-am">
                        <div class="autocont vcenter">
                            <div class="tabcell">
                                <input class="radio-am" [(ngModel)]="creditCard.typeCard" type="radio"
                                       name="card" value="AM">
                            </div>
                        </div>

                        <img alt="" width="100%" src="assets/images/credit02.png">
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 cred-opts card-mc">
                        <div class="autocont vcenter">
                            <div class="tabcell">
                                <input class="radio-mc" [(ngModel)]="creditCard.typeCard" type="radio"
                                       name="card" value="MC">
                            </div>
                        </div>

                        <img alt="" width="100%" src="assets/images/credit03.png">
                    </div>
                </div>

                <div class="basicrow">
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Titular:</label>
                        <input class="inp-f m-top-u-i" placeholder="Card Holder" [(ngModel)]="creditCard.name" >
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Número de la tarjeta:</label>
                        <input class="inp-f m-top-u-i" maxlength="20" type="tel" placeholder="Card Number" [(ngModel)]="creditCard.numberCard" (ngModelChange)="checkIsValid($event)">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* CVV:</label>
                        <input class="inp-f m-top-u-i" maxlength="5" type="tel" placeholder="0000" [(ngModel)]="creditCard.cvv">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Fecha de expiración:</label>
                        <div class="basicrow">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                                    <div class="exprdtitle roboto-b vcenter">
                                        <div class="tabcell">
                                            Mes
                                        </div>
                                    </div>

                                    <select class="sel-f exprdsize select-month"
                                            name="selectedMonth"
                                            [(ngModel)]="creditCard.expMonth">
                                        <option [value]="months[0]" selected
                                                hidden>{{months[0]}}</option>
                                        <option [value]="month"
                                                *ngFor="let month of months"> {{month}} </option>
                                    </select>
                                </div>

                                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 h-mtop-iv">
                                    <div class="exprdtitle roboto-b vcenter">
                                        <div class="tabcell">
                                            Año
                                        </div>
                                    </div>
                                    <select class="sel-f exprdsize select-year"
                                            name="selectedyear"
                                            [(ngModel)]="creditCard.expYear">
                                        <option [value]="years[0] % 100" selected
                                                hidden>{{years[0] % 100}} </option>
                                        <option [value]="year"
                                                *ngFor="let year of years"> {{year % 100}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Código postal:</label>
                        <input class="inp-f m-top-u-i" type="tel" placeholder="00000" maxlength="5" [(ngModel)]="creditCard.zipCode">
                    </div>
                </div>

            </div>

            <div class="basicrow m-top f-black roboto-r f-reg" *ngIf="type === 2">
                <div class="basicrow">
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Nombre:</label>
                        <input class="inp-f m-top-u-i" placeholder="John" [(ngModel)]="address.firstname">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Apellidos:</label>
                        <input class="inp-f m-top-u-i" placeholder="Doe Left" [(ngModel)]="address.lastname">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Teléfono:</label>
                        <input class="inp-f m-top-u-i" type="tel" placeholder="000000000" maxlength="10" [(ngModel)]="address.phone">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Email:</label>
                        <input class="inp-f m-top-u-i" type="email" placeholder="john@mail.com" [(ngModel)]="address.email">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Dirección:</label>
                        <input class="inp-f m-top-u-i" placeholder="Urb, Barrio, Nombre de Edificio" [(ngModel)]="address.address1">
                        <input class="inp-f m-top-u-i" placeholder="Num casa, Apto, Calle, Num Edificio" [(ngModel)]="address.address2">
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">* Pueblo:</label>
                        <select class="sel-f" name="selectedTown" [(ngModel)]="address.zip">
                            <option [value]="town.value"
                                    *ngFor="let town of listVillages">{{town.label}} ({{town.value}})</option>
                        </select>
                    </div>
                    <div class="basicrow m-top">
                        <label class="label-r roboto-b">Nota:</label>
                        <textarea class="inp-f ta-reg m-top-u-i" placeholder="Detalles, puntos de referencia o intrucciones que desee agregar"
                                  [(ngModel)]="address.notes">
                        </textarea>
                    </div>
                </div>
            </div>

        </div>


        <div class="basicrow">
            <div class="carousel-footer--terms" *ngIf="type === 2">
                <span>
                    <input type="checkbox" [(ngModel)]="returnPolicies">
                    <a (click)="openReturnPolicy()" class="linkdefs">Acepto Políticas de Devolución</a>
                </span>
            </div>
            <ion-button class="m-top" expand="full" (click)="saveEmit()">
                Continuar
            </ion-button>
        </div>



    </div>

</div>
