<div class="allcont logsize">

    <div class="basicrow">
        <div class="container">
            <div class="basicrow m-top-i mbott text-center">

                <div class="basicrow m-top-i">

                    <div class="basicrow text-center">
                        <img class="updateicon" width="100%" src="assets/images/update_access.png">
                    </div>

                    <div class="basicrow f-bmed roboto-b m-top-i">
                        Estimado cliente,
                    </div>

                    <div class="basicrow f-med f-black roboto-r m-top-i text-justify">
                        Mi Claro se ha actualizado y esta versi&oacute;n ya no se podr&aacute; utilizar.<br/><br/>
                        Descarga la nueva versi&oacute;n y actualiza tu experiencia m&oacute;vil ahora mismo.
                    </div>

                </div>

                <div class="basicrow m-top-i text-center">
                    <ion-button color="primary" expand="full" (click)="openAppStore()">
                        Actualizar App
                    </ion-button>
                </div>

            </div>
        </div>
    </div>

</div>

