<div class="popupbg" *ngIf="open" [ngClass]="extraClasses" [style.zIndex]="zIndex">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-b padding-2rem">
            <span class="ion-padding-end" [innerHTML]="title"></span>
            <ion-icon name="close" class="icon-close" (click)="closePopup()"></ion-icon>
        </div>

        <app-popup-iptv-channels *ngIf="body.name === popups.IPTV_CHANNELS" [channels]="body.channels"></app-popup-iptv-channels>
        <app-popup-iptv-terms-offer *ngIf="body.name === popups.TERMS_OFFER" [offerTerms]="body.terms"></app-popup-iptv-terms-offer>
        <app-message-popup *ngIf="body.name === popups.ACCOUNT_MESSAGE" [data]="body.data"></app-message-popup>
    </div>

</div>
