<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-05"></span> Confirmaci&oacute;n
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="basicrow mbott-i">
                <div class="basicrow text-center">
                    <div class="rdtitles">
                        {{text}} <span class="roboto-b">Éxito</span>
                    </div>
                </div>
            </div>

            <div class="basicrow text-center m-top">
                <ion-button color="secondary" expand="full" (click)="close()">
                    Cerrar
                </ion-button>
            </div>

        </div>
    </div>

</div>







