<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>
    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle">
                    <span class="icon-dash-13"></span> Soporte Técnico TV+
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow roboto-r f-med f-black m-top-i">
        <div class="container m-bott">
            <div class="row m-top-i m-bott">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
                    <img width="100%" class="n-supp-icon" src="assets/images/netflixicon4.png" alt="">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
                    <div class="basicrow">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="basicrow f-big roboto-l">
                                    Cont&aacute;ctanos
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                <div class="basicrow f-bmed roboto-b">
                                    Horario de Servicio al Cliente
                                </div>

                                <div class="basicrow f-med line-def-i m-top-ii">
                                    Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
                                    S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
                                    D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                <div class="basicrow h-mtop f-bmed roboto-b">
                                    Tel&eacute;fonos de Contacto
                                </div>

                                <div class="basicrow f-med line-def-i m-top-ii">
                                    Servicio al Cliente: <a href="tel:7877750000">787-775-0000</a><br/>
                                    &oacute; Marcando <a href="tel:*611">&#42;611</a> desde tu tel&eacute;fono celular.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow bg-gray m-top-i">
        <div class="container">
            <div class="basicrow m-top-i mbott">
                <div class="basicrow f-title f-black">
                    Centro de Ayuda <app-claro-tv></app-claro-tv>
                </div>

                <div class="basicrow m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                            <div class="btns blue vcenter rippleB" id="netflix-support" (click)="iptvGuide()">
                                <span class="tabcell">
                                    Ver guía rápida
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

