<div class="allcont logsize">
    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">
                <div class="shortcont">

                    <div class="basicrow m-top text-center">
                        <img width="100%" class="difloglogo extra-margin" src="assets/images/miclaro-logov2.png" alt="">
                    </div>

                    <div class="basicrow">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <div class="basicrow" style="width: 100%; display: flex; align-content: center; justify-content: center; margin-bottom: -4px">
                                    <div class="basicrow" style="width: 220px; text-align: right; font-size: 18px; font-weight: bold; color: #ef3829">
                                        Nuevo
                                    </div>
                                </div>
                                <div class="basicrow">
                                    Acceso R&aacute;pido
                                </div>
                                <div class="basicrow f-med roboto-b">
                                    Ingresar como Usuario Invitado
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow f-reg f-black m-top-ii text-justify">
                        Ahora Mi Claro PR te permite que cada usuario asociado a tu cuenta pueda ingresar como invitado. El Acceso permite ver consumo, comprar paquetes adicionales y realizar pagos.
                    </div>

                    <div class="basicrow m-top-ii">
                        <div class="basicrow rel input-guest">
                            <img [popper]="'Ingresar como Invitado: Usuarios adicionales asociados a tu cuenta. Pueden ver consumo, pagar y comprar data adicional.'"
                                 [popperTrigger]="'click'"
                                 [popperTimeoutAfterShow]="6000"
                                 class="q-t-pay" src="assets/images/tooltip1.png" alt="">
                            <input type="number"
                                   onKeyPress="if(this.value.length==10) return false;"
                                   placeholder="N&uacute;mero de Tel&eacute;fono"
                                   class="inp-f"
                                   [(ngModel)]="number"
                                   (keyup.enter)="login()">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="btns red vcenter rippleR" (click)="login()">
                            <span class="tabcell">
                                Continuar
                            </span>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow text-center m-top-i">
                        <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

