.new-popup {
    border-radius: 9px;
}


.icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
}

.contract-container {
    display: flex;
    .contract {
        width: 50%;
        padding: 1rem;
        text-align: center;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        cursor: pointer;
        color: #000000;
        &-title {
            color: var(--primary-color);
            margin-top: 0;
            font-size: 14px;
        }
        &-description {
            font-size: 12px;
        }
        &.selected {
            background: var(--primary-color);
            color: #ffffff;
            .contract-title {
                color: #ffffff;
            }
            &.left {
                border-radius: 6px 0 0 6px;
            }
            &.right {
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

.overflow-container {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    .text-description {
        font-size: 12px;
        color: var(--ion-color-medium);
    }

    .item-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ion-img {
            width: 42px;
            height: 42px;
        }
        text-align: center;
        //font-weight: bold;
        font-size: 12px;
    }

    .optchoice {
        border-radius: 8px;
        padding: 16px;
        &.mini {
            padding: 4px 10px 6px;
            height: auto;
            &.border {
                border: 2px solid var(--primary-color);
            }
        }
        &.on {
            background-color: var(--primary-color);
        }
    }
}

.m-10 {
    margin: 10px 10px 0 0;
}
.pl-4 {
    padding-left: 4px;
}
.pr-4 {
    padding-right: 4px;
}
.terms-check {
    input {
        margin-right: 8px;
        vertical-align: text-bottom;
    }
    a {
        font-size: 12px;
        text-decoration: underline;
    }
}


.carousel-footer--button {
    margin-bottom: 0;
    margin-top: 16px;
}

.box-info {
    display: flex;
    background: #000000;
    color: #ffffff;
    padding: 8px 6px 6px;
    width: 100%;

    .box-icon {
        width: 24px;
        height: 16px;
        position: relative;
        bottom: 2px;
        font-size: 20px;
    }
}
