<app-popup-iptv-terms-on-popup
    *ngIf="popupController.popupTerms"
    [template]="popupController.popupTemplate"
    (close)="closePopupTerms()">
</app-popup-iptv-terms-on-popup>


<div class="popupbg new-popup">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-m">
            <span *ngIf="type === 1">Selecciona el tipo de contrato</span>
            <span *ngIf="type === 2">Tu dispositivo</span>
            <ion-icon name="close" class="icon-close" (click)="closeEmit()"></ion-icon>
        </div>

        <div class="basicrow m-top f-black roboto-r f-reg" *ngIf="type === 1">
            <div class="basicrow m-top-ii">
                <div class="contract-container">
                    <div class="contract left" [ngClass]="{'selected': withContract}" (click)="withContract = true">
                        <h5 class="contract-title">Con contrato</h5>
                        <div class="contract-description">24 y 12 meses de contrato</div>
                    </div>
                    <div class="contract right" [ngClass]="{'selected': !withContract}" (click)="withContract = false">
                        <h5 class="contract-title">Sin contrato</h5>
                        <div class="contract-description">Sin verificación de Crédito, 1 mes de plan por adelantado
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow m-top" *ngIf="withContract">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngFor="let contract of contracts">
                        <div class="optchoice hauto roboto-r text-left"
                             [ngClass]="{'on': contractSelected.contractInMoths === contract.contractInMoths}"
                             (click)="contractSelected = contract; $event.stopPropagation()">
                            <div class="checkdef">
                                <input type="radio" name="radioG1" id="radioG1" class="css-radio"
                                       [checked]="contractSelected === contract">
                                <label for="radioG1" class="css-label3 radGroup1"></label>
                            </div>

                            <div class="basicrow opttext">
                                <div class="basicrow f-med roboto-b">
                                    {{contract.contract}}
                                </div>

                                <div class="basicrow m-top-u-i roboto-r">
                                    <span *ngIf="contract.salePrice > 0">
                                        Llévate por <b>{{contract.salePrice | currency}}</b> el primer dispositivo.
                                    </span>
                                    <span *ngIf="contract.salePrice === 0">
                                        Llévate <b>Gratis</b> el primer dispositivo.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="basicrow m-top f-black roboto-r f-reg ion-padding overflow-container" *ngIf="type === 2">

            <div class="basicrow m-top-ii m-bott ion-padding-bottom bord-b">
                <ion-img [src]="product.imgUrl"></ion-img>
            </div>

            <div class="basicrow m-bott ion-padding-bottom bord-b">
                <div class="f-reg"><b>Escoge tu dispositivo</b></div>

                <div class="autorow pull-right full-c-i m-top-ii">
                    <div class="f-mini ion-float-left m-10">Cantidad de dispositivos:</div>
                    <div class="quota-bxs">
                        <div class="quot-i text-center roboto-b f-white vcenter">
                            <div class="tabcell">
                                {{ totalDevices }}
                            </div>
                        </div>

                        <div class="quot-ii text-center roboto-b f-gray-i vcenter" (click)="decreaseDevice()">
                            <div class="tabcell">
                                -
                            </div>
                        </div>

                        <div class="quot-ii text-center roboto-b f-gray-i vcenter" (click)="increaseDevice()">
                            <div class="tabcell">
                                +
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-ii">
                    <div class="f-mini">Términos y condiciones</div>
                    <span class="terms-check">
                        <input type="checkbox" [(ngModel)]="terms">
                        <a class="linkdefs f-mini" (click)="openTerms()">Acepto términos y condiciones</a>
                    </span>
                    <br><br>
                    <div class="f-lmini">
                        *Utiliza un dispositivo de streaming compatible. Puede descargar la aplicación en su dispositivo
                        compatible para empezar a transmitir TV+
                    </div>
                </div>
            </div>

            <div class="basicrow">
                <div class="f-reg"><b>Selecciona una forma de pago</b></div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                         *ngIf="withContract && getDeadlinePayment() > 0">
                        <div class="optchoice roboto-r" [ngClass]="{'on': wayToPay === 1}"
                             (click)="wayToPay = 1; $event.stopPropagation()">
                            <div class="basicrow">
                                <div class="basicrow m-top-u-i roboto-b f-mini-i text-left">
                                    Compra a Plazos
                                </div>
                                <div class="basicrow f-med roboto-b">
                                    {{getDeadlinePayment() | currency}} Mes
                                </div>
                                <div class="basicrow m-top-u-i roboto-r f-mini text-left">
                                    Pago a {{deadlineSelected}} meses
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="withContract && wayToPay === 1">
                            <ng-container *ngFor="let price of product.prices">
                                <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 pr-4"
                                     *ngIf="contractSelected.contractInMoths !== 12 ||
                                     (contractSelected.contractInMoths === 12 && price.intMonths === 12)">
                                    <div class="optchoice mini roboto-r" (click)="deadlineSelected = price.intMonths"
                                         [ngClass]="{'border': deadlineSelected === price.intMonths}">
                                        <div class="basicrow m-top-u-i roboto-r f-mini text-left"
                                             [ngClass]="{'f-red': deadlineSelected === price.intMonths}">
                                            {{price.months}}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="optchoice roboto-r" [ngClass]="{'on': wayToPay === 2}"
                             (click)="wayToPay = 2; $event.stopPropagation()">
                            <div class="basicrow m-top-u-i roboto-b f-mini-i text-left">
                                Precio Regular
                            </div>
                            <div class="basicrow f-med roboto-b">
                                {{getRegularPayment() | currency}}
                            </div>
                            <div class="basicrow m-top-u-i roboto-r f-mini text-left">
                                Monto a pagar hoy
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="basicrow m-top-ii">
                <div class="box-info roboto-b f-mini">
                    <i class="fa fa-info-circle box-icon"></i>
                    <span class="box-info-text" *ngIf="totalDevices === 1 &&
                                                    contractSelected.salePrice === 0">
                        Primer dispositivo <span class="f-blue">GRATIS</span>
                    </span>
                    <span class="box-info-text" *ngIf="totalDevices === 1 &&
                                                    contractSelected.salePrice !== 0 &&
                                                    contractSelected.salePrice < contractSelected.regularPrice">
                        Primer dispositivo por {{contractSelected.salePrice | currency}}
                    </span>
                    <span class="box-info-text" *ngIf="totalDevices > 1">
                        Costo adicional por dispositivo {{contractSelected.regularPrice | currency}}
                    </span>
                </div>
            </div>
        </div>


        <div class="basicrow">
            <div class="basicrow m-top">
                <ion-button class="" expand="full" (click)="validate()">
                    Guardar
                </ion-button>
            </div>
        </div>


    </div>

</div>
