<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                &#191;Olvidaste tu contrase&ntilde;a&#63;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top f-reg f-black roboto-r text-justify">
                    &nbsp;&nbsp;&nbsp;Por favor responde las preguntas de seguridad previamente configuradas en tu cuenta de acceso.
                </div>

                <div class="basicrow m-top-i text-left">
                    <label id="question1" class="label-f">{{firstQuestion}}</label>
                    <div class="basicrow rel">
                        <input type="password" placeholder="Respuesta" class="inp-f" autocapitalize="off" [(ngModel)]="firstAnswer">
                    </div>
                </div>

                <div class="basicrow m-top text-left">
                    <label id="question2" class="label-f">{{secondQuestion}}</label>
                    <div class="basicrow">
                        <input type="password" placeholder="Respuesta" class="inp-f" autocapitalize="off" [(ngModel)]="secondAnswer">
                    </div>
                </div>


                <div class="basicrow m-top-i">
                    <div class="btns red vcenter rippleR" (click)="nextStep()">
                        <div class="tabcell">
                            Recuperar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>
            </div>
        </div>
    </div>

</div>

