<div class="card-container">
  <img class="card-img-small" src="assets/images/card-a.png" alt=""
    [ngClass]="{ 'card-active': flashPaymentService.controller.paymentMethod === 'V' }"
  />
  <img class="card-img-small" src="assets/images/card-b.png" alt=""
    [ngClass]="{ 'card-active': flashPaymentService.controller.paymentMethod === 'M' }"
  />
  <img class="card-img-small" src="assets/images/card-d.png" alt=""
    [ngClass]="{ 'card-active': flashPaymentService.controller.paymentMethod === 'X' }"
  />
  <img class="card-img-small" src="assets/images/card-c.png" alt=""
    [ngClass]="{ 'card-active': flashPaymentService.controller.paymentMethod === 'A' }"
  />
</div>
