

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

      <app-header></app-header>
  
			<app-menu></app-menu>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span><img src="assets/images/icon_claro_club_3.png" style="height: 42px; width: auto; margin: 10px"></span>
							&nbsp;Términos y Condiciones Claro Club
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top m-bott">
					<div class="container">
						<div class="basicrow">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f question" (click)='showingContent()'>
								El Programa Claro Club

								<i  aria-hidden="true" [ngClass]="contentShow ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg1" [ngClass]="contentShow? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									<ol type="a">
										<li>Claro Club (el “Programa”) ofrecerá a cada cliente suscrito a un servicio con Puerto Rico Telephone Company, Inc. (“Claro”) como, pero sin limitarse a, móvil (pospago/prepago), línea residencial, internet o IPTV (un “Cliente”) la oportunidad de obtener recompensas, regalos o acumular dinero. El dinero acumulado por el Cliente en el Programa podrá ser redimido mediante reembolso directo a su cuenta bancaria o a su cuenta de PayPal, según elija.  Todos los servicios del Programa serán tramitados a través de la aplicación móvil BUREA (“BUREA”) de Better Ideas, LLC. (“Better Ideas”) en cualquier plataforma en la cual esté disponible.</li>
										<li>Todo Cliente de Claro que interese participar de Claro Club podrá suscribirse a través de BUREA, aceptando los términos y condiciones del Programa.</li>
									</ol>

								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>



