<ion-content class="allcont logsize" #content>

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-29"></span> Transacciones
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i padding-bottom-footer">
        <div class="container">

            <div class="autowcont notopbrd list-subscriber">

                <div *ngFor="let subscriber of subscribers">

                    <div (click)="showDetails(subscriber)" class="digs-box vcenter" [ngClass]="subscriber === selectedSubscriber ? 'mon':'collapse'">
                        <div class="tabcell">
                            <div class="autorow pull-left">
                                <span class="roboto-l">
                                    {{typeOfTelephony(subscriber.productTypeField)}}
                                </span>
                                <span class="roboto-m">
                                    {{formatSubscriber(subscriber.subscriberNumberField)}}
                                </span>
                            </div>

                            <div class="autorow pull-right">
                                <i class="fa fa-minus"></i>

                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="subscriber === selectedSubscriber ? 'in':''">
                        <div class="basicrow tabtopb f-black roboto-r f-reg">
                            <div class="basicr-line f-big">
                                Hist&oacute;rico de Transacciones
                            </div>

                            <div class="basicrow m-top-i text-center">
                                <div class="shortcont">
                                    <div class="basicrow">
                                        <div class="basicrow f-bmed roboto-b">
                                            Recargas Recientes
                                        </div>
                                    </div>

                                    <div *ngIf="transactions.length > 0 || errorMessage.length > 0" #scrollableItem>
                                        <div class="basicrow m-top-i">
                                            <div class="logline full"></div>
                                        </div>

                                        <div class="basicrow m-top-i">

                                            <div class="basicrow f-bmed roboto-b">
                                                Transacciones Recientes
                                            </div>

                                            <div class="basicrow f-bigmed m-top-i text-danger" *ngIf="errorMessage.length > 0">
                                                {{errorMessage}}
                                            </div>

                                            <div class="basicrow m-top" *ngFor="let transaction of transactions">
                                                <div class="userinfo full nomtops">
                                                    <div class="basicrow f-black roboto-b f-bmed">
                                                        Transacci&oacute;n: {{transaction.sequenceNumberField}}
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Estatus
                                                        </div>

                                                        <div class="autorow roboto-b pull-right">
                                                            Aprobada
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Fecha
                                                        </div>

                                                        <div class="autorow roboto-b pull-right" *ngIf="!isIOS">
                                                            {{ transaction.createionDateField | date: 'medium' }}
                                                        </div>

                                                        <div class="autorow roboto-b pull-right" *ngIf="isIOS">
                                                            {{ transaction.createionDateField }}
                                                        </div>
                                                    </div>

                                                    <div class="redstat m-top-ii">
                                                        <div class="autorow roboto-r pull-left">
                                                            Monto
                                                        </div>

                                                        <div class="autorow roboto-b f-red pull-right">
                                                            {{ transaction.totalAmountField }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</ion-content>

