<!-- Navigation Menu -->
<div class="mySideNav" [ngClass]="close ? 'menuIsClosed':'menuIsOpen'">

    <div *ngFor="let section of access">
        <div *ngIf="section.Pages.length > 1">

            <div data-toggle="collapse" (click)='showingMenu(section.index)' class="m-menubar vcenter" [ngClass]="{'important': section.sectionName == 'Mi Cuenta'}">
                <span class="tabcell">
                    {{section.sectionName}}
                    <i class="fa fa-plus" aria-hidden="true" [ngClass]="selectedSection == section.index ? 'fa fa-minus':'fa fa-plus'"></i>
                </span>
            </div>

            <div class="collapse" [ngClass]="{'in': selectedSection == section.index, 'collapse': selectedSection != section.index}">

                <div *ngFor="let page of section.Pages" class="m-menuin vcenter" (click)="going(page)" [ngClass]="{'offnouse': isGuest && !page.allowAsGuest}">
                    <span class="tabcell">
                        <p [ngClass]="{'f-bold': isActive(page)}">{{page.pageName}}</p>
                         <i *ngIf="page.accessID == 8" class="fa fa-times-circle" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

        </div>

        <div *ngIf="section.Pages.length == 1">

            <div class="m-menubar vcenter" (click)="going(section.Pages[0])" [ngClass]="{'offnouse': isGuest && !section.Pages[0].allowAsGuest}">
                <span class="tabcell">
                    <p [ngClass]="{'f-bold': isActive(section.Pages[0]) }">
                        {{section.Pages[0].pageName}}
                    </p>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </div>

        </div>

    </div>

</div>
<!-- Navigation Menu -->
