<div id="wrapper" class="appsize">

    <div class="allcont logsize">

        <app-header></app-header>

        <app-menu></app-menu>

        <div class="basicrow m-top">
            <div class="container">
                <div class="basicr-line-i">
                    <div class="fulltitle m-top-i f-btitle autodef">
                        <span class="icon-dash-13"></span> Reporte de Aver&iacute;as
                    </div>

                    <div class="nroacc">
                        <label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
                        </label>
                        <app-account-select></app-account-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="container">
                <div class="basicrow m-top-i m-bott text-center">
                    <div class="stepsvone">
                        <div class="stepautoc first text-nowrap">
                            Tipo de Aver&iacute;a
                            <div class="stepcirc text-center">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepautoc middle text-nowrap">
                            Detalles
                            <div class="stepcirc">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepautoc on last text-nowrap">
                            Confirmaci&oacute;n
                            <div class="stepcirc">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepsline"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow mbott m-top-ii">
            <div class="container">
                <div class="autowcont notopbrd m-top-ii">
                    <div class="subgtitle">
                        <span class="roboto-b"> {{selectedSubscriber}} </span>
                    </div>

                    <div class="basicrow allpads f-reg roboto-r f-black">
                        <div class="basicrow text-center m-top-u">
                            <div class="basicrow">
                                Su reporte ha sido creado exitosamente
                            </div>

                            <div class="basicrow roboto-b m-top">
                                Reportado: {{typeOfBreakdownText}}
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top">
                            <div class="btns def-i red centr vcenter" id="ok_action" (click)='home()'>
                                <span class="tabcell">
                                    Ok
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



