<div class="popupbg">

    <div class="popupcont">
        <div class="basicrow f-black f-mildt roboto-m">
            T&eacute;rminos y Condiciones
        </div>

        <div class="basicrow m-top">
            <div class="termgbg">
                <div class="termr-t">
                    <strong>1. Aceptación de Términos y Condiciones Mi Claro</strong>

                    Toda persona que acceda a Mi Claro Puerto Rico (“Mi Claro”)  y las aplicaciones y sitios web vinculados a este sitio, afirma conocer y acuerda cumplir con los Términos y Condiciones expuestos por Puerto Rico Telephone Company Inc. h/n/c Claro Puerto Rico en este documento.  Claro Puerto Rico se reserva la facultad de modificar de tiempo en tiempo estos Términos y Condiciones. El uso continuo de este sitio y cualquiera de los sitios vinculados luego de la fecha de modificación, constituirá la aceptación de los Términos y Condiciones revisados.
                    <br>
                    <strong>2. Usuarios ¿Cuáles son los requisitos para ser usuario?</strong>

                    2.1. Sólo podrán registrarse como usuarios de Mi Claro personas mayores de edad que acrediten ser clientes de Claro Puerto Rico. Los menores de 21 años que no emancipados accederán a Mi Claro a través de una cuenta de usuario creada con la autorización de su padre o tutor.  Los menores de trece (13) años no podrán suscribirse como usuarios de este servicio.

                    2.2. Registro de Cuenta: El cliente deberá registrar su nombre de usuario y contraseña en la aplicación para poder crear su cuenta de usuario, conforme se describe a continuación:
                    1)	Cliente ingresa número de teléfono fijo o móvil o correo electrónico.
                    2)	El sistema enviará una clave temporal PIN vía SMS o correo electrónico
                    3)	Ingresa PIN, 4 últimos del SSN, correo electrónico valido.
                    4)	Crear una contraseña, según los requerimientos.
                    5)	Aceptar términos y condiciones de Mi Claro.
                    <br>
                    <strong>3. Uso General Mi Claro Puerto Rico</strong>

                    3.1. <strong>Mi Claro app</strong>: no tiene costo de activación. Se accede al mismo únicamente a través de la descarga en terminales móviles inteligentes con sistemas operativos Android (versiones superiores a 4.2) e iOS (versiones superiores a 9.0).

                    3.2. <strong>Mi Claro web</strong>: Los usuarios pueden navegar libremente por el sitio web Mi Claro por distintos navegadores. Para ingresar deben estar registrados previamente, para lo cual es obligatorio completar el formulario correctamente en todos los campos con datos válidos y verdaderos; el registro no tiene ningún costo. Claro se reserva el derecho de suspender temporal o definitivamente a los usuarios en caso de incumplimiento de los presentes Términos y Condiciones y/o de los que se le informen en el futuro.

                    3.3. El Usuario reconoce y acepta que en la Autogestión &quot;Mi Claro Puerto Rico&quot;:
                    (En su versión App o Web)

                    (a)	La factura del último mes estará disponible en Mi Claro App y Mi Claro Web, cinco (5) días    después de finalizado el período de facturación.
                    (b)	Algunos pagos pueden tardar entre 24-48 horas en verse reflejados en su cuenta.
                    (c)	En Mi Claro App y Mi Claro Web podrá consultar y descargar las últimas trece (13) facturas cuando lo requiera.
                    (d)	Tiene derecho a solicitar y obtener aclaración de la información mostrada en la autogestión Mi Claro, quedando Claro en la obligación de proporcionar la información solicitada. El usuario podrá ejercer el derecho de rectificación, cuando los datos que se posean fueran incorrectos.
                    (e)	La mayoría de las inquietudes de los usuarios se pueden resolver de manera rápida y satisfactoria llamando a nuestro Departamento de Servicio al Cliente a los siguientes números telefónicos: 787-775-000 (individuos) o 787-792-6262 (corporativo).

                    3.4. Para tener acceso a Mi Claro es necesario utilizar una computadora personal o un equipo celular, con línea de acceso a Internet y un navegador con capa de conexiones seguras (SSL, por sus siglas en inglés) y encriptación de 256 bits. Los navegadores recomendados son: Internet Explorer versión 8 o mayor para Windows; Google Chrome versión 13 o mayor para Windows; Mozilla Firefox versión 6 o mayor para Windows o Mac OS X.  Safari versión 7.0 o mayor para Mac OS X o Windows; Acrobat Reader® es necesario para ver tus facturas electrónicas.
                    <br>
                    <strong>4. Derecho para Reclamar Cargos</strong>

                    4.1 Por disposición de la Ley 213 del 12 de septiembre de 1996 y la Ley 33 del 27 de junio de 1985, el Usuario/cliente tiene hasta veinte (20) días a partir del envío de la factura, para pagar u objetar los cargos contenidos en la misma. Para objetar y solicitar una investigación, comuníquese al (787) 775-0000, o por escrito al PO BOX 70367 San Juan PR 00936-8367. También puedes visitar nuestra página electrónica www.clarotodo.com. De no haberse efectuado el pago ni objetado dentro del plazo de 20 días, la compañía podrá suspender, desconectar y dar de baja el/los servicios. La objeción de un cargo no releva al cliente del pago de los cargos no objetados.

                    4.2 La Junta Reglamentadora de Telecomunicaciones de Puerto Rico es el ente revisor de las controversias entre consumidores y compañía de telecomunicaciones. Si el Usuario/cliente no está de acuerdo con el resultado de la investigación, podrá acudir en revisión a la Junta, dentro de 30 días contados a partir de la notificación del resultado de la investigación. Para este y otros propósitos, puedes dirigir su comunicación a la siguiente dirección: 500 Ave. Roberto H. Todd, Santurce, PR 00907-3941, visitar personalmente las oficinas ubicadas en el 500 de la Ave. Roberto H. Todd, Pda. 18 en Santurce, o llamar al teléfono Metro 787-756-0804; Isla 1-866-578- 5500; Oficina de Analistas de Querellas / Servicio al Cliente 787-722-8606; correspondencia electrónica: correspondencia@jrpr.gobierno.pr
                    <br>
                    <strong>5. Seguridad</strong>

                    5.1 La información que el Usuario ingrese a Mi Claro estará protegida por la contraseña que establezca al momento de registrar su cuenta de Usuario. La confidencialidad de la contraseña de acceso a su cuenta es de entera responsabilidad del Usuario, quien, deberá mantener seguro el ambiente de su teléfono móvil y su computadora, mediante el uso de herramientas disponibles, tales como antivirus, entre otras, actualizadas, de modo a contribuir en la prevención de riesgos electrónicos del lado del usuario, desde que estas herramientas de protección no interfieran en la utilización del Servicio. Así mismo, es responsabilidad del Usuario proporcionar, por sus propios medios, equipos (hardware) y programas (software) capaces de reproducir los archivos digitales disponibles en el Servicio.

                    5.2 EL Usuario asume la plena responsabilidad frente a Claro Puerto Rico por todas las transacciones realizadas y que sean validadas a través de su cuenta de Usuario en Mi Claro, las cuales presuponen su consentimiento y autorización, incluyendo, pero sin limitarse a transacciones realizadas mediante el acceso no autorizado de su cuenta.

                    5.3 EL Usuario, se obliga a notificar por escrito o por el medio más expedito a Claro Puerto Rico cualquiera de las siguientes situaciones: (i) Pérdida o robo de su clave o contraseña (ii) Uso no autorizado de su clave o contraseña ; (iii) Uso no autorizado de Mi Claro o de algún tipo de información contenida en la aplicación; (iv) Alguna falla, error o hecho inusual al recibir algún mensaje relacionado con una transacción iniciada por EL Usuario a través de Mi Claro o que haya sido recibida y/o ejecutada a través del mismo.
                    <br>
                    <strong>6. Uso de Información</strong>

                    Claro Puerto Rico se reserva el derecho recopilar información sobre las actividades en línea del usuario por medio de “cookies” o cualquiera otro tipo de tecnología disponible para esos fines. El usuario autoriza de manera libre, voluntaria y expresa a Claro Puerto Rico el tratamiento de sus datos relacionados con su comportamiento o hábitos de consumo, tales como, pero no limitado a marca y modelo de su teléfono móvil, ubicación (previa autorización en la App y/o autorización en el sistema operativo del terminal que utiliza para acceder a Mi Claro), tipo de conexión empleada (Wi-Fi o datos móvil), aplicaciones instaladas y corriendo (previa autorización en la App), datos estadísticos de uso, de forma agregada y anónima, con la finalidad de enviarle publicaciones publicitarias digitales o cualquiera otro uso permitido por Ley.
                    <br>
                    <strong>7. Marcas, Derechos de Autor y Propiedad Intelectual</strong>

                    7.1. Claro Puerto Rico es una marca de América Móvil y las demás marcas de fábrica, logotipos y marcas de servicio (denominadas colectivamente "Marcas ") utilizados en este sitio Web pertenecen a Claro Puerto Rico o a sus respectivos propietarios. Nada de lo contenido en este sitio debe interpretarse como una concesión, ya sea por implicación, exclusión o de otro modo, de una licencia o derecho de utilizar la marca Claro Puerto Rico o cualquier otra Marca mostrada en este sitio Web sin el permiso por escrito de Claro Puerto Rico o de su respectivo propietario.

                    7.2. Excepto según se dispone en estos Términos y Condiciones, Claro Puerto Rico ni concede ni otorga derecho, título, interés o licencia sobre derecho de autor, marcas, patente o cualquier propiedad intelectual sobre el Contenido de este sitio a los usuarios de Mi Claro. Todos los derechos de autor, derechos sobre marcas, patentes, o cualquier otro derecho de propiedad intelectual conocidos en la actualidad o reconocidos posteriormente le pertenecen a Claro Puerto Rico.

                    7.3. TMETE A INDEMNIZAR A CLAROPR, SUS AFILIADAS, DIRECTORES, OFICIALES, EMPLEADOS AGENTES O REPRESENTANTES POR Y CONTRA TODO DAÑO, TODO USUARIO DE ESTE SITIO RELEVA DE RESPONSABILIDAD Y SE COMPROMETE A INDEMNIZAR A CLARO PUERTO RICO, SUS AFILIADAS, DIRECTORES, OFICIALES, EMPLEADOS AGENTES O REPRESENTANTES POR Y CONTRA TODO DAÑO, PÉRDIDA, MULTA O PENALIDAD, INCLUYENDO HONORARIOS DE ABOGADO QUE SURJAN O ESTÉN RELACIONADOS CON EL CONTENIDO DEL  MATERIAL QUE EL USUARIO SOMETA, ENVÍE O TRANSMITA A TRAVÉS DE ESTE  SITIO O SU ACCESO AL SITIO, LA VIOLACIÓN DE ESTOS TÉRMINOS Y CONDICIONES O LA VIOLACIÓN DE LOS DERECHOS DE TERCERO, INCLUYENDO, PERO SIN LIMITARSE A CUALQUIER VIOLACIÓN DE DERECHOS DE AUTOR, DERECHOS SOBRE MARCAS O DE CUALQUIER OTRO DERECHO DE PROPIEDAD INTELECTUAL COMETIDA POR EL USUARIO. CLARO PUERTO RICO SE RESERVA EL DERECHO DE ASUMIR EL CONTROL DE CUALQUIER ASUNTO POR EL CUAL USTED LE DEBA INDEMNIZAR, EN CUYO CASO USTED SE COMPROMETE A COOPERAR CON CLARO PUERTO RICO SEGÚN SE LE REQUIERA.
                    <br>
                    <strong>8. Incumplimiento con los Términos y Condiciones</strong>

                    Claro Puerto Rico se reserva el derecho de reclamar todo remedio disponible en Ley o equidad incluyendo, pero sin limitarse a la cancelación de la cuenta de usuario, en caso de que cualquier usuario incumpla con estos Términos y Condiciones o la Ley aplicable al uso de este sitio.
                    <br>
                    <strong>9. Ausencia de Garantías</strong>

                    9.1. EL CONTENIDO QUE SE OFRECE EN MI CLARO PUERTO RICO SE PROPORCIONA "TAL CUAL" Y "SEGÚN ESTÉ DISPONIBLE", SIN GARANTÍA DE NINGÚN TIPO, YA SEA EXPRESA O IMPLÍCITA, INCLUYENDO, PERO SIN LIMITARSE A GARANTÍAS DE DERECHOS DE PROPIEDAD, NO VIOLACIÓN O GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD O ADECUACIDAD PARA UN FIN ESPECÍFICO. NINGÚN CONSEJO O CONTENIDO OFRECIDO POR CLARO PUERTO RICO, SUS COMPAÑÍAS AFILIADAS O SUS EMPLEADOS RESPECTIVAMENTE CREARÁ NINGÚN TIPO DE GARANTÍA. NI CLARO PUERTO RICO NI SUS COMPAÑÍAS, AFILIADAS GARANTIZAN QUE EL CONTENIDO DE ESTE SERVICIO O DE INTERNET EN GENERAL SERÁN ININTERRUMPIBLES O QUE CARECERAN DE ERRORES, NI QUE CUALQUIER CONTENIDO, SOFTWARE U OTRO MATERIAL AL QUE SE ACCEDA DESDE ESTE SERVICIO NO CONTENDRÁ NINGÚN VIRUS U OTRO ELEMENTO PERJUDICIAL. ESTA EXCLUSIÓN DE GARANTÍAS CONSTITUYE UNA PARTE ESENCIAL DE LA DECLARACIÓN DE PRIVACIDAD.

                    9.2. ES RESPONSABILIDAD DEL USUARIO EVALUAR LA EXACTITUD, LA COMPLEJIDAD O LA UTILIDAD DE CUALQUIER OPINIÓN, CONSEJO U OTRO CONTENIDO DISPONIBLE A TRAVÉS DEL SITIO, U OBTENIDO DE UN SITIO VINCULADO.
                    <br>
                    <strong>10. Limitación de responsabilidad</strong>

                    10.1. Teniendo en cuenta que la utilización de los servicios implica hardware, software y acceso a Internet, así como equipos celulares compatibles con los servicios disponibles, su capacidad de usarlos puede ser afectada por el desempeño de estos factores. Claro Puerto Rico no es responsable por la calidad de servicio a la que el usuario se conecta para utilizar el Servicio.

                    10.2. Cualquier daño o perjuicio que sufra el usuario por el uso de Mi Claro, cualquier pérdida que llegare a sufrir por tener acceso o por ejecutar operaciones a través de Mi Claro, es responsabilidad exclusiva del usuario y por lo tanto el usuario declara que mantendrá indemne y libre de toda responsabilidad a Claro Puerto Rico y sus compañías afiliadas.  Igualmente, el usuario releva de cualquier responsabilidad a Claro Puerto Rico y sus compañías afiliadas por los daños que llegare a sufrir el hardware y el software, o cualquier aparato electrónico a través del cual el usuario acceda a Mi Claro Puerto Rico. En ningún caso Claro Puerto Rico responsable por daños ni por las pérdidas o gastos que pudiesen surgir por conectarse a Mi Claro Puerto Rico o por el uso que se haga del mismo, o por la incapacidad para hacer uso del mismo por parte de cualquier persona, o por cualquier falla en la ejecución, error, omisión, interrupción, defecto, demora en la transmisión de la información o en la información transmitida o en la conexión, o por la existencia de un virus en la computadora o equipo celular o por fallas del sistema o en la línea, o por su suspensión o cancelación de su cuenta.

                    10.3. BAJO NINGUNA CIRCUNSTANCIA CLARO PUERTO RICO SERÁ RESPONSABLE POR DAÑOS Y PERJUICIOS ESPECIALES, FORTUITOS, RESULTANTES O PUNITIVOS, INCLUYENDO HONORARIOS DE ABOGADOS, NI POR DAÑOS Y PERJUICIOS QUE SE DERIVEN DE LA PÉRDIDA DE USO, DATOS, BENEFICIOS O GANANCIAS, YA SEAN CONTRACTUALES, EXTRACONTRACTUALES, POR NEGLIGENCIA O POR CUALQUIER OTRA ACCIÓN TORTICERA, QUE SURJAN DE O QUE ESTÉN RELACIONADAS CON EL USO O EL NIVEL DE DESEMPEÑO DEL CONTENIDO, ESTE SERVIDOR O INTERNET EN GENERAL.

                    10.4. El usuario  acuerda indemnizar y mantener a Claro Puerto Rico indemne frente a toda pérdida, costo, daño, gasto y reclamo derivados de sus reclamos o reclamos de terceros como resultado de: (i) su incumplimiento con estos Términos y Condiciones; (ii) el uso de Mi Claro; (iii) cualquier violación de la Ley aplicable por parte del usuario o de derechos de terceros; (iv) todo reclamo relacionado con el uso (por parte de (Claro Puerto Rico o Terceros) de la información provista por el usuario en este sitio  y los sitios vinculados.
                    <br>
                    <strong>11. Ley de Derechos de Autor del Milenio Digital</strong>

                    11.1. En virtud del Capítulo II de la Ley de Derechos de Autor del Milenio Digital (Digital Millennium Copyright Acta o “DCMA”), todas las reclamaciones de infracción de derechos de autor por material que se crea está contenido en el sistema o la red de Claro, deben enviarse prontamente mediante comunicación escrita al Asesor Jurídico de Claro Puerto Rico, agente designado de Claro Puerto Rico conforme la DCMA a la siguiente direcciones de correo electrónico fsilva@claropr.com / jdeliz@claropr.com  o a la siguiente dirección postal: P.O. Box 70367, San Juan, PR 00936-8367.

                    11.2. Todas las reclamaciones deben incluir la siguiente información:

                    (a)	Una firma física o electrónica de una persona autorizada a actuar en nombre del propietario de un derecho exclusivo que se alegue está siendo infringido;
                    (b)	Identificación del trabajo u obra protegida por derechos de autor que se reclama haber sido infringido, o si múltiples trabajos protegidos por derechos de autor en un solo sitio de Internet están cubiertos por una sola notificación, una lista representativa de dichos trabajos en ese sitio Web;
                    (c)	Identificación del material que se reclama haber sido infringido o ser objeto de una actividad de infracción y que debe eliminarse o cuyo acceso debe desactivarse, e información razonablemente suficiente para permitir que el proveedor de servicio localice dicho material;
                    (d)	Información razonablemente suficiente para permitir que el proveedor de servicio se ponga en contacto con la Parte Reclamante, tal como una dirección, un número de teléfono y, si existe, una dirección de correo electrónico en la que se pueda contactar a la Parte Reclamante;
                    (e)	Una declaración de que la Parte Reclamante tiene la creencia de buena fe de que el uso del material en la manera denunciada no está autorizado por el propietario de los derechos de autor, su agente o la ley, y
                    (f)	Una declaración indicando que la información de la notificación es correcta y, bajo pena de perjurio que la Parte Reclamante está autorizada a actuar en nombre del propietario de un derecho exclusivo que se alega está siendo infringido.
                    <br>
                    <strong>12. Ley Aplicable</strong>

                    12.1. Exceptuando las leyes aplicables del Gobierno Federales de los Estados Unidos, las disposiciones anteriores se regirán por y se interpretarán de acuerdo con las leyes primarias de Puerto Rico, sin tener en cuenta los principios de conflicto de derecho de este.

                    12.2. El usuario de este sitio se somete voluntariamente a la jurisdicción y competencia de los tribunales federales y estatales del Estado Libre Asociado de Puerto Rico y renuncia a cualquier defensa de falta de jurisdicción o competencia. El usuario se compromete a que, de tener alguna reclamación en contra de Claro que surja por el uso de este sitio o a base de estos Términos y Condiciones, la misma deberá ser presentada en los tribunales estatales o federales de Puerto Rico.
                    <br>
                    <strong>13. Títulos.</strong>

                    Los títulos utilizados en las secciones de estos Términos y Condiciones tienen el único propósito de facilitar su uso al hacer referencia a ellos y no forman parte del contrato ni afectarán en modo alguna la interpretación de estos.
                    <br>
                    <strong>14. Separabilidad.</strong>

                    Si alguno de estos Términos y Condiciones fuera declarado nulo o invalido por un tribunal o agencia administrativa con jurisdicción y competencia para ello, tal declaración no afectará el resto de los Términos y Condiciones, los cuales se mantendrán firmes y obligatorias tanto para Claro Puerto Rico como para los usuarios de Mi Claro.
                    <br>
                    <strong>15. Acuerdo total.</strong>

                    Estos Términos y Condiciones y los que se incorporen por referencia a los mismos, constituyen el acuerdo total y completo entre Claro Puerto Rico y el usuario por el uso de Mi Claro. Estos Términos y Condiciones reemplazan y/o revocan cualquier Términos y Condiciones con fecha precedente.
                    <br>
                    <strong>16. Política de Privacidad</strong>

                    Para cualquier consulta referente a la Política de Privacidad de Claro Puerto Rico ingrese a
                    <a (click)="openExternalBrowser('https://miclaro.claropr.com/politics/politicaPrivacidad/')">https://miclaro.claropr.com/politics/</a>
                    <br>
                    <strong>17. Legal y Regulatorio</strong>

                    Para cualquier consulta referente a concepto Legales y Regulatorios ingrese a
                    <a (click)="openExternalBrowser('https://miclaro.claropr.com/politics/politicaPrivacidad/')">https://www.claropr.com/legal-regulatorio/</a>
                </div>
            </div>
        </div>

        <div class="basicrow text-center m-top-i lessm">
            <ion-button class="btns def-i red centr vcenter"
                        (click)="closeTerms()"
                        color="primary"
                        expand="full">
                Cerrar
            </ion-button>
        </div>
    </div>
</div>
