.termgbg {
  width: 100%;
  height: auto;
  float: left;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  padding: 16px;
}

.termr-t {
  width: 100%;
  height: 225px;
  overflow-y: scroll;
  float: left;
  background-color: #ffffff;
  padding: 14px;
  border: 1px solid #cccccc;
  text-align: justify;
  font-size: 11px;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.termr-t, .text-terms {
  white-space: pre-line;
}