<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow mbott">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-26"></span> Compras
                </div>
            </div>

            <div class="basicrow m-top-i">
                <img alt="" width="100%" src="assets/images/buysbanner.jpg">
            </div>

            <div class="basicrow m-top-i">
                <div class="basicrow f-title roboto-l f-black">
                    Nuestros Servicios
                </div>

                <div class="basicrow">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                                    <img alt="" width="100%" src="assets/images/buyimage-i.jpg">
                                </div>

                                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                                    <div class="buytitle f-big roboto-l f-black">
                                        Tienda
                                    </div>

                                    <div class="basicrow f-mildt roboto-l f-mgray">
                                        Descubre los equipos que puedes comprar por internet.
                                    </div>

                                    <div class="basicrow m-top-ii">
                                        <a id="store" class="linkdefs f-med" (click)="go(4)">
                                            Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii" *ngIf="!isTelephony">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                                    <img alt="" width="100%" src="assets/images/buyimage-v.jpg">
                                </div>

                                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                                    <div class="buytitle f-big roboto-l f-black">
                                        Regala 1 Recarga
                                    </div>

                                    <div class="basicrow f-mildt roboto-l f-mgray">
                                        Regala 1 Recarga a un amigo/a o familiar que sea cliente prepago.
                                    </div>

                                    <div class="basicrow m-top-ii">
                                        <a class="linkdefs f-med" (click)="go(0)">
                                            Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii" style="display: none">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                                    <img alt="" width="100%" src="assets/images/buyimage-iii.jpg">
                                </div>

                                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                                    <div class="buytitle f-big roboto-l f-black">
                                        Compra de Servicio Valor Agregado
                                    </div>

                                    <div class="basicrow f-mildt roboto-l f-mgray">
                                        Toda la protección al alcance de la mano.
                                    </div>

                                    <div class="basicrow m-top-ii">
                                        <a id="service-additional" class="linkdefs f-med" (click)="go(3)">
                                            Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii" *ngIf="!isTelephony">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                                    <img alt="" width="100%" src="assets/images/buyimage-ii.jpg">
                                </div>

                                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                                    <div class="buytitle f-big roboto-l f-black">
                                        Compra de Data Adicional
                                    </div>

                                    <div class="basicrow f-mildt roboto-l f-mgray">
                                        No te quedes sin navegar, compra data adicional aqui.
                                    </div>

                                    <div class="basicrow m-top-ii">
                                        <a id="data-additional" class="linkdefs f-med" (click)="go(1)">
                                            Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii" *ngIf="!isTelephony">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                                    <img alt="" width="100%" src="assets/images/buyimage-iv.jpg">
                                </div>

                                <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                                    <div class="buytitle f-big roboto-l f-black">
                                        Regala 1GB
                                    </div>

                                    <div class="basicrow f-mildt roboto-l f-mgray">
                                        Regala 1 GB a un amigo/a o familiar que sea cliente Movil Postpago.
                                    </div>

                                    <div class="basicrow m-top-ii">
                                        <a id="gift-1gb" class="linkdefs f-med" (click)="go(2)">
                                            Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
