
<ion-app>
    <app-popup-base></app-popup-base>
    <app-loading></app-loading>
    <div id="wrapper" class="appsize">
        <ion-router-outlet></ion-router-outlet>
        <app-footer></app-footer>
    </div>
</ion-app>
