<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow mbott">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-01"></span> Factura Electr&oacute;nica
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>

                    <app-account-select></app-account-select>
                </div>
            </div>

            <div class="basicrow">
                <div class="autowcont m-top-i">
                    <div class="basicrow msidespad">
                        <div class="b-title">
                            <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                <div class="tabcell">
                                    Factura Electr&oacute;nica
                                </div>
                            </div>
                        </div>

                        <div class="basicrow m-top-i mbott-i">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-center">
                                        <img alt="" width="100%" class="digfctr" src="assets/images/fact-dig.png">
                                    </div>

                                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 f-black">
                                        <div class="basicrow f-bmed roboto-b text-justify" *ngIf="!paperless">
                                            &#191;Te gustar&iacute;a conservar el ambiente? Suscr&iacute;bete al servicio de Factura Electr&oacute;nica.
                                        </div>

                                        <div class="basicrow m-top-i">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2" style="display: flex">

                                                    <!--[INIT ESTADO SUBSCRITO]-->
                                                    <div class="autocont nofloat alrd-mleft" *ngIf="paperless">
                                                        <div class="autocont f-green-i vcenter">
                                                            <div class="tabcell">
                                                                <span class="f-newfdig">Gracias, ya estas suscrito a Factura Electrónica.</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="autocont nofloat" *ngIf="paperless">
                                                        <div class="autocont vcenter">
                                                            <div class="tabcell">
                                                                <img alt="" class="fdig-check" width="100%" src="assets/images/fact-dig-check.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!---[END ESTADO SUBSCRITO]-->


                                                    <!--[INIT ESTADO NO SUBSCRITO]-->
                                                    <div class="autorow pull-left f-bmed roboto-r text-right dig-def" *ngIf="!paperless">
                                                        <span class="roboto-b">Factura de Servicio</span><br/>
                                                        Paperless
                                                    </div>

                                                    <label class="switch dig-def m-left-i" *ngIf="!paperless">
                                                        <input type="checkbox"
                                                               [value]="check"
                                                               [(ngModel)]="check"
                                                                (click)="changePaperless(!check)">
                                                        <span class="checkdef-f">
																  	<span class="t-otherc"></span>
																  </span>
                                                    </label>
                                                    <!--[INIT ESTADO NO SUBSCRITO]-->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





