.header-of-payment {
    padding: 1.5rem;
    border: solid 1px #eaeaea;
    margin-top: 1.5rem;
    border-radius: 15px;
    -webkit-box-shadow: 2px 1px 15px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 1px 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 1px 15px -7px rgba(0, 0, 0, 0.75);
}

hr {
    background-color: #45a7bc;
}

.bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.flash-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
    width: 90%;
}

.accordion-container {
    margin-top: 2rem;
    width: 100%;
    border: solid 1px #e5e5e5;
    border-radius: 15px;
}

.flash-title-container {
    padding: 1rem
}

.border-top {
    border-top: solid 1px #e5e5e5;
}

.info-box {
    min-width: 55%;
}

.amount-options-container {
    display: flex;
}

.head-text {
    font-size: 2rem;
    font-weight: bold
}

.icon-container {
    display: block
}

.invoice-icon {
    height: auto;
    width: 50px
}

.data-title {
    font-weight: bold
}

.data-date {
    font-size: .9rem;
    font-weight: lighter
}

.date-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 1rem;
    align-items: center;
}

.amount {
    color: #45a7bc;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 1px #bebebe;
    border-radius: 6px 0 0 6px;
    margin-top: 0.3rem;
    font-weight: bold;
    min-width: 100px;
    text-align: center;
}

.max-width-fix {
    max-width: 60px;
    text-align: center;
}

.continue-button {
    padding: 0.5rem 0 0.2rem;
    color: white;
    text-transform: capitalize;
    --border-radius: 0 6px 6px 0;
    font-size: 0.9rem;
    height: 39px;
    position: relative;
    left: -2px;
}

.pay-action-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.box-info-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
}

.box-info {
    border: solid 2px #bebebe;
    border-radius: 16px;
    padding: 1rem 1.2rem;
    position: relative;
    margin-bottom: 1rem;
}
.box-info-active {
    border: solid 2px #45a7bc;
}

.info-mark {
    background-color: #bebebe;
    height: 100%;
    position: absolute;
    width: 11px;
    border-radius: 10px 0 0 10px;
    top: 0;
    left: -1px;
}

.info-mark-active {
    background-color: #2097ae;
}


.internal-accordion-container {
    margin: auto;;
    max-width: 750px;;
}

.line-decorator {
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    margin: 1rem auto;
}

.action-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.action-btn {
    background-color: #ef3829;
    padding: 0.7rem 3rem
}

.accordion-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem
}

.id-step {
    width: 2rem;
    height: 2rem;
    background-color: #8b8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    margin-right: 1rem;
}

.left-title {
    display: flex
}

.step-on {
    background-color: #45a7bc
}

.hidden {
    display: none
}

.flash-modal-container {
    position: absolute;
    width: 100%;
    height: 100VH;
    margin: 5rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: #cac7c76b;
}

.web-container {
    width: 100%;
    height: 100%
}

.frame {
    width: 100%;
    height: 50VH;
    zoom: 1.5;
    //border-radius: 7px;
    overflow: auto;
}

.close {
    padding-bottom: 1rem
}

.img-step1 {
    width: 60px
}

.img-step1-fix {
    width: 75px
}

.btn-exit {
    background-color: #bebebe;
    border-color: #bebebe;
    color: white;

    &:hover {
        background-color: #ef3829;
        border-color: #ef3829
    }
}

.download-pdf {
    color: #2097ae;
    font-weight: bold;
    cursor: pointer;
    padding-top: 6px;
    ion-icon {
        font-size: 1.8rem;
        position: relative;
        bottom: -5px;
        padding-right: 3px;
    }
}


@media only screen and (max-width: 768px) {
    .flash-container {
        width: 100%
    }
    .gray-box-info-container {
        padding: 1rem
    }
    .rihgt-title {
        display: none
    }
    .internal-accordion-container {
        width: 100%;
        max-width: unset
    }
    .action-container {
        width: 100%
    }
    .action-btn {
        width: 100%
    }
    .mobile-with-fix {
        padding: unset
    }


    .allfootcont {
        height: auto;
        width: 100%;
        position: absolute;
        top: 110VH;
        left: 0;
    }
    .footcont {
        height: 62px;
        background-color: #000104;
        font-size: 14px;
        color: #FFF;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        width: 100%;
        text-align: left;
    }
    .vcenter {
        display: table !important;
        height: 100%
    }
    .footlogo {
        width: 60px;
        height: 23px;
        display: inline-block;
        margin: -10px 10px 0;
    }
    .pull-right {
        width: 50%;
        text-align: right
    }
    .pull-left {
        width: 50%;
        text-align: left
    }
    .centro {
        display: table !important;
        height: 100%
    }

    .max-width {
        width: 100%
    }
    .prepaid-head-content {
        //display: flex;
        //justify-content: space-between
    }
    .prepaid-title {
        font-size: 2rem;
        font-weight: bold
    }
    .title-item {
        font-weight: bold
    }

    .value-item {
        font-weight: bold;
        color: #2097ae
    }
}

@media only screen and (max-width: 768px) {
    .allfootcont {
        height: 48px
    }
    .mob-width {
        width: 100%;
        text-align: center
    }
    .pull-right.full-c.mob-text {
        float: none !important;
        text-align: center
    }
    .footcont {
        height: 110px;
        padding: 15px
    }
    .footlogo {
        display: block;
        margin: 0 auto 7px;
    }

    .pull-right {
        width: 100%
    }
    .invoice-amount {
        justify-content: center;
        grid-template-columns: unset
    }
    .info-box {
        flex-direction: column;
        justify-content: unset;
        width: 100%
    }
}

@media only screen and (max-width: 1920px) {
    .contenedor {
        width: 100%;
        padding: 0 5%
    }
    .allfootcont {
        bottom: 63px
    }
}

.collapse:not(.show) {
    display: none;
}
