<ion-header>
    <ion-toolbar>
        <ion-title>Proceso de pago</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="dismissModal()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #contentFlashPayment>

    <div class="basicrow m-top">
        <div class="container mobile-with-fix">
            <div class="flash-container">
                <app-head-form
                    [billDueDateField]="billDueDateField"
                    [billBalanceField]="billBalanceField"
                    [pastDueAmountField]="pastDueAmountField"
                    [canUpdateAmount]="canUpdateAmount"
                    [editOperationAmount]="editOperationAmount"
                    [lastPaymentAmountField]="lastPaymentAmountField"
                    (changeAmount)="changeAmount($event)"
                    (editAmount)="activateChange($event)"
                    class="max-width"></app-head-form>

                <div id="accordion1" class="accordion-container">
                    <div class="flash-title-container">
                        <div class="">
                            <div class="accordion-section-title"
                                 (click)="openStepOne()">
                                <div class="left-title">
                                    <div class="id-step step-on">1</div>
                                    <div class="title-text">Forma de Pago</div>
                                </div>
                                <div class="rihgt-title">
                                    <img src="assets/images/icon_tarjeta_1.png" alt=""
                                         *ngIf="flashPaymentService.controller.isCard" class="img-step1"/>

                                    <img class="img-fix img-step1-fix" src="assets/images/icon_wallet_2.png" alt=""
                                         *ngIf="flashPaymentService.controller.isPlaceToPay"/>

                                    <img src="assets/images/icon_ACH_1.png" alt=""
                                         *ngIf="flashPaymentService.controller.isACH" class="img-step1"/>
                                </div>
                            </div>
                        </div>

                        <div [ngClass]="{ collapse: !flashPaymentService.controller.step1}">
                            <div class="line-decorator"></div>
                            <div class="internal-accordion-container" [ngClass]="{ hidden: !flashPaymentService.controller.step1}">
                                <app-way-to-pay></app-way-to-pay>
                            </div>
                        </div>
                    </div>

                    <div class="flash-title-container border-top"
                         *ngIf="!flashPaymentService.controller.isPlaceToPay && !flashPaymentService.controller.isACH">
                        <div>
                            <div class="accordion-section-title">
                                <div class="left-title">
                                    <div class="id-step" [ngClass]="{'step-on': flashPaymentService.controller.step2 }">
                                        2
                                    </div>
                                    <div class="title-text">Resumen de Pago</div>
                                </div>
                                <div class="rihgt-title" [ngClass]="{ hidden: !flashPaymentService.controller.step2 }">
                                    {{ flashPaymentService.controller.operationAmount | currency }}
                                </div>
                            </div>
                        </div>
                        <div id="respuesta2"
                             [ngClass]="{ collapse: !flashPaymentService.controller.step2 || flashPaymentService.controller.step3}">
                            <div class="line-decorator"></div>
                            <div class="internal-accordion-container"
                                 [class]="{ hidden: !flashPaymentService.controller.step2 }">
                                <app-payment-summary></app-payment-summary>
                            </div>
                        </div>
                    </div>

                    <div class="flash-title-container border-top">
                        <div>
                            <div class="accordion-section-title">
                                <div class="left-title">
                                    <div class="id-step" [ngClass]="{ 'step-on': flashPaymentService.controller.step3 }"
                                         *ngIf="!flashPaymentService.controller.isPlaceToPay && !flashPaymentService.controller.isACH">
                                        3
                                    </div>

                                    <div class="id-step" [ngClass]="{'step-on': flashPaymentService.controller.step3 }"
                                         *ngIf="flashPaymentService.controller.isPlaceToPay || flashPaymentService.controller.isACH">
                                        2
                                    </div>

                                    <div class="title-text">Confirmación de Pago</div>
                                </div>
                                <div class="rihgt-title"></div>
                            </div>
                        </div>
                        <div id="respuesta3"
                             [ngClass]="{ collapse: !flashPaymentService.controller.step3 }">
                            <div class="line-decorator"></div>
                            <div class="internal-accordion-container"
                                 [ngClass]="{ hidden: !flashPaymentService.controller.step3}">
                                <app-payment-confirmation></app-payment-confirmation>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-container" *ngIf="flashPaymentService.controller.step3">
                    <ion-button color="medium" (click)="dismissModal(true)">
                        Regresar
                    </ion-button>
                </div>
            </div>
        </div>

    </div>

</ion-content>
