<div class="popupbg" *ngIf="show">
    <div class="popupcont morew">
        <div class="basicrow text-center">
            <img width="100%" class="bigclarogif" style="width: 40px; height: 40px;" src="../../../../../assets/images/claroloadgif.gif"  alt=""/>
        </div>

        <div class="basicrow f-bmed f-black roboto-r">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="basicrow m-top-i text-center">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
