<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                Actualización de Registro
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isProductTypeG">
                    <div *ngIf="isTelephony" class="basicrow m-top f-reg f-black roboto-r text-justify">
                        Hemos enviado el código de verificación, vía EMAIL.
                    </div>

                    <div *ngIf="!isTelephony" class="basicrow m-top f-reg f-black roboto-r text-justify">
                        Hemos enviado el código de verificación, vía SMS.
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow rel">
                            <img alt="" *ngIf="isTelephony" [popper]="'PIN a tu correo electrónico.'"
                                 [popperTrigger]="'click'"
                                 [popperTimeoutAfterShow]="3000"
                                 class="q-t-pay" src="assets/images/tooltip1.png">
                            <img alt="" *ngIf="!isTelephony" [popper]="'PIN a tu celular y correo electrónico.'"
                                 [popperTrigger]="'click'"
                                 [popperTimeoutAfterShow]="3000"
                                 class="q-t-pay" src="assets/images/tooltip1.png">
                            <input type="tel"
                                   maxlength="6"
                                   inputmode="numeric"
                                   pattern="^[0-9]*$"
                                   placeholder="Código de confirmación"
                                   class="inp-f disc"
                                   [(ngModel)]="code">
                            <div class="basicrow m-top-u f-reg f-black roboto-r text-center">
                                &#191;No has recibido el c&oacute;digo de seguridad&#63; <a (click)="resend()" class="linkdefs">Reenviar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!isProductTypeG">
                    <div class="basicrow m-top f-reg f-black roboto-r text-justify">
                        Por favor ingrese los últimos 4 dígitos de Seguro Social.
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <input type="tel"
                                   maxlength="4"
                                   inputmode="numeric"
                                   pattern="^[0-9]*$"
                                   placeholder="4 &uacute;ltimos de SSN"
                                   class="inp-f disc"
                                   [(ngModel)]="ssn">
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div (click)="nextStep()"
                         [className]="
                        (isProductTypeG && code.length === 6)
                        || (!isProductTypeG && ssn.length === 4)
                         ? 'btns vcenter red rippleR' : 'btns vcenter gray'">
                        <div class="tabcell">
                            Continuar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>

            </div>
        </div>
    </div>

</div>


