<div class="popupbg new-popup">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-b padding-2rem">
            Términos y condiciones de desactivación
            <ion-icon name="close" class="icon-close" (click)="closeEmit()"></ion-icon>
        </div>

        <div class="container-terms" [innerHTML]="terms"></div>

        <div class="basicrow text-center f-bold">
            Copyright © 2021 Puerto Rico Telephone Company, Inc.
        </div>
    </div>
</div>

