.new-popup {
    border-radius: 9px;
}

.padding-2rem {
    padding-right: 2rem;
}

.icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
}

.container-terms {
    text-align: justify;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    float: left;
    margin: 2rem 0 1rem;
}
