
		<div class="allcont logsize">

			<app-header></app-header>
			
			<app-menu></app-menu>
			<div class="basicrow">

				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span><img src="assets/images/ico_preguntasFrecuentes.png" style="height: 50px; width: 50px; margin: 10px"></span>
							&nbsp;Preguntas Frecuentes
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top-i m-bott">
					<div class="container">
						<div class="basicrow">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f" (click)='showingMenu(0)'>
								¿Qué es el Programa de Referidos?

								<i  aria-hidden="true" [ngClass]="contentShow[0] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg1" [ngClass]=" contentShow[0]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									El Programa de Referidos permite que cualquier cliente activo de Claro pueda referir nuevos clientes (sean éstos familiares, amigos o conocidos) sin importar el tiempo que lleve como cliente en Claro. Tanto el cliente existente, como la persona referida, podrían disfrutar de un descuento que está condicionado a que el cliente referido complete la adquisición del producto o servicio participante en el Programa.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f" (click)='showingMenu(1)'>
								¿Qué hago para participar?

								<i  aria-hidden="true" [ngClass]="contentShow[1] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg2" [ngClass]=" contentShow[1]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									<ul style="list-style-type:disc;">
										<li>Si eres cliente existente CLARO, y tienes cuenta en Mi Claro, accede a la misma, ingresa la información requerida, acepta los términos y condiciones del Programa y comienza a referir.</li>
										<li>Si eres cliente existente CLARO, y NO tienes cuenta en Mi Claro, accede al enlace Mi Claro para registrarte en https://miclaro.clarotodo.com/, crea tu cuenta, acepta los términos y condiciones del programa y comienza a referir.</li>
										<li>Si NO eres cliente existente CLARO, activa uno de los productos o servicios aplicables del programa, crea tu cuenta en Mi Claro para tener acceso al Programa, acepta los términos y condiciones y comienza a referir.</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f" (click)='showingMenu(2)'>
								¿Hay límite de referidos?

								<i  aria-hidden="true" [ngClass]="contentShow[2] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg3" [ngClass]=" contentShow[2]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									No hay límite de referidos. Cliente podrá acumular sus cupones, no obstante, solo podrá redimir un cupón por ciclo de factura.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg4" class="preg-f" (click)='showingMenu(3)'>
								¿Cuáles son los productos a los cuales debo suscribirme para disfrutar de los beneficios del Programa de Referidos?

								<i  aria-hidden="true" [ngClass]="contentShow[3] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>

							<div id="preg4" [ngClass]=" contentShow[3]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									<ul style="list-style-type:disc;">
										<li>Móvil “Update”.</li>
										<li>Byop / Credit Limit.</li>
										<li>Byop / Prepaid.</li>
										<li>FIJO - 2Play y 3Play con contrato de 24 meses.</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg5" class="preg-f" (click)='showingMenu(4)'>
								¿Cuáles son los Beneficios del Programa de Referidos?
						
								<i  aria-hidden="true" [ngClass]="contentShow[4] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>
						
							<div id="preg5" [ngClass]=" contentShow[4]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									<p>El beneficio adquirido aplica para el pago o recarga de la factura del cliente. El monto del beneficio adquirido puede variar por producto según aplique, estos son:</p>
									<br>
									<table class="tabla-planes">
										<thead>
										<tr>
											<th>Productos Participantes</th>
											<th>Beneficio que aplica</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>Update</td>
											<td>Cupón de $50 de descuento para pago de su factura</td>
										</tr>
										<tr>
											<td>Byop/ Credit Limit</td>
											<td>Cupón de $25 de descuento para pago de su factura</td>
										</tr>
										<tr>
											<td>Byop/ Prepaid</td>
											<td>Cupón de Descuento $25.00 en una recarga</td>
										</tr>
										<tr>
											<td>Fijo 2PLAY</td>
											<td>50% de descuento en la renta del plan</td>
										</tr>
										<tr>
											<td>Fijo 3play</td>
											<td>50% de descuento en la renta del plan y de la renta del plan de televisión.</td>
										</tr>
										<tr>
											<td>Individual Residencial<br>(Cuentas Convergentes-Móvil y Fijo)</td>
											<td>50% de descuento en la renta del plan fijo (El descuento se incluye al plan de IPTV, si la cuenta es 3Play.)</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg6" class="preg-f" (click)='showingMenu(5)'>
								¿Vigencia del cupón?
						
								<i  aria-hidden="true" [ngClass]="contentShow[5] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>
							<div id="preg6" [ngClass]=" contentShow[5]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									Cupones de descuentos tendrán una vigencia de 12 meses.
								</div>
							</div>
						</div>
						
						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg7" class="preg-f" (click)='showingMenu(6)'>
								¿Cómo puedo validar el estatus de mis referidos y/o cupones?

								<i  aria-hidden="true" [ngClass]="contentShow[6] ?  'fa fa-minus':'fa fa-plus'"></i>
							</div>


							<div id="preg7" [ngClass]=" contentShow[6]? 'in':'collapse'">
								<div class="basicrow allpads bordsdef text-justify">
									Una vez hayas registrado su cuenta en Mi Claro, podrás acceder al programa de referidos para ver el estatus de sus cupones.
								</div>
							</div>
						</div>

						<div class="basicrow text-center m-top-i">
							<div id="return" class="btns def-i blue pull-left vcenter rippleB" (click)="return()">
								<span class="tabcell">
									Regresar
								</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	

        
