<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow mbott">
        <div class="container">
            <div class="fulltitle m-top-i f-btitle">
                <span class="icon-dash-12"></span> Tus Notificaciones
            </div>

            <div class="basicrow">

                <div class="row">
                    <div *ngIf="messagesList.length > 0">
                        <div *ngFor="let notification of messagesList">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="autowcont m-top-i flicker"
                                     [ngClass]="notification.status === 0 ? 'active' : ''">
                                    <div class="basicrow msidespad">
                                        <div class="b-title">
                                            <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                                <div class="tabcell">
                                                    {{notification.subject}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="basicrow m-bott-i">
                                            <div class="basicrow" [innerHTML]="notification.message"></div>

                                            <div class="basicrow roboto-b m-top-u-ii f-bgray">
                                                {{notification.message_date}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="!(messagesList.length > 0)">
                        <div class="text-center m-top-iii">
                            Actualmente no posee notificaciones
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


