<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top mbott">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-27"></span> Suscripci&oacute;n a Netflix
                </div>
            </div>

            <div class="basicrow mbott m-top-i">

                <div class="basicrow">

                    <div class="basicrow f-reg f-black roboto-r text-justify">
                        <span class="roboto-b">Claro le ofrece la forma más segura de suscripción para continuar su afiliación.</span>
                        <br>
                        Por favor seleccione el número de suscriptor o correo electrónico donde desea recibir su código de seguridad.
                    </div>

                    <div class="basicrow f-reg f-black roboto-r">
                        <div class="row">

                            <div *ngIf="subscriber" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div [ngClass]="{'on': bySubscriber}" class="optchoice roboto-r text-left" (click)="byEmail = false; bySubscriber = true; $event.stopPropagation()">
                                    <div class="checkdef">
                                        <input type="checkbox" class="css-radio" [(ngModel)]="bySubscriber"/><label class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="basicrow opttext">
                                        N&uacute;mero Registrado<br/>
                                        <span class="roboto-b">{{subscriberHidden}}</span>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="email" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div [ngClass]="{'on': byEmail}" class="optchoice roboto-r text-left" (click)="byEmail = true; bySubscriber = false; $event.stopPropagation()">
                                    <div class="checkdef">
                                        <input type="checkbox" class="css-radio" [(ngModel)]="byEmail"/><label class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="basicrow opttext">
                                        Email Registrado<br/>
                                        <span class="roboto-b">{{emailHidden}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div (click)="nextStep()" [className]="byEmail || bySubscriber ? 'btns def-i vcenter red pull-right rippleR' : 'btns def-i vcenter pull-right gray'">
                            <div class="tabcell">
                                Continuar
                            </div>
                        </div>

                        <div class="btns def-i gray pull-left vcenter" (click)="goBack()">
                            <div class="tabcell">
                                Cancelar
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>




