.popupbg {
    z-index: 20000;
}

.new-popup {
    border-radius: 9px;
}

.padding-2rem {
    padding-right: 2rem;
}

.icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
}

.channels-container {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    float: left;
    margin: 2rem 0 1rem;
}
.container-terms {
    width: 100%;
    padding: 16px;
    text-align: justify;
}
