<div class="popupbg new-popup">

    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-b padding-2rem">
            <span [innerHTML]="title"></span>
            <ion-icon name="close" class="icon-close" (click)="closeEmit()"></ion-icon>
        </div>

        <div class="channels-container">
            <div class="container-terms" [innerHTML]="terms"></div>
        </div>

        <div class="basicrow text-center f-bold">
            Copyright © {{currentYear}} Puerto Rico Telephone Company, Inc.
        </div>
    </div>
</div>

