.header {
    background-color: #ef3829;
}

.body-container {
    min-height: 70vh;
}

.image-header {
    width: 123px;
    height: 35px;
}

.font-title {
    font-weight: bold;
    font-size: 20px;
}

.font-big-title {
    font-weight: bold;
    font-size: 24px;
}

.heigt-fix {
    min-height: 74vh;
}

.box-info {
    border: solid 2px #bebebe;
    border-radius: 16px;
    padding: 1rem 1.2rem;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
}

.box-info-active {
    border: solid 2px #45a7bc;
    border-radius: 16px;
    padding: 1rem 1.2rem;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
}

.info-mark-active {
    background-color: #2097ae;
    height: 100%;
    position: absolute;
    width: 11px;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: -1px;
}

.info-mark {
    background-color: #bebebe;
    height: 100%;
    position: absolute;
    width: 11px;
    border-radius: 10px 0px 0px 10px;
    top: 0;
    left: -1px;
}

.bold {
    font-weight: bold;
}

.btn-red {
    background-color: #ef3829;
    border-color: #ef3829;
    width: 100%;
    color: white;
}

.btn-gray {
    background-color: #c4c4c4;
    border-color: #c4c4c4;
    width: 100%;
    color: white;
}

.footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
}

.claro-img-footer {
    width: 100px;
    height: auto;
}

.section {
    height: 100 VH;
    padding-bottom: 5rem;
}

.code-input {
    border-radius: unset;
    border-color: #45a7bc;
    text-align: center;
    font-weight: bold;
}

.code-danger {
    border-radius: unset;
    border-color: red;
    text-align: center;
    font-weight: bold;
}

.device-info {
    color: #45bc71;
    font-size: 16px;
}

.normal-text {
    font-size: 16px;
}

.link-blue {
    color: #45a7bc;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.header-decorator {
    height: 12px;
    background-color: #45a7bc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card {
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
}

.blue-theme-color {
    color: #45a7bc;
}

.hr {
    background-color: #45a7bc;
    width: 100%;
    height: 1px;
}

.hand {
    cursor: pointer;
}

.red-outline-btn {
    border: solid 1px #ef3829;
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #ef3829;
    width: 150px;
    text-align: center;
}

.blue-outline-btn {
    border: solid 1px #45a7bc;
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #45a7bc;
    width: 150px;
    text-align: center;
}

.option-container{
    margin-top: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    width: 90%;
}