<div class="container-fluid mt-3">
  <div class="row justify-content-center align-items-center right-fix">
    <div class="col-lg-3 mb-2 mt-2 text-center">
      <img
        class="image-header"
        src="../assets/images/mfa/logo_miclaro.png"
        alt=""
      />
    </div>
  </div>
</div>

<div class="body-container">
  <div class="container mb-6 section">
    <div class="row justify-content-center mt-5 heigt-fix right-fix">
      <div class="col-lg-7">
        <div class="">
          <div class="row mt-4 right-fix">
            <div class="col-lg font-big-title text-center right-fix">
              ¿Estás tratando de ingresar?
            </div>
          </div>

          <div class="row mt-4 mb-5 right-fix">
            <div class="col-lg font-big-title text-center normal-text right-fix">
           {{email}}
            </div>
          </div>
          <div class="row mt-5 right-fix">
            <div class="col">
              <div class="row mt-5">
                <div class="col-lg right-fix">
                  Dispositivo <br>
                  <span class="bold"> {{device}} </span>
                </div>
              </div>
    
              <div class="row mt-5">
                <div class="col-lg right-fix">
                  Ubicación <br>
                  <span class="bold"> {{locationDevice}} </span>
                </div>
              </div>
    
              <div class="row mt-5">
                <div class="col-lg right-fix">
                  Hora <br>
                  <span class="bold"> {{time}} </span>
                </div>
              </div>
            </div>
          </div>
       


          <div class="option-container">
            <div class="mb-5 right-fix">
              <div class="red-outline-btn" (click)="sendConfirmationAnswer(true)">
                Sí, soy yo
              </div>
            </div>

            <div class="mb-5 right-fix">
              <div class="blue-outline-btn" (click)="sendConfirmationAnswer(false)">
                No, no soy yo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
