<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle">
                    <span><img src="assets/images/netflixicon4.png" style="height: 50px; width: 50px; margin: 10px" alt=""></span>
                    &nbsp;Cont&aacute;ctanos
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow f-black roboto-r f-reg m-top-i m-bott">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="basicrow f-bmed roboto-b">
                        Horario de Servicio al Cliente
                    </div>

                    <div class="basicrow m-top-i">
                        <span class="roboto-b">Lunes a Viernes:</span> 8:00 a.m - 7:00 p.m<br/><br/>

                        <span class="roboto-b">S&aacute;bados y Domingos:</span> 8:00 a.m - 5:00 p.m<br/><br/>

                        <span class="roboto-b">D&iacute;as Feriados:</span> 8:00 a.m - 5:00 p.m
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 h-mtop-i">
                    <div class="basicrow f-bmed roboto-b">
                        Tel&eacute;fonos de Contacto
                    </div>

                    <div class="basicrow m-top-i">
                        <span class="roboto-b">Servicio al Cliente:</span> <a href="tel:7877750000">787-775-0000</a><br/><br/>

                        &oacute; marcando <span class="roboto-b"> <a href="tel:*611">&#42;611</a></span> desde tu tel&eacute;fono celular.
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 h-mtop-i">
                    <div class="basicrow f-bmed roboto-b">
                        Escr&iacute;benos
                    </div>

                    <div class="basicrow m-top-i">
                        <span class="roboto-b">Correo Electr&oacute;nico:</span> <a href="mailto:miclaro@claropr.com">miclaro@claropr.com</a><br/><br/>

                        <span class="roboto-b">Siguenos y enterate primero:</span>
                    </div>

                    <div class="basicrow m-top-u-i">
                        <a href="https://www.facebook.com/Claropr/" target="_blank" class="supp-social">
                            <img alt="" width="100%" src="assets/images/claroface.png">
                        </a>

                        <a href="https://twitter.com/clarotodo?lang=es" target="_blank" class="supp-social">
                            <img alt="" width="100%" src="assets/images/clarotwitter.png">
                        </a>

                        <a href="https://www.instagram.com/claropr/" target="_blank" class="supp-social">
                            <img alt="" width="100%" src="assets/images/instaclaro.png">
                        </a>

                        <a href="https://www.youtube.com/user/clarotodo/videos" target="_blank" class="supp-social">
                            <img alt="" width="100%" src="assets/images/youtubeclaro.png">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
