<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-13"></span> Sugerencias
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-ii">
        <div class="container">
            <div class="autowcont allpads">
                <div class="row allpads f-reg roboto-r f-black">

                    <div class="basicrow text-left">
                        <div class="basicrow f-bmed roboto-b">
                            Detalla tu Comentario
                        </div>
                        <div class="basicrow">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                    <input 
                                        type="email"
                                        name="email" 
                                        [(ngModel)]="email"
                                        class="form-control"
                                        required
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        placeholder="Correo Electrónico" class="inp-f"
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                                <textarea
                                        id="comment"
                                        name="comment"
                                        [(ngModel)]="comment"
                                        class="t-areadef"
                                        placeholder="Ingrese aqu&iacute; una breve explicaci&oacute;n de lo que desea reportar" maxlength="500"
                                ></textarea>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top">
                        <div
                                class="btns def-i red pull-right vcenter rippleR"
                                id="send-improvement"
                                (click)='send()'
                                [ngClass]="enabled ? 'btns def-i red pull-right vcenter rippleR' : 'btns def-i red pull-right vcenter rippleR ui-disabled'"
                        >
                                <span class="tabcell">
                                Enviar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>