<div class="popupbg popup-1gb">
    <div class="reg-popcont">
        <div class="regredbar">
            <img width="100%" src="assets/images/regala1gbbanv3.png" alt="">

            <div class="regpopmsg vcenter f-white roboto-r">
                <div class="tabcell">
                    <span class="f-bigtitle roboto-b">
                        USTED
                    </span>
                    <br/>
                    <span class="f-big">
                        HA RECIBIDO UN REGALO DE DATA
                    </span>
                </div>
            </div>
        </div>

        <div class="basicrow allpads roboto-r f-black f-med">
            <div class="basicrow m-top-iv m-bott-i text-center">
                <div class="basicrow roboto-m f-big sender-name">
                    {{product.NameSender}}
                </div>

                <div class="basicrow f-bmed">
                    Le ha enviado un regalo de 1GB de Data de regalo.
                </div>

                <div class="basicrow m-top-ii">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow m-top-ii sender-message">
                    {{product.Message}}
                </div>

                <div class="basicrow m-top-ii">
                    <div class="btns red def-i centr vcenter rippleR" id="close-1gb" (click)="closePopup()">
                        <span class="tabcell">
                            OK
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
