<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle">
                    <span><img src="assets/images/ico_preguntasFrecuentes.png" style="height: 50px; width: 50px; margin: 10px" alt=""></span>
                    &nbsp;Soporte
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow f-black roboto-r f-reg m-top-i m-bott">
                <div class="basicrow f-mildt roboto-m">
                    Preguntas Frecuentes
                </div>

                <div class="basicrow f-mildt roboto-m m-top-i" style="color: darkgray">
                    Mi Claro PR
                </div>

                <div class="basicrow m-top" (click)='showingMenu(0)'>
                    <div data-toggle="collapse" data-target="#preg1" class="preg-f">
                        &#191;Cómo me registro&#63;
                        <i  aria-hidden="true" [ngClass]="contentShow[0] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg1"  [ngClass]=" contentShow[0]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Para registrar tu cuenta en Mi Claro Solo necesitas Número de teléfono de Claro PR, PIN que llegara vía mensaje de texto a tu numero celular o vía correo electrónico. los últimos 4 del seguro social del titular de la cuenta, correo electrónico y contraseña a utilizar.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(1)'>
                    <div data-toggle="collapse" data-target="#preg2" class="preg-f">
                        Cuando me registro, el sistema no me pregunto nombre de usuario.

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[1] ?  'fa fa-minus':'fa fa-plus'"></i>

                    </div>

                    <div id="preg2" class="collapse" [ngClass]=" contentShow[1]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            El nombre de usuario es tu número de teléfono móvil o correo electrónico utilizado para registrarse.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(2)'>
                    <div data-toggle="collapse" data-target="#preg3" class="preg-f">
                        &#191;Cómo añadir una cuenta adicional en mi usuario ya existente de Mi Claro&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[2] ?  'fa fa-minus':'fa fa-plus'"></i>

                    </div>

                    <div id="preg3" class="collapse" [ngClass]=" contentShow[2]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Puedes añadir una cuenta adicional bajo el mismo usuario existente a través de la misma aplicación.  Dentro de Mi Claro oprime Mis Cuentas, en la parte superior de tu pantalla oprime Agregar Cuentas.  El sistema te solicitara número de cuenta a incluir y últimos 4 del seguro social del titular de la cuenta. Para finalizar oprime, guardar cuenta.  Para ver el cambio en efecto, debes de salir y volver a entrar a la aplicación.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(3)'>
                    <div data-toggle="collapse" data-target="#preg4" class="preg-f">
                        &#191;Cómo desbloquear mi cuenta&#63;
                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[3] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg4" class="collapse" [ngClass]=" contentShow[3]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Si bloqueas tu usuario de Mi Claro, podrás recuperar el acceso de una manera simple. Luego de 3 intentos fallidos para entrar a Mi Claro, se levantará un mensaje donde te indicará lo siguiente:
                            Hemos detectado una actividad inusual en el uso de tus credenciales de acceso. Espera unos segundos que un representante de servicio estará habilitando una sesión de Chat para darte soporte con tu problema de acceso.
                            De solicitar asistencia adicional, puedes escribirnos a miclaro@claropr.com.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(4)'>
                    <div data-toggle="collapse" data-target="#preg5" class="preg-f">
                        &#191;Tiene problemas de conexión al acceder a Mi Claro&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[4] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg5" class="collapse" [ngClass]=" contentShow[4]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Si tienes problemas de conexión, verifica que tengas actualizada la aplicación con la última versión. Asegúrate que tu conexión de data es una estable y se encuentre activa o que tenga conexión Wi-Fi disponible o Intenta acceder a través de los navegadores CHROME o FIRE FOX. También puedes revisar las opciones de tu navegador y eliminar los cookies o archivos temporeros.
                        </div>
                    </div>
                </div>

                <div class="basicrow f-mildt roboto-m m-top-i" style="color: darkgray">
                    Factura
                </div>

                <div class="basicrow m-top" (click)='showingMenu(5)' >
                    <div data-toggle="collapse" data-target="#preg6" class="preg-f">
                        &#191;No he recibido mi factura&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[5] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg6" class="collapse" [ngClass]=" contentShow[5]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Si es un nuevo cliente su factura debe estar en formato digital.  Para ver su factura, información sobre su cuenta y hacer pagos, regístrate en Mi Claro PR.  Tienes opciones de App y Web disponibles. Dentro de Mi Claro PR en el módulo de Factura y Pago tendrás acceso al Historial de Facturas y las mismas se pueden Descargar e Imprimir.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(6)'>
                    <div data-toggle="collapse" data-target="#preg7" class="preg-f">
                        Recibí factura y no tengo servicio

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[6] ?  'fa fa-minus':'fa fa-plus'"></i>

                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </div>

                    <div id="preg7" class="collapse" [ngClass]=" contentShow[6]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Tenemos varias opciones para ti.  Puedes contactarnos en las redes sociales @claroservicio en Facebook o twitter o en ayuda.claropr.com.
                        </div>
                    </div>
                </div>

                <div class="basicrow f-mildt roboto-m m-top-i" style="color: darkgray">
                    Pagos
                </div>

                <div class="basicrow m-top" (click)='showingMenu(7)'>
                    <div data-toggle="collapse" data-target="#preg8" class="preg-f">
                        &#191;Puedo realizar pagos desde Mi Claro&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[7] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg8" class="collapse" [ngClass]=" contentShow[7]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Si, a través de nuestra aplicación puedes realizar pagos totales, parciales y/o abonos a tu cuenta.  Puedes realizar sus pagos con ATH, VISA, MasterCard, American Express, cuenta de cheque o ahorro.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top"  (click)='showingMenu(8)'>
                    <div data-toggle="collapse" data-target="#preg9" class="preg-f">
                        &#191;En qué momento se reflejará el pago en mi cuenta&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[8] ?  'fa fa-minus':'fa fa-plus'"></i>

                    </div>

                    <div id="preg9" class="collapse" [ngClass]=" contentShow[8]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Si el pago realizado fue con Tarjeta de Crédito o ATH el mismo se reflejará en la próxima hora.

                            Si el pago realizado fue con cuenta de Cheque o Ahorro el mismo se reflejará en 3 días laborables.

                            Si su cuenta es Fija (Residencial) y se encuentra suspendido, puede demorar hasta 8 horas en reestablecer el servicio.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(9)'>
                    <div data-toggle="collapse" data-target="#preg10" class="preg-f">
                        &#191;Tengo teléfono prepagado, puedo registrarme en Mi Claro&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[9] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg10" class="collapse" [ngClass]=" contentShow[9]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Para registrar tu servicio prepagado debes acceder a nuestro Portal Único y seguir las instrucciones en pantalla.
                        </div>
                    </div>
                </div>

                <div class="basicrow f-mildt roboto-m m-top-i" style="color: darkgray">
                    Compra Planes y Paquetes
                </div>

                <div class="basicrow m-top" (click)='showingMenu(10)'>
                    <div data-toggle="collapse" data-target="#preg11" class="preg-f">
                        &#191;Cómo puedo conocer las ofertas y productos&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[10] ?  'fa fa-minus':'fa fa-plus'"></i>

                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </div>

                    <div id="preg11" class="collapse" [ngClass]=" contentShow[10]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Puedes entrar a https://tienda.claropr.com  y adquirir nuevos equipos y las mejores ofertas en la Red Más Poderosa.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(11)'>
                    <div data-toggle="collapse" data-target="#preg12" class="preg-f">
                        &#191;En cuánto tiempo recibiré mi equipo&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[11] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg12" class="collapse" [ngClass]=" contentShow[11]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            Recibirás el equipo dentro de los próximos 3-5 días laborables sin ningún cargo por envío.
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top" (click)='showingMenu(12)'>
                    <div data-toggle="collapse" data-target="#preg13" class="preg-f">
                        Se me agotó la data, &#191;Qué puedo hacer&#63;

                        <i class="fa fa-plus" aria-hidden="true" [ngClass]="contentShow[12] ?  'fa fa-minus':'fa fa-plus'"></i>
                    </div>

                    <div id="preg13" class="collapse" [ngClass]=" contentShow[12]? 'in':'collapse'">
                        <div class="basicrow allpads bordsdef text-justify">
                            En Mi Claro PR app o Web, puedes adquirir paquetes de data adicional y hasta aumentar la data de tu plan actual.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
