<div class="allcont logsize">

	<app-header></app-header>

	<app-menu></app-menu>

	<div class="basicrow m-top mbott">
		<div class="container">
			<div class="basicrow">
				<div class="fulltitle m-top-i f-btitle autodef">
					<span class="icon-dash-27"></span> Suscripci&oacute;n a Netflix
				</div>
			</div>

			<div class="autowcont m-top-ii">
				<div class="basicrow msidespad m-bott-i">
					<div class="b-title">
						<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
							<div class="tabcell">
								Agregar Servicio Netflix
							</div>
						</div>
					</div>

					<div class="basicrow f-reg roboto-r f-black">
						Seleccione el n&uacute;mero de cuenta y número de suscriptor donde desea agregar el Servicio Netflix:
					</div>

					<div class="basicrow m-top-ii">
						<div class="row">
							<div class="col-xs-12 col-sm-12">

								<div class="col-xs-12 col-sm-12" *ngFor="let account of accounts">
									<div class="select-account optchoice grayb auto roboto-r text-left"
                                         data-toggle="collapse"
                                         [ngClass] ="selectedAccount === account? 'on': ''"
                                         (click)="changeAccount(account); $event.stopPropagation()">

										<div class="checkdef" >
											<input type="radio"
                                                   name="groupA"
                                                   class="css-radio radio-account"
                                                   [checked] = "selectedAccount === account"
                                                   [value] = "account">
											<label class="css-label3 radGroup1"></label>
										</div>

										<div class="basicrow f-bmed roboto-r">Cuenta
                                            <span class="roboto-b">
                                                {{account.account}}
                                            </span>
                                        </div>
									</div>

									<div class="netflxaccs collapse" [ngClass] ="selectedAccount === account? 'in': ''" >

										<div class="select-subscriber optchoice auto roboto-r text-left"
                                             (click)="changeSubscriber(account, subscriber); $event.stopPropagation()"
                                             *ngFor="let subscriber of account.subscribers"
                                             [ngClass] ="selectedSubscriber === subscriber? 'on': ''">
											<div class="checkdef">
												<input type="radio"
                                                       name="groupS{{accounts.indexOf(account)}}"
                                                       class="css-radio radio-subscriber"
                                                       [checked] = "selectedSubscriber == subscriber"
                                                       [value]="subscriber">
												<label class="css-label3 radGroup1">
												</label>
											</div>

											<div class="basicrow f-reg roboto-b">
												Suscriptor
                                                <br/>
												<span class="f-red f-bmed">
                                                    {{subscriber.subscriber}}
                                                </span>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>
					</div>

					<div class="basicrow">
						<div class="basicrow m-top-i">
							<div class="logline full"></div>
						</div>

						<div class="basicrow text-center m-top">
							<div class="btns def-i pull-right vcenter" (click)="continue()"
                                 [ngClass] ="selectedAccount !== undefined && selectedSubscriber !== undefined? 'red rippleR': 'gray'">
                                <div class="tabcell">
                                    Continuar
                                </div>
							</div>

							<div class="btns def-i gray pull-left vcenter" (click)="goBack()">
                                <div class="tabcell">
                                    Cancelar
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>










