<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow mbott">
        <div class="container">
            <div class="basicrow m-top-i roboto-r text-center">
                <div class="shortcont">
                    <div class="basicrow f-black text-center noacc-icon">
                        <i class="fa fa-frown-o" aria-hidden="true"></i>
                    </div>

                    <div class="basicrow f-reg f-black m-top-ii roboto-b text-center">
                        No tienes productos Claro en este segmento.
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="btns red rippleR ascbtn-i centr vcenter" (click)="openAccountsManage()">
                            <span class="tabcell">
                                Agrega tus Productos Claro Aquí
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>