<ion-content class="allcont logsize" #content>

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top m-bott-ii">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-14"></span> Resumen de cuenta
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Suscriptor
                        </span>
                    </label>

                    <select class="sel-f" [(ngModel)]="selectedSubscriber" (change)="changePrepaidSubscriber()">
                        <option *ngFor="let subscriber of subscribers" [ngValue]="subscriber">
                            {{subscriber.subscriberNumberField}}
                        </option>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <div class="basicrow padding-bottom-footer">

        <div class="basicrow m-top-i lessm bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="autowcont dashapp m-top">

                            <div class="basicrow msidespad m-top-u-i">
                                <div class="balancesptr-ii fullon text-center">
                                    <span class="roboto-b">
                                        Mi Claro <span class="f-red">Wallet</span>
                                    </span>
                                    <br/>
                                    <span class="f-blue f-lsemi roboto-b">
                                        &#36;{{ getWalletBalance() }}
                                    </span>
                                </div>
                            </div>

                            <div class="basicrow m-bott-ii ion-padding-horizontal">
                                <div class="logline full"></div>
                            </div>

                            <div class="basicrow msidespad m-top-u-ii">
                                <div class="balancesptr-ii fullon text-center">
                                    <span class="roboto-b">
                                        Balance Prepago
                                    </span>
                                    <br/>
                                    <span class="f-red f-lsemi roboto-b">
                                        &#36;{{ getPrepaidBalance() }}
                                    </span>
                                </div>
                            </div>

                            <div class="basicrow m-bott-ii ion-padding-horizontal">
                                <div class="logline full"></div>
                            </div>

                            <div class="basicrow msidespad m-top-u-ii">
                                <div class="balancesptr-ii fullon text-center">
                                    <span class="roboto-b">
                                        Ultima Recarga
                                    </span>
                                    <br/>
                                    <span class="f-red f-lsemi roboto-b">
                                        &#36;{{ getLastPrepaidRechargeAmount() }}
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow m-top-i lessm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="autowcont dashapp m-top m-bott-ii">
                            <div class="basicrow msidespad">
                                <div class="b-title ion-padding-horizontal">
                                    <div class="b-title">
                                        <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                            <div class="tabcell">
                                                Servicios en Cuenta
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="basicrow m-bott-ii ion-padding-horizontal">
                                    <div class="logline full"></div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top">
                                    <div class="userinfo yrservs full nomtops">
                                        <div class="basicrow m-bott">
                                            <div class="basicrow f-bmed roboto-b m-bott">
                                                Detalle del Plan
                                            </div>

                                            <div class="redstat">
                                                <div class="autorow roboto-r pull-left">
                                                    Plan Actual
                                                </div>

                                                <div class="autorow roboto-b pull-right">
                                                    {{ getPlanName() }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="basicrow m-top-ii">
                                            <div class="basicrow f-reg roboto-b">
                                                Descripci&oacute;n del Plan:
                                            </div>

                                            <div *ngFor="let item of getPlanDescriptionList()"
                                                 class="redstat rblack m-top-ii">
                                                <div class="basicrow roboto-r">
                                                    {{item.trim()}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  m-top">
                                    <div class="userinfo yrservs full nomtops">
                                        <div class="basicrow m-bott">
                                            <div class="basicrow f-bmed roboto-b m-bott">
                                                Pr&oacute;xima Recarga
                                            </div>

                                            <div class="redstat">
                                                <div class="autorow roboto-r pull-left">
                                                    Última Recarga
                                                </div>

                                                <div class="autorow roboto-b pull-right">
                                                    {{ getLastPrepaidRechargeDate() }}
                                                </div>
                                            </div>

                                            <div class="redstat m-top-ii">
                                                <div class="autorow roboto-r pull-left m-top-u-i">
                                                    Pr&oacute;xima Recarga
                                                </div>

                                                <div class="autorow roboto-b pull-right">
                                                    {{ getNextRecharge() }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="f-med m-bott-i">
                                            <span class="roboto-b f-red">*AVISO:</span> Para evitar la suspensión del servicio, su pago debe ser en recibido en o antes de la fecha de su próxima recarga.
                                        </div>

                                    </div>
                                </div>

                                <div class="basicrow m-top-i">

                                    <div class="m-bott-ii ion-padding-horizontal">
                                        <div class="logline full"></div>
                                    </div>

                                    <div class="basicrow m-top text-center">
                                        <div class="servs-monthly">
                                            <div class="basicrow">
                                                <span class="roboto-b">
                                                    Renta Mensual
                                                </span>
                                                <br/>
                                                <span class="f-red f-semi roboto-m">
                                                    &#36;{{ getPlanAmount() }}
                                                </span>
                                            </div>

                                            <div class="basicrow m-top-i m-bott-ii ion-padding-horizontal">

                                                <ion-button
                                                    color="primary"
                                                    expand="full"
                                                    (click)="rechargeNow()">
                                                    Recargar ahora
                                                </ion-button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="basicrow m-top ion-padding-horizontal">
                                    <div class="logline full"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow lessm">
            <div class="container">
                <div class="autowcont dashapp m-top-u-i m-bott ion-padding-horizontal">

                    <div class="basicrow text-center">
                        <a class="qcklinks" (click)="transactionHistory()">
                            <span class="autocont full vcenter">
                                <span class="tabcell">
                                    <img src="assets/images/ico_historicospago_prepago.png" width="100%">

                                    Histórico de Transacciones
                                </span>
                            </span>
                        </a>

<!--                        <a class="qcklinks" (click)="printTransactionHistory()">-->
<!--                            <span class="autocont full vcenter">-->
<!--                                <span class="tabcell">-->
<!--                                    <img src="assets/images/ico_print_prepago.png" width="100%">-->

<!--                                    Imprimir Resumen de Cuenta-->
<!--                                </span>-->
<!--                            </span>-->
<!--                        </a>-->

                        <a class="qcklinks" (click)="attentionCenters()">
                            <span class="autocont full vcenter">
                                <span class="tabcell">
                                    <img src="assets/images/ico_ubicacion_prepago.png" width="100%">

                                    Centros de Atención
                                </span>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="basicrow m-bott-ii m-top-u">
            <div class="container">
                <div class="basicrow ion-padding-horizontal">
                    <div class="logline full"></div>
                </div>
            </div>
        </div>

        <div class="basicrow m-bott-i ion-padding-horizontal">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-top-ii">
                        <ion-button color="secondary" expand="full" (click)="rechargeMethods()">
                            Métodos de recargas
                        </ion-button>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-top-ii">
                        <ion-button color="secondary" expand="full" (click)="rechargeStores()">
                            Recargar en tiendas
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ion-content>

