<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-24"></span> Recarga de Prepago
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="autowcont allpads">
                <div class="basicrow f-reg f-black roboto-r">
                    <div class="basicrow f-big">
                        Recargar
                    </div>

                    <div class="dts-rcrg m-top-ii text-center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow">
                                    <span class="roboto-b">N&uacute;mero de T&eacute;lefono</span><br/>
                                    <span class="f-big roboto-b">{{subscriber.subscriberNumberField}}</span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="basicrow l-pline-i">
                                    <span class="roboto-b">Balance en Prepago Disponible</span><br/>
                                    <span class="f-lsemi roboto-b f-red">&#36;{{getPrepaidBalance()}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i">

                        <div class="dtail-tab" style="border-top: none">
                            <div class="dtail-i vcenter" style="padding-left: 0">
                                <div class="tabcell">
                                    MONTO DE RECARGA
                                </div>
                            </div>

                            <div class="dtail-ii vcenter">
                                <div class="tabcell">
                                    &#36;{{prepaidRecharge.amount}}
                                </div>
                            </div>
                        </div>

                        <div class="dtail-tab" style="border-top: none">
                            <div class="dtail-i vcenter" style="padding-left: 0">
                                <div class="tabcell">
                                    IVU
                                </div>
                            </div>

                            <div class="dtail-ii vcenter">
                                <div class="tabcell">
                                    &#36;{{prepaidRecharge.ivu}}
                                </div>
                            </div>
                        </div>

                        <div class="dtail-tab" style="border-top: none">
                            <div class="dtail-i vcenter" style="padding-left: 0">
                                <div class="tabcell">
                                    CANTIDAD A PAGAR
                                </div>
                            </div>

                            <div class="dtail-ii vcenter">
                                <div class="tabcell" style="color: #ef3829;">
                                    &#36;{{prepaidRecharge.totalAmount}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i m-bott-ii">

                        <ion-button color="primary" expand="full" (click)="continue()">
                            Continuar
                        </ion-button>

                        <ion-button class="m-top-u-ii" color="medium" expand="full" (click)="goBack()">
                            Cancelar
                        </ion-button>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

