<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-01"></span> Débito Directo
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                    <span class="tabcell">
                      Número de Cuenta
                    </span>
                    </label>

                    <app-account-select></app-account-select>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">

            <div class="autowcont notopbrd">

                <div class="content-active" *ngIf="isActive">
                    <div class="basicrow tabtopb f-black roboto-r f-reg">
                        <div class="basicrow text-center m-top-ii">
                            <div class="shortcont">
                                <div class="basicrow m-bott-ii">
                                    <div class="userinfo full nomtops">
                                        <div class="basicrow">
                                            <div class="basicrow f-bmed roboto-b m-bott">
                                                Resumen de Afiliación
                                            </div>

                                            <div class="redstat">
                                                <div class="autorow roboto-r pull-left">
                                                    Afiliado a
                                                </div>

                                                <div class="autorow roboto-b pull-right" id="saved-type">
                                                    {{savedData.type}}
                                                </div>
                                            </div>

                                            <div class="redstat m-top-ii">
                                                <div class="autorow roboto-r pull-left">
                                                    Método de Pago
                                                </div>

                                                <div class="autorow roboto-b pull-right" id="saved-method">
                                                    {{savedData.method}}
                                                </div>
                                            </div>

                                            <div class="redstat m-top-ii" id="container-saved-name" *ngIf="typeCard">
                                                <div class="autorow roboto-r pull-left">
                                                    Nombre y Apellido
                                                </div>

                                                <div class="autorow roboto-b pull-right" id="saved-name">
                                                    {{savedData.name}}
                                                </div>
                                            </div>

                                            <div class="redstat m-top-ii" id="container-saved-card" *ngIf="typeCard">
                                                <div class="autorow roboto-r pull-left">
                                                    Número de Tarjeta
                                                </div>

                                                <div class="autorow roboto-b pull-right" id="saved-card">
                                                    {{savedData.card}}
                                                </div>
                                            </div>

                                            <div class="redstat m-top-ii" id="container-saved-account"
                                                 *ngIf="!isActive">
                                                <div class="autorow roboto-r pull-left">
                                                    Número de Cuenta
                                                </div>

                                                <div class="autorow roboto-b pull-right" id="saved-account">
                                                    {{savedData.account}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-add" *ngIf="!isActive">
                    <div class="basicrow tabtopb f-black roboto-r f-reg">
                        <div class="basicr-line f-big">
                            Formulario de Afiliación
                        </div>

                        <div class="basicrow text-center">
                            <div class="shortcont">
                                <div class="basicrow m-top-i">
                                    <div class="basicrow text-justify">
                                        Ahora Claro te brinda el servicio de Débito Directo en el que podrás afiliar tu
                                        pago de renta mensual para que se ejecute de manera automática, así no tendrás
                                        que preocuparte por recordar tu fecha de facturación y que tu servicio sea
                                        suspendido.
                                    </div>
                                </div>

                                <div class="basicrow m-top-i m-bott-ii">
                                    <div class="basicrow roboto-b f-bmed m-bott-ii">
                                        Afiliar a
                                    </div>

                                    <select class="sel-f select-type"
                                            name="type"
                                            [(ngModel)]="type"
                                            (ngModelChange)="changeType($event)"
                                    >
                                        <option value="1">Cuenta de Cheques</option>
                                        <option value="2"> Tarjeta de Cr&eacute;dito</option>
                                    </select>
                                </div>

                                <div class="basicrow m-top-i">
                                    <div class="logline full"></div>
                                </div>

                                <div class="content-add-bank" *ngIf="addBank">
                                    <div class="basicrow roboto-b f-bmed m-top-i">
                                        Datos de la Cuenta
                                    </div>

                                    <div class="basicrow m-top-i">
                                        <label class="label-f">
                                            * Banco
                                        </label>
                                        <!--Aqui-->
                                        <select class="sel-f select-bank"
                                                name="selectedBank"
                                                [(ngModel)]="selectedBank"
                                        >
                                            <option selected disabled>Número de Ruta Bancaria/Routing Number</option>
                                            <option [value]="bank.value"
                                                    *ngFor="let bank of bankList"> {{bank.name}} </option>
                                        </select>
                                    </div>

                                    <div class="basicrow m-top-i m-bott-ii">
                                        <label class="label-f">
                                            * Número de Cuenta
                                        </label>

                                        <input
                                            class="inp-f bank-number"
                                            type="text"
                                            [(ngModel)]="bankNumber"
                                            (change)="validateInput(4)">
                                    </div>
                                </div>

                                <div class="content-add-card" *ngIf="!addBank">
                                    <div class="basicrow m-top-i">
                                        <div class="basicrow roboto-b f-bmed">
                                            Datos de la Tarjeta
                                        </div>

                                        <div class="basicrow">
                                            <div class="cred-opts card-vs">
                                                <div class="autocont vcenter">
                                                    <div class="tabcell">
                                                        <input class="radio-vs" [(ngModel)]="cardType" type="radio"
                                                               name="card" value="VS">
                                                    </div>
                                                </div>

                                                <img alt="" width="100%" src="assets/images/credit01.png">
                                            </div>

                                            <div class="cred-opts card-am">
                                                <div class="autocont vcenter">
                                                    <div class="tabcell">
                                                        <input class="radio-am" [(ngModel)]="cardType" type="radio"
                                                               name="card" value="AM">
                                                    </div>
                                                </div>

                                                <img alt="" width="100%" src="assets/images/credit02.png">
                                            </div>

                                            <div class="cred-opts card-mc">
                                                <div class="autocont vcenter">
                                                    <div class="tabcell">
                                                        <input class="radio-mc" [(ngModel)]="cardType" type="radio"
                                                               name="card" value="MC">
                                                    </div>
                                                </div>

                                                <img alt="" width="100%" src="assets/images/credit03.png">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="basicrow m-top-i">
                                        <label class="label-f">
                                            * Nombre y Apellido
                                        </label>

                                        <input
                                            type="text"
                                            class="inp-f card-name"
                                            [(ngModel)]="cardName"
                                            (change)="validateInput(1)"
                                        >
                                    </div>

                                    <div class="basicrow m-top-i">
                                        <label class="label-f">
                                            * Número de Tarjeta
                                        </label>

                                        <input
                                            type="text"
                                            class="inp-f card-number"
                                            [(ngModel)]="cardNumber"
                                            (change)="validateInput(2)"
                                        >
                                    </div>

                                    <div class="basicrow m-bott-ii">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 m-top-i">
                                                <label class="label-f">
                                                    * Vencimiento de Tarjeta
                                                </label>

                                                <div class="basicrow">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                                                            <div class="exprdtitle roboto-b vcenter">
                                                                <div class="tabcell">
                                                                    Mes
                                                                </div>
                                                            </div>

                                                            <select class="sel-f exprdsize select-month"
                                                                    name="selectedMonth"
                                                                    [(ngModel)]="selectedMonth"
                                                            >
                                                                <option [value]="months[0]" selected
                                                                        hidden>{{months[0]}}</option>
                                                                <option [value]="month"
                                                                        *ngFor="let month of months"> {{month}} </option>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 h-mtop-iv">
                                                            <div class="exprdtitle roboto-b vcenter">
                                                                <div class="tabcell">
                                                                    Año
                                                                </div>
                                                            </div>
                                                            <select class="sel-f exprdsize select-year"
                                                                    name="selectedyear"
                                                                    [(ngModel)]="selectedyear"
                                                            >
                                                                <option [value]="years[0] % 100" selected
                                                                        hidden>{{years[0] % 100}} </option>
                                                                <option [value]="year"
                                                                        *ngFor="let year of years"> {{year % 100}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 m-top-i">
                                                <label class="label-f">
                                                    * Código de Seguridad (CVV)
                                                </label>

                                                <input
                                                    type="text"
                                                    style="-webkit-text-security:disc;"
                                                    class="inp-f card-cvv"
                                                    [(ngModel)]="cardCVV"
                                                    (change)="validateInput(3)"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="basicrow m-top-i">
                                    <div class="logline full"></div>
                                </div>

                                <div class="basicrow text-center m-top-i">
                                    <div class="btns def-i red pull-right vcenter rippleR continue"
                                         (click)="continue()">
                                            <span class="tabcell">
                                                Continuar&nbsp;&nbsp;<i class="fa fa-angle-right"
                                                                        aria-hidden="true"></i>
                                            </span>
                                    </div>

                                    <div class="btns def-i gray pull-left vcenter cancel" (click)="cancel()">
                                            <span class="tabcell">
                                                Cancelar
                                            </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
