<div class="allcont logsize">

  <app-header></app-header>

  <app-menu></app-menu>

  <div class="basicrow m-top">
    <div class="container">
      <div class="basicr-line-i">
        <div class="fulltitle m-top-i f-btitle autodef">
          <span class="icon-dash-28"></span> Preferencia de Notificaciones
        </div>

        <div class="nroacc">
          <label class="label-r sidenmbr vcenter">
            <span class="tabcell">
              N&uacute;mero de Cuenta
            </span>
          </label>

          <app-account-select></app-account-select>

        </div>
      </div>
    </div>
  </div>

  <div class="basicrow mbott m-top-i">
    <div class="container">

      <div class="autowcont notopbrd list-subscriber">
        <div *ngFor="let subscriber of subscribers">
            <div
             data-toggle="collapse"
             data-target="#subscriber subscriberIndex" 
             class="digs-box vcenter select-subscriber" 
             data-index="subscriberIndex" 
             data-subscriber="subscriberObj.subscriberNumberField"
             (click)="changeSubscriber(subscriber.subscriberNumberField, subscriber.fixedData.type )"
             >
              <div class="tabcell"
                  (click)='showingInfo(subscriber.subscriberNumberField)'>
                <div class="autorow pull-left">
                  <span class="roboto-l">
                      {{subscriber.fixedData.type}}
                    <!---<%= typeOfTelephony(subscriberObj.productTypeField) %>--->
                  </span> 
                  <span class="roboto-m">
                      {{subscriber.fixedData.code}}  {{subscriber.fixedData.body}}
                    <!--<%= formatNumber(subscriberObj.subscriberNumberField) %>--->
                  </span>
                </div>

                <div class="autorow pull-right">
                    <i aria-hidden="true" [ngClass]="selectedSection == subscriber.subscriberNumberField ? 'fa fa-minus':'fa fa-plus' "></i>
                </div>
              </div>
            </div>

            <div  class="collapse" class=" collapse" [ngClass]="selectedSection == subscriber.subscriberNumberField ? 'in':'collapse'">
              <div class="basicrow tabtopb f-black roboto-r f-reg">
                <div class="basicrow m-top m-bott">
                  <div class="basicrow m-bott" style="display: none">
                    <div class="basicrow f-mildt text-center roboto-m">
                      Lista de No llamar
                    </div>

                    <div *ngIf="!updatenot">
                        <div class="basicrow text-center m-top-i list-no-call" >
                            <!--Este suscriptor se encuentra en la lista <span class="roboto-b">No Llamar</span> con estatus de <span class="roboto-b">Inactivo.</span> Su vigencia es entre 11/28/2018 a 11/27/2023.-->
                          {{subscriber.listToShow.response}}
                            Agregar este subscriptor a la lista de <span class="roboto-b">No Llamar</span>
    
                          </div>
    
                          <div class="basicrow text-center m-top-i" >
                            <div class="btns red def-i centr vcenter rippleR btn-no-call" (click)="updateNotToCall(subscriber.subscriberNumberField, subscriber.listToShow.status)">
                              <span class="tabcell text-no-call">
                                {{subscriber.listToShow.status}}
                                Activar
                              </span>
                            </div>
                          </div>
                    </div>
                    <div *ngIf="updatenot">
                        <div class="basicrow text-center m-top-i list-no-call" >
                            <!--Este suscriptor se encuentra en la lista <span class="roboto-b">No Llamar</span> con estatus de <span class="roboto-b">Inactivo.</span> Su vigencia es entre 11/28/2018 a 11/27/2023.-->
                          {{response}}
                            Agregar este subscriptor a la lista de <span class="roboto-b">No Llamar</span>
    
                          </div>
    
                          <div class="basicrow text-center m-top-i" >
                            <div class="btns red def-i centr vcenter rippleR btn-no-call" (click)="updateNotToCall(subscriber.subscriberNumberField, subscriber.listToShow.status)">
                              <span class="tabcell text-no-call">
                                {{status}}
                                Activar
                              </span>
                            </div>
                          </div>
                    </div>
                     
                  </div>

                  <div class="basicrow m-top" style="display: none">
                    <div class="logline full"></div>
                  </div>

                  <div class="basicrow">
                    <div class="basicrow f-mildt text-center roboto-m">
                      Alertas y Mensajes
                    </div>

                    <div class="basicrow text-center m-top-u" *ngIf ="loaded">
                      <div class="ntfs-cont text-left questions-list" *ngFor ="let input of subscriber.listToShow ">
                        <div class="basicrow m-top " [ngClass]="input.classDisabled? 'off':''" >
                          <label>
                              <input type="checkbox" [checked] = 'input.checked' (click)="changeValueCheck(subscriber, input.question)"> 
                              {{input.question}}
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="basicrow text-center m-top-i">
                      <div class="btns red def-iv centr vcenter rippleR btn-save" (click)="updateAlerts(subscriber)">
                        <span class="tabcell">
                          Guardar Cambios&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>

</div>
