.popupcont {
    //padding: 0;
}

.icon-close {
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 10;
}

.container-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    .button {
        position: absolute;
        bottom: 32px;
        max-width: 86%;
    }
}
