<div class="popupbg popup-1gb">
    <div class="popupcont">
        <div class="basicrow f-black f-bigmed roboto-m">
            <span></span>
            <ion-icon name="close" class="icon-close" (click)="closePopup()"></ion-icon>
        </div>
        <div class="container-img">
            <img src="assets/images/iptv/splash_clarotv_movil-sinboton_APP.jpg"/>
            <img class="button" src="assets/images/boton_elige-tu-plan.png" (click)="goToClaroTVHome()"/>
        </div>
    </div>
</div>
