<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top" *ngIf="!isBusiness">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-18"></span> Mi Consumo
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
          <span class="tabcell">
            N&uacute;mero de Cuenta
          </span>
                    </label>
                    <app-account-select></app-account-select>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">

        <div class="container">

            <div class="autowcont notopbrd">

                <div *ngFor="let subscriber of subscribers">

                    <div data-toggle="collapse" class="digs-box vcenter">
                        <div class="tabcell" (click)='showingInfo(subscriber.subscriberNumberField)'>
                            <div class="autorow pull-left">
                                <span class="roboto-l">
                                    {{typeOfTelephony(subscriber.productTypeField)}}
                                </span>
                                <span class="roboto-m">
                                    {{formatSubscriber(subscriber.subscriberNumberField)}}
                                </span>
                            </div>

                            <div class="autorow pull-right">
                                <i aria-hidden="true"
                                   [ngClass]="selectedSection == subscriber.subscriberNumberField ? 'fa fa-minus':'fa fa-plus' "></i>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" [ngClass]="selectedSection == subscriber.subscriberNumberField ? 'in':'collapse'">

                        <div class="basicrow tabtopb f-black roboto-r f-reg">
                            <div class="basicrow">
                                <div class="basicrow">
                                    <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                        <div class="tabcell">
                                            Ciclo de Facturaci&oacute;n
                                        </div>
                                    </div>

                                    <div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
                                        <div class="tabcell ciclo-fact">
                                            {{accountInfo.cycleEndDateField}}
                                        </div>
                                    </div>
                                </div>

                                <div class="basicrow m-top-ii">
                                    <div class="logline full"></div>
                                </div>
                            </div>

                            <div *ngIf="isMobile(subscriber)">
                                <div class="basicrow mbott tabtopnew">
                                    <div class="difftabs">
                                        <div class="details-data difft-def half" (click)="presedtab(0)"
                                             [ngClass]="pressed[1]? '': 'on'">
                                            Datos
                                        </div>

                                        <div class="details-voz difft-def half" (click)="presedtab(1)"
                                             [ngClass]="pressed[1]? 'on': ''">
                                            Llamadas y Mensajes
                                        </div>
                                    </div>
                                </div>

                                <div class="details-data-content">
                                    <div class="basicrow mbott" *ngIf="!pressed[1]">
                                        <div class="difftabs">
                                            <div class="difft-def thrds plan-basic" (click)="presedtab(2)"
                                                 *ngIf="!pressed[1]" [ngClass]="pressed[2]? 'on': ''">
                                                Plan Base
                                            </div>

                                            <div class="difft-def thrds plan-roaming" (click)="presedtab(3)"
                                                 *ngIf="!pressed[1]" [ngClass]="pressed[3]? 'on': ''">
                                                Roaming
                                            </div>

                                            <div class="difft-def thrds plan-additional" (click)="presedtab(4)"
                                                 *ngIf="!pressed[1]" [ngClass]="pressed[4]? 'on': ''">
                                                Paquetes Adicionales
                                            </div>
                                        </div>
                                    </div>

                                    <div class="basicrow m-bott plan-basic-content" [ngClass]="pressed[2]? '': 'off'"
                                         *ngIf="subscriber.planes.mainPlans.length > 0">
                                        <div *ngFor="let plan of subscriber.planes.mainPlans">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12  col-md-5 col-lg-5 text-center">
                                                    <div class="graphic-chart-r" style="height: 60vw">
                                                        <div
                                                            class="c100 p +'plan.showPlan.usagePercentage'+ text-center center vcenter"
                                                            style="height: 55vw; width: 55vw; font-size: 55vw"
                                                            [ngClass]="pressed[2]? plan.showPlan.class: ''"
                                                        >
                                                            <div class="slice" style="font-size: 55vw">
                                                                <div class="bar"></div>
                                                                <div class="fill"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                    <div class="basicrow">
                                                        <div class="userinfo full">
                                                            <div class="basicrow">
                                                                <div class="basicrow f-bmed roboto-b m-bott">
                                                                    Detalle del Plan
                                                                </div>
                                                                <div class="redstat">
                                                                    <div class="autorow roboto-r pull-left">
                                                                        Plan Base
                                                                    </div>
                                                                    <div
                                                                        class="autorow roboto-b pull-right data-plan-name-r">
                                                                        {{plan.displayNameField}}
                                                                    </div>
                                                                </div>
                                                                <div class="redstat m-top-ii">
                                                                    <div class="autorow roboto-r pull-left">
                                                                        Has consumido
                                                                    </div>
                                                                    <div
                                                                        class="autorow roboto-b pull-right data-plan-usage-r">
                                                                    <span
                                                                        class="f-red"> {{plan.showPlan.htmlUsage.partA}} </span> {{plan.showPlan.htmlUsage.partB}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="basicrow m-top">
                                                        <div class="logline full"></div>
                                                    </div>
                                                    <div class="basicrow m-top-ii">
                                                        <div class="twostats">
                                                            <div class="statrectdef redstat"></div>
                                                            <div class="autocont f-mini roboto-r f-black vcenter">
                                                                <div class="tabcell consumido-label-r">
                                                                    {{plan.showPlan.consumidos}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="twostats" *ngIf="plan.showPlan.availableStyle === true">
                                                            <div class="statrectdef graystat"></div>
                                                            <div class="autocont f-mini roboto-r f-black vcenter">
                                                                <div class="tabcell disponible-label-r">
                                                                    {{plan.showPlan.disponibles}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        *ngIf="subscriber.planes.mainPlans.indexOf(plan) < subscriber.planes.mainPlans.length-1"
                                                        class="basicrow m-top">
                                                        <div class="logline full"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basicrow m-bott plan-basic-content" [ngClass]="pressed[2]? '': 'off'"
                                         *ngIf="subscriber.planes.mainPlans.length == 0">
                                        <h3> No hay planes básicos activos</h3>
                                    </div>

                                    <div class="basicrow m-bott plan-roaming-content" [ngClass]="pressed[3]? '': 'off'"
                                         *ngIf="subscriber.planes.roamingPlans.length > 0">
                                        <div *ngFor="let plan of subscriber.planes.roamingPlans">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12  col-md-5 col-lg-5 text-center">
                                                    <div class="graphic-chart-r" style="height: 60vw">
                                                        <div
                                                            class="c100 p' + plan.showPlan.usagePercentage + ' text-center center vcenter"
                                                            style="height: 55vw; width: 55vw; font-size: 55vw"
                                                            [ngClass]="pressed[2]? plan.showPlan.class: ''">
                                                            <div class="slice" style="font-size: 55vw">
                                                                <div class="bar"></div>
                                                                <div class="fill"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                    <div class="basicrow">
                                                        <div class="userinfo full">
                                                            <div class="basicrow">
                                                                <div class="basicrow f-bmed roboto-b m-bott">
                                                                    Detalle del Plan
                                                                </div>
                                                                <div class="redstat">
                                                                    <div class="autorow roboto-r pull-left">
                                                                        Plan Base
                                                                    </div>
                                                                    <div
                                                                        class="autorow roboto-b pull-right data-plan-name-r">
                                                                        {{plan.displayNameField}}
                                                                    </div>
                                                                </div>
                                                                <div class="redstat m-top-ii">
                                                                    <div class="autorow roboto-r pull-left">
                                                                        Has consumido
                                                                    </div>
                                                                    <div
                                                                        class="autorow roboto-b pull-right data-plan-usage-r">
                                                                    <span
                                                                        class="f-red"> {{plan.showPlan.htmlUsage.partA}} </span> {{plan.showPlan.htmlUsage.partB}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="basicrow m-top">
                                                        <div class="logline full"></div>
                                                    </div>
                                                    <div class="basicrow m-top-ii">
                                                        <div class="twostats">
                                                            <div class="statrectdef redstat"></div>
                                                            <div class="autocont f-mini roboto-r f-black vcenter">
                                                                <div class="tabcell consumido-label-r">
                                                                    {{plan.showPlan.consumidos}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="twostats" *ngIf="plan.showPlan.availableStyle === true">
                                                            <div class="statrectdef graystat"></div>
                                                            <div class="autocont f-mini roboto-r f-black vcenter">
                                                                <div class="tabcell disponible-label-r">
                                                                    {{plan.showPlan.disponibles}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        *ngIf="subscriber.planes.roamingPlans.indexOf(plan) < subscriber.planes.roamingPlans.length-1"
                                                        class="basicrow m-top">
                                                        <div class="logline full"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basicrow m-bott plan-roaming-content" [ngClass]="pressed[3]? '': 'off'"
                                         *ngIf="subscriber.planes.roamingPlans.length == 0">
                                        <h3> No hay paquetes roaming activos</h3>
                                    </div>
                                    <div class="basicrow m-bott plan-additional-content" [ngClass]="pressed[4]? '': 'off'"
                                         *ngIf="subscriber.planes.additionalPlans.length >0">
                                        <div *ngFor="let plan of subscriber.planes.additionalPlans">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12  col-md-5 col-lg-5 text-center">
                                                    <div class="graphic-chart-r" style="height: 60vw">
                                                        <div
                                                            class="c100 p' + plan.showPlan.usagePercentage + ' text-center center vcenter"
                                                            style="height: 55vw; width: 55vw; font-size: 55vw"
                                                            [ngClass]="pressed[2]? plan.showPlan.class: ''">
                                                            <div class="slice" style="font-size: 55vw">
                                                                <div class="bar"></div>
                                                                <div class="fill"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                    <div class="basicrow">
                                                        <div class="userinfo full">
                                                            <div class="basicrow">
                                                                <div class="basicrow f-bmed roboto-b m-bott">
                                                                    Detalle del Plan
                                                                </div>
                                                                <div class="redstat">
                                                                    <div class="autorow roboto-r pull-left">
                                                                        Plan Base
                                                                    </div>
                                                                    <div
                                                                        class="autorow roboto-b pull-right data-plan-name-r">
                                                                        {{plan.displayNameField}}
                                                                    </div>
                                                                </div>
                                                                <div class="redstat m-top-ii">
                                                                    <div class="autorow roboto-r pull-left">
                                                                        Has consumido
                                                                    </div>
                                                                    <div
                                                                        class="autorow roboto-b pull-right data-plan-usage-r">
                                                                    <span
                                                                        class="f-red"> {{plan.showPlan.htmlUsage.partA}} </span> {{plan.showPlan.htmlUsage.partB}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="basicrow m-top">
                                                        <div class="logline full"></div>
                                                    </div>
                                                    <div class="basicrow m-top-ii">
                                                        <div class="twostats">
                                                            <div class="statrectdef redstat"></div>
                                                            <div class="autocont f-mini roboto-r f-black vcenter">
                                                                <div class="tabcell consumido-label-r">
                                                                    {{plan.showPlan.consumidos}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="twostats" *ngIf="plan.showPlan.availableStyle === true">
                                                            <div class="statrectdef graystat"></div>
                                                            <div class="autocont f-mini roboto-r f-black vcenter">
                                                                <div class="tabcell disponible-label-r">
                                                                    {{plan.showPlan.disponibles}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        *ngIf="subscriber.planes.additionalPlans.indexOf(plan) < subscriber.planes.additionalPlans.length-1"
                                                        class="basicrow m-top">
                                                        <div class="logline full"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basicrow m-bott plan-additional-content" [ngClass]="pressed[4]? '': 'off'"
                                         *ngIf="subscriber.planes.additionalPlans.length == 0">
                                        <h3> No hay paquetes adicionales activos</h3>
                                    </div>
                                </div>

                                <div class="details-voz-content" [ngClass]="pressed[1]? '': 'off'">
                                    <div class="basicrow mbott">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="boxtbl">
                                                    <div class="basicrow m-sides">
                                                        <div class="b-title noline">
                                                            <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                                                <div class="tabcell">
                                                                    Consumo de Voz
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-tbar">
                                                        <div class="frwds frths rline trds vcenter">
                                                            <div class="tabcell">
                                                                Consumo de Voz
                                                            </div>
                                                        </div>

                                                        <div class="frwds frths rline trds vcenter">
                                                            <div class="tabcell">
                                                                Larga Distancia
                                                            </div>
                                                        </div>

                                                        <div class="frwds frths trds vcenter">
                                                            <div class="tabcell">
                                                                Larga Distancia Internacional
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="basicrow">
                                                        <div class="tab-cbar h-def-i topgbrd">

                                                            <div class="frwds trds rline vcenter">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Minutos Usados</span><br/>
                                                                    <span
                                                                        class="f-red f-big line-h-i roboto-b minutes-used">
                                {{subscriber.usageInfoField.minutesUsageField}}
                              </span>
                                                                </div>
                                                            </div>

                                                            <div class="frwds trds rline vcenter">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Minutos Usados</span><br/>
                                                                    <span class="f-red f-big line-h-i roboto-b voz-used">
                                {{subscriber.usageInfoField.lDUsageField}}
                              </span>
                                                                </div>
                                                            </div>

                                                            <div class="frwds trds vcenter">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Minutos Usados</span><br/>
                                                                    <span
                                                                        class="f-red f-big line-h-i roboto-b voz-international-used">
                                  {{subscriber.usageInfoField.lDIUsageField}}
                              </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                                <div class="boxtbl">
                                                    <div class="basicrow m-sides">
                                                        <div class="b-title noline">
                                                            <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                                                <div class="tabcell">
                                                                    Consumo de Mensajer&iacute;a
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-tbar">
                                                        <div class="frwds frths rline trds vcenter">
                                                            <div class="tabcell">
                                                                Consumo de SMS/MMS
                                                            </div>
                                                        </div>

                                                        <div class="frwds frths rline trds vcenter">
                                                            <div class="tabcell">
                                                                SMS Premium
                                                            </div>
                                                        </div>

                                                        <div class="frwds frths trds vcenter">
                                                            <div class="tabcell">
                                                                MMS
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="basicrow">
                                                        <div class="tab-cbar h-def-i topgbrd">
                                                            <div class="frwds trds rline vcenter">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Usados</span><br/>
                                                                    <span class="f-red f-big line-h-i roboto-b sms-used">
                                {{subscriber.usageInfoField.sMSUSageField}}
                              </span>
                                                                </div>
                                                            </div>

                                                            <div class="frwds trds rline vcenter">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Usados</span><br/>
                                                                    <span
                                                                        class="f-red f-big line-h-i roboto-b sms-premium-used">
                                    {{subscriber.usageInfoField.sMSPremiunUsageField}}
                              </span>
                                                                </div>
                                                            </div>

                                                            <div class="frwds trds vcenter">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Usados</span><br/>
                                                                    <span class="f-red f-big line-h-i roboto-b mms-used">
                                    {{subscriber.usageInfoField.mMSUsageField}}
                              </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div *ngIf="!isMobile(subscriber)">
                                <div class="details-call-content">

                                    <div class="basicrow mbott">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
                                                <div class="boxtbl">
                                                    <div class="basicrow m-sides">
                                                        <div class="b-title noline">
                                                            <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                                                <div class="tabcell">
                                                                    Consumo de Voz
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-tbar">
                                                        <div class="frwds frths rline vcenter" style="width: 100%">
                                                            <div class="tabcell">
                                                                Consumo de Voz
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="basicrow">
                                                        <div class="tab-cbar h-def-i topgbrd">
                                                            <div class="frwds frths rline vcenter"  style="width: 100%">
                                                                <div class="tabcell">
                                                                    <span class="roboto-b">Minutos Usados</span><br/>
                                                                    <span class="f-red f-big line-h-i roboto-b minutes-used">
																		{{subscriber.usageInfoField.minutesUsageField}}
																	</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="basicrow" *ngIf="isMobile(subscriber)">
                                <div class="logline full"></div>
                            </div>

                            <div class="basicrow m-top-i m-bott-ii" *ngIf="isMobile(subscriber)">
                                <div class="row">
                                    <div
                                        class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
                                        <div class="btns blue vcenter" (click)="addData()">
                                            <div class="tabcell">
                                                Compra de Paquetes Adicionales
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

