.flash-label {
    font-weight: lighter
}

.action-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.action-btn {
    background-color: #ef3829;
    padding: 0.7rem 3rem
}

.line-decorator {
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    margin: 1rem auto;
}

.line-decorator-strong {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 1rem auto;
}

.summary-container {
    padding: 2.5rem;
    background-color: #f6fcfc;
    border-radius: 15px;
}

.summary-title-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
    color: #45a7bc;
    padding-bottom: 1.5rem;
}

.summary-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.title-item {
    font-weight: bold
}

.value-item {
    font-weight: lighter
}

.amount-to-pay {
    font-size: 2rem;
    color: red;
}

.flash-form-container-title {
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.form-check {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.form-check-label {
    padding-left: 6px;
}

@media only screen and (max-width: 768px) {
    .summary-container {
        padding: 1rem
    }
    .summary-title-info {
        flex-direction: column
    }
    .summary-items {
        flex-direction: column
    }
    .action-container {
        width: 100%
    }
    .action-btn {
        width: 100%
    }
}
