<div class="ok-procces" *ngIf="flashPaymentService.controller.operationWarning">
    <div class="action-container">
        <div class="icon-confirmation-container warning-fix icon-fix">
            <ion-icon class="fix-mat-icon" name="warning"></ion-icon>
        </div>
        <div class="tex-confirmation-message">
            <div class="tex-confirmation-title warning-fix">Su pago esta siendo revisado</div>
            <div class="tex-confirmation-text">
                <div [innerHTML]="flashPaymentService.controller.errorMessage"></div>
            </div>
        </div>
    </div>
    <div class="line-decorator"></div>

    <div class="confirmation-table-container">
        <div class="confirmation-header">
            <div class="confirmation-date">{{flashPaymentService.controller.today | date: 'short' }}</div>
            <div class="confirmation-authorization">
                #Autorizaci&oacute;n <strong>{{flashPaymentService.controller.authorizationNumber }}</strong>
            </div>
        </div>
        <div class="confiramtion-content">
            <div class="confirmation-box">
                <div class="box-title"># Cuenta</div>
                <div class="box-item">{{flashPaymentService.controller.accountNumber}}</div>
            </div>
            <div class="confirmation-box">
                <div class="box-title">M&eacute;todo de pago</div>
                <div class="box-item" *ngIf="flashPaymentService.controller.paymentMethod">
                    <img src="assets/images/icon_tarjeta_1.png" alt="" *ngIf="flashPaymentService.controller.isCard"
                         class="img-step1"/>

                    <img class="img-fix img-step1" src="assets/images/icon_wallet_2.png" alt=""
                         *ngIf="flashPaymentService.controller.isPlaceToPay"/>

                    <img src="assets/images/icon_ACH_1.png" alt="" *ngIf="flashPaymentService.controller.isACH"
                         class="img-step1"/>

                </div>

                <div class="box-item" *ngIf="flashPaymentService.controller.paymentMethod">
                    <img *ngIf="flashPaymentService.controller.paymentMethod === 'V'" class="card-img-result"
                         src="assets/images/card-a.png" alt=""/>
                    <img *ngIf="flashPaymentService.controller.paymentMethod === 'M'" class="card-img-result"
                         src="assets/images/card-b" alt=""/>
                    <img *ngIf="flashPaymentService.controller.paymentMethod === 'A'" class="card-img-result"
                         src="assets/images/card-c.png" alt=""/>
                    <img *ngIf="flashPaymentService.controller.paymentMethod === 'X'" class="card-img-result"
                         src="assets/images/card-d.png" alt=""/>
                </div>
            </div>
            <div class="confirmation-box">
                <div class="box-title"># Referencia</div>
                <div class="box-item">{{flashPaymentService.controller.confirmationNumber}}</div>
            </div>
            <div class="confirmation-box">
                <div class="box-title">Estado</div>
                <div class="box-item">{{flashPaymentService.controller.paymentStatusDesription}}</div>
            </div>
            <div class="confirmation-box last-box">
                <div class="box-title">Monto Total</div>
                <div class="box-item">{{flashPaymentService.controller.operationAmount | currency}}</div>
            </div>
        </div>
    </div>

    <div class="line-decorator" *ngIf="flashPaymentService.controller.showSubscriptionOption"></div>

</div>
