
<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>
    <div class="allcont logsize">
        <div class="basicrow m-top">
            <div class="container">
                <div class="basicr-line-i">
                    <div class="fulltitle m-top-i f-btitle autodef">
                        <span class="icon-dash-13"></span> Reporte de Aver&iacute;as
                    </div>

                    <div class="nroacc">
                        <label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
                        </label>
                        <app-account-select></app-account-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="container">
                <div class="basicrow m-top-i m-bott text-center">
                    <div class="stepsvone">
                        <div class="stepautoc on first text-nowrap">
                            Tipo de Aver&iacute;a
                            <div class="stepcirc text-center">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepautoc middle text-nowrap">
                            Detalles
                            <div class="stepcirc">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepautoc last text-nowrap">
                            Confirmaci&oacute;n
                            <div class="stepcirc">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepsline"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow mbott m-top-ii">
            <div class="container">
                <div class="autowcont notopbrd m-top-ii">
                    <div class="subgtitle">

                        <label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de línea
									</span>
                        </label>

                        <select class="sel-f"
                                id="select-subscriber"
                                name="selectedSubscriber"
                                (change)="changeSubscriber(selectedSubscriber)"
                                [(ngModel)]="selectedSubscriber">
                            <option [value]="undefined" selected disabled hidden>Selecionar</option>
                            <option [value]="subscriber.subscriberNumberField" *ngFor="let subscriber of subscribers">
                                {{subscriber.subscriberNumberField}}
                            </option>
                        </select>

                    </div>

                    <div class="basicrow allpads f-reg roboto-r f-black" *ngIf="containsReport">
                        <div class="basicrow text-center m-top-u">
                            Boleto Abierto: nos encontramos trabajando con la interrupción de su servicio, podemos ofrecerle un servicio inalámbrico alternativo mientras trabajamos con esta situación.  Puedes buscarlo libre de costo en cualquiera de nuestras localidades abiertas, ingresa a
                            <a (click)="openExternalBrowser('www.claropr.com')">www.claropr.com</a>
                        </div>
                    </div>

                    <div class="basicrow allpads f-reg roboto-r f-black" *ngIf="!containsReport">
                        <div class="basicrow text-center m-top-u">
                            Por favor, especifique el tipo de aver&iacute;a que desea reportar, sea por su L&iacute;nea Fija o su L&iacute;nea Fija + DSL.
                        </div>

                        <div class="basicrow text-center m-top">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center roboto-b">
                                        <div class="autorow pointerdef">
                                            <input (click)="faultSelectedType = 1" type="radio" name="radio" id="rad1" [checked]="faultSelectedType == 1">
                                            <label for="rad1" class="roboto-b">
                                                &nbsp;Solo L&iacute;nea
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center roboto-b">
                                        <div class="autorow pointerdef">
                                            <input (click)="faultSelectedType = 2" type="radio" name="radio" id="rad2" [checked]="faultSelectedType == 2">
                                            <label for="rad2" class="roboto-b">
                                                &nbsp;L&iacute;nea + DSL
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top">
                            <ion-button (click)="next()"
                                        [disabled]="!available"
                                        color="primary"
                                        expand="full">
                                Continuar
                            </ion-button>

                            <ion-button class="m-top-u-ii" color="gray" expand="full" (click)="back()">
                                Regresar
                            </ion-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




