<div class="allcont logsize">
    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">
                <div class="shortcont">
                    <div class="basicrow m-top text-center">
                        <img width="100%" class="difloglogo extra-margin" src="assets/images/miclaro-logov2.png" alt="">
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow rel">
                            <input placeholder="Correo o N&uacute;mero de Tel&eacute;fono"
                                   class="inp-f"
                                   autocapitalize="off"
                                   [(ngModel)]="username"
                                   (change)="identityEdited()"
                                   (keyup.enter)="login()"
                                   autocomplete="on"
                                   id="username">
                        </div>
                    </div>
                    <div class="basicrow m-top">
                        <form class="basicrow">
                            <input type="password"
                                   placeholder="Contrase&ntilde;a"
                                   class="inp-f" autocapitalize="off"
                                   [(ngModel)]='password'
                                   (change)="identityEdited()"
                                   (keyup.enter)="login()"
                                   [ngModelOptions]="{standalone: true}"
                                   autocomplete="off"
                                   id="password">
                        </form>
                    </div>

                    <div class="basicrow m-top-ii">
                        <div class="basicrow f-reg f-black text-justify" style="width: auto" *ngIf="showKeepAuthenticate">
                            <input id="remember" type="checkbox" [(ngModel)]="keepAuthActivated" class="css-checkbox check-login" (change)="onKeepAuthenticated()"/>
                            <label class="css-label radGroup1" for="remember">&nbsp;Mantener Autenticado</label>
                        </div>

                        <div class="container-touch" *ngIf="biometricAvailable && showBiometricLogin">
                            <input id="touch" type="checkbox" name="touch" class="css-checkbox check-login" [(ngModel)]="biometricActivated" (change)="onMarkBiometric()"/>
                            <label *ngIf="isTouchBiometric" for="touch" class="label-touch">&nbsp;{{ ios ? 'Touch ID' : 'Fingerprint' }}&nbsp;</label>
                            <label *ngIf="!isTouchBiometric" for="touch" class="label-touch">&nbsp;Face ID&nbsp;</label>
                            <img *ngIf="isTouchBiometric" width="100%" class="img-touch" src="assets/images/touchrecog.png">
                            <img *ngIf="!isTouchBiometric" width="100%" class="img-touch" src="assets/images/facerecog.png">
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="btns red vcenter rippleR" (click)="login()">
                            <div class="tabcell">
                                Iniciar Sesi&oacute;n
                            </div>
                        </div>
                    </div>

                    <div class="basicrow text-center m-top-ii">
                        <a class="linkdefs" (click)="goPage('recover/step1')">
                            &#191;Olvidaste tu contrase&ntilde;a&#63;
                        </a>
                    </div>

                    <div class="basicrow m-top-u-ii">
                        <div class="btns blue vcenter rippleB" (click)="goPage('register/step1')">
                            <div class="tabcell">
                                &#191;No tienes cuenta&#63; Reg&iacute;strate
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="btns red vcenter rippleR" (click)="goPage('guest')">
                            <div class="tabcell">
                                Ingresar como Invitado
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

