<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-05"></span> Resumen de Cambio de Plan
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott m-top-i">
        <div class="container">
            <div class="autowcont notopbrd">
                <div class="digs-box defnohov vcenter">
                    <div class="tabcell">
                        <div class="autorow pull-left">
                            <span class="roboto-l">
                                {{typeOfTelephony(subscriber.productTypeField)}}
                            </span>
                            <span class="roboto-m">
                                {{formatSubscriber(subscriber.subscriberNumberField)}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="basicrow tabtopb f-black roboto-r f-reg">
                    <div class="basicrow">
                        <div class="basicrow f-bigmed roboto-b m-bott">
                            Cambio de Plan
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="userinfo full nomtops">
                                    <div class="basicrow m-bott">
                                        <div class="basicrow f-bmed roboto-b m-bott">
                                            Plan Actual
                                        </div>

                                        <div class="redstat">
                                            <div class="basicrow">
                                                {{getPlanName()}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="basicrow text-center m-top-ii">
                                        <div class="basicrow">
                                            <span class="roboto-b">
                                                Precio
                                            </span>
                                            <br>
                                            <span class="f-gray f-semi roboto-m">
                                                &#36;{{getPlanAmount()}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 h-mtop">
                                <div class="userinfo trnsinfo full nomtops">
                                    <div class="basicrow m-bott">
                                        <div class="basicrow f-bmed roboto-b m-bott">
                                            Plan Seleccionado
                                        </div>

                                        <div class="redstat">
                                            <div class="basicrow">
                                                {{selectedPlan.description}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="basicrow text-center m-top-ii">
                                        <div class="basicrow">
                                            <span class="roboto-b">
                                                Precio
                                            </span>
                                            <br>
                                            <span class="f-red f-semi roboto-m">
                                                &#36;{{selectedPlan.price}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basicrow m-top-i m-bott">
                        <div class="logline full"></div>
                    </div>

                    <!-- [INIT DETAILS FOR TELEPHONY] -->
                    <div class="basicrow text-center m-top-i" *ngIf="typeSubscriber.telephony">
                        <div class="basicrow roboto-b">
                            Recuerde que su pr&oacute;xima factura puede reflejar cargos fraccionales relacionado a su nueva factura.
                        </div>

                        <div class="basicrow m-top">
                            Selecciona los Términos del contrato
                        </div>
                    </div>

                    <div class="basicrow m-top"  *ngIf="typeSubscriber.telephony">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="dslMonths != null && dslMonths == 0 || dslMonths == 12">
                                <div class="optchoice hauto roboto-r text-left" [ngClass]="{'on': months12}" (click)="months12 = true; $event.stopPropagation()">
                                    <div class="checkdef">
                                        <input type="radio" name="radioP" class="css-radio" [checked]="months12">
                                        <label class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="basicrow opttext f-med roboto-b">12 meses</div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="optchoice hauto roboto-r text-left" [ngClass]="{'on': !months12}" (click)="months12 = false; $event.stopPropagation()">
                                    <div class="checkdef">
                                        <input type="radio" name="radioP" class="css-radio" [checked]="!months12">
                                        <label class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="basicrow opttext f-med roboto-b">24 meses</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [END DETAILS FOR TELEPHONY] -->

                    <!-- [INIT DETAILS FOR POSTPAID] -->
                    <div class="basicrow text-center m-top-i"  *ngIf="typeSubscriber.postpaid">
                        <div class="basicrow roboto-b">
                            Recuerde que su pr&oacute;xima factura puede reflejar cargos fraccionales relacionado a su nueva factura.
                        </div>

                        <div class="basicrow m-top">
                            Para tu conveniencia. Claro incluirá el cargo en tu factura de servicios mensuales. Favor escoja entre las opciones de cuando desea que se haga efectivo.
                        </div>
                    </div>

                    <div class="basicrow m-top"  *ngIf="typeSubscriber.postpaid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="optchoice hauto roboto-r text-left" [ngClass]="{'on': current}" (click)="current = true; $event.stopPropagation()">
                                    <div class="checkdef">
                                        <input type="radio" name="radioG1" id="radioG1" class="css-radio" [checked]="current">
                                        <label for="radioG1" class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="basicrow opttext">
                                        <div class="basicrow f-med roboto-b">&#191;Desea activar su nuevo plan de inmediato&#63;</div>

                                        <div class="basicrow m-top-u-i roboto-b">
                                            {{currentDate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="optchoice hauto roboto-r text-left" [ngClass]="{'on': !current}" (click)="current = false; $event.stopPropagation()">
                                    <div class="checkdef">
                                        <input type="radio" name="radioG1" id="radioG2" class="css-radio" [checked]="!current">
                                        <label for="radioG2" class="css-label3 radGroup1"></label>
                                    </div>

                                    <div class="basicrow f-med roboto-b">&#191;Desea activar su nuevo plan en su pr&oacute;ximo ciclo de factura&#63;</div>

                                    <div class="basicrow m-top-u-i roboto-r">
                                        Escoja esta opci&oacute;n si desea que no apliquen prorrateos en su pr&oacute;xima factura.
                                    </div>

                                    <div class="basicrow m-top-u-i roboto-b">
                                        {{nextDate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [END DETAILS FOR POSTPAID] -->

                    <div class="basicrow text-center m-top-i" (click)="terms = !terms; $event.stopPropagation();">
                        <input [(ngModel)]="terms" type="checkbox">
                        <a style="margin-left: 8px" class="linkdefs" (click)="showTerms()">Acepto T&eacute;rminos y Condiciones</a>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow text-center m-top">
                        <div (click)="confirm()"
                             class="btns def-i pull-right vcenter"
                             [ngClass]="{'red rippleR': terms, 'gray': !terms}" style="margin-top: 0">
                            <div class="tabcell">
                                Cambiar
                            </div>
                        </div>

                        <div class="btns def-i gray pull-left vcenter" (click)="goBack()">
                            <div class="tabcell">
                                Regresar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



