<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow mbott-i">

        <div class="container">
            <div class="basicrow f-black roboto-r f-reg m-top-i text-center">

                <div class="basicrow m-bott-ii">
                    <div class="basicrow f-black f-mildt roboto-m">
                        Actualiza las Preguntas de Seguridad
                    </div>

                    <div class="basicrow m-top-ii text-justify">
                        Por favor selecciona dos preguntas de seguridad. Esto nos ayudar&aacute; a verificar tu identidad en caso de que olvides tu contrase&ntilde;a.
                    </div>

                    <div class="basicrow m-top">
                        <label class="label-f">
                            &#42; Primera Pregunta de Seguridad
                        </label>

                        <select class="sel-f" [(ngModel)]="question1">
                            <option *ngFor="let q of questions" [ngValue]="q.questionID">{{q.question}}</option>
                        </select>
                    </div>

                    <div class="basicrow m-top-i">
                        <label class="label-f">
                            &#42; Respuesta Secreta
                        </label>

                        <input class="inp-f" [(ngModel)]="answer1">
                    </div>

                    <div class="basicrow m-top-i">
                        <label class="label-f">
                            &#42; Segunda Pregunta de Seguridad
                        </label>

                        <select class="sel-f" [(ngModel)]="question2">
                            <option *ngFor="let q of questions" [ngValue]="q.questionID">{{q.question}}</option>
                        </select>
                    </div>

                    <div class="basicrow m-top-i">
                        <label class="label-f">
                            &#42; Respuesta Secreta
                        </label>

                        <input class="inp-f" [(ngModel)]="answer2">
                    </div>

                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow m-top-i">
                    <div (click)="save()" [className]="answer1.length > 0 && answer2.length > 0 ?
             'btns vcenter red rippleR' : 'btns vcenter gray'">
                        <div class="tabcell">
                            Continuar
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
