<div class="allcont logsize" style="overflow-y: auto; overflow-x: hidden">

    <app-popup-refer-terms
        *ngIf="popupController.popupTerm"
        (close)="closeTerms()">
    </app-popup-refer-terms>

    <div class="popupbg popup-cant" *ngIf="popupController.popupCant">
        <div class="popupcont">
            <div class="basicrow text-justify f-black roboto-r">
                <span
                    class="roboto-b">&#161;Gracias por su inter&eacute;s en nuestro Programa de Refiere y Gana&#33;</span>
                Su cuenta no cumple con los requisitos de participaci&oacute;n de este programa. Para informaci&oacute;n
                adicional comun&iacute;quese con unos de nuestros Coordinadores de Servicio al Cliente a trav&eacute;s
                de nuestro CHAT o revise las reglas y t&eacute;rminos y condiciones de esta promoci&oacute;n.
            </div>

            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-center m-top-i">
                <div class="red btns savech centr vcenter btn-home">
                    <div class="tabcell" (click)="onCancelCant()">
                        Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popupbg popup-select" *ngIf="popupController.popupSelect">
        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                Validación de Cuentas Programa de Referidos
            </div>

            <div class="basicrow m-top-i">
                <label class="label-r">&#42; Número de Cuenta</label>

                <div class="basicrow">
                    <select class="sel-f"
                            id="select-account"
                            name="selectedAccount"
                            (change)="changeAccount()"
                            [(ngModel)]="selectedAccount">
                        <option selected disabled hidden>seleccionar</option>
                        <ng-container *ngFor="let account of accounts">
                            <option *ngIf="account.account" [value]="account.account">
                                {{account.account}}
                            </option>
                        </ng-container>
                    </select>

                </div>
            </div>

            <div class="basicrow m-top-i">
                <label class="label-r">&#42; Número de Teléfono</label>

                <div class="basicrow">
                    <select class="sel-f"
                            id="select-subscriber"
                            name="selectedSubscriber"
                            (change)="changeSubscriber(selectedSubscriber)"
                            [(ngModel)]="selectedSubscriber">

                        <option selected disabled hidden>seleccionar</option>
                        <option [value]="subscriber.subscriber" *ngFor="let subscriber of subscribers">
                            {{subscriber.subscriber}}
                        </option>
                    </select>

                </div>
            </div>

            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-center m-top">
                <div class="btns def-i red pull-left vcenter rippleR" id="next-select" (click)="onNextSelect()">
              <span class="tabcell">
                Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
                </div>

                <div class="btns def-i gray pull-left vcenter" id="cancel-select" (click)="onCancelSelect()">
              <span class="tabcell">
                Cancelar
              </span>
                </div>
            </div>
        </div>
    </div>

    <div class="popupbg popup-update" *ngIf="popupController.popupUpdate">
        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                Actualiza tu Perfil
            </div>

            <div class="basicrow m-top-i">
                <label class="label-r">&#42; Escoge pasatiempo favorito</label>

                <div class="basicrow">
                    <select class="sel-f"
                            name="selectedHobbie"
                            (change)="changeHobbie()"
                            [(ngModel)]="selectedHobby">
                        <option selected disabled>seleccionar</option>
                        <option [value]="hobbie.hobbie" *ngFor="let hobbie of hobbiesList">
                            {{hobbie.hobbie}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="basicrow">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="basicrow m-top-i">
                            <label class="label-f">&#42; Fecha de Nacimiento</label>

                            <div class="basicrow rel">
                                <i class="fa fa-calendar inpcal-icon" aria-hidden="true"></i>

                                <input
                                    id="date"
                                    name='date'
                                    type="date"
                                    [(ngModel)]="date"
                                    value="date"
                                    class="inp-f qt"
                                    placeholder="date"
                                >
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="basicrow m-top-i">
                            <label class="label-f">&#42; Correo de Factura Electr&oacute;nica de Servicio</label>

                            <div class="basicrow">
                                <input type="email" [(ngModel)]="email" id="email" class="inp-f offf">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
                <img alt="" class="plessicon" width="100%" src="assets/images/fact-dig.png">

                <div class="popopt less-m roboto-b">
                    Paperless:
                </div>

                <div class="popopt">
                    <input id="radio-yes" [checked]="radioPaperless == 1" value="1" type="radio" name="group-paperless" (click)="radioPaperless = 1">
                    Si
                </div>

                <div class="popopt">
                    <input id="radio-no" [checked]="radioPaperless == 0" value="0" type="radio" name="group-paperless"  (click)="radioPaperless = 0">
                    No
                </div>
            </div>

            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-center m-top">
                <div
                    class="btns def-i  pull-left vcenter "
                    id="next-update"
                    (click)="onNextUpdate()"
                    [ngClass]="selectedHobby === '' ?  'gray':'red  rippleR'"
                >
              <span class="tabcell">
                Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
                </div>

                <div class="btns def-i gray pull-left vcenter" id="cancel-update" (click)="onCancelUpdate()">
              <span class="tabcell">
                Cancelar
              </span>
                </div>
            </div>
        </div>
    </div>

    <div class="popupbg popup-balance-post" *ngIf="popupController.popupBalancePost">
        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                Balance Vencido
            </div>

            <div class="basicrow f-black f-reg m-top-i text-justify">
                Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus
                contactos por favor pague el balance pendiente abajo mostrado y presione la opci&oacute;n Pagar.
            </div>

            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow m-top-i">
                <div class="balancesptr-ii text-center refdef">
              <span class="roboto-b">
                Balance Pendiente
              </span><br>

                    <span class="f-red f-lsemi roboto-b" id="balance-post">
               {{ReferrerData.balance}}
              </span>
                </div>

                <div class="basicrow visible-xs">
                    <div class="logline full"></div>
                </div>

                <div class="balancesptr-ii ref-nbrd refdef">
                    <label class="label-r roboto-b">Monto a Pagar (&#36;)</label>

                    <div class="basicrow rel">
                        <img alt="" data-toggle="popover" data-html="true"
                             data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                             data-placement="bottom" class="q-t" width="100%" src="assets/images/tooltip1.png">

                        <input id="value-balance-post" value={{ReferrerData.balance}} class="inp-f refdefnt qt">
                    </div>
                </div>
            </div>

            <div class="basicrow m-top-u">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-center m-top">
                <div class="btns def-i red pull-left vcenter rippleR" id="next-balance-post"
                     (click)="onNextBalancePost()">
              <span class="tabcell">
                Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
                </div>

                <div class="btns def-i gray pull-left vcenter" id="cancel-balance-post" (click)="onCancelBalancePost()">
              <span class="tabcell">
                Cancelar
              </span>
                </div>
            </div>
        </div>
    </div>

    <div class="popupbg popup-balance-pre" *ngIf="popupController.popupBalancePre">
        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                Balance Vencido
            </div>

            <div class="basicrow f-black f-reg m-top-i text-justify">
                Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus
                contactos por favor recargue el balance a su cuenta prepaga mostrada y presione la opci&oacute;n Pagar o
                de lo contrario presione el bot&oacute;n Cancelar para abandonar el proceso.
            </div>

            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow m-top-i">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                        <div class="basicrow">
                            <label class="label-r roboto-b">Recarga Prepago &#45; Monto a Pagar (&#36;)</label>

                            <div class="basicrow rel">
                                <img alt="" data-toggle="popover" data-html="true"
                                     data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                                     data-placement="bottom" class="q-t" width="100%" src="assets/images/tooltip1.png">

                                <input value="&#36;174.87" class="inp-f refdefnt qt">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-center m-top">
                <div class="btns def-i red pull-left vcenter rippleR" id="next-balance-pre"
                     (click)="onNextBalancePre()">
              <span class="tabcell">
                Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
                </div>

                <div class="btns def-i gray pull-left vcenter" id="cancel-balance-pre" (click)="onCancelBalancePre()">
              <span class="tabcell">
                Cancelar
              </span>
                </div>
            </div>
        </div>
    </div>

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="fulltitle m-top-i f-btitle">
                <span class="icon-dash-21"></span> Programa Refiere y Gana
            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container nocont">
            <div class="basicrow rel m-top-i">
                <img alt="" width="100%" class="innerban" src="assets/images/refbanimg.jpg">

                <div class="innerbantexts">
                    <div class="basicrow f-black roboto-l">
                        Por cada amigo que refieras<br/>
                        <span class="f-reg f-mgray">Obtendras cupones</span>
                    </div>

                    <div class="basicrow">
                        <div id="btn-refiere" class="btns blue refdef vcenter rippleB" (click)="refer()">
                            <div class="tabcell">
                                Refiere&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div id="btn-redimir" class="btns blue refdef refdefleft vcenter rippleB" (click)="redeem()">
                            <div class="tabcell">
                                Redimir&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow m-top-i lessm">
        <div class="container">
            <div class="basicrow m-top-i">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 roboto-l f-black text-justify">
                        <span
                            class="f-big less-f">&#191;Qu&eacute; es el programa de Refiere y Gana&#63;</span><br/><br/>
                        <span class="f-reg-i f-mgray">Este programa tiene el objetivo de incentivar a nuestros clientes existentes por cada referido a amigos, familiares y conocidos que culmine en una activación de servicio. Por otro lado, el cliente referido recibirá beneficios por su activación. Todas las transacciones se gestionarán y monitorearán a través de Mi Claro, permitiéndole al cliente autogestión de sus beneficios.</span>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 text-center">
                        <img alt="" width="100%" class="reflaptimg" src="assets/images/reflaptopimg.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow graybg">
        <div class="container">
            <div class="basicrow">
                <div class="row refdef">
                    <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
                    <!--<div class="basicrow text-center">-->
                    <!--<img  alt="" width="100%" class="ref-icons" src="assets/images/reficon1.png">-->
                    <!--</div>-->

                    <!--<div class="basicrow f-black roboto-l text-justify m-top">-->
                    <!--<div class="basicrow f-mildt text-left">-->
                    <!--&#191;Qu&eacute; hago para participar&#63;-->
                    <!--</div>-->

                    <!--<div class="f-reg roboto-r f-black basicrow m-top">-->
                    <!--Accede a nuestra p&aacute;gina <a href="https://www.claropr.com/personas/" target="_blank" class="linkdefs">www.claropr.com</a>, ingresa la informaci&oacute;n requerida, acepta los t&eacute;rminos y condiciones del programa y comienza a referir.-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">

                        <div id="icono_questions" class="basicrow text-center" (click)="questions()">
                            <img style="font-size: 4em;cursor: pointer;width: auto;height: 90px;"
                                 src="assets/images/ico_preguntasFrecuentes.png">
                            Preguntas frecuentes
                        </div>

                        <div class="basicrow m-top"></div>

                        <div id="terminos" class="basicrow text-center" (click)="showTerms()">
                            <img alt="" style="font-size: 4em;cursor: pointer;width: auto;height: 90px;"
                                 src="assets/images/ico_terminosCondiciones.png">
                            Términos y Condiciones
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow margin-footer"></div>

</div>



