.container-general {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    float: left;
    margin: 2rem 0 1rem;
}
.container-terms {
    width: 100%;
    padding: 16px;
    text-align: justify;
}
