<div class="container-general">
    <h4 class="f-bold f-med">Términos y condiciones de la oferta</h4>
    <div class="container-terms"
         [innerHTML]="offerTerms || 'Los términos de esta oferta no han sido especificados.'">
    </div>
</div>

<div class="basicrow text-center f-bold">
    Copyright © {{currentYear}} Puerto Rico Telephone Company, Inc.
</div>


