/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-primary: #ef3829;
    --ion-color-primary-rgb: 239,56,41;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #d23124;
    --ion-color-primary-tint: #f14c3e;

    --ion-color-secondary: #1f97ae;
    --ion-color-secondary-rgb: 31,151,174;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #1b8599;
    --ion-color-secondary-tint: #35a1b6;

    --ion-color-gray: #afafaf;
    --ion-color-gray-rgb: 175,175,175;
    --ion-color-gray-contrast: #ffffff;
    --ion-color-gray-contrast-rgb: 255,255,255;
    --ion-color-gray-shade: #9a9a9a;
    --ion-color-gray-tint: #b7b7b7;

    --ion-color-success: #0ea650;
    --ion-color-success-rgb: 14,166,80;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0e8f48;
    --ion-color-success-tint: #11c45e;

    --ion-color-danger: #9b3d35;
    --ion-color-danger-rgb: 155,61,53;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #84342d;
    --ion-color-danger-tint: #cb5045;
}

.ion-color-primary {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-base-rgb: var(--ion-color-primary-rgb);
    --ion-color-contrast: var(--ion-color-primary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-shade);
    --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
    --ion-color-base: var(--ion-color-secondary);
    --ion-color-base-rgb: var(--ion-color-secondary-rgb);
    --ion-color-contrast: var(--ion-color-secondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-secondary-shade);
    --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-gray {
    --ion-color-base: var(--ion-color-gray);
    --ion-color-base-rgb: var(--ion-color-gray-rgb);
    --ion-color-contrast: var(--ion-color-gray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-shade);
    --ion-color-tint: var(--ion-color-gray-tint);
}

.ion-color-success {
    --ion-color-base: var(--ion-color-success);
    --ion-color-base-rgb: var(--ion-color-success-rgb);
    --ion-color-contrast: var(--ion-color-success-contrast);
    --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
    --ion-color-shade: var(--ion-color-success-shade);
    --ion-color-tint: var(--ion-color-success-tint);
}

.ion-color-danger {
    --ion-color-base: var(--ion-color-danger);
    --ion-color-base-rgb: var(--ion-color-danger-rgb);
    --ion-color-contrast: var(--ion-color-danger-contrast);
    --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
    --ion-color-shade: var(--ion-color-danger-shade);
    --ion-color-tint: var(--ion-color-danger-tint);
}

* {
    --primary-color: #ef3829;
    --secondary-color: #1f97ae;
    --white-color: #ffffff;
    --black-color: #000000;


    --primary-dark-color: #b40000;
}

ion-button {
    text-transform: unset;
}

.allcont.logsize {
    background: var(--white-color);
    //overflow-y: auto;
}

.inp-f.disc {
    -webkit-text-security:disc
}

.label-terms {
    display: flex;
    align-items: center;
}

.chat-alert {
    .f-mildt {
        font-size: 18px;
    }
    .f-reg {
        font-size: 13px;
    }
    .m-top-i {
        margin-top: 10px;
    }
    img {
        width: 40px;
        height: 40px;
    }
}

.terms-alert {
    width: 100%;
    height: auto;
    float: left;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    padding: 16px;
}

.ion-page {
    justify-content: flex-start;
}

/* fix on scrolling section(for ionic): */
app-login,
register-step1,
register-step2,
register-step3,
register-guest,
recover-step1,
recover-step2,
recover-step3,
recover-step4,
recover-step5,
recover-step6,
app-recover,
app-update,
app-register,
app-login-guest,
app-help-home,
app-help-about,
app-help-chat,
app-help-contact-us,
app-help-failure-report,
app-help-improvement,
app-help-faq,
app-help-locations,
app-help-locations-details,
app-help-success-report,
app-home-dashboard,
app-home-no-associated,
app-module-consumption,
app-module-consumption-prepaid,
app-module-direct-debit,
app-module-electronic-bill,
app-module-invoice-download,
app-module-invoice-summary,
app-module-payment-history,
app-module-device,
app-module-change-plan,
app-module-change-plan-confirm,
app-module-change-plan-recharge,
app-module-change-plan-success,
app-module-purchases,
app-module-data-plan,
app-module-data-plan-success,
app-module-support,
app-menu,
app-notification-preference,
app-module-netflix,
app-module-netflix-faq,
app-module-netflix-redirect,
app-module-netflix-subscription,
app-module-netflix-support,
app-module-netflix-terms,
app-module-iptv,
app-module-iptv-terms,
app-module-iptv-faq,
app-module-iptv-support,
app-module-iptv-select-plan,
app-module-iptv-buy,
app-module-gift-one-gb,
app-module-gift-sent,
app-module-gift-recharge,
app-module-shopping-history,
app-module-add-accounts,
app-module-profile,
app-module-refer-questions,
app-module-refer-home,
app-module-refer-invite,
app-module-refer-redeem,
app-module-refer-redeem,
app-module-club,
app-module-club-faq,
app-module-club-terms,
app-module-recharge,
app-module-recharge-confirm,
app-module-recharge-history,
app-module-recharge-success,
app-module-fault-step1,
app-module-fault-step2,
app-module-fault-step3,
app-update-username,
app-notifications, 
app-mfa, 
app-push-confirmation{
    overflow-y: auto !important;
}

.preg-f.on .fa-plus, .preg-f .fa-minus {
    display: block !important;
}

.btns.gray.def-i.pull-right {
    margin-top: 0;
}

app-push-confirmation{
    margin-right: -30px;
}
/*
ion-app.platform-ios ion-content {
    pointer-events: auto; /*fix scroll lock on ios12.2
    z-index: 1;
    -webkit-overflow-scrolling: touch !important;
    touch-action: pan-x !important;
}
*/

ion-backdrop .alert-head h2.alert-title {
    overflow-y: hidden !important;
}



@media (max-width: 330px) {
    div.balancesptr-ii.fortimes.rfpad > div > select {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    @media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (orientation : portrait)  {
        .appsize .footcont {
            height: 78px !important;
        }
    }

    /* 1792x828px at 326ppi */
    @media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (orientation : portrait) {
        .appsize .footcont {
            height: 78px !important;
        }
    }

    /* 2436x1125px at 458ppi */
    @media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (orientation : portrait)  {
        .appsize .footcont {
            height: 78px !important;
        }
    }

    /* 2688x1242px at 458ppi */
    @media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (orientation : portrait)  {
        .appsize .footcont {
            height: 78px !important;
        }}
}

.primary-button-rate-dialog {
    font-weight: bold !important;
}

.secondary-button-rate-dialog {
    font-weight: normal !important;
}


// Carousel Plans IPTV
ion-slide.item-slide-iptv {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 32px 3rem;
    font-size: 14px;

    .carousel-preview-container {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 23px;
        &.selected {
            border: 3px solid var(--secondary-color);
            .carousel-header > ion-img {
                top: -16px;
                right: -3px;
            }
        }

        .carousel-header {
            background: var(--secondary-color);
            color: #fff;
            font-size: 14px;
            width: 100%;
            height: 46px;
            padding: 6px 24px 6px 12px;
            border-radius: 16px 16px 0 0;
            text-align: left;
            position: relative;
            display: flex;
            align-items: center;
            .center-icon-offer {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 6px;
            }
            ion-img {
                position: absolute;
                top: -13px;
                right: 0;
                width: 78px;
            }
        }

        .carousel-preview {
            &--title {
                h4 {
                    font-weight: 600;
                    padding: 24px 0 8px;
                    margin-top: 0;
                    color: var(--secondary-color);
                    //border-top-left-radius: 20px;
                    //border-top-right-radius: 20px;
                    font-size: 22px;
                }
            }

            &--description {
                .description {
                    &-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        ion-img {
                            width: 64px;
                        }
                        &--price {
                            font-size: 16px;
                            font-weight: 600;

                            .price {
                                color: var(--primary-color);
                                font-size: 20px;
                                display: block;
                            }
                        }
                    }
                    &-details {
                        padding-top: 14px;
                        &--text {
                        }
                        &--name, &--channels {
                            display: flex;
                            justify-content: space-between;
                            padding-top: 2rem;
                            font-weight: 600;
                        }
                        &--channels {
                            margin: 0 2rem;
                        }
                    }
                    &-channels {
                        .channels-featured-list {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            margin: 1rem 8%;
                            .channel-preview {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 24%;
                                ion-img {
                                    width: 64px;
                                    height: 64px;
                                }
                            }
                        }
                        .view-more-channels {
                            text-align: right;
                        }
                    }

                }
            }
        }

        .border-bottom {
            padding: 1rem 0 2rem;
            margin: 0 2rem;
            border-bottom: 1px solid #cacaca;
        }
    }
}
.carousel-footer {
    margin: 2rem;
    &--terms {
        text-align: left;
        p {
            font-weight: 600;
            margin-bottom: 8px;
        }
        input {
            margin-right: 8px;
            vertical-align: top;
        }
        a {
            font-weight: 600;
        }
    }
}
.carousel-footer--button {
    margin: 3rem 0;
    border: 2px solid var(--primary-color);
    text-transform: capitalize;
    --border-style: none;
    letter-spacing: 0;
    &.disabled {
        border-color: #7d7d7d;
        --background: #5b5b5b;
    }
}

// Popup
.new-popup > .popupcont {
    border-radius: 9px;
}
app-module-iptv-select-plan .popupbg {
    top: 0;
}

.clarotv {
    color: #ef382a;
    font-weight: 700;
}
.tvmas {
    color: #000000;
    font-weight: 700;
}

.d-flex {
    display: flex;
}
.modal-accessibility {
    .modal-wrapper {
        width: 86%;
        height: 700px;
        border-radius: 16px;
    }
}
.margin-footer {
    height: 54px;
}
