<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-04"></span> Historial de Compras
                </div>

                <div class="nroacc">
                    <label class="label-r sidenmbr vcenter">
                        <span class="tabcell">
                            N&uacute;mero de Cuenta
                        </span>
                    </label>
                    <app-account-select></app-account-select>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott">

        <div class="container">
            <div class="text-center m-top-i" *ngIf="count === 0">
                Sin Ordenes
            </div>

            <div *ngFor="let history of listHistory">
                <div *ngIf ="history.Packages.length > 0">
                    <div class="basicrow m-top-i">
                        <div class="suscriptbar">
                            Suscriptor:
                            <span class="roboto-b">
                                {{history.SubcriberNumber}}
                            </span>
                        </div>

                        <div class="boxtbl">

                            <div class="tab-tbar">
                                <div class="frwds frths rline trds vcenter">
                                    <div class="tabcell">
                                        Producto
                                    </div>
                                </div>

                                <div class="frwds frths rline trds vcenter">
                                    <div class="tabcell">
                                        Descripci&oacute;n
                                    </div>
                                </div>

                                <div class="frwds frths trds vcenter">
                                    <div class="tabcell">
                                        Costo
                                    </div>
                                </div>
                            </div>

                            <div class="basicrow">

                                <div *ngFor="let pack of history.Packages">
                                    <div class="tab-cbar topgbrd">
                                        <div class="frwds trds rline vcenter">
                                            <div class="tabcell">
                                                {{pack.Name}}
                                            </div>
                                        </div>

                                        <div class="frwds trds rline vcenter">
                                            <div class="tabcell">
                                                {{pack.Desc}}
                                            </div>
                                        </div>

                                        <div class="frwds trds vcenter">
                                            <div class="tabcell">
                                    <span class="roboto-b">
                                      &#36;{{ pack.Price+''}}
                                    </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="recauto" *ngIf="pack.renewal">
                                        <div class="basicrow roboto-b f-black">
                                            Recurrencia Autom&aacute;tica
                                        </div>

                                        <div class="basicrow m-top-u">
                                            <label class="switch">
                                                <input type="checkbox"
                                                       [checked]="pack.renewalActive"
                                                       (click)="changeRenewal(history.SubcriberNumber, pack.OfferId, history.BaseOfferID, pack.renewalActive)">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







