<div class="fail" *ngIf="flashPaymentService.controller.operationError">
    <div class="action-container">
        <div class="icon-confirmation-container error icon-fix">
            <ion-icon src="assets/images/alert-circle.svg" color="danger" class="fix-mat-icon"></ion-icon>
            <ion-icon name="alert-circle"></ion-icon>
        </div>
        <div class="tex-confirmation-message">
            <div class="tex-confirmation-title error">¡Ha ocurrido un error!</div>
            <div class="tex-confirmation-text" [innerHTML]="flashPaymentService.controller.errorMessage">
            </div>
        </div>
    </div>
    <div class="line-decorator"></div>
    <div class="action-container">
        <ion-button color="primary" (click)="restartProcess()">
            Volver a intentar
        </ion-button>
    </div>
</div>
