<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span><img src="assets/images/map-icon.png" style="height: 50px; width: 50px; margin: 10px" alt=""></span>
                    &nbsp;Localidades
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow m-top-i">

        <div class="acctypescont text-center">

            <div (click)="tabSelected(type.value)"
                 *ngFor ="let type of storeType"
                 [ngClass]="type.selected ? 'btn-store acctype on':'btn-store acctype'">
                <div class="autocont full vcenter">
                    <div class="tabcell">
                        {{type.name}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow f-black roboto-r f-reg m-top-i m-bott">
                <div class="basicrow f-mildt roboto-m">
                    Localidades Cercanas
                </div>


                <div (click)="storeDetail(store)"
                     class="basicrow m-top btn-store-detail"
                     data-store-id="store.id"
                     *ngFor ="let store of storeList">
                    <div class="preg-f" style="padding-right: 0">

                        <div class="rel">
                            <img class="sectarrow" width="100%" src="assets/images/arrow-iii.png" alt="">

                            <div class="sect-full modrt f-reg f-bold f-black vcenter">
                                <div class="tabcell">
                                    <span class="f-red">{{store.name}}</span>
                                    <br/>
                                    <span class="f-dgray f-little">
                                        {{store.address}} <br>
                                        {{store.town}}
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="store.longitude != 0 && store.latitude != 0"
                                 [ngClass]="store.distance == 0 ? 'basicrow f-red roboto-b f-mini hidden' : ''"
                                 class="basicrow f-red roboto-b f-mini"
                                 style="margin-top:10px; width:auto;">
                                <span class="pull-right" *ngIf="store.distance != 0">
                                    {{store.distance}} mil
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
