<div class="allcont logsize">

    <app-header-help></app-header-help>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicr-line-i">
                <div class="fulltitle m-top-i f-btitle">
                    <span><img src="assets/images/ico_terminosCondiciones.png" style="height: 50px; width: 50px; margin: 10px" alt=""></span>
                    &nbsp;Acerca de
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow f-reg text-justify f-black diffr m-top-i">

        <div class="container">

            En Claro Puerto Rico te damos soluciones digitales seguras, fáciles y rápidas para que tengas el control de tu cuenta.  Desde Mi Claro puedes:<br/><br/>

            <ul>
                <li>Ver y descargar tu factura.</li>
                <li>Realiza tus pagos con ATH, Tarjeta de Credito o Cuenta de banco.</li>
                <li>Revisar tus consumos.</li>
                <li>Cambiar tu plan.</li>
                <li>Revisar tus consumos.</li>
                <li>Suscríbirte para que tus pagos se debiten automáticamente.</li>
                <li>Entra a nuestra tienda y activa, renueva o porta tu línea a Claro.</li>
                <li>Tu Chat esta disponible todos los días.</li>
                <li>Utiliza el programa de lealtad..</li>
            </ul>

            <br>
            <br>
            Mantenla actualizada para que disfrutes de los Updates que constantemente le hacemos a nuestra aplicación.
            Si necesitas ayuda puedes escribirnos a <a href="mailto:miclaro@claropr.com">miclaro@claropr.com</a>.  Te asistiremos rápidamente.
        </div>
    </div>

    <div class="basicrow m-top-i graybg">
        <div class="container">
            <div class="basicrow m-bott">

                <div class="basicrow m-top-i">
                    <div class="row refdef">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="basicrow text-center">
                                <img width="100%" class="ref-icons" src="assets/images/netflixicon3.png" alt="">
                            </div>

                            <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                <div class="basicrow f-bmed roboto-b">
                                    Versi&oacute;n {{version}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow m-top m-bott">

                <div class="basicrow m-top-i">
                    <div class="row refdef">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="basicrow text-center">
                                <img width="100%" class="ref-icons" src="assets/images/ref-gmail-icon.png" alt="">
                            </div>

                            <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                <div class="basicrow f-bmed roboto-b">
                                    <a href="mailto:miclaro@claropr.com" class="cdef">miclaro@claropr.com&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
