.fdig-check {
    width: 27px;
    margin-top: 11px;
}

.q-t-credits-telephony {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 80;
    width: 25px;
    height: 25px;
    right: 40%;
}

@media (max-width: 768px) {
    .q-t-credits-telephony {
        top: 5px;
        right: 8px;
        margin: inherit;
    }
}

ion-button.btns.payup {
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.balancesptr-iii.refdef.no-brd {
    width: 100%;
}

.inp-f.payup.qt {
    width: 100%;
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 10px 12px;
}

img.q-t-pay {
    top: 5px;
    right: 8px;
    margin: inherit;
}

.dinamic-banner-container {
    img {
        width: 100%;
    }
}
