<app-popup-gift-received
        *ngIf="showPopupGiftReceived"
        [product]="product"
        (close)="closePopup1GB()">
</app-popup-gift-received>

<app-popup-splash-claro-tv
    *ngIf="showPopupSplashClaroTv"
    (close)="closePopupClaroTv($event)">
</app-popup-splash-claro-tv>

<ion-content #content class="allcont logsize" style="overflow-y: auto; overflow-x: hidden">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top-i lessm">
        <div *ngIf="typeBan.postpaid || typeBan.telephony" class="container">
            <div class="autowcont dashapp m-top">
                <div class="basicrow msidespad">
                    <div class="b-title">
                        <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                            <div class="tabcell">
                                Balance
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow msidespad m-top-u-i">

                    <div class="balancesptr-i">
                        <label class="label-r">N&uacute;mero de Cuenta</label>

                        <div class="basicrow">
                            <app-account-select></app-account-select>
                        </div>
                    </div>

                    <div class="balancesptr-iicont refdef">
                        <div class="balancesptr-ii text-center">
                      <span class="roboto-b">
                          Balance Pendiente
                      </span>
                            <br/>
                            <span class="f-red f-lsemi roboto-b">
                          &#36;{{billBalance}}
                      </span>
                        </div>

                        <div class="balancesptr-ii no-brd-i text-center">
                      <span class="roboto-b">
                          Su Factura Vence
                      </span>
                            <br/>
                            <span class="f-black f-big roboto-b">
                          {{billDueDate}}
                      </span>
                        </div>
                    </div>

                    <div class="basicrow m-bott visible-md visible-sm">
                        <div class="logline full"></div>
                    </div>

                    <div class="basicrow m-bott visible-xs">
                        <div class="logline full"></div>
                    </div>

                    <div class="balancesptr-iv refdef f-reg roboto-r text-center">
                        <div class="basicrow m-top-u">
                            Fecha de Factura<br/>
                            <span class="roboto-b">
                          {{billDate}}
                      </span>
                        </div>
                    </div>

                    <div class="balancesptr-iv refdef no-brd f-reg roboto-r text-center">
                        <div class="basicrow m-top-u">
                            &Uacute;ltimo Pago<br/>
                            <span class="roboto-b">
                          &#36;{{lastPayment}}
                      </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="typeBan.prepaid" class="container">
            <div class="autowcont dashapp m-top">
                <div class="basicrow msidespad">
                    <div class="b-title">
                        <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                            <div class="tabcell">
                                Balance en Prepago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="typeBan.prepaid" class="basicrow msidespad m-top-u-i">
        <div class="balancesptr-ii fortimes rfpad text-left">
            <label class="label-f">N&uacute;mero de Tel&eacute;fono</label>

            <div class="basicrow">
                <select class="sel-f" [(ngModel)]="selectedSubscriber" (change)="changePrepaidSubscriber()">
                    <option *ngFor="let subscriber of subscribers" [ngValue]="subscriber">
                        {{subscriber.subscriberNumberField}}
                    </option>
                </select>
            </div>
        </div>

        <div class="balancesptr-ii fortimes h-nobrd-i text-center">
			<span class="roboto-b">
				Balance en Prepago
			</span>
            <br/>
            <span class="f-red f-lsemi roboto-b">
				&#36;{{getPrepaidBalance()}}
			</span>
        </div>

        <div class="basicrow visible-sm m-bott">
            <div class="logline full"></div>
        </div>

        <div class="balancesptr-ii text-center">
			<span class="roboto-b">
				Pr&oacute;xima Recarga
			</span>
            <br/>
            <span class="f-black f-big roboto-b">
				{{getNextRecharge()}}
			</span>
        </div>
    </div>

    <div *ngIf="typeBan.prepaid" class="basicrow m-top-i lessm bg-gray hidden">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="autowcont dashapp m-top">
                        <div class="basicrow msidespad">
                            <div class="b-title">
                                <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                                    <div class="tabcell">
                                        Balance en Mi Claro <span class="f-red">Wallet</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="basicrow msidespad m-top-u-i">
                            <div class="balancesptr-ii fullon text-center">
                                <span class="roboto-b">
                                    Cr&eacute;ditos Disponibles
                                </span>
                                <br/>
                                <span class="f-red f-lsemi roboto-b">
                                    &#36;{{ getWalletBalance() }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="basicrow" [ngClass]="{'bg-gray': !typeBan.prepaid}">-->
    <div class="basicrow bg-gray">
        <div class="container">
            <div class="autowcont dashapp m-top-i">
                <div class="basicrow msidespad">
                    <div class="b-title">
                        <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                            <div class="tabcell">
                                Opciones de Pago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow msidespad m-top-u-i">

                    <div *ngIf="typeBan.postpaid">

                        <div class="balancesptr-i refdef text-center">
                            <span class="roboto-b">
                                Descuentos Disponibles
                            </span>
                            <br/>
                            <span class="f-blue f-lsemi roboto-b">
                                {{discount}}
                            </span>
                        </div>

                        <div class="basicrow m-bott visible-xs">
                            <div class="logline full"></div>
                        </div>

                        <div class="balancesptr-iii refdef">
                            <label class="label-r roboto-b">Monto de Descuento a Aplicar</label>

                            <div class="basicrow rel">
                                <img alt="" [popper]="'Deberá tener este monto disponible en sus creditos.'"
                                     [popperTrigger]="'click'"
                                     [popperTimeoutAfterShow]="3000"
                                     class="q-t-pay" src="assets/images/tooltip1.png">

                                <input value="{{creditAmount}}" class="inp-f payup qt" readonly>


                                <ion-button [disabled]="!canApplyCredits"
                                            class="btns payup vcenter"
                                            color="secondary" expand="full" (click)="applyCredits()">
                                    Aplicar
                                </ion-button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="typeBan.telephony">

                        <div class="balancesptr-iii refdef text-center">
                            <label class="label-r roboto-b">Descuento Disponibles</label>

                            <div class="basicrow rel">
                                <img alt="" [popper]="'El Monto aplicable de credito es el 50% de su Balance Pendiente.'"
                                     [popperTrigger]="'click'"
                                     [popperTimeoutAfterShow]="3000"
                                     class="q-t-credits-telephony" src="assets/images/tooltip1.png">
                            </div>

                            <span class="f-blue f-lsemi roboto-b">
							    {{discount}}
						    </span>
                        </div>

                        <div class="balancesptr-iii refdef">

                            <div class="basicrow">
                                <ion-button [disabled]="!canApplyCredits"
                                            class="btns payup vcenter"
                                            color="secondary" expand="full" (click)="applyCredits()">
                                    Aplicar a Renta Mensual
                                </ion-button>
                            </div>
                        </div>

                    </div>

                    <div class="basicrow m-bott visible-xs">
                        <div class="logline full"></div>
                    </div>

                    <div class="balancesptr-iii refdef no-brd">
                        <label *ngIf="!typeBan.prepaid" class="label-r roboto-b">
                            Monto a Pagar (&#36;)
                        </label>
                        <label *ngIf="typeBan.prepaid" class="label-r roboto-b">
                            Monto a Recargar (&#36;)
                        </label>

                        <div class="basicrow rel">
                            <img alt="" *ngIf="!typeBan.prepaid" [popper]="'Ahora puedes abonar hasta $800.00. Si la cantidad indica CR, significa que usted tiene cr&eacute;dito en su cuenta.'"
                                 [popperTrigger]="'click'"
                                 [popperTimeoutAfterShow]="5000"
                                 class="q-t-pay" src="assets/images/tooltip1.png">
                            <img alt="" *ngIf="typeBan.prepaid" [popper]="'Podras recargar entre $5.00 y $150.00 a tu n&uacute;mero prepago.'"
                                 [popperTrigger]="'click'"
                                 [popperTimeoutAfterShow]="3000"
                                 class="q-t-pay" src="assets/images/tooltip1.png">

                            <input [(ngModel)]="amountPayable" value="{{amountPayable}}" class="inp-f payup qt"
                                   type="number" [appTwoDigitDecimalNumber]="'4.2'"
                                   (keyup.enter)="typeBan.prepaid? recharge() : billPayment()">

                            <ion-button *ngIf="!typeBan.prepaid"
                                        class="btns payup vcenter"
                                        color="primary" expand="full" (click)="billPayment()">
                                Pagar
                            </ion-button>
                            <ion-button *ngIf="typeBan.prepaid"
                                        class="btns payup vcenter"
                                        color="primary" expand="full" (click)="recharge()">
                                Recargar
                            </ion-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="!isGuest">
                    <div class="dashdirect-digf">

                        <img alt="" class="digf-def-i" width="100%" src="assets/images/fact-dig.png">

                        <!--[INIT ESTADO SUBSCRITO]-->
                        <div class="autocont nofloat alrd-mleft" *ngIf="paperless">
                            <div class="autocont f-green-i vcenter">
                                <div class="tabcell">
                                    <span class="f-newfdig">&nbsp; Suscrito a Factura Electr&oacute;nica&nbsp;</span>
                                </div>
                            </div>
                        </div>

                        <div class="autocont nofloat" *ngIf="paperless">
                            <div class="autocont vcenter">
                                <div class="tabcell">
                                    <img alt="" class="fdig-check" width="100%" src="assets/images/fact-dig-check.png">
                                </div>
                            </div>
                        </div>
                        <!---[END ESTADO SUBSCRITO]-->


                        <!--[INIT ESTADO NO SUBSCRITO]-->
                        <div class="autocont nofloat m-septrt" *ngIf="!paperless">
                            <div class="autocont vcenter">
                                <div class="tabcell">
                                    Factura Electr&oacute;nica:
                                </div>
                            </div>
                        </div>

                        <div class="autocont nofloat m-septrt" *ngIf="!paperless">
                            <div class="autocont vcenter">
                                <div class="tabcell">
                                    <label class="switch m-left-i">
                                        <input type="checkbox"
                                               [value]="check"
                                               [(ngModel)]="check"
                                               (click)="changePaperless(!check)">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--[INIT ESTADO NO SUBSCRITO]-->

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a class="dashdirect-chat vcenter" (click)="openChat()">
                        <img alt="" class="direct-chat-i" width="100%" src="assets/images/chatnow-icon.png">

                        <span class="tabcell">
                          Chatea con Nosotros
                      </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow m-top-i" style="float: none">

        <div class="row dashboard">

            <div class="dashconts {{getExtraClass(26)}}" (click)="going(26)" *ngIf="checkAccessPermission(26)">
                <div class="dashbox gray vcenter">
                      <span class="tabcell">
                          <span class="icon-dash-24"></span>
                          Recarga
                      </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(9)}}" (click)="going(9)" *ngIf="checkAccessPermission(9)">
                <div class="dashbox gray vcenter">
                      <span class="tabcell">
                          <span class="icon-dash-01"></span>
                          Factura y Pago
                      </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(14)}}" (click)="going(14)" *ngIf="checkAccessPermission(14) && typeBan.postpaid">
                <div class="dashbox blue vcenter">
                      <span class="tabcell">
                          <span class="icon-dash-02"></span>
                          Consumo de Voz, Mensajer&iacute;a y Roaming
                      </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(14)}}" (click)="going(14)" *ngIf="checkAccessPermission(14) && typeBan.postpaid">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-03"></span>
                        Consumo de Datos
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(28)}}" (click)="going(28)" *ngIf="checkAccessPermission(28)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-02"></span>
                        Mi Consumo
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(16)}}" (click)="going(16)" *ngIf="checkAccessPermission(16)">
                <div class="dashbox white vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-25"></span>
                        Mis Servicios
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(34)}}" (click)="going(34)" *ngIf="checkAccessPermission(34)">
                <div class="dashbox white vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-25"></span>
                        Mis Servicios
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(21)}}" (click)="going(21)" *ngIf="checkAccessPermission(21)">
                <div class="dashbox blue vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-08"></span>
                        Compra de Data Adicional
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(17)}}" (click)="going(17)" *ngIf="checkAccessPermission(17)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-05"></span>
                        Cambio de Plan
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(35)}}" (click)="going(35)" *ngIf="checkAccessPermission(35)">
                <div class="dashbox blue vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-05"></span>
                        Cambio de Plan
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(33)}}" (click)="going(33)" *ngIf="checkAccessPermission(33)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-05"></span>
                        Reporta Interrupci&oacute;n
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(20)}}" (click)="going(20)" *ngIf="checkAccessPermission(20)">
                <div class="dashbox white vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-07"></span>
                        Tienda
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(24)}}" (click)="going(24)" *ngIf="checkAccessPermission(24)">
                <div class="dashbox gray vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-23"></span>
                        Regala 1 GB a un Amigo/a o Familiar Postpago​
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(25)}}" (click)="going(25)" *ngIf="checkAccessPermission(25)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-10"></span>
                        Regala una Recarga Prepago
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(13)}}" (click)="going(13)" *ngIf="checkAccessPermission(13)">
                <div class="dashbox gray vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-11"></span>
                        Factura Digital
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(2)}}" (click)="going(2)" *ngIf="checkAccessPermission(2)">
                <div class="dashbox blue vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-14"></span>
                        Configuraci&oacute;n de Cuenta
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(18)}}" (click)="going(18)" *ngIf="checkAccessPermission(18)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-16"></span>
                        Netflix
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(36)}}" (click)="going(36)" *ngIf="checkAccessPermission(36)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-16"></span>
                        Netflix
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(19)}}" (click)="going(19)" *ngIf="checkAccessPermission(19)">
                <div class="dashbox blue vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-21"></span>
                        Programa de Referidos
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(31)}}" (click)="going(31)" *ngIf="checkAccessPermission(31)">
                <div class="dashbox blue vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-21"></span>
                        Programa de Referidos
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(37)}}" (click)="going(37)" *ngIf="checkAccessPermission(37)">
                <div class="dashbox blue vcenter">
                    <span class="tabcell">
                        <span class="icon-dash-21"></span>
                        Programa de Referidos
                    </span>
                </div>
            </div>

            <div class="dashconts {{getExtraClass(40)}}" (click)="going(40)" *ngIf="checkAccessPermission(40)">
                <div class="dashbox red vcenter">
                    <span class="tabcell">
                        <span>
                            <img src="assets/images/iptv/icon_clarotv.png" alt="Image logo claro tv"
                                 style="height: 64px;display: block; margin: 0 auto 10px;">
                        </span>
                        Clarotv+
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="basicrow dinamic-banner-container" *ngIf="bannerList.length > 0">
        <ion-slides #slides class="carousel-inner" [pager]="false" [options]="{loop: false, speed: 500, autoplay:true}">
            <ng-container *ngFor="let banner of bannerList">
                <ion-slide class="item-slide" *ngIf="checkBannerVisibility(banner)" (click)="goForBannerAction(banner)">
                    <div class="basicrow m-top-i" >
                        <img alt="" [src]="banner.url">
                    </div>
                </ion-slide>
            </ng-container>
        </ion-slides>
    </div>

    <div class="basicrow margin-footer"></div>

</ion-content>
