<div id="wrapper" class="appsize">

    <div class="allcont logsize">

        <app-header></app-header>

        <app-menu></app-menu>
        <div class="basicrow m-top">
            <div class="container">
                <div class="basicr-line-i">
                    <div class="fulltitle m-top-i f-btitle autodef">
                        <span class="icon-dash-13"></span> Reporte de Aver&iacute;as
                    </div>

                    <div class="nroacc">
                        <label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
                        </label>

                        <app-account-select></app-account-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="container">
                <div class="basicrow m-top-i m-bott text-center">
                    <div class="stepsvone">
                        <div class="stepautoc first text-nowrap">
                            Tipo de Aver&iacute;a
                            <div class="stepcirc text-center">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepautoc on middle text-nowrap">
                            Detalles
                            <div class="stepcirc">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepautoc last text-nowrap">
                            Confirmaci&oacute;n
                            <div class="stepcirc">
                                <div class="circ-in"></div>
                            </div>
                        </div>

                        <div class="stepsline"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow mbott m-top-ii">
            <div class="container">
                <div class="autowcont notopbrd m-top-ii">
                    <div class="subgtitle">
                        <span class="roboto-b"> {{selectedSubscriber}} </span>
                    </div>

                    <div class="basicrow allpads f-reg roboto-r f-black">
                        <div class="basicrow text-center m-top-u">
                            Por favor, especifique el tipo de aver&iacute;a que desea reportar, sea por su L&iacute;nea Fija o su L&iacute;nea Fija + DSL.
                        </div>

                        <div class="basicrow text-center m-top">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center roboto-b">
                                        <div class="autorow pointerdef">
                                            <input (click)="typeOfBreakdown = 1" id="noise" class="pointerdef" type="radio" name="radio" [checked]="typeOfBreakdown == 1">
                                            <label for="noise" class="roboto-b" *ngIf="faultSelectedType == 1">
                                                &nbsp; Ruido
                                            </label>
                                            <label for="noise" class="roboto-b" *ngIf="faultSelectedType == 2">
                                                &nbsp; Sin internet y sin voz
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center roboto-b">
                                        <div class="autorow pointerdef">
                                            <input (click)="typeOfBreakdown = 2" id="tone" class="pointerdef" type="radio" name="radio" [checked]="typeOfBreakdown == 2">
                                            <label for="tone" class="roboto-b" *ngIf="faultSelectedType == 1">
                                                &nbsp; Sin Tono
                                            </label>
                                            <label for="tone" class="roboto-b" *ngIf="faultSelectedType == 2">
                                                &nbsp; Sin internet y con voz
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top-i text-left">
                            <div class="basicrow f-bmed roboto-b">
                                Detalle de la Aver&iacute;a
                            </div>

                            <div class="basicrow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                        <ion-input
                                                id="number_1"
                                                type="tel"
                                                [(ngModel)]="number1"
                                                maxlength="10"
                                                placeholder="N&uacute;mero de contacto 1"
                                                (change)="validateInput(1)"
                                                class="inp-f">

                                        </ion-input>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                        <ion-input
                                                id="number_2"
                                                type="tel"
                                                [(ngModel)]="number2"
                                                maxlength="10"
                                                placeholder="N&uacute;mero de contacto 2"
                                                (change)="validateInput(2)"
                                                class="inp-f">
                                        </ion-input>
                                    </div>
                                </div>
                            </div>

                            <div class="basicrow m-top-i">
                                <ion-textarea
                                    id="description"
                                    [(ngModel)]="description"
                                    class="t-areadef"
                                    maxlength="200"
                                    rows="6"
                                    placeholder="Ingrese aqu&iacute; una breve explicaci&oacute;n de lo que desea reportar">
                                </ion-textarea>
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top">
                            <div class="btns def-i red pull-right vcenter rippleR" id="next_step" (click)="next()">
                                <span class="tabcell">
                                    Continuar
                                </span>
                            </div>

                            <div class="btns def-i gray pull-left vcenter" id="return" (click)="back()">
                                <span class="tabcell">
                                    Regresar
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
