ion-slides {
    margin: 1rem 0;
}

.banner-iptv {
    position: relative;

    &-button {
        position: absolute;
        width: 196px;
        left: 5%;
        bottom: 20%;
        border-radius: 2px !important;
        font-size: 12px;
        height: 30px;
        font-weight: 100;

        i {
            display: inline;
            font-size: 10px;
            font-weight: 100;
            padding-left: 4px;
        }
    }
}

.image-list {
    width: 46px;
    display: block;
    margin-top: 3px;
}

.back-slide {
    position: absolute;
    left: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
    background: red;
}

.next-slide {
    position: absolute;
    right: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
    background: green;
}

.container-image-channel {
    border: 1px solid #cacaca;
    width: 20%;
    max-width: 94px;
    margin: 0 1rem;
}

.carousel-control .glyphicon {
    top: 30%;
}
