<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow">
        <div class="basicrow">
            <div class="container">
                <div class="fulltitle m-top-i f-btitle">
                    <span style="top: 0; left: 0"><img src="assets/images/iptv/icon_IPTV2.png" style="height: 36px;display: block;margin-top: 3px;"></span>
                    <p class="clarotv">Claro<b class="tvmas">tv+</b></p>
                </div>
            </div>
        </div>

<!--        <div class="basicrow m-top">-->
<!--            <div class="banner-iptv">-->
<!--                <div class="btns red vcenter rippleR banner-iptv-button" (click)="viewPlans()">-->
<!--                    <div class="tabcell">-->
<!--                        ¡Conoce los Planes Aquí!-->
<!--                        <i  aria-hidden="true" class="fa fa-chevron-right"></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <img alt="" width="100%" [src]="banner">-->
<!--            </div>-->
<!--        </div>-->

        <div class="basicrow m-top lessm">
            <div class="container">
                <div class="basicrow m-top-i">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 roboto-l f-black text-justify">
                            <span class="f-big less-f">&#191;Qu&eacute; es Clarotv+&#63;</span><br/><br/>
                            <span class="f-reg-i f-mgray">
                                Clarotv+ es una aplicación de video que permite a clientes suscritos al servicio de
                                televisión acceder vía streaming a los canales seleccionados según su plan de entretenimiento.
                                Consiste en canales de televisión lineal y contenido On Demand transaccional y gratuito.
                                <br><br>
                                La descarga de la aplicación es gratuita, sin embargo, el usuario tiene que tener una
                                suscripción activa para poder autenticarse en la misma.  Servicios adicionales
                                disponibles via el App: Cloud DVR, Time Shift, Start Over.
                            </span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center h-mtop">
                            <img alt="" width="100%" src="assets/images/iptv/clarotv+_landing_MOVIL.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basicrow graybg m-bott">
            <div class="container">
                <div class="basicrow m-top m-bott">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 roboto-l f-black text-justify">
                        <span class="f-big less-f roboto-b">Únete a la experiencia <app-claro-tv></app-claro-tv></span>
                        <br/><br/>
                        <div class="f-reg-i f-mgray">
                            ¡Disfruta todos tus canales favoritos en vivo desde tu Smartphone, Tablet o TV!
                            <br/><br/>
                        </div>
                        <div>
                            <div class="fulltitle f-mgray">
                                <span style="top: 0; left: 0"><img class="image-list" src="assets/images/iptv/icon_cajagratis.png"></span>
                                Llévate la primera caja inteligente <b class="f-black">GRATIS</b>, y descarga tus aplicaciones
                                favoritas de streaming donde quiera que estés.
                                <br/><br/>
                            </div>
                            <div class="fulltitle f-mgray">
                                <span style="top: 0; left: 0"><img class="image-list" src="assets/images/iptv/icon_streaming_home.png"></span>
                                Con el asistente virtual Google Home y el control remoto, accedes a la programación con
                                tan solo hablarle.
                                <br/><br/>
                            </div>
                            <div class="fulltitle f-mgray">
                                <span style="top: -12px; left: 0"><img class="image-list" src="assets/images/iptv/icon_premium.png"></span>
                                Disfruta de servicios adicionales vía el App: Cloud DVR, Time Shift, Start Over.
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center h-mtop">
                        <img alt="" width="100%" src="assets/images/iptv/iptv_caja 1_MOVIL.png">
                    </div>
                </div>
            </div>
        </div>


        <div class="basicrow roboto-r f-med f-black carousel">
            <div class="container">
                <div class="basicrow m-top">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 roboto-l f-black">
                            <span class="f-big less-f">Elige tu plan y vive la experiencia
                                <app-claro-tv></app-claro-tv>
                            </span>
                            <br/><br/>
                            <app-module-iptv-channels-guide [channels]="channels"></app-module-iptv-channels-guide>
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
            <app-iptv-plans [hasToken]="hasToken" (selectPlan)="selectPlan($event)"></app-iptv-plans>
        </div>


        <div class="basicrow graybg">
            <div class="container">
                <div class="basicrow m-top m-bott">
                    <div class="basicrow f-big roboto-l f-black">
                        <span class="f-big less-f">Disfruta de los beneficios de <app-claro-tv></app-claro-tv></span>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="row refdef">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="basicrow text-center">
                                    <img alt="" width="100%" class="ref-icons" src="assets/images/iptv/icon_premium.svg">
                                </div>

                                <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                    <div class="basicrow f-bmed roboto-b">
                                        Canales Premium
                                    </div>

                                    <div class="basicrow m-top">
                                        Conoce los Canales Premium de Clarotv+ <br/><br/>
                                        <a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">
                                <div class="basicrow text-center">
                                    <img alt="" width="100%" class="ref-icons" src="assets/images/iptv/icon_programacion.svg">
                                </div>

                                <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                    <div class="basicrow f-bmed roboto-b">
                                        Guía de Programación
                                    </div>

                                    <div class="basicrow m-top">
                                        Consulta nuestra guía de canales para Clarotv+ <br/><br/>
                                        <a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="basicrow">
            <div class="container">
                <div class="basicrow m-top m-bott">
                    <div class="basicrow f-big roboto-l f-black d-flex ion-justify-content-between">
                        <span class="f-big less-f">Guía de Canales</span>
                        <app-module-iptv-channels-guide [channels]="channels"></app-module-iptv-channels-guide>
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="row refdef">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="basicrow carousel slide" *ngIf="channels.length">

                                    <ion-slides #slides class="carousel-inner" [options]="{loop: true}">
                                        <ion-slide class="item" *ngFor="let groupChannel of channelsCarousel; let index = index">

                                            <div class="container-image-channel" *ngFor="let channel of groupChannel">
                                                <img [src]="channel.url" [alt]="channel.name">
                                            </div>

                                        </ion-slide>
                                    </ion-slides>

                                    <a class="left carousel-control" (click)="slides.slidePrev()">
                                        <span class="glyphicon glyphicon-chevron-left">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    <a class="right carousel-control" (click)="slides.slideNext()">
                                        <span class="glyphicon glyphicon-chevron-right">
                                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="basicrow graybg">
            <div class="container">
                <div class="basicrow m-top m-bott">
                    <div class="basicrow f-big roboto-l f-black">
                        &#191;Necesitas Ayuda&#63;
                    </div>

                    <div class="basicrow m-top-i">
                        <div class="row refdef">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="basicrow text-center">
                                    <img alt="" width="100%" class="ref-icons" src="assets/images/netflixicon1.png">
                                </div>

                                <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                    <div class="basicrow f-bmed roboto-b">
                                        T&eacute;rminos y Condiciones
                                    </div>

                                    <div class="basicrow m-top" id="show-terms" (click)="showTerms()">
                                        Consulta en esta sección los Términos & Condiciones para el servicio de
                                        <app-claro-tv></app-claro-tv> en la factura de Claro.
                                        <br/><br/>

                                        <a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">
                                <div class="basicrow text-center">
                                    <img alt="" width="100%" class="ref-icons" src="assets/images/ico_preguntasFrecuentes.png">
                                </div>

                                <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                    <div class="basicrow f-bmed roboto-b">
                                        Preguntas Frecuentes
                                    </div>

                                    <div class="basicrow m-top" id="faq" (click)="faq()">
                                        Te invitamos a que visites esta sección para que aclares algunas de las dudas más comunes.
                                        <br/><br/>

                                        <a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">
                                <div class="basicrow text-center">
                                    <img alt="" width="100%" class="ref-icons" src="assets/images/netflixicon3.png">
                                </div>

                                <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                    <div class="basicrow f-bmed roboto-b">
                                        Soporte T&eacute;cnico
                                    </div>

                                    <div class="basicrow m-top" id="support" (click)="support()">
                                        ¿Cómo obtener apoyo técnico por parte de <app-claro-tv></app-claro-tv> y/o Claro
                                        Puerto Rico si pagas tu servicio de <app-claro-tv></app-claro-tv> a través de
                                        la factura de Claro?
                                        <br/><br/>

                                        <a class="linkdefs">Ver Detalle&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
