
<ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let card of flashPaymentService.controller.tokenCards; let j = index">
        <div class="slides_content pad-change-content">
            <div class="credit-card-container" [ngClass]="card.active">
                <div class="credit-card-header">
                    <div class="credit-card-title" (click)="flashPaymentService.selectCard(card)">
                        {{card.franchiseName}}
                    </div>

                    <div class="delete-option" (click)="flashPaymentService.deleteCard(card)">
                        <ion-icon name="trash"></ion-icon>
                    </div>
                </div>


                <div class="card-information" (click)="flashPaymentService.selectCard(card)">
                    <div class="litle-title">
                        N&uacute;mero de tarjeta
                    </div>

                    <div class="card-number">
                        XXXX - XXXX - XXXX - {{card.lastFourDigits}}
                    </div>

                    <div class="credit-card-footer">
                        <div class="exp-date">
                            <div class="text-date">
                                Fecha de expiraci&oacute;n
                            </div>
                            <div class="date-card">
                                {{card.expirationDate}}
                            </div>
                        </div>

                        <div class="card-brand">
                            <img class="user-card" src="assets/images/card-a.png" alt=""
                                *ngIf="card.brandCode === 'V'"/>
                            <img class="user-card" src="assets/images/card-b.png" alt=""
                                *ngIf="card.brandCode === 'M'"/>
                            <img class="user-card" src="assets/images/card-d.png" alt=""
                                *ngIf="card.brandCode === 'X'"/>
                            <img class="user-card" src="assets/images/card-e.png" alt=""
                                *ngIf="card.brandCode === 'D'"/>
                            <img class="user-card" src="assets/images/card-c.png" alt=""
                                *ngIf="card.brandCode === 'A'"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-slide>
</ion-slides>

