<div class="header">
    <img
        class="image-header"
        src="/assets/images/mfa/miclaro-logo.png"
        alt=""
    />
</div>

<app-mfa-step-one
    *ngIf="actualStep === 0"
    (next)="updateStep($event)"
></app-mfa-step-one>

<app-mfa-step-two
    *ngIf="actualStep === 1"
    (next)="updateStep($event)"
    [actualStep]="stepOneData.actualStep"
    [isEmail]="stepOneData.isEmail"
    [isSms]="stepOneData.isSms"
    [emailOptionData]="stepOneData.emailOptionData"
    [phoneNumberSelected]="stepOneData.phoneNumberSelected"
    [userId]="stepOneData.userId"
    [rememberOptionSelected]="stepOneData.rememberOptionSelected"
    [phoneOptionData]="stepOneData.phoneOptionData"
    [optionCode]="stepOneData.optionCode"
    [isPush]="stepOneData.isPush"
    [pushDeviceInfo]="stepOneData.pushDeviceInfo"
></app-mfa-step-two>
