<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-a-icon.png">
                                &#191;Olvidaste tu contrase&ntilde;a&#63;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
                    Escoge entre las opciones para recuperación de acceso a tu cuenta.
                </div>

                <div class="basicrow">
                    <div class="basicrow m-top-i text-left">
                        <label>
                            <input [(ngModel)]="selected" type="radio" name="group" [value]="1" checked/>
                            <span *ngIf="isTelephony">&nbsp;V&iacute;a correo electr&oacute;nico</span>
                            <span *ngIf="!isTelephony">&nbsp;V&iacute;a SMS o correo electr&oacute;nico</span>
                        </label>
                    </div>

                    <div class="basicrow m-top text-left">
                        <label>
                            <input [(ngModel)]="selected" type="radio" name="group" [value]="2"/>
                            <span>&nbsp;Contestar preguntas de Seguridad</span>
                        </label>
                    </div>
                </div>


                <div class="basicrow m-top-i">
                    <div class="btns red vcenter rippleR" (click)="nextStep()">
                        <div class="tabcell">
                            Continuar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>
            </div>
        </div>
    </div>

</div>

