<div class="allcont logsize">

    <app-header-static></app-header-static>

    <div class="basicrow">
        <div class="container">
            <div class="basicrow mbott text-center">

                <div class="shortcont">
                    <div class="basicrow m-top">
                        <div class="basicrow f-btitle text-center">
                            <div class="basicrow">
                                <img alt="" width="100%" class="mc-icon" src="assets/images/reg-c-icon.png">
                                C&oacute;digo de seguridad
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top f-reg f-black roboto-r text-justify">
                    Introduce el c&oacute;digo de seis d&iacute;gitos que hemos enviado a su n&uacute;mero de teléfono y/o correo electrónico asociado a su cuenta.
                </div>

                <div class="basicrow m-top-i">
                    <div class="basicrow rel">
                        <input type="tel"
                               maxlength="6"
                               inputmode="numeric"
                               pattern="^[0-9]*$"
                               placeholder="Código de confirmación"
                               class="inp-f disc"
                               [(ngModel)]="code">
                    </div>
                </div>

                <div class="basicrow m-top-i">
                    <div class="btns red vcenter rippleR" (click)="nextStep()">
                        <div class="tabcell">
                            Confirmar
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top f-reg f-black roboto-r text-center">
                    &#191;No has recibido el c&oacute;digo de seguridad&#63; <a (click)="resend()" class="linkdefs">Reenviar</a>
                </div>

                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a (click)="goLoginPage()" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
                </div>

            </div>
        </div>
    </div>

</div>
