<div class="altutaMax">
    <p>
		<b>Política de Garantía de 0 a 7 días</b><br>
		1. Aplica un cambio en garantía por otro modelo, marca o por el mismo equipo que compró el cliente.<br>
		2. Este cambio se efectuará una sola vez directamente con el área de ventas de las Tiendas, CAC’s según
		aplique.<br>
		3. Esta gestión de cambio será válida solamente dentro de la localidad que el cliente efectuó su compra
		originalmente.<br>
		4. Si el cliente quisiera un equipo diferente deberá cubrir el costo del mismo para poder adquirirlo.<br>
		5. Se facturará al cliente un cargo de $30.00 por reacondicionamiento Master Reset, a todo equipo devuelto por
		insatisfacción de parte del cliente dentro de 0 a 7 días. No le gustó el color, se arrepintió de la compra, no
		entiende el equipo; es complicado o el modelo no cumplió con las expectativas del cliente.<br>
	</p>
	<p>
		<b>EQUIPO PRE- OWNED</b><br>
		1. Estos equipos son usados Certificados.<br>
		2. Dentro de la caja encontrar la hoja de garantía del equipo.<br>
		3. La garantía de los equipos es de 90 días en los CAC’s de Claro. Los términos y condiciones de la garantía se
		incorporan a este documento por referencia.<br>
	</p>	
		<b>CLARO PROTECCION MOVIL</b><br>
		Los términos, condiciones y deducibles de reclamaciones al servicio de CLARO Protección Móvil fueron explicados
		al Cliente y éste manifiesta haberlos entendido y aceptado. Las reclamaciones deberán ser realizadas en un
		Centro de Servicio al Cliente. Si el Cliente desea cancelar la protección en algún momento después de su
		aceptación, reconoce y acepta, que deberá llenar y enviar el documento que exige Claro Protección Móvil para la
		desactivación del mismo. La protección para su unidad móvil al momento de compra será de: $5.99 , $9.99 ,
		$11.99.<br>
		<b>Pago de Penalidad en Portabilidad / Penalidad por pago de Equipos a Plazos</b><br>
		Para cualificar para el pago de penalidad temprana de contrato o penalidad de equipo a plazos, el Cliente
		reconoce y acepta que debe haber:<br>
		1. Completado su portabilidad con CLARO.<br>
		2. Haber pagado todas las deudas existentes o previas en CLARO.<br>
		<ul style="color:#878787;padding-left: 30px;padding-bottom: 10px;">
			<li>a. Deudas por concepto de equipos deberán ser pagadas, sin importar los meses que hayan transcurrido
				desde la fecha de la cancelación de la cuenta.</li>
			<li>b. No se realizará pago a clientes que hayan dejado deuda previa y existente en CLARO. Para realizar el
				reembolso de pago de penalidades de portabilidades el cliente debe de evidenciar haber pagado en su
				totalidad la deuda previa. Se considera deuda desde $0.01.</li>
			<li>c. Para comenzar el procesamiento de reembolso en CLARO, la cuenta debe estar al día, esto es, que al
				momento de la solicitud y de reembolso no haya atrasos pendientes de pago.</li>
		</ul>
		<br>
		<div style="margin: 10px 0;">
			3. En los casos donde el cliente regrese a CLARO y se le exima de los cargos de penalidad o deuda previa, NO
			se procesará reembolso si la deuda previa fue cancelada mediante ajuste como acto de buena fe.<br>
			4. Activado en un Plan de Update / Individual o Familiar, o Plan de Pos Pago familiar con contrato de 2
			años.<br>
			5. Activado en un plan de $40.00 por línea o más según la promoción vigente a la fecha de activación.<br>
			a. Ciertas ofertas no aplican con el pago de penalidad o plazo pendientes en un acuerdo de pago a plazo de
			equipos tales como; oferta 2x1 entre otras.<br>
			6. Debe mantenerse activo durante un período mínimo de 12 meses consecutivos en el mismo plan desde la fecha
			de la portabilidad. De realizar algún cambio de plan, para cualificar, el mismo debe ser a uno igual o mayor
			en precio que el originalmente contratado.<br>
			a. De realizar un cambio de plan a uno menor de $40.00 por línea dejará de cualificar para el reembolso de
			pago de penalidad.<br>
			7. Debe someter su solicitud de reembolso a través de nuestra página claropr.com y aceptar los términos y
			condiciones, y enviar dicha solicitud dentro de los siguientes sesenta días (60 días) a la fecha de
			activación en CLARO.<br>
			8. No serán aceptadas solicitudes de reembolso en las tiendas y/o Centros de Atención a Clientes.<br>
			9. De estar solicitando reembolso para más de una línea, favor completar una solicitud por cada portabilidad
			solicitada con Claro.<br>
			10. Debe elegir en la solicitud debe indicarse si desea que el reembolso sea mediante crédito a la cuenta
			del cliente o a través de un cheque enviado por correo.<br>
			11. Incluir en la solicitud la factura final de su proveedor anterior, la cual indique el cargo por concepto
			de penalidad por terminación temprana de contrato y/o deuda por balance de equipo a plazos.<br>
			12. El reembolso será remitido mediante cheque a nombre del titular o crédito a la cuenta del titular en
			base a la penalidad pagada por la cancelación de contrato o los plazos restantes en un acuerdo de pago de
			equipos a plazos.<br>
			13. El reembolso lo recibirá vuelta de correo o crédito a la cuenta según la opción escogida dentro de un
			período de ocho (8) semanas a partir de la entrega de la solicitud de reembolso debidamente completada y con
			las evidencias requeridas. El reembolso no incluye balances de atrasos en la cuenta o impuestos. Incluye
			solo la penalidad y los balances por plazos de equipos no satisfechos a partir de la fecha de haber portado
			la cuenta a Claro Hasta los límites establecidos por Claro en la promoción aplicable.<br>
			14. Solo se reembolsará hasta $350.00 por concepto de pago de penalidad o los plazos pendientes en un
			acuerdo de pago a plazos de equipos por línea activada con CLARO.<br>
			15. No cualificarán para recibir reembolsos aquellos clientes que hubiesen portado sus números a Claro
			dentro de los 12 meses anteriores a la fecha de la portabilidad y a los cuales se les hubiese reembolsado en
			esa ocasión cargos por penalidad o por balances de equipos en planes de pago a plazos.<br>
		</div>
	<p>
		<b>
			AFIRMO SER LA PERSONA RESPONSABLE DE LA(S) FACTURA(S) DEL (DE LOS) NUMERO(S) DE TELEFONO INDICADO(S).
			ENTIENDO QUE PUEDO POR ESTE MEDIO SOLICITAR QUE MI ACTUAL NUMERO(S) DE SERVICIO TELEFONICO SEA(N)
			ACTIVADO(S) CON CLARO.
		</b><br>
	</p>
</div>