<div class="altutaMax">
    <div class="paragraph-text">
        Oferta válida del 7 de octubre al 31 de diciembre 2021. Clarotv+ es un servicio de televisión “Streaming” que
        permite al Cliente ver contenido de Televisión desde hasta un máximo de diez (10) dispositivos distintos y hasta
        (3) “streams” simultáneos por cuenta.  El contenido de televisión dependerá de las “ofertas” o “paquetes” a los
        que se suscriba el Cliente ofrecidos por Claro Puerto Rico. Se requiere que el cliente tenga disponibilidad e
        internet fijo y/o móvil de Claro y un mínimo de 5 megas de velocidad. Los precios regulares de los planes de
        entretenimiento son: Ultra Esencial $19.99 al mes, Esencial $29.99 al mes, Esencial +Español $36.49 al mes,
        Esencial Todo Español $38.99 al mes, Basic $72.99 al mes, Basic+  $99.99 al mes y Signature $110.99 al mes.
        Estos precios aplican a: Sin contrato, 12 meses o 24 meses. Todos incluyen el primer decodificador. Si el
        cliente desea comprar adicionales el precio es $40.00 c/u.  No  incluye IVU ni ningún otro impuesto los cuales
        debe pagar al momento de la compra. En las ofertas Sin contrato  requiere que el cliente pague al momento de la
        compra: renta del 1er mes de acuerdo con el plan de entretenimiento seleccionado por el cliente. En planes Sin
        Contrato la cancelación temprana (antes de 12 meses) del servicio conlleva penalidad por el costo del
        decodificador ($40)que el cliente recibió gratis. La penalidad será de $40, que será prorrateada entre 12 meses,
        y la cantidad a pagar será el producto de la cantidad mensual prorrateada por el número de meses que le resten
        de los 12 meses. Oferta con contrato de 12 o 24 meses requiere verificación de crédito por lo que podría
        requerir depósito. La cancelación temprana del servicio de Televisión conlleva penalidad de $200.00 que será
        prorrateada entre el número de meses de vigencia del contrato, y la cantidad a pagar será el producto de la
        cantidad mensual prorrateada por el número de meses que le resten al contrato. Los paquetes de Canales Premium
        requieren que el cliente esté suscrito a un plan de entretenimiento primario. Los precios regulares de estos
        paquetes son HBO: $18.99 al mes, Cinemax: $12.50 al mes, Combo HBO / Cinemax: $29.99 al mes y Starz / Encore:
        $11.99 al mes. Los complementos +Español y Todo Español solo aplican a los planes de entretenimiento: Basic y
        Basic. Los precios son: +Español (Reg. $9.99) y Todo Español (Reg. $14.99). Los canales adultos: Playboy TV
        $19.99 al mes y Reality Kings $24.99 al mes requiere que el cliente esté suscrito a un plan de entretenimiento
        primario. El servicio de Cloud DVR tiene un precio mensual de $5.00 al mes con 250GB disponibles de espacio.
        Claro PR se reserva el derecho sin limitación, de efectuar en cualquier momento, cambios. Reorganizaciones o
        cancelaciones de las ofertas o planes, incluyendo cambios en precios y en el contenido de la programación.
    </div>
</div>
