<ion-slides #slides class="carousel-inner" [pager]="true" [options]="{loop: true}">

    <ion-slide class="item-slide-iptv" *ngFor="let item of addOns; let i = index">

        <div class="carousel-preview-container">
            <div class="carousel-header" *ngIf="item.offer">
                <p>
                    <ion-icon src="assets/images/iptv/tag_white.svg" class="center-icon-offer"></ion-icon>
                    <a class="f-white" (click)="viewTermsOffer(item)">{{item.offer.planName}}</a>
                </p>
                <ion-img src="assets/images/iptv/tag_oferta.png" alt=""></ion-img>
            </div>
            <div class="carousel-preview">
                <div class="carousel-preview--description">
                    <div class="description-header">
                        <ion-img [src]="item.imgUrl"></ion-img>
                    </div>
                    <div class="description-details">
                        <p class="description-details--text border-bottom" [innerHTML]="item.planDesc">
                        </p>
                        <div class="description-details--price">
                            <p>
                                {{item.planName}}
                                <span class="price">{{item.decPrice | currency}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="view-more-channels" *ngIf="item.hasChannels">
                        <a class="linkdefs" (click)="viewChannels(item); $event.stopPropagation()">
                            Ver Guía de Canales&nbsp;&nbsp;
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-footer">
                <ion-button class="carousel-footer--button" expand="full"
                            [class.disabled]="!item.bitEnable" [disabled]="!item.bitEnable"
                            [fill]="!item.bitEnable || item.selected ? 'solid' : 'outline'"
                            (click)="changeStatusService(item)">
                    {{getTextButton(item)}}
                </ion-button>
            </div>
        </div>

    </ion-slide>

</ion-slides>
