ion-slides {
    margin: 1rem 0;

    ion-slide.swiper-slide-active .carousel-preview-container {
        border: 3px solid var(--ion-color-secondary);
    }

    .carousel-header {
        //justify-content: center;
    }

    .description-header {
        justify-content: center !important;
        padding: 1rem 0;
        margin: 0 2rem;

        ion-img {
            width: 100%;
            height: 92px;
        }
    }

    .description-details {
        padding-top: 0 !important;
        &--price {
            font-size: 16px;
            font-weight: 600;
            padding-top: 2rem;

            .price {
                color: var(--primary-color);
                font-size: 20px;
                display: block;
            }
        }
    }
}

.pt-0 {
    padding-top: 0 !important;
}
