<div class="allcont logsize" style="overflow-y: auto">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="popupbg" *ngIf ="terms">
        <div class="popupcont">
            <div class="basicrow f-black f-mildt roboto-m">
                T&eacute;rminos y Condiciones
            </div>

            <div class="basicrow m-top">
                <div class="termgbg">
                    <div class="termr-t">
                        • Al aceptar la compra del regalo, se le facturará a su cuenta el total de la recarga adquirida según se indica y podrá verlo en su próxima factura.
                        • El número de teléfono prepago de la persona que recibirá el regalo deberá ser un número de telefonía móvil prepago activo de Claro Puerto Rico exclusivamente.
                        • El regalo no aplica a teléfonos fijos de Claro, teléfonos pospago de Claro o de otras compañías de teléfonos u otros países.
                        • El cliente prepago recipiente del regalo verá reflejada la recarga el mismo día de la compra.
                        • Aplican todos los Términos y Condiciones asociados a las recargas del servicio prepago para clientes a granel y de renta mensual, dependiendo el plan que tenga activo el cliente prepago al momento de recibir el regalo de la recarga.
                    </div>
                </div>
            </div>

            <div class="basicrow text-center m-top-i lessm">
                <div id="close-terms" class="btns def-i red centr vcenter rippleR" (click)="closeTerms()">
          <span class="tabcell">
            Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
          </span>
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-10"></span> Regala una Recarga Prepago
                </div>
            </div>
        </div>
    </div>
    <div class="basicrow m-top mbott-i">
        <div class="container">
            <div class="autowcont allpads">
                <div class="basicrow">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="basicrow hidden-xs">
                                <img alt="" width="100%" src="assets/images/regalarecargaban.png">
                            </div>

                            <div class="regban-def visible-xs m-bott">
                                <img alt="" width="100%" src="assets/images/regalarecargabanv2.png">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="basicrow">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <label class="label-f">N&uacute;mero de mi Amigo/a</label>

                                        <div class="basicrow rel">
                                            <!--<img alt="" data-toggle="popover"
                                            data-html="true"
                                            data-content="El número a ingresar debe ser un número de telefonía móvil de Claro Puerto Rico, Prepago."
                                            data-placement="bottom"
                                            class="q-t" width="100%"
                                            src="assets/images/tooltip1.png"
                                            data-original-title=""
                                            title="">--->
                                            <img alt=""
                                                 [popper]="'El número a ingresar debe ser un número de telefonía móvil de Claro Puerto Rico, Prepago.'"
                                                 [popperTrigger]="'click'"
                                                 [popperTimeoutAfterShow]="3000"
                                                 class="q-t-pay"
                                                 src="assets/images/tooltip1.png">

                                            <ion-input
                                                    id='textnum_amigo'
                                                    name="number"
                                                    type="tel"
                                                    maxlength="10"
                                                    [(ngModel)] = "subscriberTo"
                                                    placeholder="Ingrese el Numero"
                                                    class="inp-f qt"
                                                    (change)="validateInput(1)">
                                            </ion-input>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="basicrow m-top">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label class="label-f">Mensaje</label>

                                        <ion-textarea
                                                id='text_mensaje'
                                                name="text"
                                                [(ngModel)]="text"
                                                maxlength="200"
                                                rows="5"
                                                placeholder="Mensaje de m&aacute;ximo 200 caracteres"
                                                class="inp-f ta-reg"
                                                (ionChange)="validateInput(2)">
                                        </ion-textarea>

                                    </div>
                                </div>
                            </div>

                            <div class="basicrow">

                                <div class="recarga-opts" [ngClass]="amount == 10 ? 'on':''" (click)="amount = 10; $event.stopPropagation()">
                                    <input  [checked]="amount == 10" type="radio" name="recarga" value="10">
                                    &#36;10.00
                                </div>

                                <div class="recarga-opts" [ngClass]="amount == 12 ? 'on':''" (click)="amount = 12; $event.stopPropagation()">
                                    <input [checked]="amount == 12" type="radio" name="recarga" value="12">
                                    &#36;12.00
                                </div>

                                <div class="recarga-opts" [ngClass]="amount == 20 ? 'on':''" (click)="amount = 20; $event.stopPropagation()">
                                    <input  [checked]="amount == 20" type="radio" name="recarga" value="20">
                                    &#36;20.00
                                </div>

                                <div class="recarga-opts" [ngClass]="amount == 30 ? 'on':''" (click)="amount = 30; $event.stopPropagation()">
                                    <input  [checked]="amount == 30" type="radio" name="recarga" value="30">
                                    &#36;30.00
                                </div>
                            </div>

                            <div class="basicrow m-top">
                                <input id="checkbox-terms" [(ngModel)]="accept" value="1" type="checkbox">
                                <label for="checkbox-terms">&nbsp;Acepto los&nbsp;</label>
                                <a class="linkdefs link-terms" (click) ="showTerms()">T&eacute;rminos y Condiciones</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="basicrow m-top">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow m-top text-center">
                    <ion-button color="primary" expand="full" (click)="validateData()">
                        Regalar
                    </ion-button>

                    <ion-button class="m-top-u-ii" color="medium" expand="full" (click)="return()">
                        Cancelar
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

</div>


