<div class="allcont logsize">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="basicrow m-top">
        <div class="container">
            <div class="basicrow">
                <div class="fulltitle m-top-i f-btitle autodef">
                    <span class="icon-dash-15"></span> Mis Cuentas
                </div>
            </div>
        </div>
    </div>

    <div class="basicrow mbott-i">
        <div class="container">
            <div class="basicrow f-black roboto-r f-reg m-top-ii">
                <div class="autowcont">
                    <div class="basicrow">
                        <div class="basicrow allpads">
                            Estas son las cuentas que le son facturadas. Si hay alguna que dio de baja recientemente y no desea tenerla disponible puede removerla. Si, por lo contrario, suscribió una nueva cuenta y no se encuentra en la lista, puede incluirla utilizando la sección Agregar Cuenta.
                        </div>

                        <div id="container_show-add-account" class="basicrow allpads" *ngIf="!showAddAccount">
                            <div class="basicrow text-center">
                                <div id="show-add-account"
                                     class="btns def-iv red centr vcenter rippleR"
                                     (click)="expandAddAccount()">
                                    <span class="tabcell">
                                        Agregar Cuenta
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="add-account" [ngClass]="showAddAccount? 'on':'collapse' ">
                            <div class="basicrow allpads">
                                <div class="basicrow m-bott roboto-b">
                                    Añadir cuentas:
                                </div>
                                Para a&ntilde;adir una cuenta, provea el n&uacute;mero de cuenta seg&uacute;n aparece en la factura (BAN por sus siglas en ingl&eacute;s) y los &uacute;ltimos 4 digitos del seguro Social del due&ntilde;o de la misma.
                            </div>

                            <div class="basicrow msidespad m-top-ii text-center">
                                <div class="shortcont">
                                    <div class="basicrow">
                                        <div class="basicrow">
                                            <label class="label-f">
                                                N&uacute;mero de Cuenta
                                            </label>

                                            <input id="number"
                                                    name="number"
                                                    type="tel"
                                                    maxlength="9"
                                                    inputmode="numeric"
                                                    [(ngModel)]="number"
                                                    class="inp-f"
                                                   (keypress)="numberOnly($event)"
                                                    (input)="numberChanged()"
                                                >
                                        </div>

                                        <div class="basicrow m-top-i">
                                            <label class="label-f">
                                                4 &uacute;ltimos n&uacute;meros del Seguro Social
                                            </label>

                                            <input
                                                    id="ssn"
                                                    name="ssn"
                                                    type="tel"
                                                    maxlength="4"
                                                    [(ngModel)] ="ssn"
                                                    style="-webkit-text-security:disc;"
                                                    class="inp-f"
                                                    (keypress)="numberOnly($event)"
                                                    (input)="ssnChanged()"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="basicrow m-top-ii allpads">
                                <div class="basicrow">
                                    <div class="logline full"></div>
                                </div>

                                <div class="basicrow m-top-i">
                                    Las Cuentas marcadas como Principal ser&aacute; preseleccionada por el sistema en todos los procesos donde se solicite una cuenta. Solo una Cuenta puede ser configurada como principal.
                                </div>

                                <div class="basicrow m-top-i text-center">
                                    <input id="check-main"
                                           type="checkbox"
                                           value = "1"
                                           [(ngModel)]="checked"
                                           [checked]="checked">
                                    <label for="check-main" class="roboto-b"> &nbsp;&nbsp;Marcar esta cuenta como principal</label>
                                </div>

                                <div class="basicrow m-top-i">
                                    <div class="logline full"></div>
                                </div>

                                <div class="basicrow m-top-i text-center">
                                    <div id="save-account"
                                         class="btns def-iv gray centr vcenter"
                                         (click)="saveAccount()"
                                         [ngClass]="availableNextClass? 'red':'gray' ">
                                        <span class="tabcell">
                                            Guardar Cuenta
                                        </span>
                                    </div>
                                </div>

                                <div id="container_close-add-account" class="basicrow m-top-ii text-center">
                                    <div id="close-add-account"
                                         class="btns def-iv gray centr vcenter"
                                         data-toggle="collapse"
                                         data-target="#add-account"
                                         (click)="collapseAddAccount()">
                                        <span class="tabcell">
                                            Cancelar
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="basicrow m-top">
                            <div class="boxtbl">
                                <div class="tab-tbar">
                                    <div class="frwds rline vcenter">
                                        <div class="tabcell">
                                            N&uacute;mero de Cuenta
                                        </div>
                                    </div>

                                    <div class="frwds rline vcenter">
                                        <div class="tabcell">
                                            Nombre de Titular
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngFor="let account of accounts">
                                <div class="basicrow">

                                    <div data-toggle="collapse" class="digs-box add-acc" (click)="changeAccount(account)">
                                        <div class="add-acc-ban vcenter">
                                            <div class="tabcell">
                                                <span class="roboto-m">
                                                    {{account.account}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="roboto-m add-acc-name vcenter">
                                            <div class="tabcell">
                                                {{account.accountName }}
                                            </div>
                                        </div>

                                        <i [ngClass]="account.account === accountChecked?  'fa fa-star on' : 'fa fa-star'"
                                           (click) ="changeDefaultAccount(account); $event.stopPropagation()">
                                        </i>

                                        <i aria-hidden="true"
                                           [ngClass]="selectedSection === account ? 'fa fa-minus':'fa fa-plus' ">
                                        </i>
                                    </div>

                                    <div id="ban"
                                         class="collapse"
                                         [ngClass] ="selectedSection === account? 'in': ''">

                                        <div class="basicrow allpads tabtopb f-black roboto-r f-reg">
                                            <div class="basicrow roboto-b">
                                                Tel&eacute;fonos Asociados
                                            </div>

                                            <div class="basicrow m-top-ii">
                                                Si cuenta con m&aacute;s de un n&uacute;mero de tel&eacute;fono, ahora podr&aacute; seleccionar uno como principal. La informaci&oacute;n de Consumo de este suscriptor ser&aacute; la que el sistema mostrar&aacute; en el Widget de Mi Claro APP y a donde llegaran las notificaciones.
                                            </div>

                                            <div class="basicrow text-center">

                                                <div class="accs-telfs m-top-i" *ngFor="let subscriber of account.subscribers">

                                                    <span class="telf-choose" (click)="getSub(subscriber); $event.stopPropagation()">

                                                        <input id="subs{{accounts.indexOf(account)}}ac{{account.subscribers.indexOf(subscriber)}}"
                                                               name="groupS{{accounts.indexOf(account)}}"
                                                               type="radio"
                                                               [value]="subscriber"
                                                               [(ngModel)]="selectedSubscribers[accounts.indexOf(account)]">
                                                        <label for="subs{{accounts.indexOf(account)}}ac{{account.subscribers.indexOf(subscriber)}}"
                                                               class="roboto-b">
                                                            &nbsp;{{subscriber.subscriber}}
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="basicrow m-top-i"  *ngIf="accounts.length > 1">
                                                <div class="logline full"></div>
                                            </div>


                                            <div class="m-top">

                                            </div>

                                            <div class="basicrow m-top-ii text-center">
                                                <div class="btns def-iv red centr vcenter rippleR save-changes"
                                                     (click)="changeDefaultAccountAndSubscriber(account)">
                                                    <div class="tabcell">
                                                        Guardar Cambios
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="basicrow m-top-ii text-center" *ngIf="accounts.length > 1">
                                                <div class="btns def-iv gray centr vcenter delete-account"
                                                     (click) ="deleteAccount(account)">
                                                    <div class="tabcell">
                                                        Eliminar Cuenta
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="m-bott-ii">

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
